<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%
accomplishment_course_title =  accomplishment_copy_course_name
##if certificate_data and certificate_data.get('course_title', ''):
##    accomplishment_course_title =  certificate_data.get('course_title', '')
course_mode_class = course_mode if course_mode else ''
if accomplishment_course_title.find('(') == -1 :
    accomplishment_course_title = accomplishment_course_title + '(' + accomplishment_course_title
accomplishment_course_title = accomplishment_course_title.replace(')','').split('(')
%>
<style>

    .paper {
        width: 230mm;
        min-height: 297mm;
        padding: 6.5mm !important;
        margin: 10mm auto !important;
        background: #fff !important;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) !important;
        position: relative !important;
    }

    .content {
        padding: 20px 10px;
        border: 3px solid #000;
    }

    .content .ctitle {
        padding: 40px 0 !important;
        font-size: 24pt;
        font-weight: bold;
        text-align: center;
        letter-spacing: 4px;
    }

    .content .ctable {
        width: 100%;
        font-size: 13pt;
    }

    .content .ctable td {
        padding: 20px 0;
    }

    .content .ctable th {
        width: 15%;
        font-size: 14pt;
        font-weight: bold;
    }

    .content .seal {
        position: relative;
        margin-left: 10px;
        font-size: 14pt;
        font-weight: bold;
    }

    .content .seal img {
        position: absolute;
        top: -30px;
        left: -20px;
    }
</style>

<style>
    .ce-txt-second {
        max-width: 540px;
    }

    body {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        background-color: #ddd !important;
        font-family: 'malgun gothic', 맑은 고딕 !important;
    }

    h1, h2, h3, h4, h5, .hd-1, .hd-2, .accomplishment-rendering .accomplishment-statement-lead, .hd-3, .hd-4, .hd-5, .hd-6 {
        line-height: inherit !important;
    }

    h1, h2, h3, h4, h5 {

    }

    h6 {
        font-size: 12px !important;
        margin-bottom: 2px !important;
        margin-top: 0px !important;
        font-weight: normal !important;
    }

    * {
        box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
    }

    ul {
        border-left: 3px solid #333 !important;
        padding-left: 15px !important;
        font-size: 14px !important;
    }

    ul li {
        list-style: none !important;
    }

    .paper {
        width: 230mm;
        min-height: 297mm;
        padding: 6.5mm !important;
        margin: 10mm auto !important;
        background: #fff !important;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) !important;
        position: relative !important;
    }

    ul, .list-bulleted {
        margin-left: 0px !important;
    }

    .content {
        padding: 25px !important;
        border: 4px solid #6c6f73 !important;
        height: 90% !important;
        width: 100% !important;
        position: relative !important;
    }

    @page {
        size: A4 !important;
        margin: 0 !important;
    }

    @media print {
        html, body {
            width: 100% !important;
            height: 100% !important;
            background: #fff !important;
        }

        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }

    .ribbon {
        display: inline-block !important;
        position: absolute !important;
        right: 110px !important;
        z-index: 10 !important;
        top: 0px !important;
    }

    h5 {
        margin: 0 !important;
    }

    .t-center {
        display: inline-block !important;
        margin-left: 20px !important;
        width: 160px !important;
        float: left !important;
    }

    .t-center_empty {
        width: 0px !important;
        margin: 0px !important;
    }

    .t-sign {
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #333;
    }

    .t-center:first-child {
        margin-left: 3px;
    }

    .t-center h5 {
        text-align: center !important;
        font-size: 11px !important;
    }

    .ce-bg {
        background: url(${static_url}/static/images/certi_bg2.png) no-repeat !important;
        width: 643px !important;
        height: 232px !important;
        display: inline-block !important;
        position: absolute !important;
        top: 393px !important;
        left: 100px !important;
    }

    .ce-t-gray {
        color: #959595 !important;
        font-size: 15px !important;
    }

    .content .k_h1 {
        font-size: 50px !important;
        margin-bottom: 46.5px !important;
        margin-top: 36.5px !important;
    }

    .content .e_h1 {
        font-size: 43px !important;
        margin-bottom: 55px !important;
        margin-top: 45px !important;
    }

    .content h2 {
        font-size: 20px !important;
    }

    .ce-txt-second {
        margin-top: 0px !important;
        font-size: 20px !important;
    }

    .ce-center-txt1 {
        text-align: center !important;
        margin: 0 auto !important;
        margin-bottom: 20px !important;
        margin-top: -10px !important;
    }

    .ce-center-txt2 {
        text-align: center !important;
        margin-bottom: 35px !important;
        font-size: 20px;
    }

    .sign-area {
        display: inline-block !important;
        width: 100% !important;
        margin-bottom: -80px;
    }

    .sign-area-depth1, .sign-area-depth2, .sign-area-depth0 {
        display: block !important;
        height: 70px !important;
        width: 100% !important;
        float: left !important;
        margin-top: 10px;
    }

    .sign-area-depth2 {
        margin-bottom: 10px;
    }

    .sign-none {
        display: inline-block !important;
        text-indent: -9999px !important;
        overflow: hidden !important;
    }

    .ce-logo-area {
        display: inline-block !important;
        width: 100% !important;
    }

    .ce-logo1 {
        float: right !important;
        font-size: 25px !important;
    }

    .ce-logo2 {
        float: left !important;
        margin-top: 21px !important;
    }

    #k_box1 {
        visibility: hidden;
        margin-bottom: 0px !important;
    }

    #e_box1 {
        visibility: hidden;
        margin-bottom: 0px !important;
    }

    .t-sign {
        height: 34px !important;
        width: 160px !important;
    }

    .ce-logo1 {
        height: 60px !important;
        width: auto !important;
        margin-top: 20px !important;
    }

    .check_img {
        height: 20px !important;
        width: 14px !important;
    }

    .certifi_index {
        font-size: 14px !important;
    }

    .e_name_text {
        margin-top: 0px !important;
    }

    .helloworld {
        margin-top: -15px;
        margin-bottom: 20px;
        font-size: 20px;
        color: #8a8585;
    }
</style>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<main id="printArea_K" class="accomplishment accomplishment-main" style="display: block;">
    <body>

    <div class="paper">

        <div class="content">
            <h5>발급번호 : ${certificate_id_number}</h5>
            <h5>출력일시 : ${created_date}</h5>

            <table class="ctable">
                <tbody>
                <tr>
                    <td colspan="4" class="ctitle" style ="font-size: 30px; font-weight: bold;">교  육  연  수  이  수  증</td>
                </tr>
                <tr>
                    <th style="text-align: left;">이수번호 :</th>
                    <td colspan="3">경기 교육-유초중-국가평생교육진흥원-직무2020-a0053</td>
                </tr>
                <tr>
                    <th style="text-align: left;">소속 :</th>
                    <td colspan="3">한국초등학교</td>
                </tr>
                <tr>
                    % if nice_check_flag == 0:
                    <th style="text-align: left;">성명 :</th>
                    <td style="width: 35%;">${accomplishment_copy_name}</td>
                    <th style="text-align: left;">생년월일 :</th>
                    <td style="width: 35%;">본인인증을 해주세요.</td>
                    %else:
                    <th style="text-align: left;">성명 :</th>
                    <td style="width: 35%;">${user_name}</td>
                    <th style="text-align: left;">생년월일 :</th>
                    <td style="width: 35%;">${birth_date}</td>
                    <span class="certifi_index">( <img class="check_img"
                                                       src="${static_url}/static/images/correct-icon.png"> 본인인증됨)</span>
                    %endif
                </tr>
                <tr>
                    <th style="text-align: left;">연수종별 :</th>
                    <td style="width: 35%;">직무연수</td>
                    <th rowspan="2" style="text-align: left;">이수시간 :</th>
                    <td rowspan="2" style="width: 35%;">${course_effort_h}시간 ${course_effort_m}분</td>
                </tr>
                <tr>
                    <th style="text-align: left;">연수과정명 :</th>
                    <td style="width: 35%;">${accomplishment_course_title[0]}</td>
                </tr>
                <tr>
                    <th style="text-align: left;">연수기간 :</th>
                    <%
                    start_date_index = start_date.split(' ')
                    end_date_index = end_date.split(' ')
                    %>
                    <td colspan="3">${start_date_index[0]}.${start_date_index[1]}.${start_date_index[2]} ~
                        ${end_date_index[0]}.${end_date_index[1]}.${end_date_index[2]}
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="padding-top: 60px; font-size: 14pt; font-weight: bold; text-align: center;">
                        위와 같이 이수하였음을 증명합니다.
                    </td>
                </tr>
                <tr>
                    <td colspan="4"
                        style="padding-bottom: 60px; font-size: 14pt; font-weight: bold; text-align: center;">
                        ${certificate_date_issued2}
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="font-size: 12pt; line-height: 1.6; text-align: left;">경기도교육청 지정<br>특수분야
                        연수기관(지정번호 : 경기 - 교육 2020 - 090)
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="padding: 40px 0; text-align: center;">
                        <strong style="font-size: 30pt;">국    가    평    생    교    육    진    흥    원    장</strong>
                        <span class="seal">(직인)<img src="../../static/images/certificates/stamp.png"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    </body>
</main>

<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>

<script>
  $("img").error(function () {
    var alt_index = $(this).attr("alt")
    var class_index = $(this).attr("class")
    $(this).replaceWith("<b><p class=" + class_index + ">" + alt_index + "</p></b>");
  });
  $("img").error(function () {
    var alt_index = $(this).attr("alt")
    var class_index = $(this).attr("class")
    $(this).replaceWith("<b><p class=" + class_index + ">" + alt_index + "</p></b>");
  });
</script>