<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%
accomplishment_course_title =  accomplishment_copy_course_name
##if certificate_data and certificate_data.get('course_title', ''):
##    accomplishment_course_title =  certificate_data.get('course_title', '')
course_mode_class = course_mode if course_mode else ''
if accomplishment_course_title.find('(') == -1 :
    accomplishment_course_title = accomplishment_course_title + '(' + accomplishment_course_title
accomplishment_course_title = accomplishment_course_title.replace(')','').split('(')
%>
<style>
    .content {
        padding: 0px 10px;
        border: 3px solid #000;
    }

    .content .ctitle {
        padding: 40px 0 !important;
        font-size: 24pt;
        font-weight: bold;
        text-align: center;
        letter-spacing: 4px;
    }

    .content .ctable {
        width: 100%;
        font-size: 13pt;
    }

    .content .ctable td {
        padding: 20px 0;
    }

    body {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        background-color: #ddd !important;
        font-family: 'malgun gothic', 맑은 고딕 !important;
    }

    h1, h2, h3, h4, h5, .hd-1, .hd-2, .accomplishment-rendering .accomplishment-statement-lead, .hd-3, .hd-4, .hd-5, .hd-6 {
        line-height: inherit !important;
    }

    h1, h2, h3, h4, h5 {

    }

    h6 {
        font-size: 12px !important;
        margin-bottom: 2px !important;
        margin-top: 0px !important;
        font-weight: normal !important;
    }

    * {
        box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
    }

    ul {
        border-left: 3px solid #333 !important;
        padding-left: 15px !important;
        font-size: 14px !important;
    }

    ul li {
        list-style: none !important;
    }

    .page {
        width: 21cm;
        min-height: 297mm;
        padding: 6.5mm !important;
        margin: 10mm auto !important;
        background: #fff !important;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) !important;
        position: relative !important;
    }

    ul, .list-bulleted {
        margin-left: 0px !important;
    }

    .content {
        padding: 25px !important;
        border: 4px solid #6c6f73 !important;
        height: 100% !important;
        width: 100% !important;
        position: relative !important;
    }

    @page {
        size: A4 !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    @media print {
        html, body {
            border: 0px solid red;
            height: 99%;
        }

        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }

    h5 {
        margin: 0 !important;
    }

</style>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<main id="printArea_S" class="accomplishment accomplishment-main" style="display: block;">
    <body>

    <div class="page">

        <div class="content">
            <h5>발급번호 : ${certificate_id_number}</h5>
            <h5>출력일시 : ${created_date}</h5>

            <table class="ctable">
                <tbody>
                <tr>
                    <td colspan="4" class="ctitle" style="font-size: 30px; font-weight: bold;">교 육 연 수 이 수 증</td>
                </tr>
                <tr>
                    <th style="text-align: left;">이수번호 :</th>
                    <!--
                    20210111 기준
                    경기 교육-유초중-국가평생교육진흥원-직무 까지는 고정으로 표시
                    year 값은 해당 강좌의 시작일 연도를 표시
                    -->
                    <td colspan="3">경기 교육-유초중-국가평생교육진흥원-${instqq}${year}-${enroll_num}</td>
                </tr>
                <tr>
                    <th style="text-align: left;">소속 :</th>
                    <td colspan="3">${sosok}</td>
                </tr>
                <tr>

                    <th style="text-align: left;">성명 :</th>
                    <td style="width: 35%;">${mbrNm}</td>
                    <th style="text-align: left;">생년월일 :</th>
                    <td style="width: 35%;">${mbrbirth}</td>

                </tr>
                <tr>
                    <th style="text-align: left;">연수종별 :</th>
                    <td style="width: 35%;">직무연수</td>
                    <th style="text-align: left;">이수시간 :</th>
                    <td style="width: 35%;">${course_effort_h}시간 ${course_effort_m}분</td>
                </tr>
                <tr>
                    <th style="text-align: left;">연수과정명 :</th>
                    <td style="width: 35%;">${accomplishment_course_title[0]}</td>
                </tr>
                <tr>
                    <th style="text-align: left;">연수기간 :</th>
                    <%
                    start_date_index = start_date.split(' ')
                    end_date_index = end_date.split(' ')
                    %>
                    <td colspan="3">
                        ${start_date_index[0]}년 ${start_date_index[1]}월 ${start_date_index[2]}일 ~
                        ${end_date_index[0]}년 ${end_date_index[1]}월 ${end_date_index[2]}일 (${date_diff} 일간)
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="padding-top: 60px; font-size: 14pt; font-weight: bold; text-align: center;">
                        위와 같이 이수하였음을 증명합니다.
                    </td>
                </tr>
                <tr>
                    <td colspan="4"
                        style="padding-bottom: 60px; font-size: 14pt; font-weight: bold; text-align: center;">
                        ${certificate_date_issued3}
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="font-size: 12pt; line-height: 1.6; text-align: left;">경기도교육청 지정<br>특수분야
                        연수기관(지정번호 : ${appoint_num})
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="padding: 40px 0; text-align: center;">
                        <strong style="font-size: 30pt;">국 가 평 생 교 육 진 흥 원 장</strong>
                        <img src="../../static/images/certificates/nile_stamp.jpg" style="width: 90px; height: 90px;">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    </body>
</main>



<script>
    function special_cert_print() {
        window.print();
    };
    $("input:radio[name='radio2']:radio[value='sc']").prop('checked', true);
    $("img").error(function () {
        var alt_index = $(this).attr("alt")
        var class_index = $(this).attr("class")
        $(this).replaceWith("<b><p class=" + class_index + ">" + alt_index + "</p></b>");
    });
    $("img").error(function () {
        var alt_index = $(this).attr("alt")
        var class_index = $(this).attr("class")
        $(this).replaceWith("<b><p class=" + class_index + ">" + alt_index + "</p></b>");
    });
</script>