<script type="text/javascript">

    document.getElementById("action-print-view").addEventListener("click", printView);
    document.getElementById("action-check-view").addEventListener("click", checkView);

    function printView(event) {
        var print_index = $('#certifi_print').html();
        //$.ajax({method: "POST", url: "/certificate_print", data:{print_index: print_index}});
        var frmPop= document.frmPopup;
        var url = '/maeps/certificate_print';
        window.open('','popupView','옵션');

        frmPop.action = url;
        frmPop.target = 'popupView'; //window,open()의 두번째 인수와 같아야 하며 필수다.
        frmPop.print_index.value = print_index;
        frmPop.submit();
    }

    function checkView(event) {
        window.open('', 'popupNICE', 'width=450, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
        document.form2.target = "popupNICE";
        document.form2.submit();
    }
</script>
