/* 배경 */
.series_bg_area{width:100%; height: 180px; background: #2f59a3;}
.series_bg_area .series_bg_space{max-width: 75rem; margin: 0 auto; height: 180px;  background: url(/static/images/s_bg.jpg) no-repeat;}
.series_bg_space .series_bg_title{margin-left: 40px; display: inline-block; margin-top: 56px;}
.series_bg_title h3{
	font-size: 30px;
    margin: 0;
    display: inline-block;
    color: #fff;
    font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    font-weight: bold;}

.series_bg_title h6{font-size: 16px; color:#fff;}

.section_frame_outer{width:100%;}
.series_title{margin-bottom: 15px !important; font-weight: bold; font-size: 20px; line-height: 27px;}
.float_left{float:left;}
.section_a1{margin-right: 25px;}
.section_a2 {width: 100%; margin-right: 10px; padding-top: 5px;}
.section_a2 p{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 19px;
    
    max-height: 3.6rem;
}

.section_a3{float: right; padding: 0px; width: 65%;}
.section_a3 .series_b_area{margin-bottom: 15px;font-size: 12px;}
.section_a3 .series_b_area:last-child{margin-bottom: 0px;}
.siz{font-weight:bold; margin-right: 10px;}

.series_imges {width: 230px; height: 130px; display: inline-block;}
.section_frame_inner{display: flex !IMPORTANT; align-items: stretch;}

@media screen and (max-width: 770px) and (min-width: 0px){
.section_a1, .section_a2, .section_a3{text-align: center; width: 100%;}
.section_a1 {margin-right: 0px; margin-bottom:20px;}
.section_a2 {margin-bottom:20px;}
.section_a3{width:100%;}
.section_frame_inner{display: inherit !important; align-items: stretch;}
}


.section_5{display: flex !IMPORTANT; align-items: stretch;}

.university_area{margin-top: 10px;}

.r-list table tr td{padding:5px; font-size: 13px;}

.white-span{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;

    max-height: 1.6rem;
}

.bundle_subtxt{
        overflow: inherit !important;
    text-overflow: inherit !important;
    display: inherit !important;
    -webkit-box-orient: inherit !important;
    word-wrap: inherit !important;
    line-height: 19px !important;
}

@media screen and (max-width: 1170px) and (min-width: 0px){
	.series_b_area span:last-child{width:100%;}

}
