<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%def name="online_help_token()"><% return "instructor" %></%def>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from openedx.core.djangolib.markup import HTML
%>
<%block name="bodyclass">view-in-course view-instructordash</%block>

## ----- Tips on adding something to the new instructor dashboard -----
## 1. add your input element, e.g. in instructor_dashboard2/data_download.html
##   the input includes a reference like data-endpoint="${ section_data['get_anon_ids_url'] }"
## 2. Go to the old dashboard djangoapps/instructor/views/instructor_dashboard.py and
##   add in a definition of 'xxx_url' in the right section_data for whatever page your
##   feature is on.
## 3. Add a url() entry in api_urls.py
## 4. Over in lms/static/js/instructor_dashboard/ there are .js files for each page.
##   Edit this to make your input do something when clicked. The .js files use the
##   name=xx to pick out inputs, not id=
## 5. Implement your standard django/python in lms/djangoapps/instructor/views/api.py
## 6. And tests go in lms/djangoapps/instructor/tests/

<%block name="pagetitle">${_("Instructor Dashboard")}</%block>

<%block name="headextra">
  <%static:css group='style-course-vendor'/>
  <%static:css group='style-vendor-tinymce-content'/>
  <%static:css group='style-vendor-tinymce-skin'/>
  <%static:css group='style-course'/>
  <script type="text/javascript">
    // This is a hack to get tinymce to work correctly in Firefox until the annotator tool is refactored to not include
    // tinymce globally.
    if(typeof window.Range.prototype === "undefined") {
        window.Range.prototype = { };
    }
  </script>
  <script type="text/javascript" src="${static.url('js/instructor_dashboard/proctoring.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/date.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.axislabels.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/jquery-jvectormap-1.1.1/jquery-jvectormap-1.1.1.min.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/jquery-jvectormap-1.1.1/jquery-jvectormap-world-mill-en.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/jquery.event.drag-2.2.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/jquery.event.drop-2.2.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/slick.core.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/slick.grid.js')}"></script>
  <link rel="stylesheet" href="${static.url('css/vendor/slickgrid/smoothness/jquery-ui-1.8.16.custom.css')}">
  <link rel="stylesheet" href="${static.url('css/vendor/slickgrid/slick.grid.css')}">
  <script type="text/javascript" src="${static.url('js/vendor/codemirror-compressed.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/tinymce/js/tinymce/tinymce.full.min.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/tinymce/js/tinymce/jquery.tinymce.min.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/jQuery-File-Upload/js/jquery.fileupload.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/jquery.qubit.js')}"></script>

  <%static:js group='module-descriptor-js'/>
  <%static:js group='instructor_dash'/>
  <%static:js group='application'/>

  ## Backbone classes declared explicitly until RequireJS is supported
  <script type="text/javascript" src="${static.url('js/models/notification.js')}"></script>
  <script type="text/javascript" src="${static.url('js/views/notification.js')}"></script>
  <script type="text/javascript" src="${static.url('js/views/file_uploader.js')}"></script>
  <script type="text/javascript" src="${static.url('js/utils/animation.js')}"></script>
  % for section_data in sections:
    % if 'fragment' in section_data:
      ${HTML(section_data['fragment'].head_html())}
    % endif
  % endfor
</%block>

<%block name="js_extra">
  % for section_data in sections:
    % if 'fragment' in section_data:
      ${HTML(section_data['fragment'].foot_html())}
    % endif
  % endfor
</%block>

## Include Underscore templates
<%block name="header_extras">
% for template_name in ["cohorts", "discussions", "enrollment-code-lookup-links", "cohort-editor", "cohort-group-header", "cohort-selector", "cohort-form", "notification", "cohort-state", "divided-discussions-inline", "divided-discussions-course-wide", "cohort-discussions-category", "cohort-discussions-subcategory", "certificate-white-list", "certificate-white-list-editor", "certificate-bulk-white-list", "certificate-invalidation", "membership-list-widget"]:
<script type="text/template" id="${template_name}-tpl">
  <%static:include path="instructor/instructor_dashboard_2/${template_name}.underscore" />
</script>
% endfor

<script type="text/template" id="file-upload-tpl">
  <%static:include path="file-upload.underscore" />
</script>
</%block>

## NOTE that instructor is set as the active page so that the instructor button lights up, even though this is the instructor_2 page.
<%include file="/courseware/course_navigation.html" args="active_page='instructor'" />

<style type="text/css"></style>
<script language="JavaScript" type="text/javascript">
</script>
<style>
.layerPopupArea{position: absolute !important; z-index: 999 !important; top: -75px !important; left: 100px !important;}
.layerPupup{
    z-index: 10010 !important;
	display: none !important;
	border: 0px solid #fff !important;
	opacity: 1 !important;
	background: #ffffff !important;
	font-size: 13px !important;
    line-height: 25px !important;
	padding: 5px !important;
	box-shadow: 0 2px 5px 3px #444444 !important;
	margin: 3px !important;
	float: left !important;
}
</style>
<link rel="stylesheet" type="text/css" href="/static/css/pop.css">
<div id="layerPopupArea" class="layerPopupArea">
    <div id="1" class="popup-area" style="width: 550px;">
        <div class="popup-main">
            <div class="popup-header">
                <h4 class="popup-title"><b>K-MOOC 개편 참여기관 안내</b></h4>
            </div>
            <div class="popup-contents">
            <div id="contents_1" style="display: none;"></div>
                <div id="frame_1" frameborder="0" scrolling="no" width="100%" class="popup-contents-iframe"></div>
            </div>

            <div class="popup-footer" style="background: black; text-align: right;">
                <label class="popup-footer-label" onclick="closeWin('pop_close_1','1','1');" style="text-align: left; padding: 0 10px;">
                    <input id="pop_close_1" name="pop_close_1" type="checkbox">
                    <span class="popup-footer-day"><b>1일간 열지 않음</b></span>
                </label>
                <span class="popup-footer-day popup-footer-close" style="padding: 0 10px; vertical-align: middle;">
                    <a href="#none" title="닫기" class="closebtn"><b>[ 닫기 ]</b></a>
                </span>
            </div>
        </div>
    </div>
</div>

<script>

var popupDate = new Date();
// 월은 0부터 계산되므로 해당월 - 1 한 값으로 지정
var targetDate = new Date(2023, 9, 10, 13, 0, 0);
$(document).ready(function(){
    let contents = "";
    contents += "<div style='width:100%'>";
    contents += "K-MOOC 플랫폼 개편 일정 안내드립니다.<br/>";
    contents += "※ 관리자페이지 : 8.7(월), 학습자페이지 : 8.21(월)<br/>";
    contents += "<br/>";
    contents += "자세한 사항은 아래 링크를 통해 확인 부탁드립니다.<br/>";
    contents += "<button class='btn popbtn newpop' style='height: 33px;width:100%;border-radius: 5px;background-color: #009fe6;color: #FFFFFF;font-size: 90%;vertical-align: middle;'>자세한 내용 보기</button><br/>";
    contents += "<br/>";
    contents += "※ 기존 Studio에서 수정된 강좌는 신규 플랫폼에 덮어쓰기 처리되어<br/>신규 플랫폼에서 수정된 내용이 반영되지 않을 수 있습니다.";
    contents += "<br/>";
    contents += "</div>";
    contents = $.parseHTML(contents);
    $("#frame_1").html(contents);

    $(window).resize(function(){
      setIframeHeight("frame_1");
    });
});

$(function() {
    $(document).on('click', '.btn.popbtn.newpop', function () {
        window.open("https://humble-rhodium-6bb.notion.site/K-MOOC-71bc84718f864e778a0ec5bfb16e13ca");
    });
    $(document).on('click', '.closebtn', function() {
       $(this).parents(".layerPopupArea").hide();
    });
});

function closeWin(check, id, hidden_day) {
    if ($("#" + check).is(":checked")) {
        setCookie(id, "done", hidden_day);
    }
    $("#" + id).css("display", "none");
}

function setCookie(name, value, expiredays) {
    var todayDate = new Date();
    if (expiredays == '0') {
        expiredays = '999';
    }
    todayDate.setDate(todayDate.getDate() + Number(expiredays));
    document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";"
}

function setIframeHeight(id) {
    var ifrm = document.getElementById(id);
    var doc = ifrm.contentDocument? ifrm.contentDocument:
        ifrm.contentWindow.document;
    ifrm.style.visibility = 'hidden';
    ifrm.style.height = "10px";
    ifrm.style.height = getDocHeight( doc ) + 4 + "px";
    ifrm.style.visibility = 'visible';
}

cookiedata = document.cookie;

$("#layerPopupArea .pop_content").each(function () {
    var content_id = $(this).attr("id");
    $("#" + content_id).html($("#" + content_id).text());
});

var leng = '1';
leng = Number(leng);

for (var i = 1; i <= leng; i++) {
    if (cookiedata.indexOf(i + "=done") < 0 && popupDate <= targetDate) {
        $("#" + i).css("display", "inline-block !important;");
    } else {
        $("#" + i).css("display", "none");
    }
}
</script>

<input type="text" id="course_id" value="${course_id}" hidden/>
<div class="container">
    <div class="instructor-dashboard-wrapper-2">
        <main id="main" aria-label="Content" tabindex="-1">
            <section class="instructor-dashboard-content-2" id="instructor-dashboard-content">
                <h2 class="hd hd-2 instructor-dashboard-title">${_("Instructor Dashboard")}</h2>
                <div class="wrap-instructor-info studio-view">
                %if studio_url:
                    <a class="instructor-info-action" href="${studio_url}">${_("View Course in Studio")}</a>
                %endif
                </div>

                ## links which are tied to idash-sections below.
                ## the links are activated and handled in instructor_dashboard.js
                ## when the javascript loads, it clicks on the first section
                <ul class="instructor-nav">
                    % for section_data in sections:
                    <% is_hidden = section_data.get('is_hidden', False) %>
                    ## This is necessary so we don't scrape 'section_display_name' as a string.
                    <% dname = section_data['section_display_name'] %>
                    % if not is_hidden:
                        <li class="nav-item"><button type="button" class="btn-link ${ section_data['section_key'] }${' hidden' if is_hidden else ''}" data-section="${ section_data['section_key'] }">${_(dname)}</button></li>
                    % endif
                    % endfor
                    <!--
                    <li class="nav-item"><button type="button" class="btn-link ${ section_data['section_key'] }${' hidden' if is_hidden else ''}" data-section="peer_asscessment">${_("Plagiarism testing")}</button></li>
                    -->
                    <li class="nav-item"><button type="button" class="btn-link ${ section_data['section_key'] }${' hidden' if is_hidden else ''}" data-section="memo">쪽지발송</button></li>
                </ul>

                ## each section corresponds to a section_data sub-dictionary provided by the view
                ## to keep this short, sections can be pulled out into their own files

                % for section_data in sections:
                    <% is_hidden = section_data.get('is_hidden', False) %>
                    <section id="${ section_data['section_key'] }" class="idash-section${' hidden' if hidden else ''}" aria-labelledby="header-${section_data['section_key']}">
                    <h3 class="hd hd-3" id="header-${ section_data['section_key'] }">${ section_data['section_display_name'] }</h3>
                    <%include file="${ section_data['section_key'] }.html" args="section_data=section_data" />
                    </section>
                % endfor

            <!-- 쪽지 발송 (시작) -->
            <style>
                .im-title { font-size: 1.5rem; margin-bottom: 18px;}
                .im-target { margin-bottom: 20px; }
                .im-mb15 { margin-bottom: 8px; }
                .im-sub-title { margin-top: 30px; margin-bottom: 5px;}
                .im-btn { margin-top: 30px; font-weight: bold; font-size: 12px; margin-bottom: 40px; }
                .inject-mt30 { margin-top: 30px; }
                .inject-mb20 { margin-bottom: 20px; }
                .im-fz12 { font-size: 12px; }
                .im-mr5 { margin-right: 5px; }
                .im-table-item-title { color: #0075b4; cursor: pointer; }
                .im-input-title { width: 50%;}
                .im-textarea { width: 100%; height: 250px; }
                .im-null { text-align: center; padding: 50px; font-size: 14px; display: none;}
                .im-hover { width: 55%; padding: 3px; cursor: pointer; }
                .im-hover:hover { background: #efefef; }
                .im-over {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    padding-left: 10px;
                    padding-right: 10px;
                    font-size: 12px;
                }
                #im_table { border-collapse: collapse; text-align: center; width: 100%;}
                #im_table, th, td { border: 1px solid #dddddd; }
                #im_table > thead { background: #e6e6e6; }
                #im_table > tbody { padding: 50px; }
                .mce-path { display: none !important; }
            </style>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
            <script>
                tinymce.init({
                  selector: 'textarea#basic-example',
                  height: 300,
                  menubar: false,
                  plugins: [],
                });
                load_ge();
                function load_ge() {
                    $.post( "/dashboard_memo_read", {
                        course_id: $('#course_id').val()
                    })
                    .done(function( data ) {
                        if(data.rows.length == 0) {
                            $('.im-null').show();
                        } else {
                            $('.im-null').hide();
                        }
                        data.rows.forEach(function(row){
                            console.log(row);
                            var target1 = row[5];
                            var target2 = row[6];
                            var target3 = row[7];
                            var result = '';
                            if(target1 == 1) {
                                result += '나';
                            }
                            if(target2 == 1) {
                                if(target1 == 1){
                                    result += ', 운영팀 및 관리팀';
                                } else {
                                    result += '운영팀 및 관리팀';
                                }
                            }
                            if(target3 == 1) {
                                if(target1 == 1){
                                    result += ', 전체 학습자';
                                } else if(target2 == 1) {
                                    result += ', 전체 학습자';
                                } else {
                                    result += '전체 학습자';
                                }
                            }
                            console.log('content = ', content);
                            html = ''+
                            '<tr>'+
                            '    <td onclick="im_vv(\''+row[1]+'\')" class="im-over im-table-item-title">'+row[0]+'</td>'+
                            '    <td class="im-over">'+row[2]+'</td>'+
                            '    <td class="im-over">'+result+'</td>'+
                            '    <td class="im-over">'+row[3]+'</td>'+
                            '    <td class="im-over">'+row[4]+' 발송</td>'+
                            '</tr>'
                            $('#inject_item').append(html);
                        });
                    })
                }
                function make_target_text(){
                    var check_a = $('#check_a').is(":checked");
                    var check_b = $('#check_b').is(":checked");
                    var check_c = $('#check_c').is(":checked");
                    var result = '';
                    if(check_a == true) {
                        result += '나';
                    }
                    if(check_b == true) {
                        if(check_a == true){
                            result += ', 운영팀 및 관리팀';
                        } else {
                            result += '운영팀 및 관리팀';
                        }
                    }
                    if(check_c == true) {
                        if(check_a == true){
                            result += ', 전체 학습자';
                        } else if(check_b == true) {
                            result += ', 전체 학습자';
                        } else {
                            result += '전체 학습자';
                        }
                    }
                    $('#maked-txt').html(result);
                }
                function im_select_a(){
                    if ($('#check_a').is(":checked") == true) {
                        $('#check_a').prop('checked', false);
                    } else {
                        $('#check_a').prop('checked', true);
                    }
                    make_target_text();
                }
                function im_select_b(){
                    if ($('#check_b').is(":checked") == true) {
                        $('#check_b').prop('checked', false);
                    } else {
                        $('#check_b').prop('checked', true);
                    }
                    make_target_text();
                }
                function im_select_c(){
                    if ($('#check_c').is(":checked") == true) {
                        $('#check_c').prop('checked', false);
                    } else {
                        $('#check_c').prop('checked', true);
                    }
                    make_target_text();
                }
                function init_form(){
                    $('#check_a').prop('checked', false);
                    $('#check_b').prop('checked', false);
                    $('#check_c').prop('checked', false);
                    $('#im_title').val('');
                    $('#basic-example').val('');
                    $('#inject_item').empty();
                    load_ge();
                }
                function im_send_memo(){
                    var check_a = $('#check_a').is(":checked");
                    var check_b = $('#check_b').is(":checked");
                    var check_c = $('#check_c').is(":checked");
                    var title = $('#im_title').val();
                    var content = $('#basic-example').val();
                    var course_id = $('#course_id').val();
                    console.log('check_a = ', check_a);
                    console.log('check_b = ', check_b);
                    console.log('check_c = ', check_c);
                    console.log('title = ', title);
                    console.log('content = ', content);
                    console.log('course_id = ', course_id);
                    $.post( "/dashboard_memo", {
                        check_a: check_a,
                        check_b: check_b,
                        check_c: check_c,
                        title: title,
                        content: content,
                        course_id: course_id
                    })
                    .done(function( data ) {
                        if (data.result == 200) {
                            Swal.fire({
                              icon: 'success',
                              title: '알림',
                              text: data.msg
                            })
                            init_form();
                        } else {
                            Swal.fire({
                              icon: 'error',
                              title: '알림',
                              text: data.msg
                            })
                        }
                    });
                }
                function im_vv(mail_id){
                    console.log('mail_id -> ', mail_id);
                    $.post( "/dashboard_memo_detail", {
                        mail_id: mail_id
                    })
                    .done(function( data ) {
                        var row = data.row;
                        var target1 = row[5];
                        var target2 = row[6];
                        var target3 = row[7];
                        var result = '';
                        if(target1 == 1) {
                            result += '나';
                        }
                        if(target2 == 1) {
                            if(target1 == 1){
                                result += ', 운영팀 및 관리팀';
                            } else {
                                result += '운영팀 및 관리팀';
                            }
                        }
                        if(target3 == 1) {
                            if(target1 == 1){
                                result += ', 전체 학습자';
                            } else if(target2 == 1) {
                                result += ', 전체 학습자';
                            } else {
                                result += '전체 학습자';
                            }
                        }
                        Swal.fire({
                            showCloseButton: true,
                            showConfirmButton: false,
                            html: ""+
                                "<div style='font-size: 12px;'>"+
                                "<div style='margin-top: 35px; text-align: left;'><span style='font-weight: bold'>제목</span> : "+row[0]+"</div>"+
                                "<div style='margin-top: 6px; text-align: left;'><span style='font-weight: bold'>보내는 사람</span> : "+row[2]+"</div>"+
                                "<div style='margin-top: 6px; text-align: left;'><span style='font-weight: bold'>보낸 시간</span> : "+row[3]+"</div>"+
                                "<div style='margin-top: 6px; text-align: left;'><span style='font-weight: bold'>받는사람</span> : "+result+"</div>"+
                                "<hr>"+
                                "<div style='text-align: left; margin-bottom: 6px;'><span style='font-weight: bold'>본문</span>:</div>"+
                                "<div style='text-align: left;'>"+row[1]+"</div>"+
                                "</div>"
                        })
                    })
                }
            </script>
            <div class="im-pop">

            </div>
            <section id="memo" class="idash-section active-section">
                <div class="im-title">
                    쪽지
                </div>
                <div class="im-target">
                    대상: <span id="maked-txt"></span>
                </div>
                <div class="im-mb15 im-hover" onclick="im_select_a()">
                    <input id="check_a" class="im-mr5" type="checkbox" onclick="im_select_a()" name="riyu" value="1"><span class="im-target-txt">나</span>
                </div>
                <div class="im-mb15 im-hover" onclick="im_select_b()">
                    <input id="check_b" class="im-mr5" type="checkbox" onclick="im_select_b()" name="riyu" value="2"><span class="im-target-txt">운영팀 및 관리팀</span>
                </div>
                <div class="im-mb15 im-hover" onclick="im_select_c()">
                    <input id="check_c" class="im-mr5" type="checkbox" onclick="im_select_c()" name="riyu" value="3"><span class="im-target-txt">전체 학습자</span>
                </div>
                <div class="im-sub-title">
                    제목:
                </div>
                <div>
                    <input class="im-input-title" type="text" id="im_title">
                </div>
                <div class="im-sub-title">
                    본문:
                </div>
                <div>
                    <textarea id="basic-example" class="im-textarea"></textarea>
                </div>
                <div class="im-btn">
                    <button onclick="im_send_memo()">쪽지 발신</button>
                </div>
                <hr>
                <div class="im-title inject-mt30">
                    쪽지 발송기록
                </div>
                <div class="im-mb15 inject-mb20">
                    보낸 쪽지를 읽기 위해 제목을 클릭하세요
                </div>
                <div>
                    <table id="im_table">
                        <thead>
                            <tr>
                                <td class="im-fz12">제목</td>
                                <td class="im-fz12">보낸 사람</td>
                                <td class="im-fz12">받는 사람</td>
                                <td class="im-fz12">보낸 시간</td>
                                <td class="im-fz12">보낸 건수</td>
                            </tr>
                        </thead>
                        <tbody id="inject_item">
                        </tbody>
                    </table>
                    <div class="im-null">
                        쪽지를 발송한 내역이 존재하지 않습니다
                    </div>
                </div>
            </section>
            <!-- 쪽지 발송 (종료) -->

            <!-- 표절검사 (시작) -->
            <section id="peer_asscessment" class="idash-section active-section">
                <div class="student-specific-container action-type-container">
                    <h2 data-is_assessment="${is_assessment}" data-is_assessment_ing="${is_assessment_ing}" data-is_assessment_done="${is_assessment_done}">${_("Plagiarism test implementation")}</h2>
                    <div class="request-response-error"></div>
                    <br>
                    <p>
                        ${_("The plagiarism test can be performed on the learners' narrative answers among the mutual losing questions.")}<br/><br/>
                        ${_("Since it is performed by the automatic scheduler once a day, the result is calculated within maximum one day after the execution request.")}
                    </p>
                    <br>
                    % if (is_assessment and is_assessment_ing != True) | is_assessment_done:
                        <div id="copy_killer">
                            <input type="button" class="molly-guard" id="aaaaaaaa" name="reset-attempts-all" value="${_('Performing a plagiarism test')}" onclick="run_copykiller();">
                        </div>
                    %elif is_assessment:
                        <div>
                            <input type="button" class="molly-guard" id="bbbbbbb" name="reset-attempts-all" value="${_('Performing a plagiarism test')}" disabled="disabled">
                        </div>
                    % else:
                        <div>
                            <p><b>${_('Performing test target is not exists.')}</b></p>
                        </div>
                    %endif:
                    <hr>
                </div>
                %if is_assessment:
                    <script type="text/javascript">
                        function run_copykiller() {
                            console.log("/courses/${course.id}/instructor/copykiller");
                            $('#loading').css('display', 'inline');
                            $('#cvs').css('display', 'none');
                            $.ajax({
                                url: "/courses/${course.id}/instructor/copykiller",
                            }).done(function(data) {
                                console.log('run_copykiller data: ' + data.result);
                                if (data.result == 'success') {
                                    $(".molly-guard").prop('disabled', true);
                                    $("#copykiller_status").val('${_("Plagiarism test is in progress.")}');
                                }
                            });
                            %if is_assessment_done == True:
                                $('#loading').css('display', 'none');
                                $('#cvs').css('display', 'inine');
                            %endif
                        }
                    </script>
                %endif
                <div class="student-grade-container action-type-container">
                    <h2>${_("Test progress status")}</h2>
                    <div class="request-response-error"></div>
                    <label>
                        %if is_assessment_ing != False and is_assessment_done != True:
                            <input type="text" id="copykiller_status" name="problem-select-single" size="30" value="${_('Plagiarism test is in progress.')}" disabled>
                        %elif is_assessment_done == True:
                            <input type="text" id="copykiller_status" name="problem-select-single" size="30" value="${_('Plagiarism test is completed.')}" disabled>
                        %else:
                            <input type="text" id="copykiller_status" name="problem-select-single" size="30" value="${_('There is currently no work in progress.')}" disabled>
                        %endif
                    </label>
                    <hr>
                </div>
                <div class="course-specific-container action-type-container">
                    <h2>${_("Plagiarism test result")}</h2>
                    <div class="request-response-error"></div>
                    <label>
                        ${_("Outputs the final plagiarism test result as a CSV file.")}
                    </label>
                    <br>
                    <label>
                        %if is_assessment_done:
                            <input type="button" id="copykiller_csv_btn" name="list-anon-ids" value="${_('CSV file download')}" onclick="location.href='/courses/${course.id}/instructor/copykiller_csv'">
                        %else:
                            <input type="button" id="copykiller_csv_btn" name="list-anon-ids" value="${_('CSV file download')}" disabled>
                        %endif
                    </label>
                </div>
            </section>
            <!-- 표절검사 (종료) -->

            </section>
        </main>
    </div>
</div>

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized-datetime");
</%static:require_module_async>
