<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="pagetitle">${_('Age-specific Courses')}</%block>
<%inherit file="../main.html" />

<%block name="header_extras"></%block>

<style>
    .course-title {
        font-family: 'Noto Sans KR' !important;
    }
    .instructor {
        color: #222 !important;
    }
    .age-courses {
        padding: 30px 0;
    }
    .sec-course {
        padding-top: 0;
    }
    a.visual-back:not(.btn), a.visual-back:visited:not(.btn) {
        float: right;
        position: relative;
        margin-top: 10px;
        padding-right: 18px;
        font-size: 14px;
        font-weight: 600;
        color: #4d4b4b;
    }
    #main {
        font-family: 'Noto Sans KR' !important;
        display: inline-block;
        border-bottom: none;
        font-size: 1.875rem;
        font-weight: 700;
    }
    .age-header {
        border-bottom: solid 1px #e0e0e0;
        padding-bottom: 1.250rem;
        margin-bottom: 1.5rem;
    }
</style>

<section class="container">
    <div class="age-header">
        <h2 title="${_('Age-specific Courses')}" id="main">${_('Age-specific Courses')}</h2>
        <a href="/courses" class="visual-back">더 많은 강좌 찾기 >></a>
    </div>
    <section class="sec-course">
        <div class="container-fluid">
            % for key, course in sorted(courses.iteritems()):
            <div class="age-courses">
                <div class="course-top">
                    <h1 class="title">${key}대가 많이 듣는 강좌</h1>
                </div>
                <div class="owl-carousel course-carousel owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1488px;">

                            % for c in course:
                            <div class="owl-item active" style="width: 277.5px; margin-right: 20px;">
                                <div class="item">
                                    <a href="/courses/${c.id}/about" class="course-item">
                                        <div class="course-thumb">
                                            % if c.ribbon_yn == 'Y':
                                            <i class="kr01-ribbonArea"><img alt="" src="/static/images/main/ribbon.png">
                                                <span class="ribbon-tooltip-text">K-MOOC 우수강좌</span>
                                            </i>
                                            % endif
                                            <figure>
                                                <img src="${c.course_image_url}" onerror="this.src='/static/images/blank.png'">
                                                <span class="more">
                                                <span>${_("LEARN MORE")}</span>
                                            </span>
                                            </figure>
                                        </div>
                                        <h2 class="course-title">${c.display_name}</h2>
                                        <div class="course-info">
                                            <p class="instructor">
                                                <span class="course-instructor">${c.teacher_name}</span>
                                                % if LANGUAGE_CODE == 'ko-kr':
                                                <span class="kr01_school">${c.org_kname}</span>
                                                % else:
                                                <span class="kr01_school">${c.org_ename}</span>
                                                % endif
                                            </p>
                                            <p class="period">
                                                <span class="date">${c.start.strftime("%Y/%m/%d")} ~ ${c.end.strftime("%Y/%m/%d")}</span>
                                                % if c.status == 'ing':
                                                <span class="state ing">진행중</span>
                                                % elif c.status == 'end' and c.audit_yn == 'N':
                                                <span class="state end">종료</span>
                                                % elif c.status == 'end' and c.audit_yn == 'Y':
                                                <span class="state end">청강가능</span>
                                                % else:
                                                <span class="state soon">개강예정</span>
                                                % endif
                                                <!--<span class="state soon">개강예정</span>-->
                                                <!--<span class="state possible">청강가능</span>-->
                                                <!--<span class="state end">종료</span>-->
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            % endfor
                        </div>
                    </div>
                </div>
            </div>
            % endfor
        </div>
    </section>

</section>
