<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Certificate Id Check")}</%block>

<%block name="js_extra">
    <script>
        $(document).ready(function(){
            $("#check").attr("href", "javascript:cert_check_id();");

            $("#uuid").focus();
            $("#uuid").keydown(function(e){
                if(e.which == 13)
                    cert_check_id();

            });
        });

        function cert_check_id(){
            var uuid = $("#uuid").val();
            if(uuid == "" || uuid == null){register-goals-optional-label
                alert('${_("Enter your verification number your certificate")}');
                $("#uuid").focus();
                return;
            }

            $.post("/cert_check_id",
                    {uuid: uuid},
                    function(data){

                        console.log('url = '+ data.url);

                        if (data.result == 200) {
                            if (data.url) {
                                $("#incorrect").hide();
                                $("incorrect_detail").hide();
                                $("#correct").show();
                                $("#showCert").attr("href", data.url);
                            } else if (data.change_date_kst) {
                                $("#correct").hide();
                                $("#incorrect").show();
                                $("#incorrect_detail").show();
                                $("#incorrect_kst").html(data.change_date_kst);
                            }
                        } else {
                            $("#incorrect").show();
                            $("#incorrect_detail").hide();
                            $("#correct").hide();
                        }
            },"json");
        }

    </script>
</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container rule">
        <section class="container">
            <!-- [s] -->
            <h2>${_("Certificate verification")}</h2>

            <section class="certification-box">
                <div class="grid-container grid-manual">
                    <div class="row">
                        <div class="col col-12 sm-col-12 md-col-4 lg-col-4">
                            <div class="certification-form">
                                <p>${_("You can check the validity of the certifiate issued by K-MOOC")}</p>
                                <p>${_("Please enter your authotification number at the top of your certificate")}</p>

                                <input type="text" id="uuid" title="${_('Certificatiion ID')}" placeholder='${_("Please enter your authotification number at the top of your certificate")}'>
                                <a href="#" id="check"><input type="button" value="${_('Verificating')}"></a>

                                <div id="check_result">
                                    <div id="correct" style="display: none;">
                                        <span class="icon fa fa-check" aria-hidden="true"></span>
                                        &nbsp;<b>${_("This is valid edX certification number.")}</b>
                                        <a href="#" id="showCert" target="_blank" style="background: #f58026;
                                                                    font-size: 12px;
                                                                    font-weight: bold;
                                                                    color: white;
                                                                    border-radius: 3px;
                                                                    padding: 1px 10px;
                                                                    margin: 5px;
                                                                    vertical-align: middle;">${_("View")}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-12 sm-col-12 md-col-8 lg-col-8">
                            <div class="certification-img">
                                <img src="/static/images/contents/certification.gif" alt='${_("Certificate Sample")}'>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div id="incorrect" style="display: none;">
                <b style="color: red;">${_("This is not valid edX certification number.")}</b>
            </div>
            <div id="incorrect_detail" style="display: none; margin-top: 20px;">
                <div>
                    ※ 해당 이수 번호는 <span id="incorrect_kst" style="color: #3f51b5"></span>에 변경한 이력이 존재합니다.
                </div>
                <div style="margin-top: 5px;">
                    이수증이 재성성 등의 이유로 이수번호가 변경되었으니 재발급 안내해주시기 바랍니다.
                </div>
            </div>

            <br/>
            <br/>
            <br/>
            <br/>

            <!-- [e]  -->
        </section>
    </section>
</main>
