<%namespace name='static' file='../static_content.html'/>
<%!
import urllib

from django.utils.translation import ugettext as _
from django.urls import reverse
from django.conf import settings
from six import text_type
%>

<header>
  % if static.get_value('course_about_show_social_links', True):
  <div class="social-sharing">
    <div class="sharing-message">${_("Share with friends and family!")}</div>
    ## TODO: this should probably be an overrideable block,
    ##       or something allowing themes to do whatever they
    ##       want here (and on this whole page, really).
      <%
        site_domain = static.get_value('site_domain', settings.SITE_NAME)
        site_protocol = 'https' if settings.HTTPS == 'on' else 'http'
        platform_name = static.get_platform_name()

        url=u"http://{domain}{path}".format(
            domain=site_domain,
            path=reverse('about_course', args=[course.id.to_deprecated_string()])
        )

        tweet_action = "https://twitter.com/intent/tweet?text=온라인수강&url={url}".format(url=urllib.quote(url.encode("utf-8")))

        facebook_link = 'http://www.facebook.com/sharer/sharer.php?u={url}'.format(url=urllib.quote(url.encode("utf-8")))

        line_link = 'http://blog.naver.com/openapi/share?url={url}'.format(url=urllib.quote(url.encode("utf-8")))

        kakao_link = 'https://story.kakao.com/share?url={url}'.format(url=urllib.quote(url.encode("utf-8")))

        email_subject = u"mailto:?subject={subject}&body={body}".format(
            subject=_("Take a course with {platform} online").format(platform=platform_name),
            body=_("Take a course with {platform} online").format(
                platform=u"http://{domain}{path}".format(
                    domain=site_domain,
                    path=reverse('about_course', args=[course.id.to_deprecated_string()])
                )
        ).replace(u" ", u"+")
        ).replace(u" ", u"%20")
      %>
      <a href="${tweet_action}" target="_blank" class="share">
        <span class="icon fa fa-twitter" aria-hidden="true"></span><span class="sr">${_("Tweet that you've enrolled in this course")}</span>
        <span class="hidden_head share-text">트위터를 이용하여 친구 및 가족과 공유</span>
      </a>
      <a href="${facebook_link}" target="_blank" class="share">
        <span class="icon fa fa-facebook" aria-hidden="true"></span><span class="sr">${_("Post a Facebook message to say you've enrolled in this course")}</span>
        <span class="hidden_head share-text">페이스북을 이용하여 친구 및 가족과 공유</span>
      </a>
      <a href="${email_subject}" class="share">
        <span class="icon fa fa-envelope" aria-hidden="true"></span><span class="sr">${_("Email someone to say you've enrolled in this course")}</span>
        <span class="hidden_head share-text">이메일을 이용하여 친구 및 가족과 공유</span>
      </a>
      <a href="${line_link}" target="_blank" class="share">
        <img alt="naver" src="/static/images/fa-naver.png" style="width: 28px;margin-top: -8px;">
        <span class="hidden_head share-text">네이버를 이용하여 친구 및 가족과 공유</span>
      </a>
      <a href="${kakao_link}" target="_blank" class="share">
        <img alt="kakao" src="/static/images/fa-cs.png" style="width: 28px;margin-top: -8px;">
        <span class="hidden_head share-text">카카오를 이용하여 친구 및 가족과 공유</span>
      </a>
      <a href="#" class="share" onclick="myFunction(); return false;" style="cursor: pointer">
        <span class="icon fa fa-clone" aria-hidden="true"></span>
        <span class="sr">${_("Email someone to say you've enrolled in this course")}</span>
        <span class="hidden_head share-text">강좌 주소를 이용하여 친구 및 가족과 공유</span>
      </a>
  </div>
  % endif
</header>

<style>
  #clipboard-temp{
    color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: 0 0 0 0 rgba(255,255,255,0.6), inset 0 0 0 0 rgba(0,0,0,0.1);
  }
  #clipboard-temp:focus{
    color: #ffffff;
    outline: 1px solid #ffffff;
  }
  .sharing-message {
    font-family: "Nanum Gothic","Open Sans" !important;
    font-style: normal !important;
    width: 280px !important;
    left: 45% !important;
  }
</style>
<label class="hidden_head" for="clipboard-temp">${_('Clipboard-copy')}</label>
<input type="text" value="${url}" id="clipboard-temp">

<script>
function myFunction() {
  var copyText = document.getElementById("clipboard-temp");
  copyText.select();
  document.execCommand("copy");
  alert('강좌 소개 페이지 주소가 복사되었습니다.')
}
$(document).ready(function(){
    $('.share').hover(function(){
        var share_text = $(this).children('span.share-text').text();
        $('.sharing-message').text(share_text);
    });
});
</script>
