<%page args="active_page=None" expression_filter="h" />
<%namespace name='static' file='/static_content.html'/>
<%!
from courseware.tabs import get_course_tab_list
from django.conf import settings
from django.urls import reverse
from django.utils.translation import ugettext as _
%>

<%
if active_page is None and active_page_context is not UNDEFINED:
    # If active_page is not passed in as an argument, it may be in the context as active_page_context
    active_page = active_page_context

if course is not None:
    include_special_exams = settings.FEATURES.get('ENABLE_SPECIAL_EXAMS', False) and (course.enable_proctored_exams or course.enable_timed_exams)

        
searchcourseid = course.id
infopopcheck = "false"
infopopcheck2 = "false"
infopopcheck3 = "false"
if str(searchcourseid) == str("course-v1:SNUk+CORE_SNU041_040k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+CORE_SNU043_076k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU044_008k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU044_025k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU045_011k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU047_011k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU048_011k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU049_011k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU053.019k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU053.019k+2023_S2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU054.019k+2023_S2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU055.019k+2023_S2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU056.020k+2023_S2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU059.019k+2023_S2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU060.020k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU061.020k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU062.020k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU064.020k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU065.020k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU066.020k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU067.021k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU068.021k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU069.021k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU070.021k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU071.022k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU072.022k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU073.022k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU074.022k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU200_105k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU212.204.2k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU212_204_1k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU212_204_3k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU701_429k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNUL0655_000500k+2023_T2"):
    infopopcheck = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS213+2022_1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS214+2022_1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS223+2022_1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS225+2022_1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS226+2022_1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS227+2022_1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS228+2022_1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS229+2022_1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS232+2022_1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS233+2022_1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS237+2022_1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS241+2022_1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS242+2022_1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS243+2022_1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS244+2022_1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS245+2022_1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS246+2022_1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS248+2022_1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:SOGANGKAEP+KAEP01+2022_T1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:SOGANGKAEP+KAEP02+2022_T1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:SOGANGKAEP+KAEP03+2022_T1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:SOGANGKAEP+KAEP04+2022_T1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:SOGANGKAEP+KAEP05+2022_T1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:SOGANGKAEP+KAEP06+2022_T1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:SOGANGKAEP+KAEP07+2022_T1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:SOGANGKAEP+KAEP08+2022_T1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:SOGANGKAEP+KAEP09+2022_T1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:SOGANGKAEP+KAEP10+2022_T1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS217+2022_1"):
    infopopcheck2 = "true"
elif str(searchcourseid) == str("course-v1:DH+213123321+123123123"):
    infopopcheck3 = "true"
elif str(searchcourseid) == str("course-v1:DKUK+MOOC_DKUK0027+2023_T2"):
    infopopcheck3 = "true"



if course.start:
    import string
    timedata = string.split(str(course.start)," ")
    timedatatmp = timedata[0].replace("-","")
    if timedatatmp >= "20231012":
        print "course.start=====>",timedatatmp
        infopopcheck2 = "true"

if course.enrollment_start:
    import string
    timedata = string.split(str(course.enrollment_start)," ")
    timedatatmp = timedata[0].replace("-","")
    if timedatatmp >= "20231012":
        print "course.enrollment_start=====>",timedatatmp
        infopopcheck2 = "true"
%>
<style>
.popup-area {
    z-index: 99999;
    float: left;
    position: relative;
    max-width: 97%;
    background: #fff;
    border: 1px solid #222;
}
.popup-header {
    padding: 20px;
    padding-bottom: 0;
}
.popup-title {
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ddd;
    font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.popup-contents {
    height: 100%;
    padding: 10px;
}
.popup-footer {
    display: table;
    position: relative;
    width: 100%;
}
.popup-footer-label {
    display: table-cell;
    width: 50%;
    padding: 10px;
    font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;
    font-size: 14px !important;
    font-style: normal;
    text-align: center;
    text-shadow: none;
    color: #fff;
}
.popup-footer-close {
    border-top: 1px solid #222;
    color: #222 !important;
}
</style>
<div id="pop_close_1" class="layerPopupArea" style="display:none;">
  <div id="1" class="popup-area" style="width: 550px;">
    <div class="popup-main">
      <div class="popup-header">
        <h4 class="popup-title"><b>강좌 운영 플랫폼 이동 안내</b></h4>
      </div>
      <div class="popup-contents">
        <div style="width:100%">
            해당 강좌는 10월 9일까지 기존 플랫폼에서 학습이 가능하며<br>
            이후에는 신규 플랫폼에서 학습할 수 있도록 지원 예정입니다.<br><br>
            지금까지 기존 플랫폼에서 수강한 이력은 이관되어 반영될 예정이며<br>
            별도의 회원가입이나 수강신청 절차 없이 신규 플랫폼에서 학습이 가능합니다.<br>
            (다만, 수강 이력 이관 기간동안 일시적 수강 중단이 발생할 수 있습니다.)<br><br>
            강좌 수강에 불편함이 없도록 최선을 다하겠습니다.<br>
            데이터 이관에 대한 검증이나 시스템 관련 문의사항이 있으실 경우<br>
            평생학습시스템구축실로 부탁드립니다.<br><br>
            *시스템문의: 국가평생교육진흥원 평생학습시스템구축실 d_kmooc@nile.or.kr<br>
        </div>
      </div>

       <div class="popup-footer" style="background: black; text-align: right;">
         <label class="popup-footer-label" style="text-align: left; padding: 0 10px;">
           <input id="pop_close_1_chk" name="pop_close_1" type="checkbox">
           <span class="popup-footer-day"><b>1일간 열지 않음</b></span>
         </label>
         <span class="popup-footer-day popup-footer-close" style="padding: 0 10px; vertical-align: middle;">
             <a href="#none" title="닫기" class="infopopclose" style="color:#FFFFFF"><b>[ 닫기 ]</b></a>
         </span>
         </div>
       </div>
    </div>
</div>

<div id="pop_close_2" class="layerPopupArea" style="display:none;">
    <div id="1" class="popup-area" style="width: 550px;">
        <div class="popup-main">
            <div class="popup-header">
                <h4 class="popup-title"><b>강좌 운영 플랫폼 이용 안내</b></h4>
            </div>
            <div class="popup-contents">
                <div style="width:100%;word-break: keep-all;">
                해당 강좌는 현재 신규 플랫폼으로 이관되어, 신규 플랫폼에서 학습이 가능합니다.<br>
                *접속주소: <a href="https://new.kmooc.kr">new.kmooc.kr</a><br>
                기존 플랫폼에서 수강한 이력은 신규 플랫폼에서 확인 가능하며, 별도의 회원가입 절차 없이 기존 계정 그대로 이어서 수강이 가능합니다.<br><br>
                학습 데이터 이관 기준은 아래와 같습니다.<br>
                - 퀴즈(중간고사, 기말고사 포함): 성적(취득점수)만 이관<br>
                - 과제, 토론, 게시글 : 제출 내역 및 성적(총점)만 이관<br>
                - 기존 플랫폼과 신규 플랫폼 양쪽에서 수강한 경우: 신규 플랫폼 기준으로 이관<br><br>
                [자주 묻는 질문]<br>
                Q. 전체 다 이관이 되지 않았어요!<br>
                A. 기존 플랫폼과 신규 플랫폼 모두 수강신청이 된 경우에는 이관 대상에 포함하지 않았습니다.<br>
                Q. 성적이 이관되지 않았어요!<br>
                A.  강의실 진입 후 &lt 좌측 성적부&gt 내 성적 확인부탁드려요. 이관 시에는 '성적'만을 이관하였기 때문에 응시횟수 및 체크박스에는 반영되어있지 않습니다.<br><br>
                *문의: 국가평생교육진흥원 평생학습시스템구축실(d_kmooc@nile.or.kr)<br>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 02-3780-9771,9772,9758<br>
                </div>
            </div>

            <div class="popup-footer" style="background: black; text-align: right;">
                <span class="popup-footer-day popup-footer-close" style="padding: 0 10px; vertical-align: middle;">
                    <a href="#none" title="닫기" class="infopopclose2" style="color:#FFFFFF"><b>[ 확인 ]</b></a>
                </span>
            </div>
        </div>
    </div>
</div>


<div id="pop_close_3" class="layerPopupArea" style="display:none;">
    <div id="3" class="popup-area" style="width: 550px;">
        <div class="popup-main">
            <div class="popup-header">
                <h4 class="popup-title"><b>강좌 운영 플랫폼 이용 안내</b></h4>
            </div>
            <div class="popup-contents">
                <div style="width:100%;word-break: keep-all;">
                해당 강좌는 신규 플랫폼에서 진행하는 강좌입니다.<br>
                *접속주소: <a href="https://new.kmooc.kr">new.kmooc.kr</a><br><br>
                별도의 회원가입 없이 기존 K-MOOC 계정정보 그대로 로그인이 가능하며,<br>
                수강신청하신 내용은 &lt 내강의실 &gt에서 확인 가능합니다.<br>
                신규 플랫폼에서 수강 부탁드립니다.<br><br>
                *문의: 국가평생교육진흥원 평생학습시스템구축실(d_kmooc@nile.or.kr)로 문의 부탁드립니다.<br>
                </div>
            </div>

            <div class="popup-footer" style="background: black; text-align: right;">
                <span class="popup-footer-day popup-footer-close" style="padding: 0 10px; vertical-align: middle;">
                    <a href="#none" title="닫기" class="infopopclose3" style="color:#FFFFFF"><b>[ 확인 ]</b></a>
                </span>
            </div>
        </div>
    </div>
</div>

<div id="pop_close_4" class="layerPopupArea" style="display:none;">
    <div id="4" class="popup-area" style="width: 550px;">
        <div class="popup-main">
            <div class="popup-header">
                <h4 class="popup-title"><b>강좌 운영 플랫폼 이용 안내</b></h4>
            </div>
            <div class="popup-contents">
                <div style="width:100%;word-break: keep-all;">
                해당 강좌는 10월 25일(수)부터 신규플랫폼에서 정상 수강이 가능합니다.<br>
                현재 데이터 이관 진행 중으로 학습이 불가한 점 양해 부탁드립니다.<br>
                신규 플랫폼 주소: <a href="https://new.kmooc.kr">K-MOOC</a><br><br>
                지금까지 기존 플랫폼에서 수강한 이력은 이관되어 반영될 예정이며<br>
                별도의 회원가입이나 수강신청 절차 없이 신규 플랫폼에서 이어서 학습이 가능합니다.<br><br>
                학습 데이터 이관 기준은 아래와 같습니다.<br>
                퀴즈(중간고사, 기말고사 포함): 성적(취득점수)만 이관<br><br>
                시스템 및 데이터 검증과 관련한 추가적인 문의사항은<br>
                국가평생교육진흥원 평생학습시스템구축실로 부탁드립니다.<br><br>
                *문의: 평생학습시스템구축실<br>(d_kmooc@nile.or.kr ☎02-3780-9771,9772,9758)<br>
                </div>
            </div>

            <div class="popup-footer" style="background: black; text-align: right;">
                <span class="popup-footer-day popup-footer-close" style="padding: 0 10px; vertical-align: middle;">
                    <a href="#none" title="닫기" class="infopopclose4" style="color:#FFFFFF"><b>[ 확인 ]</b></a>
                </span>
            </div>
        </div>
    </div>
</div>
<script>
var infopopstatus = "${infopopcheck}";
var infopopstatus2 = "${infopopcheck2}";
var infopopstatus3 = "${infopopcheck3}";
var issuperuser = "${user.is_superuser}"
$(window).ready(function(){
    // if (issuperuser != "True") {
        if (infopopstatus == "true") {
            var today = new Date();
            var year = today.getFullYear();
            var month = today.getMonth() + 1;
            var date = today.getDate();
            date = (date < 10) ? '0' + date : date;
            var datevalue = year + "" + month + "" + date;

            if (datevalue >= 20231010) {
                $(".navbar-expand").html("");
                $(".page-content-container").html("<div style='height:300px'>&nbsp;</div>");
                $(".infopopclose2").on("click", function () {
                    window.history.back();
                });
                $("#pop_close_2").show();
            } else {
                $(".infopopclose").on("click", function () {
                    if ($("#pop_close_1_chk").is(":checked")) {
                        setCookie("info1", "done", "1");
                    }
                    $(".layerPopupArea").hide();
                });

                cookiedata = document.cookie;
                if (cookiedata.indexOf("info1=done") < 0) {
                    $("#pop_close_1").show();
                } else {
                    $("#pop_close_1").hide();
                }
            }
        } else if (infopopstatus2 == "true") {
            $(".navbar-expand").html("");
            $(".page-content-container").html("<div style='height:300px'>&nbsp;</div>");
            $("#pop_close_3").show();
            $(".infopopclose3").on("click", function () {
                window.history.back();
            });
        } else if (infopopstatus3 == "true") {
            $(".navbar-expand").html("");
            $(".page-content-container").html("<div style='height:300px'>&nbsp;</div>");
            $("#pop_close_4").show();
            $(".infopopclose4").on("click", function () {
                window.history.back();
            });
        }
    // }
});

function setCookie(name, value, expiredays) {
    var todayDate = new Date();
    if (expiredays == '0') {
        expiredays = '999';
    }
    todayDate.setDate(todayDate.getDate() + Number(expiredays));
    document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";";
}
</script>
        
% if include_special_exams is not UNDEFINED and include_special_exams:
    <%static:js group='proctoring'/>
    % for template_name in ["proctored-exam-status"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="courseware/${template_name}.underscore" />
        </script>
    % endfor
    <div class="proctored_exam_status"></div>
% endif

% if disable_tabs is UNDEFINED or not disable_tabs:
    <%
    tab_list = get_course_tab_list(request, course)
    %>
    % if uses_bootstrap:
        <nav class="navbar course-tabs pb-0 navbar-expand" aria-label="${_('Course')}">
            <ul class="navbar-nav mr-auto">
                % for tab in tab_list:
                    <%
                    tab_is_active = tab.tab_id in (active_page, default_tab)
                    %>
                    <li class="nav-item ${'active' if tab_is_active else ''}">
                        <a href="${tab.link_func(course, reverse)}" class="nav-link" title="${'현재탭' if tab_is_active else ''}">
                            ${_(tab.name)}
                            % if tab_is_active:
                                <span class="sr-only"> </span>
##                             ${_('current location')}
                            %endif
                            % if tab_image:
                                ## Translators: 'needs attention' is an alternative string for the
                                ## notification image that indicates the tab "needs attention".
                                <img src="${tab_image}" alt="${_('needs attention')}" />
                            %endif
                        </a>
                    </li>
                % endfor
            </ul>
        </nav>
    % else:
        <nav class="${active_page} wrapper-course-material" aria-label="${_('Course Material')}">
            <div class="course-material">
                <%
                tabs_tmpl = static.get_template_path('/courseware/tabs.html')
                %>
                <ol class="tabs course-tabs">
                    <%include file="${tabs_tmpl}" args="tab_list=tab_list,active_page=active_page,default_tab=default_tab,tab_image=tab_image" />
                    <%block name="extratabs" />
                </ol>
            </div>
        </nav>
    % endif
%endif
