<!-- sciprt (write) -->
<script>
$(document).ready(function () {
    $("#review_write_submit").click(function(){
        write_review();
    });
});

function write_review(){
    $.post('/courses/${course_id}/about',
    {
        'review_rating':$("input[name=review_rating]:checked").val(),
        'review_data':$("#review_write_area").val(),
        'csrfmiddlewaretoken':$("#review_token").val(),
        'write_switch':1
    },function(data){
        if(data.stat == 'success'){
            $(".review_own").append(data.html2);
            $(".scrollbar").prepend(data.html);
            $(".review_write").hide();
        }
    }, 'json');
}
</script>

<div class = review_write>
    <input id="review_token" type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
    <div id="review_write_star">
	<fieldset class="rating">
	    <input 
                type="radio" 
                id="star5" 
                name="review_rating" 
                value="5"
            />
            <label 
                class = "full"
                for="star5" 
                id='noclose' 
                title="Awesome - 5 stars">
            </label>
	    <input 
                type="radio" 
                id="star4" 
                name="review_rating" 
                value="4" 
            />
            <label 
                class = "full" 
                for="star4" 
                id='noclose' 
                title="Pretty good - 4 stars">
            </label>
	    <input 
                type="radio" 
                id="star3" 
                name="review_rating" 
                value="3" 
             />
             <label 
                 class = "full" 
                 for="star3" 
                 id='noclose' 
                 title="Meh - 3 stars">
            </label>
	    <input 
                 type="radio" 
                 id="star2" 
                 name="review_rating" 
                 value="2"
             />
            <label 
                 class = "full" 
                 for="star2" 
                 id='noclose' 
                 title="Kinda bad - 2 stars">
             </label>
	    <input 
                 type="radio" 
                 id="star1" 
                 name="review_rating" 
                 value="1" 
             />
             <label 
                 class = "full" 
                 for="star1" 
                 id='noclose' 
                 title="Sucks big time - 1 star">
             </label>
	</fieldset>
        <button type="button" id="review_write_submit">Write</button>
    </div>
    <div class="form-group" id="noclose">
        <textarea class="form-control" id="review_write_area" rows="5" name="review_data"></textarea>
        <input id="test" type="hidden" name="write_switch" value="1">
    </div>
</div>
