<div class = review_write>
<form action="http://192.168.33.20:8000/courses/${course_id}/about" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
    <div id="review_write_star">
	<fieldset class="rating">
	    <input 
                type="radio" 
                id="star5" 
                name="review_rating" 
                value="5"
            />
            <label 
                class = "full"
                for="star5" 
                id='noclose' 
                title="Awesome - 5 stars">
            </label>
	    <input 
                type="radio" 
                id="star4" 
                name="review_rating" 
                value="4" 
            />
            <label 
                class = "full" 
                for="star4" 
                id='noclose' 
                title="Pretty good - 4 stars">
            </label>
	    <input 
                type="radio" 
                id="star3" 
                name="review_rating" 
                value="3" 
             />
             <label 
                 class = "full" 
                 for="star3" 
                 id='noclose' 
                 title="Meh - 3 stars">
            </label>
	    <input 
                 type="radio" 
                 id="star2" 
                 name="review_rating" 
                 value="2"
             />
            <label 
                 class = "full" 
                 for="star2" 
                 id='noclose' 
                 title="Kinda bad - 2 stars">
             </label>
	    <input 
                 type="radio" 
                 id="star1" 
                 name="review_rating" 
                 value="1" 
             />
             <label 
                 class = "full" 
                 for="star1" 
                 id='noclose' 
                 title="Sucks big time - 1 star">
             </label>
	</fieldset>
        <button type="submit" id="review_write_submit">Write</button>
    </div>
    <div class="form-group" id="noclose">
        <textarea class="form-control" id="review_write_area" rows="5" name="review_data"></textarea>
        <input id="test" type="hidden" name="write_switch" value="1">
    </div>
</form>
</div>
