<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
## <%page expression_filter="h"/>
## <%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy")}</%block>
<style>
  .underline-text {
    font-size: 1.08rem; font-weight: bold; text-decoration-line: underline;
  }
  .underline-text1 {
    font-size: 1.08rem; padding-left: 10px; font-weight: bold; text-decoration-line: underline;
  }
  .underline-text2 {
    font-size: 1.08rem; padding-left: 20px; font-weight: bold; text-decoration-line: underline;
  }
</style>
<main id="main" aria-label="Content" tabindex="-1">

    <section class="container rule">
        <!-- [s]  -->
        <h2>국가평생교육진흥원 K-MOOC 홈페이지 개인정보처리방침</h2>
        <section class="rule-box">
            <p>K-MOOC 홈페이지(이하 “K-MOOC”이라 함)는 교육부 출연기관인 국가평생교육진흥원(이하 “진흥원”이라 함)에서 운영하고 있는 시스템으로 모든 개인정보는 관련 법령에 근거하여 수집ㆍ보유 및 처리되고 있습니다.<br><br>
「개인정보 보호법」은 이러한 개인정보의 취급에 대한 일반적인 규범을 제시하고 있으며, 진흥원은 이러한 법령의 규정에 따라 수집·보유 및 처리하는 개인정보를 공공업무의 적절한 수행과 이용자의 권익을 보호하기 위해 적법하고 적정하게 취급할 것입니다.<br><br>
또한, K-MOOC는 관련 법령에서 규정한 바에 따라 보유하고 있는 개인정보에 대한 열람, 정정·삭제, 처리정지 요구 등 개인정보를 처리 시 이용자의 권익을 존중하며, 이용자는 이러한 법령상 권익의 침해 등에 대하여 행정심판법에서 정하는 바에 따라 행정심판을 청구할 수 있습니다.<br><br>
K-MOOC는 「개인정보 보호법」 제30조에 따라 정보주체의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 개인정보 처리방침을 수립·공개하고 있습니다. <br><br>
            </p>
##             <p>라벨링 이미지 추가 </p>
<div class="row">
    <div class="col-md" style="text-align: center;">
        <h3> 【 주요 개인정보 처리 표시(라벨링) 】</h3>
    </div>
</div>
            <div class="table-box" style="width: 95%; margin: 0 auto;" >
                <table>
                    <caption>개인정보 파일의 처리</caption>
                    <colgroup>
                        <col width="33%"/>
                        <col width="33%"/>
                        <col width="33%"/>

                    </colgroup>
                    <thead>
                        <tr>
##                             <th scope="col" class="gray" style="padding: 5px;">수집항목</th>
##                             <th scope="col" class="gray" style="padding: 5px;">처리위탁</th>
##                             <th scope="col" class="gray" style="padding: 5px;">개인정보보호담당자</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="ac td-middle" style="padding-top: 0px;padding-bottom: 20px;"><br><img src="${STATIC_URL}images/privacy-images/img_personal_information01.png" alt="수집항목"
                                 style="width: 40%"/></td>
                            <td class="ac td-middle" style="padding-top: 0px;padding-bottom: 20px;"><br><img src="${STATIC_URL}images/privacy-images/img_personal_information03.png" alt="처리위탁"
                                 style="width: 40%"/></td>
                            <td class="ac td-middle" style="padding-top: 0px;padding-bottom: 20px;"><br><img src="${STATIC_URL}images/privacy-images/img_personal_information04.png" alt="개인정보보호담당자"
                                 style="width: 40%"/></td>
                        </tr>

                            <td class="ac td-middle gray" style="padding: 5px;">수집항목</td>
                            <td class="ac td-middle gray" style="padding: 5px;">처리위탁</td>
                            <td class="ac td-middle gray" style="padding: 5px;">개인정보보호담당자</td>

                        <tr>
                            <td class="ac td-middle">전자우편주소, 보조전자우편주소, 성명, 아이디, 비밀번호, 성별, 출생연도, 도시, 국가, 거주지, 최종학력, 가입목적, 학습이력, 접속IP주소</td>
                            <td class="ac td-middle">(주)유비온, 서울대학교 등 171개</td>
                            <td class="ac td-middle"><span>K-MOOC 콜센터 1811-3118</span></td>

                        </tr>
                    </tbody>
                </table>
            </div>



            <li>※ 세부항목은 개인정보 처리방침 본문에서 확인</li>
            </br>

            <div class="table-box">
                <table>
                <caption>
                        개인정보처리방침 항목
                    </caption>
                    <colgroup>
                        <col width="50%"/>
                        <col width="50%"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="#no1" style="text-decoration-line: underline">제1조(개인정보의 처리 목적 및 개인정보파일 등록 현황)</a><br/>
                                <a href="#no2" style="text-decoration-line: underline">제2조(개인정보의 처리 및 보유 기간)</a><br/>
                                <a href="#no3" style="text-decoration-line: underline">제3조(처리하는 개인정보 항목)</a><br/>
                                <a href="#no4" style="text-decoration-line: underline">제4조(개인정보의 제3자 제공)</a><br/>
                                <a href="#no5" style="text-decoration-line: underline">제5조(개인정보 처리의 위탁)</a><br/>
                                <a href="#no6" style="text-decoration-line: underline">제6조(개인정보 파기 절차 및 방법)</a><br/>
                                <a href="#no7" style="text-decoration-line: underline">제7조(정보주체와 법정대리인의 권리∙의무 및 행사방법)</a><br/>
                            </td>
                            <td>
                                <a href="#no8" style="text-decoration-line: underline">제8조(개인정보의 안전성 확보 조치)</a><br/>
                                <a href="#no9" style="text-decoration-line: underline">제9조(개인정보를 자동으로 수집하는 장치의 설치∙운영 및 그 거부에 관한 사항)</a><br/>
                                <a href="#no10" style="text-decoration-line: underline">제10조(개인정보 보호책임자)</a><br/>
                                <a href="#no11" style="text-decoration-line: underline">제11조(개인정보 열람청구)</a><br/>
                                <a href="#no12" style="text-decoration-line: underline">제12조(권익침해 구제방법)</a><br/>
                                <a href="#no13" style="text-decoration-line: underline">제13조(개인정보 관리수준진단 결과)</a><br/>
                                <a href="#no14" style="text-decoration-line: underline">제14조(개인정보 처리방침의 변경)</a><br/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
<div class="row">
    <div class="col-md-10">
        <h3 id="no1"><img src="${STATIC_URL}images/privacy-images/01.png" alt="제1조" style="width: 5%"/> 제1조 (개인정보의 처리 목적 및 개인정보파일 등록 현황)</h3>
    </div>
</div>
           ## <h3 id="no1">제1조 (개인정보의 처리 목적 및 개인정보파일 등록 현황)</h3>
            <ol>
                <li>① K-MOOC는 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 「개인정보 보호법」 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.
                    <ol>
##                         <li>
##                             <span class="underline-text">1. 회원 가입 및 관리, 서비스 제공 및 개선</span><br>
##                             <span class="underline-text">K-MOOC 회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 서비스 부정이용 방지, 만 14세 미만 아동의 개인정보 처리 시 법정대리인의 동의여부 확인,
##                                 서비스 개선 방향 도출을 위한 통계 산출 및 K-MOOC 학점은행과정 연구 수행과 홍보ㆍ설문, 각종 고지·통지 등을 목적으로 개인정보를 처리합니다. </span>
##                         </li>
##                         <li>
##                             <span class="underline-text">2. 민원사무 처리</span><br>
##                             <span class="underline-text">민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락ㆍ통지, 처리결과 통보 등의 목적으로 개인정보를 처리합니다.</span>
##                         </li>
##                         <li>
##                             <span class="underline-text">3. 학습이력관리 및 이수증 고지의 필요성</span><br>
##                             <span class="underline-text">K-MOOC를 통해 학습한 이력 및 이수증을 제공하기 위해 개인정보를 처리합니다.</span>
##                         </li>

                        <li>
                            <span>1. 회원 가입 및 관리, 서비스 제공 및 개선</span><br>
                            <span>K-MOOC 회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 서비스 부정이용 방지, 만 14세 미만 아동의 개인정보 처리 시 법정대리인의 동의여부 확인,
                            서비스 개선 방향 도출을 위한 통계 산출 및 K-MOOC 학점은행과정 연구 수행과 홍보ㆍ설문, 각종 고지·통지 등을 목적으로 개인정보를 처리합니다. </span>
                        </li>
                        <li>
                            <span>2. 민원사무 처리</span><br>
                            <span>민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락ㆍ통지, 처리결과 통보 등의 목적으로 개인정보를 처리합니다.</span>
                        </li>
                        <li>
                            <span>3. 학습이력관리 및 이수증 고지의 필요성</span><br>
                            <span>K-MOOC를 통해 학습한 이력 및 이수증을 제공하기 위해 개인정보를 처리합니다.</span>
                        </li>
                    </ol>
                </li>
                <li>② K-MOOC는 「개인정보 보호법」 제32조에 따라 등록ㆍ공개하는 개인정보파일의 처리목적은 다음과 같습니다.</li>
            </ol>
            <div class="table-box">
                <table>
                    <caption>개인정보 파일의 처리</caption>
                    <colgroup>
                        <col width="15%"/>
                        <col width="15%"/>
                        <col width="12%"/>
                        <col width="*"/>
                        <col width="15%"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col" class="gray" style="padding: 5px;">개인정보파일</th>
                            <th scope="col" class="gray" style="padding: 5px;">운영근거</th>
                            <th scope="col" class="gray" style="padding: 5px;">처리목적</th>
                            <th scope="col" class="gray" style="padding: 5px;">개인정보파일에 기록되는 개인정보의 항목</th>
                            <th scope="col" class="gray" style="padding: 5px;">보유기간</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="ac td-middle"><br>K-MOOC<br>회원명부</td>
                            <td class="ac td-middle">정보주체 동의</td>
##                             <td class="ac td-middle"><span class="underline-text">회원 가입 및 관리,<br>서비스 제공<br>및 개선</span></td>

                            <td class="ac td-middle"><span>회원 가입 및 관리,<br>서비스 제공<br>및 개선</span></td>
                            <td class="td-middle">
                                - 필수 : 전자우편주소, 성명, 아이디, 비밀번호, 성별, 출생연도<br/>
                                - 선택 : 보조전자우편주소, 도시, 국가, 거주지, 최종학력, 가입목적
                            </td>
##                             <td class="ac td-middle"><span class="underline-text">회원탈퇴 및 휴면계정<br/>전환 후 1개월까지<br/>(2년마다 재동의)</span></td>

                            <td class="ac td-middle"><span>회원탈퇴 및 휴면계정<br/>전환 후 1개월까지<br/>(2년마다 재동의)</span></td>
                        </tr>
                        <tr>
                            <td class="ac td-middle">K-MOOC<br>민원접수 및 처리내역</td>
                            <td class="ac td-middle">정보주체 동의</td>
##                             <td class="ac td-middle"><span class="underline-text">민원 사무 처리</span></td>
                            <td class="ac td-middle"><span>민원 사무 처리</span></td>
                            <td class="td-middle">
                                - 필수 : 전자우편주소
                            </td>
##                             <td class="ac td-middle"><span class="underline-text">민원처리 종료 후 <br/>3년</span></td>
                            <td class="ac td-middle"><span>민원처리 종료 후 <br/>3년</span></td>
                        </tr>
                        <tr>
                            <td class="ac td-middle">K-MOOC<br>회원학습이력정보</td>
                            <td class="ac td-middle">정보주체 동의</td>
##                             <td class="ac td-middle"><span class="underline-text">학습이력관리<br/>및 이수증<br/>고지</span></td>
                            <td class="ac td-middle"><span>학습이력관리<br/>및 이수증 고지</span></td>
                            <td class="td-middle">
                                - 필수 : 전자우편주소, 아이디, 학습이력, 접속 IP주소
                            </td>
##                             <td class="ac td-middle"><span class="underline-text">준영구</span></td>
                            <td class="ac td-middle"><span>준영구</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            ##<p>※ 진흥원은 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의 받은 개인정보 보유·이용기간 내에서 개인정보를 처리·보유합니다.</p>

<div class="row">
    <div class="col-md-10">
        <h3 id="no2"><img src="${STATIC_URL}images/privacy-images/02.png" alt="제2조" style="width: 5%"/> 제2조 (개인정보의 처리 및 보유기간)</h3>
    </div>
</div>
##            <h3 id="no2">제2조 (개인정보의 처리 및 보유기간)</h3>
##             <p>① K-MOOC는 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의 받은 개인정보 보유·이용기간 내에서 개인정보를 처리·보유합니다.</p>
##             <p>② 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.</p>
##                 <li> <span class="underline-text">1. K-MOOC 회원명부 : 회원탈퇴 및 휴면계정 전환 후 1개월까지 (2년마다 재동의)</span></li>
##                 <li> <span class="underline-text">2. K-MOOC 민원접수 및 처리내역 : 민원처리 종료 후 3년*까지</span></li>
##                 <li> <span class="underline-text">* 보유 기간 근거 : 진흥원 내규 (문서관리규정)</span></li>
##                 <li> <span class="underline-text">3. K-MOOC 회원학습이력정보 : 준영구</span></li>
##             <p>③ 제2항의 보유 기간에도 불구하고 다음과 같은 사유에 해당하는 경우에는 해당 사유 종료시까지 개인정보를 보유합니다.</p>
##             <li><span class="underline-text">1. 관계 법령 위반에 따른 수사·조사 등이 진행중인 경우에는 해당 수사, 조사 종료시까지</span></li>
##             <li><span class="underline-text">2. 홈페이지 이용에 따른 채권, 채무관계 잔존시에는 해당 채권, 채무관계 정산시까지</span></li>
            <ol>
            <li>
            <li>① K-MOOC는 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의 받은 개인정보 보유·이용기간 내에서 개인정보를 처리·보유합니다.</li>
            <li>② 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.</li>
                <ol>
                    <li>
                        <ol>
                            <li>1. K-MOOC 회원명부 : 회원탈퇴 및 휴면계정 전환 후 1개월까지 (2년마다 재동의)</li>
                            <li>2. K-MOOC 민원접수 및 처리내역 : 민원처리 종료 후 3년*까지</li>
                            <ol>
                                <li>
                                    <ol>
                                    <li>* 보유 기간 근거 : 진흥원 내규 (문서관리규정)</li>
                                    </ol>
                                </li>
                            </ol>
                            <li>3. K-MOOC 회원학습이력정보 : 준영구</li>
                        </ol>
                    </li>
                </ol>

            <li>③ 제2항의 보유 기간에도 불구하고 다음과 같은 사유에 해당하는 경우에는 해당 사유 종료시까지 개인정보를 보유합니다.</li>
                <ol>
                    <li>
                        <ol>
                            <li>1. 관계 법령 위반에 따른 수사·조사 등이 진행중인 경우에는 해당 수사, 조사 종료시까지</li>
                            <li>2. 홈페이지 이용에 따른 채권, 채무관계 잔존시에는 해당 채권, 채무관계 정산시까지</li>
                        </ol>
                    </li>
                </ol>
            </li>
            </ol>
##             <ol style="padding-left: 1.2em;">
##                 <li><span class="underline-text">1. K-MOOC 회원명부 : 회원탈퇴 및 휴면계정 전환 후 1개월까지 (2년마다 재동의)</span>
## ##                 <ol>
## ##                     <li> <span class="underline-text">1) 관계 법령 위반에 따른 수사ㆍ조사 등이 진행 중인 경우에는 해당 수사ㆍ조사 종료 시까지</span></li>
## ##                     <li> <span class="underline-text">2) 홈페이지 이용에 따른 채권ㆍ채무관계 잔존 시에는 해당 채권ㆍ채무관계 정산 시까지</span></li>
## ##                 </ol>
##                 </li>
##                 <li><span class="underline-text">② 민원사무 처리 : 민원처리 종료 후 3년</span> </li>
##             </ol>

<div class="row">
    <div class="col-md-10">
        <h3 id="no3"><img src="${STATIC_URL}images/privacy-images/03.png" alt="제3조" style="width: 5%"/> 제3조 (처리하는 개인정보 항목)</h3>
    </div>
</div>
##            <h3 id="no3">제3조 (처리하는 개인정보 항목)</h3>
            <ol>
            <li>
            <li>K-MOOC는 다음의 개인정보 항목을 처리하고 있습니다.</li>
            <li>① K-MOOC 회원명부</li>
                <ol>
                    <li>
                        <ol>
                            <li>1. 필수항목 : 전자우편주소, 성명, 아이디, 비밀번호, 성별, 출생연도</li>
                            <li>2. 선택항목 : 보조전자우편주소, 도시, 국가, 거주지, 최종학력, 가입목적 </br> (만 14세미만일 경우: 법정대리인 동의(휴대폰번호 인증))</li>
                        </ol>
                    </li>
                </ol>
##                 <li><span class="underline-text">1. 필수항목 : 전자우편주소, 성명, 아이디, 비밀번호, 성별, 출생연도</span></li>
##                 <li><span class="underline-text">2. 선택항목 : 보조전자우편주소, 도시, 국가, 거주지, 최종학력, 가입목적</br> (만 14세미만일 경우: 법정대리인 동의(휴대폰번호 인증))</span></li>
            <li>② K-MOOC 민원접수 및 처리내역</li>
                <ol>
                    <li>
                        <ol>
                            <li>  1. 필수항목 : 전자우편주소</li>
                        </ol>
                    </li>
                </ol>
##                 <li><span class="underline-text">1. 필수항목 : 전자우편주소</span></li>
            <li>③ K-MOOC 회원학습이력정보</li>
                <ol>
                    <li>
                        <ol>
                            <li> 1. 필수항목 : 전자우편주소, 아이디, 학습이력, 접속 IP주소</li>
                        </ol>
                    </li>
                </ol>
##                 <li><span class="underline-text">1. 필수항목 : 전자우편주소, 아이디, 학습이력, 접속 IP주소</span></li>
            <li>④ 인터넷 서비스 이용과정에서 아래 개인정보 항목이 자동으로 생성되어 수집될 수 있습니다.</li>
                <ol>
                    <li>
                        <ol>
                            <li>   1. 쿠키, 서비스 이용기록, 방문기록, 불량 이용기록 등</li>
                        </ol>
                    </li>
                </ol>
##                 <li><span class="underline-text">1. 쿠키, 서비스 이용기록, 방문기록, 불량 이용기록 등</span></li>
<div class="row">
    <div class="col-md-10">
        <h3 id="no4"><img src="${STATIC_URL}images/privacy-images/04.png" alt="제4조" style="width: 5%"/> 제4조 (개인정보의 제3자 제공)</h3>
    </div>
</div>
 ##           <h3 id="no4">제4조 (개인정보의 제3자 제공)</h3>
            <li>① K-MOOC는 기본적으로 개인정보를 제1조(개인정보의 처리 목적 및 개인정보파일 등록 현황)에서 명시한 범위내에서만 처리하며, 정보주체의 동의, 법률의 특별한 규정 등 「개인정보 보호법」 제17조 및 제18조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다. </li>

            </li>
            </ol>

<div class="row">
    <div class="col-md-10">
        <h3 id="no5"><img src="${STATIC_URL}images/privacy-images/05.png" alt="제5조" style="width: 5%"/> 제5조 (개인정보 처리의 위탁)</h3>
    </div>
</div>
##             <h3 id="no5">제5조 (개인정보 처리의 위탁)</h3>
            <ol>
                <li>① K-MOOC는 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다.<br/>
                    <a href="https://admin.kmooc.kr/common/file_download?id=3912" target="_blank">
                        <input type="button" value="개인정보 처리업무 위탁 현황 보기" title="개인정보 처리업무 위탁 현황 보기">
                    </a>
                </li>
                <li>② K-MOOC는 위탁계약 체결 시 「개인정보 보호법」 제26조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 안전성 확보조치, 재위탁 제한, 수탁자에 대한 관리·감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.</li>
                <li>③ 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.</li>
            </ol>

<div class="row">
    <div class="col-md-10">
        <h3 id="no6"><img src="${STATIC_URL}images/privacy-images/06.png" alt="제6조" style="width: 5%"/> 제6조 (개인정보 파기 절차 및 방법)</h3>
    </div>
</div>
##            <h3 id="no6">제6조 (개인정보 파기 절차 및 방법)</h3>
            <ol>
                <li>① K-MOOC는 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체 없이 해당 개인정보를 파기합니다.</li>
                <li>② 정보주체로부터 동의받은 개인정보 보유기간이 경과하거나 처리목적이 달성되었음에도 불구하고 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보(또는 개인정보파일)를 별도의 데이터베이스(DB)로 옮기거나 보관장소를 달리하여 보존합니다.</li>
                <li>③ 개인정보 파기의 절차 및 방법은 다음과 같습니다.
                    <ol class="dash">
                        <li>1. 파기절차</li>
                        <li>K-MOOC는 파기하여야 하는 개인정보(또는 개인정보파일)에 대해 개인정보 파기계획을 수립하여 파기합니다. K-MOOC는 파기 사유가 발생한 개인정보(또는 개인정보파일)를 선정하고, K-MOOC 개인정보보호책임자의 승인을 받아 개인정보(또는 개인정보파일)를 파기합니다.</li>
                        <li>2. 파기방법</li>
                        <li>K-MOOC는 전자적 파일 형태로 기록·저장된 개인정보는 기록을 재생할 수 없도록 파기하며, 종이 문서에 기록·저장된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다.</li>
                    </ol>
                </li>

            </ol>
<div class="row">
    <div class="col-md-10">
        <h3 id="no7"><img src="${STATIC_URL}images/privacy-images/07.png" alt="제7조" style="width: 5%"/> 제7조 (정보주체와 법정대리인의 권리ㆍ의무 및 행사방법)</h3>
    </div>
</div>
##            <h3 id="no7">제7조 (정보주체와 법정대리인의 권리ㆍ의무 및 행사방법)</h3>
            <ol>
                <li>① 정보주체는 K-MOOC에 대해 언제든지 개인정보 열람·정정·삭제·처리정지 요구 등의 권리를 행사할 수 있습니다.</br> ※ 만 14세 미만 아동에 관한 개인정보의 열람등 요구는 법정대리인이 직접 해야 하며, 만 14세 이상의 미성년자인 정보주체는 정보주체의 개인정보에 관하여 미성년자 본인이 권리를 행사하거나 법정대리인을 통하여 권리를 행사할 수도 있습니다.</li>
                <li>② 권리 행사는 K-MOOC에 대해「개인정보 보호법」 시행령 제41조 제1항에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며, K-MOOC는 이에 대해 지체없이 조치하겠습니다.</li>
                <li>③ 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수도 있습니다. 이 경우 “개인정보 처리 방법에 관한 고시(제2020-7호)” 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.</li>
                <li>④ 개인정보 열람 및 처리정지 요구는 「개인정보 보호법」 제35조 제4항, 제37조 제2항에 의하여 정보주체의 권리가 제한 될 수 있습니다.</li>
                <li>⑤ 개인정보의 정정 및 삭제 요구는 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우에는 그 삭제를 요구할 수 없습니다. </li>
                <li>⑥ K-MOOC 정보주체 권리에 따른 열람의 요구, 정정·삭제의 요구, 처리정지의 요구 시 열람 등 요구를 한 자가 본인이거나 정당한 대리인인지를 확인합니다.</li>
            </ol>

<div class="row">
    <div class="col-md-10">
        <h3 id="no8"><img src="${STATIC_URL}images/privacy-images/08.png" alt="제8조" style="width: 5%"/> 제8조 (개인정보의 안전성 확보 조치)</h3>
    </div>
</div>
##            <h3 id="no8">제8조 (개인정보의 안전성 확보 조치)</h3>
            <li>K-MOOC는 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.</li>
                <ol>
                    <li>
                        <ol>
                            <li>1. 관리적 조치 : 내부관리계획 수립ㆍ시행, 정기적 직원 교육 등</li>
                            <li>2. 기술적 조치 : 개인정보처리시스템 등의 접근권한 관리, 접근통제시스템 설치, 고유식별정보 등의 암호화, 보안프로그램 설치</li>
                            <li>3. 물리적 조치 : 전산실, 자료보관실 등의 접근통제</li>
                        </ol>
                    </li>
                </ol>

<div class="row">
    <div class="col-md-10">
        <h3 id="no9"><img src="${STATIC_URL}images/privacy-images/09.png" alt="제9조" style="width: 5%"/> 제9조 (개인정보를 자동으로 수집하는 장치의 설치ㆍ운영 및 그 거부에 관한 사항)</h3>
    </div>
</div>
##            <h3 id="no9">제9조 (개인정보를 자동으로 수집하는 장치의 설치ㆍ운영 및 그 거부에 관한 사항)</h3>
            <ol>
                <li>① K-MOOC는 이용자에게 개별적인 맞춤서비스를 제공하기 위해 이용 정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를 사용합니다.</li>
                <li>② 쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 정보이며 이용자들의 PC 컴퓨터내의 하드디스크에 저장되기도 합니다.</li>
                <ol>
                    <li>
                        <ol>
                            <li>1. 쿠키의 사용목적 : 이용자가 방문한 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기검색어, 보안접속 여부 등을 파악하여 이용자에게 최적화된 정보 제공을 위해 사용됩니다.</li>
                            <li>2. 쿠키의 설치·운영 및 거부 : 웹브라우저 상단의 도구>인터넷 옵션>개인정보 메뉴의 옵션 설정을 통해 쿠키 저장을 거부 할 수 있습니다.</li>
                            <li>3. 쿠키 저장을 거부할 경우 맞춤형 서비스 이용에 어려움이 발생할 수 있습니다.</li>
                        </ol>
                    </li>
                </ol>
            </ol>

<div class="row">
    <div class="col-md-10">
        <h3 id="no10"><img src="${STATIC_URL}images/privacy-images/10.png" alt="제10조" style="width: 5%"/> 제10조 (개인정보 보호책임자)</h3>
    </div>
</div>
##            <h3 id="no10">제10조 (개인정보 보호책임자)</h3>
            <ol>
                <li>① K-MOOC는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.</li>
                <ol>
                    <li> ‣ 개인정보보호책임관</li>
                    <ol>
                        <li>
                            <ol>
                                <li>   - 성명 : 심한식</li>
                                <li>   - 직책 : 본부장</li>
                                <li>   - 연락처 : 1811-3118, info_kmooc@nile.or.kr </br>     ※ 개인정보보호 담당부서로 연결됩니다.</li>
                            </ol>
                        </li>
                    </ol>

                    <li> ‣ 부서 개인정보보호책임자</li>
                    <ol>
                        <li>
                            <ol>
                                <li> - 성명 : 박종오</li>
                                <li> - 직책 : 본부장</li>
                                <li> - 연락처 : 1811-3118, info_kmooc@nile.or.kr </br>     ※ 개인정보보호 담당부서로 연결됩니다.</li>
                            </ol>
                        </li>
                    </ol>

                    <li> ‣ 개인정보보호담당자</li>
                    <ol>
                        <li>
                            <ol>
                                <li> - 성명 : 김태홍</li>
                                <li> - 직책 : 실원</li>
                                <li> - 연락처 : 1811-3118, info_kmooc@nile.or.kr </br>     ※ 개인정보보호 담당부서로 연결됩니다.</li>
                            </ol>
                        </li>
                    </ol>
                </ol>
##                  <div class="table-box">
##                 <table>
##                     <caption>개인정보 파일의 처리</caption>
##                     <colgroup>
##                         <col width="*"/>
##                         <col width="24%"/>
##                         <col width="24%"/>
##                         <col width="24%"/>
##                     </colgroup>
##                     <tr>
##                         <th scope="col" class="gray" style="padding: 5px;">구분</th>
##                         <th scope="col" class="gray" style="padding: 5px;">성명</th>
##                         <th scope="col" class="gray" style="padding: 5px;">직책</th>
##                         <th scope="col" class="gray" style="padding: 5px;">연락처</th>
##                     </tr>
##                     <tr>
##                         <td style="padding: 5px;" class="ac td-middle">개인정보보호책임관</td>
##                         <td style="padding: 5px;" class="ac td-middle">심한식</td>
##                         <td style="padding: 5px;" class="ac td-middle">본부장</td>
##                         <td style="padding: 5px;" class="ac td-middle" rowspan="5">1811-3118, info_kmooc@nile.or.kr</br>※ 개인정보보호 담당부서로 연결됩니다. </td>
##                     </tr>
##
##                     <tr>
##                         <td style="padding: 5px;" class="ac td-middle">부서 개인정보보호책임자</td>
##                         <td style="padding: 5px;" class="ac td-middle">박종오</td>
##                         <td style="padding: 5px;" class="ac td-middle">본부장</td>
##
##                     </tr>
##
##                     <tr>
##                         <td style="padding: 5px;" class="ac td-middle">개인정보보호담당자</td>
##                         <td style="padding: 5px;" class="ac td-middle">김태홍</td>
##                         <td style="padding: 5px;" class="ac td-middle">실원</td>
##
##
##                     </tr>
##
##                 </table>
##             </div>
                <li>② 정보주체는 K-MOOC 서비스(또는 사업)를 이용하면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임관 및 담당부서로 문의할 수
                    있습니다. K-MOOC는 정보주체의 문의에 대해 지체없이 답변 및 처리해드릴 것입니다.
                </li>
            </ol>



<div class="row">
    <div class="col-md-10">
        <h3 id="no11"><img src="${STATIC_URL}images/privacy-images/11.png" alt="제11조" style="width: 5%"/> 제11조 (개인정보 열람청구)</h3>
    </div>
</div>
##            <h3 id="no11">제11조 (개인정보 열람청구)</h3>
            <ol>
                <li>① 정보주체는 「개인정보 보호법」 제35조에 따른 개인정보의 열람 청구를 아래의 부서에 할 수 있습니다. K-MOOC는 정보주체의 개인정보 열람청구가 신속하게 처리되도록 노력하겠습니다.
                <ol>
                    <li> ‣ 개인정보 열람청구 접수ㆍ처리부서</li>
                    <ol>
                        <li>
                            <ol>
                                <li>- 부서명 : 디지털평생교육본부 평생학습시스템구축실</li>
                                <li>- 담당자 : 김태홍</li>
                                <li>- 연락처 : 전화) 1811-3118 (평일 9:00~18:00 운영 (점심시간 12:00~13:00 제외)), 이메일) info_kmooc@nile.or.kr</li>
                            </ol>
                        </li>
                    </ol>
                </ol>
                </li>
            </ol>

<div class="row">
    <div class="col-md-10">
        <h3 id="no12"><img src="${STATIC_URL}images/privacy-images/12.png" alt="제12조" style="width: 5%"/> 제12조 (권익침해 구제방법)</h3>
    </div>
</div>
##            <h3 id="no12">제12조 (권익침해 구제방법))</h3>
            <ol>
                <li>① 정보주체는 개인정보침해로 인한 구제를 받기 위하여 개인정보분쟁조정위원회, 한국인터넷진흥원 개인정보침해신고센터 등에 분쟁해결이나 상담 등을 신청할 수 있습니다. 이 밖에 기타 개인정보침해의 신고, 상담에 대하여는 아래의 기관에 문의하시기 바랍니다.
                    <ol>
                        <li>1. 개인정보분쟁조정위원회 : (국번없이) 1833-6972 (www.kopico.go.kr)</li>
                        <li>2. 개인정보침해신고센터 : (국번없이) 118 (privacy.kisa.or.kr)</li>
                        <li>3. 대검찰청 : (국번없이) 1301 (www.spo.go.kr)</li>
                        <li>4. 경찰청 : (국번없이) 182 (ecrm.cyber.go.kr)</li>

                    </ol>
                </li>
                <li>② K-MOOC는 정보주체의 개인정보자기결정권을 보장하고, 개인정보침해로 인한 상담 및 피해 구제를 위해 노력하고 있으며, 신고나 상담이 필요한 경우 아래의 담당부서로 연락해 주시기 바랍니다.
                    <ol>
                    <li>‣ 개인정보보호 관련 고객 상담 및 신고</li>
                    <ol>
                        <li>
                            <ol>
                            <li> - 부서명 : 디지털평생교육본부 평생학습시스템구축실</li>
                            <li> - 담당자 : 김태홍</li>
                            <li> - 연락처 : 전화) 1811-3118 (평일 9:00~18:00 운영 (점심시간 12:00~13:00 제외)), 이메일) info_kmooc@nile.or.kr</li>
                            </ol>
                        </li>
                    </ol>
                </ol>
                </li>
                <li>③ 「개인정보 보호법」 제35조(개인정보의 열람), 제36조(개인정보의 정정·삭제), 제37조(개인정보의 처리정지 등)의 규정에 의한 요구에 대하여 공공기관의 장이 행한 처분 또는 부작위로
                    인하여 권리 또는 이익의 침해를 받은 자는 행정심판법이 정하는 바에 따라 행정심판을 청구할 수 있습니다.
                    <ol>
                        <li> ‣ 중앙행정심판위원회 : (국번없이) 110 (www.simpan.go.kr)</li>
                    </ol>
                </li>

            </ol>

<div class="row">
    <div class="col-md-10">
        <h3 id="no13"><img src="${STATIC_URL}images/privacy-images/13.png" alt="제13조" style="width: 5%"/> 제13조 (개인정보 관리수준진단 결과)</h3>
    </div>
</div>
##            <h3 id="no13">제13조 (개인정보 관리수준진단 결과)</h3>
            <ol>
                <li>① 진흥원은 정보주체의 개인정보를 안전하게 관리하기 위해「개인정보 보호법」제11조에 따라 매년 개인정보보호위원회에서 실시하는 “공공기관 개인정보 관리수준진단”을 받고 있습니다.</li>
                <li>② 진흥원은 '2021년도 개인정보 관리수준진단 평가에서 '양호'등급을 획득하였습니다.</li>
                <li>③ 진흥원은 2021년 개인정보 관리수준진단 결과에 따라 다음과 같이 개선 조치하였습니다.</li>
                    <ol>
                        <li>
                            <ol>
                                <li>  - 개인정보처리시스템의 접근권한 관리 및 접속기록 점검</li>
                            </ol>
                        </li>
                    </ol>

            </ol>

<div class="row">
    <div class="col-md-10">
        <h3 id="no14"><img src="${STATIC_URL}images/privacy-images/14.png" alt="제14조" style="width: 5%"/> 제14조 (개인정보 처리방침의 변경)</h3>
    </div>
</div>
##            <h3 id="no14">제14조 (개인정보 처리방침의 변경)</h3>
            <ol>
                <li>① 본 방침은 2022년 9월 19일부터 시행됩니다.</li>
                <li>② 이전의 개인정보 처리방침은 아래에서 확인하실 수 있습니다
                    <ul class="dash">
                        <li><a href="/Privacy-Policy_old1">2015. 10. 14. ~ 2016. 06. 20. 적용 (클릭)</a></li>
                        <li><a href="/Privacy-Policy_old2">2016. 06. 21. ~ 2016. 11. 27. 적용 (클릭)</a></li>
                        <li><a href="/Privacy-Policy_old3">2016. 11. 28. ~ 2017. 11. 19. 적용 (클릭)</a></li>
                        <li><a href="/Privacy-Policy_old4">2017. 11. 20. ~ 2018. 05. 20. 적용 (클릭)</a></li>
                        <li><a href="/Privacy-Policy_old5">2018. 05. 21. ~ 2019. 04. 14. 적용 (클릭)</a></li>
                        <li><a href="/Privacy-Policy_old7">2019. 04. 15. ~ 2021. 02. 23. 적용 (클릭)</a></li>
                        <li><a href="/Privacy-Policy_old8">2021. 02. 23. ~ 2021. 08. 31. 적용 (클릭)</a></li>
                        <li><a href="/Privacy-Policy_old9">2021. 09. 01. ~ 2022. 09. 19. 적용 (클릭)</a></li>
                    </ul>
                </li>
            </ol>

        </section>

        <!-- [e]  -->
    </section>

</main>
