<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
## <%page expression_filter="h"/>
## <%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">

    <section class="container rule">
        <!-- [s]  -->
        <h2>${_("K-MOOC Homepage Personal Information Processing Policy (Plan)")}</h2>
        <section class="rule-box">
            <p>
                ${_(
                       "The K-MOOC homepage (http://www-old.kmooc.kr, hereinafter referred to as the 'homepage') is a system run by the National Institute for Lifelong Education (hereinafter referred to as 'NILE'), a member institution of the Ministry of Education. All the personal information are collected, possessed and processed based on related laws and regulations."
"The 'Personal Information Protection Act' provides general rules for the handling of such personal information, and on the homepage, personal information collected, possessed and processed in accordance with the provisions of this Act shall be used for proper execution of public works and protection of users' interests. We will treat it legally and properly.<br><br>"
"In addition, the homepage respects the interests of users in handling personal information such as requests for viewing, correction, deletion, and suspension of personal information held by relevant laws and regulations, Users may file an administrative appeal as required by the Administrative Appeals Act with regard to the infringement of rights and interests in these laws and regulations.<br><br>"
"○ This policy will be made public on the homepage after establishing it in accordance with Article 30 (Establishment and Disclosure of Personal Information Processing Policy) of the 「Personal Information Protection Act」.<br><br>"
            )}
            </p>
##             <p>개인정보처리방침을 개정하는 경우 당 홈페이지 공지사항(또는 개별공지)을 통하여 공지할 것입니다.</p>

            <div class="table-box">
                <table>
                <caption>
                        개인정보처리방침 항목
                    </caption>
                    <colgroup>
                        <col width="50%"/>
                        <col width="50%"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="#no1">${_("Article 1 (Purpose of Personal Information Processing)")}</a><br/>
                                <a href="#no2">${_("Article 2 (Retention Period of Personal Information Processing)")}</a><br/>
                                <a href="#no3">${_("Article 3 (Providing Third Parties with Personal Information)")}</a><br/>
                                <a href="#no4">${_("Article 4 (Consignment of Personal Information Processing)")}</a><br/>
                                <a href="#no5">${_("Article 5 (Rights, Duties and Execution Methods of Information Subjects)")}</a><br/>
                                <a href="#no6">${_("Article 6 (Personal Information Collection Items)")}</a><br/>
                            </td>
                            <td>
                                <a href="#no7">${_("Article 7 (Matters Concerning the Installation, Operation and Rejection of Devices that Automatically Collect Personal Information)")}</a><br/>
                                <a href="#no8">${_("Article 8 (Destruction of Personal Information)")}</a><br/>
                                <a href="#no9">${_("Article 9 (Measures to Ensure the Safety of Personal Information)")}</a><br/>
                                <a href="#no10">${_("Article 10 (Responsible Chief Officer for Personal Information Protection)")}</a><br/>
                                <a href="#no11">${_("Article 11 (Request to View Personal Information)")}</a><br/>
                                <a href="#no12">${_("Article 12 (Remedies for Rights and Interests Infringement)")}</a><br/>
                                <a href="#no13">${_("Article 13 (Changes in Personal Information Processing Policy)")}</a><br/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3 id="no1">${_("Article 1 (Purpose of Personal Information Processing)")}</h3>
            <ol>
                <li>${_("① The homepage handles personal information for the following purposes. The personal information being processed is not used for any purpose other than the following purposes, and if the purpose of use is changed, we will implement necessary measures such as receiving extra consent in accordance with Article 18 of the 「Personal Information Protection Act」.")}
                    <ol>
                        <li>
                            ${_("1. Homepage membership sign up and management")}
                            ${_("We process personal information for the following purposes: confirmation of the intention of membership sign up; confirmation of identity by providing membership service; maintenance and management of membership status; prevention of illegal use of service; confirmation of consent of a legal representative when collecting personal information of children under 14 years old; record keeping for dispute settlement; various notices/notification. ")}
                        </li>
                        <li>
                            ${_("2. Civil petition processing")}<br>
                            ${_("We process personal information for the purpose of confirming the identity of the complainant, confirming the complaint, contacting and notifying for the investigation, reporting the processing result, and improving and providing the service.")}
                        </li>
                    </ol>
                </li>
                <li>${_("② The purposes of processing personal information files registered and disclosed in accordance with Article 32 of the 「Personal Information Protection Act」 of the homepage are as follows.")}</li>
            </ol>
            <div class="table-box">
                <table>
##                     <caption>개인정보 파일의 처리</caption>
                    <colgroup>
                        <col width="20%"/>
                        <col width="13%"/>
                        <col width="16%"/>
                        <col width="auto"/>
                        <col width="12%"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">${_("File Name")}</th>
                            <th scope="col">${_("Operating Basis")}</th>
                            <th scope="col">${_("Purpose of Processing")}</th>
                            <th scope="col">${_("Personal Information Items")}</th>
                            <th scope="col">${_("Holding Period")}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="ac">${_("K-MOOC homepage member information")}</td>
                            <td class="ac">${_("Agreement of Information subject")}</td>
                            <td class="ac">${_("Homepage membership sign up and management, civil petition processing")}</td>
                            <td>
                                ${_("- Required items : Email, actual name, ID, password, country, sex, the year of birth")}<br/>
                                ${_("- Optional items : residence, the highest level of education, purpose of joining")}
                            </td>
                            <td class="ac">${_("Until membership withdrawal")}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p>※ 좀 더 상세한 개인정보파일 등록사항 공개는 행정자치부 개인정보보호 종합지원포털(www.privacy.go.kr) → 개인정보 민원 → 개인정보 열람 등 요구 → 개인정보파일 목록 검색 메뉴를 활용해 주시기 바랍니다.</p>


            <h3 id="no2">${_("Article 2 (Retention Period of Personal Information Processing)")}</h3>
            <p>① 당 홈페이지는 법령에 따른 개인정보 보유ㆍ이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의 받는 개인정보 보유ㆍ이용기간 내에서 개인정보를 처리ㆍ보유합니다.</p>
            <p>② 각각의 개인정보 처리 및 보유 기간은 본 방침 제1조 ②항을 참조바랍니다. 다만, 관계 법령 위반에 따른 수사ㆍ조사 등이 진행 중인 경우에는 해당 수사ㆍ조사 종료 시까지, 홈페이지 이용에 따른 채권ㆍ채무관계 잔존 시에는 해당 채권ㆍ채무관계 정산 시까지 개인정보를 처리ㆍ보유합니다.</p>


            <h3 id="no3">${_("Article 3 (Providing Third Parties with Personal Information)")}</h3>
            <p>당 홈페이지는 원칙적으로 이용자의 개인정보를 제1조(개인정보의 처리 목적)에서 명시한 범위 내에서 처리하며, 이용자의 사전 동의 없이는 본래의 범위를 초과하여 처리하거나 제3자에게 제공하지 않습니다. 단, 정보주체의 동의, 법률의 특별한 규정 등 「개인정보 보호법」 제17조 및 제18조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.</p>

            <h3 id="no4">${_("Article 4 (Consignment of Personal Information Processing)")}</h3>
            <ol>
                <li>① 당 홈페이지는 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다.<br/>
                    <a href="/static/data/Consignment of Personal Information Processing.pdf" target="_blank">
                        <input type="button" value="개인정보 처리업무 위탁 현황 보기">
                    </a>
                </li>
                <li>② 당 홈페이지는 위탁계약 체결 시 「개인정보 보호법」제25조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적ㆍ관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리ㆍ감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.</li>
                <li>③ 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.</li>
            </ol>

            <h3 id="no5">${_("Article 5 (Rights, Duties and Execution Methods of Information Subjects)")}</h3>
            <ol>
                <li>① 정보주체는 당 홈페이지에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.
                    <ul class="dash">
                        <li>1. 개인정보 열람 요구<br/>
                            당 홈페이지의 개인정보파일은 「개인정보 보호법」제35조에 따라 열람을 요구할 수 있습니다. 단, 동법 제35조 제4항에 의하여 다음 사항에 해당될 경우 열람을 제한할 수 있습니다.
                            <ul class="dash">
                                <li>법률에 따라 열람이 금지되거나 제한되는 경우</li>
                                <li>다른 사람의 생명ㆍ신체를 해할 우려가 있거나 다른 사람의 재산과 그 밖의 이익을 부당하게 침해할 우려가 있는 경우</li>
                                <li>공공기관이 다음 각 목
                                    의 어느 하나에 해당하는 업무를 수행할 때 중대한 지장을 초래하는 경우
                                    <ul class="dash">
                                        <li> 조세의 부과 징수 또는 환급에 관한 업무</li>
##                                         <li> (초ㆍ중등교육법) 및 (고등교육법)에 따른 각 급 학교, (평생교육법)에 따른 평생교육시설, 그 밖의 다른 법률에 따라 설치된 고등교육기관에서의 성적 평가 또는 입학자 선발에 관한 업무</li>
                                        <li> 학력기능 및 채용에 관한 시험, 자격시험에 관한 업무</li>
                                        <li> 보상금ㆍ급부금 산정 등에 대하여 진행 중인 평가 또는 판단에 관한 업무</li>
                                        <li> 다른 법률에 따라 진행 중인 감사 및 조사에 관한 업무</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>2. 개인정보 정정 삭제 요구<br/>
                            당 홈페이지의 개인정보파일은 「개인정보 보호법」제36조에 따라 정정ㆍ삭제를 요구할 수 있습니다. 다만, 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우에는 삭제를 요구할 수 없습니다.
                        </li>
                        <li>3. 개인정보 처리정지 요구<br/>
                            당 홈페이지의 개인정보파일은 「개인정보 보호법」제37조에 따라 처리정지를 요구할 수 있습니다. 다만, 개인정보 처리정지 요구 시 법 제37조 제2항에 의하여 처리정지 요구를 거절할 수 있습니다.
                        </li>
                    </ul>
                </li>
                <li>② 제1항에 따른 권리 행사는 당 홈페이지에 대해 「개인정보 보호법」시행규칙 별지 제8호 서식에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며 당 홈페이지는 이에 대해 지체 없이 조치하겠습니다.</li>
                <li>③ 정보주체가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우에는 진흥원은 정정 또는 삭제를 완료할 때까지 당해 개인정보를 이용하거나 제공하지 않습니다.</li>
                <li>④ 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 「개인정보 보호법」시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.</li>
            </ol>


            <h3 id="no6">${_("Article 6 (Personal Information Collection Items)")}</h3>
            <ol>
                <li>당 홈페이지에서 처리하고 있는 개인정보 항목은 본 방침 제1조 ②항을 참조바랍니다. 인터넷 서비스 이용과정에서 아래의 개인정보 항목이 자동으로 생성되어 수집될 수 있습니다.
                    <ul class="dash">
                        <li>IP주소, 쿠키, 서비스 이용기록, 방문기록 등</li>
                    </ul>
                </li>
            </ol>


            <h3 id="no7">${_("Article 7 (Matters Concerning the Installation, Operation and Rejection of Devices that Automatically Collect Personal Information)")}</h3>
            <p>① 당 홈페이지에서는 쿠키(cookie)를 설치/운용할 경우도 있습니다. 쿠키란 웹 서버가 웹 브라우저에 보내어 저장했다가 서버의 부가적인 요청이 있을 때 다시 서버로 보내주는 문자열 정보를 말합니다. 진흥원에서는 쿠키를 통해 수집하는 정보는 팝업정보에 한하며, 그 외의 다른 정보는 수집하지 않습니다.</p>
            <p>② 정보주체께서는 웹브라우저의 보안 정책을 통해 쿠키에 의한 정보수집의 허용ㆍ거부 여부를 결정하실 수 있습니다. 웹브라우저의 [도구]메뉴에서 [인터넷옵션]→[보안]→[사용자 정의 수준]을 선택하여 쿠키에 의한 정보 수집 수준을 정할 수 있습니다. 단, 쿠키 설치를 거부하였을 경우 서비스 이용에 불편이 있거나, 서비스 제공에 어려움이 있을 수 있습니다.</p>

            <h3 id="no8">제8조 (개인정보 파기)</h3>
            <ol>
                <li>① 당 홈페이지는 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체 없이 해당 개인정보를 파기합니다.</li>
                <li>② 정보주체로부터 동의 받은 개인정보 보유기간이 경과하거나 처리목적이 달성되었음에도 불구하고 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보(또는 개인정보파일)를 별도의 데이터베이스(DB)로 옮기거나 보관 장소를 달리하여 보존합니다.</li>
                <li>③ 개인정보 파기의 절차 및 방법은 다음과 같습니다.
                    <ul class="none">
                        <li>1. 파기절차<br/>
                            <ul class="none">
                                <li>- 진흥원은 파기하여야 하는 개인정보(또는 개인정보파일)에 대해 개인정보 파기계획을 수립하여 파기합니다. </li>
                                <li>- 진흥원은 파기사유가 발생한 개인정보(또는 개인정보파일)를 선정하고, 진흥원의 개인정보 보호책임자의 승인을 받아 개인정보(또는 개인정보파일)를 파기합니다. </li>
                            </ul>
                        </li>
                        <li>2. 파기방법<br/>
                            <ul class="none">
                                <li>진흥원은 전자적 파일 형태로 기록ㆍ저장된 개인정보는 기록을 재생할 수 없도록 파기하며, 종이 문서에 기록ㆍ저장된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다.</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ol>

            <h3 id="no9">${_("Article 9 (Measures to Ensure the Safety of Personal Information)")}</h3>
            <ol>
                <li>당 홈페이지는 「개인정보 보호법」제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.</li>
                <li>
                    <ul class="none">
                        <li>① 관리적 조치 : 내부관리계획 수립ㆍ시행, 정기적 직원 교육 등</li>
                        <li>② 기술적 조치 : 개인정보처리시스템 등의 접근권한 관리, 접근통제시스템 설치, 고유식별정보 등의 암호화, 보안프로그램 설치</li>
                        <li>③ 물리적 조치 : 전산장비실, 자료보관실 등의 접근통제</li>
                    </ul>
                </li>
            </ol>




            <h3 id="no10">${_("Article 10 (Responsible Chief Officer for Personal Information Protection)")}</h3>
            <p>① 당 홈페이지는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.</p>
            <div class="table-box">
                <table>
                    <caption>개인정보 파일의 처리</caption>
                    <colgroup>
                        <col width="*"/>
                        <col width="24%"/>
                        <col width="24%"/>
                        <col width="24%"/>
                    </colgroup>
                    <tr>
                        <th scope="col" rowspan="2" class="gray" style="padding: 5px;">개인정보 보호책임자</th>
                        <th scope="col" class="gray" style="padding: 5px;">성명</th>
                        <th scope="col" class="gray" style="padding: 5px;">직책</th>
                        <th scope="col" class="gray" style="padding: 5px;">연락처</th>
                    </tr>
                    <tr>
                        <td class="ac">서헌주</td>
                        <td class="ac">K-MOOC진흥본부 본부장</td>
                        <td class="ac">hsuh70@nile.or.kr</td>
                    </tr>

                    <tr>
                        <th scope="col" rowspan="3" class="gray">개인정보보호 담당부서</th>
                        <th scope="col" class="gray" style="padding: 5px;">부서명</th>
                        <th scope="col" class="gray" style="padding: 5px;">담당자</th>
                        <th scope="col" class="gray" style="padding: 5px;">연락처</th>
                    </tr>

                    <tr>
                        <td class="ac">K-MOOC진흥본부 구축운영실</td>
                        <td class="ac">조재동</td>
                        <td class="ac">tajdevil@nile.or.kr</td>
                    </tr>

                    <tr>
                        <td class="ac">K-MOOC진흥본부 구축운영실</td>
                        <td class="ac">유민선</td>
                        <td class="ac">msyoo@nile.or.kr<br/>02-3780-9996</td>
                    </tr>
                </table>
            </div>
            <p>② 당 홈페이지가 「개인정보 보호법」 제32조에 따라 등록ㆍ공개하는 개인정보파일의 처리목적은 다음과 같습니다.</p>


            <h3 id="no11">${_("Article 11 (Request to View Personal Information)")}</h3>
            <ol>
                <li>① 정보주체는 「개인정보 보호법」 제35조에 따른 개인정보의 열람 청구는 '개인정보 보호 담당부서'에서 할 수 있습니다. 당 홈페이지에서는 정보주체의 개인정보 열람청구가 신속하게 처리되도록 노력하겠습니다.</li>
                <li>② 정보주체께서는 제1항의 열람청구 접수ㆍ처리부서 이외에, 행정자치부의 ‘개인정보보호 종합지원포털’ 웹사이트(www.privacy.go.kr)를 통하여서도 개인정보 열람청구를 하실 수 있습니다.
                    <ul class="none">
                        <li>▶ 행정자치부 개인정보보호 종합지원포털 → 개인정보 민원 → 개인정보 열람 등 요구(아이핀을 통한 실명인증 필요)</li>
                    </ul>
                </li>
            </ol>

            <h3 id="no12">${_("Article 12 (Remedies for Rights and Interests Infringement)")}</h3>
            <ol>
                <li>정보주체는 아래의 기관에 대해 개인정보 침해에 대한 피해구제, 상담 등을 문의하실 수 있습니다.</li>
                <li>&lt;아래의 기관은 진흥원과는 별개의 기관으로서, 당 홈페이지의 자체적인 개인정보 불만처리, 피해구제 결과에 만족하지 못하시거나 보다 자세한 도움이 필요하시면 문의하여 주시기 바랍니다.&gt;
                    <ul class="dash">
                        개인정보 침해신고센터 (한국인터넷진흥원 운영)
                        <li>소관업무 : 개인정보 침해사실 신고, 상담 신청</li>
                        <li>홈페이지 : privacy.kisa.or.kr</li>
                        <li>전화 : (국번없이) 118</li>
                        <li>주소 : (138-950) 서울시 송파구 중대로 135 한국인터넷진흥원 개인정보침해신고센터</li>
                    </ul>

                    <ul class="dash">
                        <li>소관업무 : 개인정보 분쟁조정신청, 집단분쟁조정 (민사적 해결)</li>
                        <li>홈페이지 : privacy.kisa.or.kr</li>
                        <li>전화 : (국번없이) 118</li>
                        <li>주소 : (138-950) 서울시 송파구 중대로 135 한국인터넷진흥원 개인정보침해신고센터</li>
                    </ul>

                    <ul class="none">
                        <li>▶ 대검찰청 사이버범죄수사단 : 02-3480-3571 (www.spo.go.kr, cybercid@spo.go.kr)</li>
                    </ul>

                    <ul class="none">
                        <li>▶ 경찰청 사이버테러대응센터 : 1566-0112 (www.netan.go.kr) 또한, 개인정보의 열람, 정정ㆍ삭제, 처리정지 등에 대한 정보주체자의 요구에 대하여 공공기관의 장이 행한 처분 또는 부작위로 인하여 권리 또는 이익을 침해 받은 자는 행정심판법이 정하는바에 따라 행정심판을 청구할 수 있습니다.</li>
                    </ul>
                </li>
            </ol>

            <h3 id="no13">${_("Article 13 (Changes in Personal Information Processing Policy)")}</h3>
            <ol>
                <li>1. 본 방침은 2016년 11월 28일부터 시행됩니다.</li>
                <li>2.이전의 개인정보 처리방침은 아래에서 확인하실 수 있습니다.
                    <ul class="dash">
                        <li><a href="/Privacy-Policy_old1">2015. 10. 14. ~ 2016. 6. 20. 적용 (클릭)</a></li>
                        <li><a href="/Privacy-Policy_old2">2016. 6. 21. ~ 2016. 11. 27. 적용 (클릭)</a></li>
                    </ul>
                </li>
            </ol>

        </section>

        <!-- [e]  -->
    </section>

</main>
