<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("University List")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container">
        <!-- [s]  -->
        <div class="univ-list-top">
            <div class="univ-list-top-txt">
                <div>
                    <!--<span style="font-weight: 700; font-size: 40px;">
                        <p>${_("Introducing participating universities with K-MOOC.")}</p>
                    </span>
                    <h2>
                         <span>${_("Introduction of participating universities and shortcut to homepage")}</span>

                    </h2>

                    <!--<p>${_("K-MOOC promotes the autonomy and diversity of participating universities to be respected and exercised as much as possible during the entire business process, and creates close cooperation between related institutions and participating universities.")}</p>-->
                </div>
            </div>
        </div>

        <ul class="univ-list">
          % if LANGUAGE_CODE == 'ko-kr':
            <li><a href="/school/KYUNGNAMUNIVk"><img src="/static/images/univ/logo01_KYUNGNAMUNIVk.png" alt="경남대학교"></a></li>
            <li><a href="/school/KHUk"><img src="/static/images/univ/logo01_KHUk.png" alt="경희대학교"></a></li>
            <li><a href="/school/KoreaUnivK"><img src="/static/images/univ/logo01_KoreaUnivK.png" alt="고려대학교"></a></li>
            <li><a href="/school/DGUk"><img src="/static/images/univ/logo01_DGUk.png" alt="대구대학교"></a></li>
            <li><a href="/school/PNUk"><img src="/static/images/univ/logo01_PNUk.png" alt="부산대학교"></a></li>
            <li><a href="/school/SMUCk"><img src="/static/images/univ/logo01_SMUCk.png" alt="상명대학교"></a></li>
            <li><a href="/school/SNUk"><img src="/static/images/univ/logo01_SNUk.png" alt="서울대학교"></a></li>
            <li><a href="/school/SKKUk"><img src="/static/images/univ/logo01_SKKUk.png" alt="성균관대학교"></a></li>
            <li><a href="/school/SSUk"><img src="/static/images/univ/logo01_SSUk.png" alt="성신여자대학교"></a></li>
            <li><a href="/school/SejonguniversityK"><img src="/static/images/univ/logo01_SejonguniversityK.png" alt="세종대학교"></a></li>
            <li><a href="/school/SookmyungK"><img src="/static/images/univ/logo01_SookmyungK.png" alt="숙명여자대학교"></a></li>
            <li><a href="/school/YSUk"><img src="/static/images/univ/logo01_YSUk.png" alt="연세대학교"></a></li>
            <li><a href="/school/YeungnamUnivK"><img src="/static/images/univ/logo01_YeungnamUnivK.png" alt="영남대학교"></a></li>
            <li><a href="/school/UOUk"><img src="/static/images/univ/logo01_UOUk.png" alt="울산대학교"></a></li>
            <li><a href="/school/EwhaK"><img src="/static/images/univ/logo01_EwhaK.png" alt="이화여자대학교"></a></li>
            <li><a href="/school/INHAuniversityK"><img src="/static/images/univ/logo01_INHAuniversityK.png" alt="인하대학교"></a></li>
            <li><a href="/school/CBNUk"><img src="/static/images/univ/logo01_CBNUk.png" alt="전북대학교"></a></li>
            <li><a href="/school/POSTECHk"><img src="/static/images/univ/logo01_POSTECHk.png" alt="포항공과대학교"></a></li>
            <li><a href="/school/KAISTk"><img src="/static/images/univ/logo01_KAISTk.png" alt="한국과학기술원"></a></li>
            <li><a href="/school/HYUk"><img src="/static/images/univ/logo01_HYUk.png" alt="한양대학교"></a></li>
            <li><a href="/school/KOCWk"><img src="/static/images/univ/logo01_KOCWk.png" alt="KOCW"></a></li>
            <li><a href="/school/ACEk"><img src="/static/images/univ/logo01_ACEk.png" alt="ACE"></a></li>
            <li><a href="/school/CKk"><img src="/static/images/univ/logo01_CKk.png" alt="CK"></a></li>
            <li><a href="/school/COREk"><img src="/static/images/univ/logo01_COREk.png" alt="CORE"></a></li>
            <li><a href="/school/KONKUK"><img src="/static/images/univ/logo01_KONKUK.png" alt="건국대학교"></a></li>
            <li><a href="/school/KYUNGSUNG"><img src="/static/images/univ/logo01_KYUNGSUNG.jpg" alt="경성대학교"></a></li>
            <li><a href="/school/DANKOOK"><img src="/static/images/univ/logo01_DANKOOK.jpg" alt="단국대학교"></a></li>
            <li><a href="/school/SOGANG"><img src="/static/images/univ/logo01_SOGANG.jpg" alt="서강대학교"></a></li>
            <li><a href="/school/UOS"><img src="/static/images/univ/logo01_UOS.png" alt="서울시립대학교"></a></li>
            <li><a href="/school/SOONGSIL"><img src="/static/images/univ/logo01_SOONGSIL.png" alt="숭실대학교"></a></li>
            <li><a href="/school/CNU"><img src="/static/images/univ/logo01_CNU.png" alt="전남대학교"></a></li>
            <li><a href="/school/JNU"><img src="/static/images/univ/logo01_JNU.jpg" alt="제주대학교"></a></li>
            <li><a href="/school/CAU"><img src="/static/images/univ/logo01_CAU.png" alt="중앙대학교"></a></li>
            <li><a href="/school/HGU"><img src="/static/images/univ/logo01_HGU.jpg" alt="한동대학교"></a></li>
          % else:
            <li><a href="/school/KYUNGNAMUNIVk"><img src="/static/images/univ_e/logo01_KYUNGNAMUNIVk_e.png" alt="KYUNGNAM UNIVERSITY"></a></li>
            <li><a href="/school/KHUk"><img src="/static/images/univ_e/logo01_KHUk_e.png" alt="KYUNGHEE UNIVERSITY"></a></li>
            <li><a href="/school/KoreaUnivK"><img src="/static/images/univ_e/logo01_KoreaUnivK_e.png" alt="KOREA UNIVERSITY"></a></li>
            <li><a href="/school/DGUk"><img src="/static/images/univ_e/logo01_DGUk_e.png" alt="DAEGU UNIVERSITY"></a></li>
            <li><a href="/school/PNUk"><img src="/static/images/univ_e/logo01_PNUk_e.png" alt="PUSAN NATIONAL UNIVERSITY"></a></li>
            <li><a href="/school/SMUCk"><img src="/static/images/univ_e/logo01_SMUCk_e.png" alt="SANGMYUNG UNIVERSITY"></a></li>
            <li><a href="/school/SNUk"><img src="/static/images/univ_e/logo01_SNUk_e.png" alt="SEOUL NATIONAL UNIVERSITY"></a></li>
            <li><a href="/school/SKKUk"><img src="/static/images/univ_e/logo01_SKKUk_e.png" alt="SUNGKYUNKWAN UNIVERSITY"></a></li>
            <li><a href="/school/SSUk"><img src="/static/images/univ_e/logo01_SSUk_e.png" alt="SUNGSHIN UNIVERSITY"></a></li>
            <li><a href="/school/SejonguniversityK"><img src="/static/images/univ_e/logo01_SejonguniversityK_e.png" alt="SEJONG UNIVERSITY"></a></li>
            <li><a href="/school/SookmyungK"><img src="/static/images/univ_e/logo01_SookmyungK_e.png" alt="SOOKMYUNG WOMEN'S UNIVERSITY"></a></li>
            <li><a href="/school/YSUk"><img src="/static/images/univ_e/logo01_YSUk_e.png" alt="YONSEI UNIVERSITY"></a></li>
            <li><a href="/school/YeungnamUnivK"><img src="/static/images/univ_e/logo01_YeungnamUnivK_e.png" alt="YOUNGNAM UNIVERSITY"></a></li>
            <li><a href="/school/UOUk"><img src="/static/images/univ_e/logo01_UOUk_e.png" alt="UNIVERSITY OF ULSAN"></a></li>
            <li><a href="/school/EwhaK"><img src="/static/images/univ_e/logo01_EwhaK_e.png" alt="EWHA WOMANS UNIVERSITY"></a></li>
            <li><a href="/school/INHAuniversityK"><img src="/static/images/univ_e/logo01_INHAuniversityK_e.png" alt="INHA UNIVERSITY"></a></li>
            <li><a href="/school/CBNUk"><img src="/static/images/univ_e/logo01_CBNUk_e.png" alt="CHONBUK NATIONAL UNIVERSITY"></a></li>
            <li><a href="/school/POSTECHk"><img src="/static/images/univ_e/logo01_POSTECHk_e.png" alt="POSTECH"></a></li>
            <li><a href="/school/KAISTk"><img src="/static/images/univ_e/logo01_KAISTk_e.png" alt="KAIST"></a></li>
            <li><a href="/school/HYUk"><img src="/static/images/univ_e/logo01_HYUk_e.png" alt="HANYANG UNIVERSITY"></a></li>
            <li><a href="/school/KOCWk"><img src="/static/images/univ_e/logo01_KOCWk_e.png" alt="KOCW"></a></li>
            <li><a href="/school/ACEk"><img src="/static/images/univ_e/logo01_ACEk_e.png" alt="ACE"></a></li>
            <li><a href="/school/CKk"><img src="/static/images/univ_e/logo01_CKk_e.png" alt="CK"></a></li>
            <li><a href="/school/COREk"><img src="/static/images/univ_e/logo01_COREk_e.png" alt="CORE"></a></li>
            <li><a href="/school/KONKUK"><img src="/static/images/univ_e/logo01_KONKUK_e.png" alt="KONKUK UNIVERSITY"></a></li>
            <li><a href="/school/KYUNGSUNG"><img src="/static/images/univ_e/logo01_KYUNGSUNG_e.jpg" alt="KYUNGSUNG UNIVERSITY"></a></li>
            <li><a href="/school/DANKOOK"><img src="/static/images/univ_e/logo01_DANKOOK_e.jpg" alt="DANKOOK UNIVERSITY"></a></li>
            <li><a href="/school/SOGANG"><img src="/static/images/univ_e/logo01_SOGANG_e.jpg" alt="SOGANG UNIVERSITY"></a></li>
            <li><a href="/school/UOS"><img src="/static/images/univ_e/logo01_UOS_e.png" alt="UNIVERSITY OF SEOUL"></a></li>
            <li><a href="/school/SOONGSIL"><img src="/static/images/univ_e/logo01_SOONGSIL_e.png" alt="SOONGSIL UNIVERSITY"></a></li>
            <li><a href="/school/CNU"><img src="/static/images/univ_e/logo01_CNU_e.png" alt="CHONNAM NATIONAL UNIVERSITY"></a></li>
            <li><a href="/school/JNU"><img src="/static/images/univ_e/logo01_JNU_e.jpg" alt="JEJU NATIONAL UNIVERSITY"></a></li>
            <li><a href="/school/CAU"><img src="/static/images/univ_e/logo01_CAU_e.png" alt="CHUNG-ANG UNIVERSITY"></a></li>
            <li><a href="/school/HGU"><img src="/static/images/univ_e/logo01_HGU_e.jpg" alt="HANDONG GLOBAL UNIVERSITY"></a></li>
          % endif
        </ul>

        <!-- [e]  -->
    </section>
</main>