<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>
<%block name="pagetitle">${_("KAISTk")}</%block>

<section class="container full home">
    <!-- [s]  -->
    <div class="univ-list-infotop"></div>

    <section class="container univ">
        <h2>${_("KAISTk")}</h2>
        <div class="univ-info">
            <div class="sns-box">
                <!--
                 <a target="_blank" href="https://www.youtube.com/channel/UCWwYvRzlP6AkzQS-Ftw5wsA"><img src="/static/images/common/footer_icon01.png" alt="youtube" class="univSns"/></a>
                 <a target="_blank" href="https://www.facebook.com/inhanuri"><img src="/static/images/common/footer_icon02.png" alt="facebook" class="univSns"/></a>
                 -->
            </div>
            <p> 1971년에 설립된 KAIST는 과학기술분야의 깊이 있는 이론과 실제적 응용력을 갖춘 고급과학기술 인재를 양성하고 있습니다.</p>
                    <p>국가 정책적으로는 중장기연구개발과 과학기술저력 배양을 위한 기초 및 응용연구를 실행하고 있으며 다양한 연구기관과 산업계 전반에 대한 연구도 지원하고 있습니다.</p>
                    <p>KAIST는 지난 44년간 우리나라 과학기술산업의 괄목할만한 성장을 이끌어 왔고 현재는 세계과학계가 주목하는 연구중심대학으로 발전하고 있습니다.</p>
                    <p>앞으로도 KAIST는 지식창조(knowledge creation)를 선도하는 상아탑으로서 과학기술의 진보(advancement)를 위해 노력할 것입니다.</p>
                    <p>특히 창의적인 연구와 혁신적인 기술개발을 바탕으로 인류의 지속가능한 미래를 만드는 데 일조하여 국민 모두가 신뢰할 수 있는 세계 최고수준의 대학으로 거듭 성장해 나갈 것입니다.</p>
        </div>
        <div class="univ-info">
            <p>The Korea Advanced Institute of Science and Technology (KAIST) was established in 1971 by the Korean government as the nation’s first research-intensive graduate school for science, engineering and technology. It has now grown into one of the world’s best universities, delivering top notch education and research programs for undergraduate and graduate students. KAIST encourages interdisciplinary and convergent research across a wide spectrum of disciplines, as well as strong collaborations with industry and global institutions.</p>
        </div>

        <section class="courses-container">
            <section class="courses${'' if course_discovery_enabled else ' no-course-discovery'}">
                <ul class="courses-listing">
                %if courses and len(courses) > 0:
                    %for course in courses:
                    <li class="courses-listing-item">
                        <%include file="../course.html" args="course=course" />
                    </li>
                    %endfor
                %else:
                    <div class="noCourse">※ 현재 수강할 수 있는 강좌가 없습니다.</div>
                %endif
                </ul>
            </section>
        </section>
    </section>

    <!-- [e]  -->
</section>
