<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>
<%block name="pagetitle">${_("SMUCk")}</%block>

<section class="container full home">
    <!-- [s]  -->
    <div class="univ-list-infotop"></div>

    <section class="container univ">
        <h2>${_("SMUCk")}</h2>
        <div class="univ-info">
            <div class="sns-box">
                <!--
                 <a target="_blank" href="https://www.youtube.com/channel/UCMSzjNHLZNNUUA-Z8OrXY9Q"><img src="/static/images/common/footer_icon01.png" alt="youtube" class="univSns"/></a>
                 <a target="_blank" href="https://www.facebook.com/sungkyunkwanuniversity1398"><img src="/static/images/common/footer_icon02.png" alt="facebook" class="univSns"/></a>
                 -->
            </div>
            <p>1937년 민족교육에 대한 큰 뜻을 지닌 계당 배상명 박사의 투철한 교육이념과 철학을 바탕으로 설립된 상명대학교는 80년의 오랜 발전과 도약의 역사 속에서 진리, 정의, 사랑을 교육이념으로 하여 인재 양성과 학문 연구라는 대학의 사명 완수를 위해 매진하여 왔습니다.<br/><br/>
                        21세기는 창의적지식정보화, 세계화가 주요 흐름이 되고 있습니다. 상명대학교는 이러한 시대적 흐름과 변화의 중심에 서서 변화에 능동적으로 대응하고, 미래사회를 주도해 갈 수 있는 창의적이고 국제화된 인재를 육성하기 위해 최선을 다하고 있습니다.</p>
        </div>
        <div class="univ-info">
            <p>Sangmyung University was established in 1937, based on the philosophy of national education conceived by Dr. Bae Sangmyung. With the educational ideology of truth, justice, and love, in its 80 years of leaping upward in continuous development, Sangmyung University has strived to fulfill the university mission of talent cultivation and scientific research.<br/><br/>
                        The main trends of the 21st century are the informatization of society and globalization. In this time of rapid development and progress, Sangmyung University is actively adapting to changes in society and is fostering creative and internationally-minded individuals who will move on to become the leaders of the future.</p>
        </div>

        <section class="courses-container">
            <section class="courses${'' if course_discovery_enabled else ' no-course-discovery'}">
                <ul class="courses-listing">
                %if courses and len(courses) > 0:
                    %for course in courses:
                    <li class="courses-listing-item">
                        <%include file="../course.html" args="course=course" />
                    </li>
                    %endfor
                %else:
                    <div class="noCourse">※ 현재 수강할 수 있는 강좌가 없습니다.</div>
                %endif
                </ul>
            </section>
        </section>
    </section>

    <!-- [e]  -->
</section>
