<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>
<%block name="pagetitle">${_("CKk")}</%block>

<section class="container full home">
    <!-- [s]  -->
    <div class="univ-list-infotop"><img src="/static/images/univ_intro/univ_top_kocw.png" alt=""></div>

    <section class="container univ">
        <h2>대학 특성화 사업</h2>
        <div class="univ-info">
            <div class="sns-box">
                 <a target="_blank" href="https://www.youtube.com/user/playHanyangUniv"><img src="/static/images/common/footer_icon01.png" alt="youtube" class="univSns"/></a>
                 <a target="_blank" href="https://www.facebook.com/HanyangUniv"><img src="/static/images/common/footer_icon02.png" alt="facebook" class="univSns"/></a>
            </div>

            <p>대학 특성화 사업(CK : Creative Korea)은 국가․지역 창조경제 활성화 및 창의적 인재양성을 위하여 대학의 구조개혁을 통한 체질 개선 및 특성화 기반 구축을 지원하는 사업입니다.</p>

            <br><br>
            <p>[K-MOOC 참여대학]</p>
            <p>건양대학교, 공주대학교, 금오공과대학교, 단국대학교, 부산외국어대학교, 삼육대학교, 상명대학교(천안)</p>
            <br>
            <p>※ 참고 : <a target="_blank" href="http://www.ckgc.co.kr">대학 특성화 사업 총괄협의회 홈페이지 (http://www.ckgc.co.kr)</a></p>
        </div>

        <section class="courses-container">
            <section class="courses${'' if course_discovery_enabled else ' no-course-discovery'}">
                <ul class="courses-listing">
                %if courses and len(courses) > 0:
                    %for course in courses:
                    <li class="courses-listing-item">
                        <%include file="../course.html" args="course=course" />
                    </li>
                    %endfor
                %else:
                    <div class="noCourse">※ ${_("There are currently no courses available.")}</div>
                %endif
                </ul>
            </section>
        </section>
    </section>

    <!-- [e]  -->
</section>
