<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>
<%block name="pagetitle">${_("ACEk")}</%block>

<section class="container full home">
    <!-- [s]  -->
    <div class="univ-list-infotop"><img src="/static/images/univ_intro/univ_top_kocw.png" alt=""></div>

    <section class="container univ">
        <h2>학부교육 선도대학 육성사업</h2>
        <div class="univ-info">
            <div class="sns-box">
                 <a target="_blank" href="https://www.youtube.com/user/playHanyangUniv"><img src="/static/images/common/footer_icon01.png" alt="youtube" class="univSns"/></a>
                 <a target="_blank" href="https://www.facebook.com/HanyangUniv"><img src="/static/images/common/footer_icon02.png" alt="facebook" class="univSns"/></a>
            </div>
            <p>학부교육 선도대학 육성사업(ACE : Advancement of College Education)은 ‘잘 가르치는 대학’ 육성을 목표로 대학의 건학이념, 비전 및 인재상 등을 구현하는 선도적 학부교육 우수 모델 창출․확산을 위해, 대학의 교육과정 개발 및 운영 혁신 노력 및 교육지원 시스템의 총체적 개선을 지원하는 사업입니다.</p>
            <br><br>
            <p>[K-MOOC 참여대학]</p>
            <p>가천대학교, 건양대학교, 동국대학교, 동신대학교, 목원대학교, 상명대학교(서울), 서울시립대학교, 중앙대학교, 충남대학교, 한동대학교, 한림대학교</p>
            <br>
            <p>※ 참고 : <a target="_blank" href="http://eduup.kcue.or.kr">학부교육 선도대학 육성사업 홈페이지 (http://eduup.kcue.or.kr)</a></p>
        </div>

        <section class="courses-container">
            <section class="courses${'' if course_discovery_enabled else ' no-course-discovery'}">
                <ul class="courses-listing">
                %if courses and len(courses) > 0:
                    %for course in courses:
                    <li class="courses-listing-item">
                        <%include file="../course.html" args="course=course" />
                    </li>
                    %endfor
                %else:
                    <div class="noCourse">※ ${_("There are currently no courses available.")}</div>
                %endif
                </ul>
            </section>
        </section>
    </section>

    <!-- [e]  -->
</section>
