<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>
<%block name="pagetitle">${_("EwhaK")}</%block>

<section class="container full home">
    <!-- [s]  -->
    <div class="univ-list-infotop"></div>

    <section class="container univ">
        <h2>${_("EwhaK")}</h2>
        <div class="univ-info">
            <div class="sns-box">
                 <a target="_blank" href="https://www.youtube.com/ewhauniv"><img src="/static/images/common/footer_icon01.png" alt="youtube" class="univSns"/></a>
                 <a target="_blank" href="https://www.facebook.com/EwhaWomansUniversity"><img src="/static/images/common/footer_icon02.png" alt="facebook" class="univSns"/></a>
            </div>
            <p>1886년, 메리 F. 스크랜튼 선교사에 의해 단 한명의 학생으로 시작한 이화는 신념과 도전으로 수많은 최초와 최고를 거듭하며 한국 여성 교육의 새로운 역사를 써오고 있습니다.</p>
                    <p>이화여대는 현재 12개 대학과 15개 대학원을 가진 세계 최대의 여자대학으로 25,000여명의 학생이 재학 중이며, 매년 3,500여명의 학사, 2,000여명의 석사, 200여명의 박사를 배출하고 있습니다.</p>
                    <p>한국 최초의 여성교육기관에서 세계 최대 여자대학으로 성장해 온 이화. 언제나 앞서 새로운 미래를 꿈꿔온 이화는 이제 ‘세계 최고를 향한 혁신 이화’를 비전으로 세계를 선도할 새로운 100년의 역사를 써내려가고자 합니다.</p>
        </div>
        <div class="univ-info">
            <p>Ewha’s origin dates back to 1886 when classes began under the tutelage of the American missionary Mary F. Scranton, heralding a proud and unprecedented history of educating Korean women and fostering a spirit of challenge and determination that delivered a series of unique and outstanding achievement.</p>
                    <p>Ewha comprises 12 colleges, 15 graduate schools, and 25,000 students, and each year has produced 3,500 graduates with bachelor’s degrees, 2,000 with master’s degrees and 200 with doctoral degrees.</p>
                    <p>As Korea’s first educational institution for women, Ewha has now grown into the largest women’s university in the world. Continuing its path of leadership throughout the past 130 years, Ewha is eager to make history as a global leader throughout the coming century under the vision of “Innovation Ewha: Leading Global Excellence.”</p>
        </div>

        <section class="courses-container">
            <section class="courses${'' if course_discovery_enabled else ' no-course-discovery'}">
                <ul class="courses-listing">
                %if courses and len(courses) > 0:
                    %for course in courses:
                    <li class="courses-listing-item">
                        <%include file="../course.html" args="course=course" />
                    </li>
                    %endfor
                %else:
                    <div class="noCourse">※ 현재 수강할 수 있는 강좌가 없습니다.</div>
                %endif
                </ul>
            </section>
        </section>
    </section>

    <!-- [e]  -->
</section>
