<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>
<%block name="pagetitle">${_("YeungnamUnivK")}</%block>

<section class="container full home">
    <!-- [s]  -->
    <div class="univ-list-infotop"></div>

    <section class="container univ">
        <h2>${_("YeungnamUnivK")}</h2>
        <div class="univ-info">
            <div class="sns-box">
                 <a target="_blank" href="https://www.youtube.com/user/YeungnamUniversity"><img src="/static/images/common/footer_icon01.png" alt="youtube" class="univSns"/></a>
                 <a target="_blank" href="https://www.facebook.com/yu1947"><img src="/static/images/common/footer_icon02.png" alt="facebook" class="univSns"/></a>
            </div>
            <p>영남대학교는 지성의 전당으로서 애국정신을 바탕으로 하여 인간교육과 생산교육을 추진함으로써 민족중흥의 새 역사창조에 기여함을 창학 정신으로 삼고 있습니다.<br/><br/>
                        이러한 창학 정신을 기초로 하여, 21만명이 넘는 우수한 인재를 배출하며 조국의 산업화, 민주화, 선진화에 크게 기여하여 왔습니다.<br/><br/>
                        이제 지난 70여년의 축적된 역량을 바탕으로 새 시대에 부응하여 ‘미래를 만드는’ 새로운 대학을 열어갈 것입니다.</p>
        </div>
        <div class="univ-info">
            <p>The Yeungnam University educational philosophy is aimed at advancing and continuing the school’s historical march towards a quality education, encouraging creative, personal growth and elevating the individual’s belief, trust, devotion and patriotic allegiance to the beloved country.<br/><br/>
                        Based on the educational philosophy, we have contributed greatly to the industrialization, democratization and advancement of Korea producing more than 210,000 excellent alumni.<br/><br/>
                        On the basis of our vast experience and capability accumulated over the last 70 years, we are continually striving to create a better future to meet the expectations of each new generation.</p>
        </div>

        <section class="courses-container">
            <section class="courses${'' if course_discovery_enabled else ' no-course-discovery'}">
                <ul class="courses-listing">
                %if courses and len(courses) > 0:
                    %for course in courses:
                    <li class="courses-listing-item">
                        <%include file="../course.html" args="course=course" />
                    </li>
                    %endfor
                %else:
                    <div class="noCourse">※ 현재 수강할 수 있는 강좌가 없습니다.</div>
                %endif
                </ul>
            </section>
        </section>
    </section>

    <!-- [e]  -->
</section>
