<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>
<%block name="pagetitle">${_("COREk")}</%block>

<section class="container full home">
    <!-- [s]  -->
    <div class="univ-list-infotop"><img src="/static/images/univ_intro/univ_top_kocw.png" alt=""></div>

    <section class="container univ">
        <h2>대학 인문역량 강화사업</h2>
        <div class="univ-info">
            <div class="sns-box">
                 <a target="_blank" href="https://www.youtube.com/user/playHanyangUniv"><img src="/static/images/common/footer_icon01.png" alt="youtube" class="univSns"/></a>
                 <a target="_blank" href="https://www.facebook.com/HanyangUniv"><img src="/static/images/common/footer_icon02.png" alt="facebook" class="univSns"/></a>
            </div>

            <p>대학 인문역량 강화사업(CORE : initiative for COllege of humanities' Research and Education)은 지속 가능한 국가 발전을 위하여 사회수요에 부응하는 기초학문으로서 인문학의 역량 및 위상 강화를 목표로 대학의 자율적 인문역량 강화․혁신을 지원하는 사업입니다.</p>

            <br><br>
            <p>[K-MOOC 참여대학]</p>
            <p>경북대학교, 서울대학교, 성균관대학교, 한양대학교</p>
            <br>
            <p>※ 참고 : <a target="_blank" href="http://www.nrf.re.kr">한국연구재단 홈페이지 (http://www.nrf.re.kr)</a></p>
        </div>

        <section class="courses-container">
            <section class="courses${'' if course_discovery_enabled else ' no-course-discovery'}">
                <ul class="courses-listing">
                %if courses and len(courses) > 0:
                    %for course in courses:
                    <li class="courses-listing-item">
                        <%include file="../course.html" args="course=course" />
                    </li>
                    %endfor
                %else:
                    <div class="noCourse">※ ${_("There are currently no courses available.")}</div>
                %endif
                </ul>
            </section>
        </section>
    </section>

    <!-- [e]  -->
</section>
