<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%def name="online_help_token()"><% return "progress" %></%def>
<%!
from course_modes.models import CourseMode
from lms.djangoapps.certificates.models import CertificateStatuses
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
from django.urls import reverse
from django.conf import settings
from django.utils.http import urlquote_plus
from six import text_type

from openedx.features.enterprise_support.utils import get_enterprise_learner_generic_name
%>

<%block name="bodyclass">view-in-course view-progress</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
</%block>


<%namespace name="progress_graph" file="/courseware/progress_graph.js"/>

<%block name="pagetitle">video</%block>

<%block name="js_extra"></%block>

<%include file="/courseware/course_navigation.html" args="active_page='video'" />

<main id="main" aria-label="Content" tabindex="-1">
    <div class="container">
        <div class="profile-wrapper">
            <section class="course-info" id="course-video">
                <!-- content ---s -->
                content
                <!-- content ---e -->
            </section>
        </div>
    </div>
</main>
