<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%def name="online_help_token()"><% return "progress" %></%def>
<%!
from course_modes.models import CourseMode
from lms.djangoapps.certificates.models import CertificateStatuses
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
from django.urls import reverse
from django.conf import settings
from django.utils.http import urlquote_plus
from six import text_type

from openedx.features.enterprise_support.utils import get_enterprise_learner_generic_name

import requests, unicodedata, time, json
%>

<%block name="bodyclass">view-in-course view-progress</%block>
<%block name="headextra">
<%static:css group='style-course'/>
</%block>
<%
searchcourseid = course.id
url="https://lms.kmooc.kr/local/coursemos/courseid.php?courseid="+str(searchcourseid)+"&requestfrom=oldkmooc"
print "url=====>",url
header = ''
data='{"courseid":str(searchcourseid)}'
response = requests.post(url, headers=header, data=data)
if response:
    success = response.json().get("success")

if success == "success":
    course_new_id = response.json().get("data")
else:
    course_new_id = ""

case3url = ""
newkoomcmovechek = ""
newkoomcmovechek2 = ""
newkoomcmovechek3 = ""
if str(searchcourseid) == str("course-v1:HansungK+2022HLM001+2023_HLM_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:MA_NSU+MATCHUP_NSU01+2023_01_2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:MA_NSU+MATCHUP_NSU02+2023_02_2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:MA_NSU+MATCHUP_NSU03+2023_03_2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:MA_NSU+MATCHUP_NSU04+2023_04_2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:BUFSk+BUFS_ICFL13+2023_T1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:AYUk+AYUk_SP+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+CORE_SNU041_040k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+CORE_SNU043_076k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU044_008k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU044_025k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU045_011k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU047_011k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU048_011k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU049_011k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU053.019k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU053.019k+2023_S2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU054.019k+2023_S2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU055.019k+2023_S2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU056.020k+2023_S2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU059.019k+2023_S2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU060.020k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU061.020k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU062.020k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU064.020k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU065.020k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU066.020k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU067.021k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU068.021k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU069.021k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU070.021k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU071.022k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU072.022k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU073.022k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU074.022k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU200_105k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU212.204.2k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU212_204_1k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU212_204_3k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNU701_429k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:SNUk+SNUL0655_000500k+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS213+2022_1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS214+2022_1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS223+2022_1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS225+2022_1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS226+2022_1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS227+2022_1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS228+2022_1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS229+2022_1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS232+2022_1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS233+2022_1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS237+2022_1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS241+2022_1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS242+2022_1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS243+2022_1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS244+2022_1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS245+2022_1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS246+2022_1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS248+2022_1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:SOGANGKAEP+KAEP01+2022_T1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:SOGANGKAEP+KAEP02+2022_T1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:SOGANGKAEP+KAEP03+2022_T1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:SOGANGKAEP+KAEP04+2022_T1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:SOGANGKAEP+KAEP05+2022_T1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:SOGANGKAEP+KAEP06+2022_T1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:SOGANGKAEP+KAEP07+2022_T1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:SOGANGKAEP+KAEP08+2022_T1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:SOGANGKAEP+KAEP09+2022_T1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:SOGANGKAEP+KAEP10+2022_T1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:NRF_COSS+NRF_COSS217+2022_1"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek2 = "true"
elif str(searchcourseid) == str("course-v1:DKUK+MOOC_DKUK0027+2023_T2"):
    case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
    newkoomcmovechek3 = "true"


if course.start:
    import string
    timedata = string.split(str(course.start)," ")
    timedatatmp = timedata[0].replace("-","")
    if timedatatmp >= "20231012":
        case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
        newkoomcmovechek2 = "true"

if course.enrollment_start:
    import string
    timedata = string.split(str(course.enrollment_start)," ")
    timedatatmp = timedata[0].replace("-","")
    if timedatatmp >= "20231012":
        case3url = "https://new.kmooc.kr/view/course/detail/"+str(course_new_id)
        newkoomcmovechek2 = "true"
%>
<%block name="pagetitle">video</%block>

<%block name="js_extra"></%block>

<%include file="/courseware/course_navigation.html" args="active_page='video'" />

<link rel="stylesheet" type="text/css" href="/static/css/bootstrap/lms-main.css" media="all"/>

<style>
    .global-header {
        border-bottom: none;
        overflow: visible;
    }

    .course-tabs {
        overflow-x: hidden !important;
    }

    .accordion-trigger {
        background: #fff !important;
        box-shadow: none !important;
    }

    .accordion-trigger:focus {
        outline: 0px solid blue !important;
    }

    .page-header .page-header-main .page-title {
        margin-top: 8px !important;
    }

    .no-padding {
        padding: 0px !important;
    }

    .vertical-details {
        width: 100%;
    }

    .alert-warning {
        border-top: 0.125rem solid #fdbc56 !important;

    }

    .alert {
        background-color: #fcfcfc !important;
        border: 0.0625rem solid #cdd7db;
        border-radius: 0.3125rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 1.25rem 1.25rem;
        overflow: auto;
        box-shadow: 0 0.125rem 0.125rem 0 #eef1f2;
    }
    button:focus,button.focus,.btn:focus,.btn.focus{outline:3px solid #0075b4 !important;overflow:inherit;box-shadow:0 0 0 0.2rem rgba(0,117,180,0.25) !important;color:#FFFFFF;}

</style>
<script type="text/javascript" src="/static/bundles/Enrollment.js"></script>
<script type="text/javascript">
    new CourseEnrollment('.enroll-btn', '${course.id}');
</script>

<main id="main" aria-label="Content" tabindex="-1">
    <div class="container">
        <div class="profile-wrapper">
            <section class="course-info no-padding" id="course-video">
                <!-- content ---s -->
                <div class="course-view page-content-container" id="course-container">

                    <header class="page-header has-secondary">
                        <div class="page-header-main">
                            <nav aria-label="강좌 개요" class="sr-is-focusable" tabindex="-1">
                                <h2 class="hd hd-3 page-title"><b>${course.display_name}</b></h2>
                            </nav>
                        </div>
                    </header>

                    <div class="page-content">
                        <div class="page-content-main">

                            <main role="main" class="course-outline" id="main" tabindex="-1">
                                <button class="btn btn-primary" id="expand-collapse-outline-all-button" aria-expanded="false" aria-controls="course-outline-block-tree">
                                    <span class="expand-collapse-outline-all-extra-padding" id="expand-collapse-outline-all-span">모두 펼치기</span>
                                </button>

                                <!-- chapter -->
                                <ol class="block-tree accordion is_hidden" id="course-outline-block-tree" aria-labelledby="expand-collapse-outline-all-button">
                                    % for chapter in chapter_list:
                                    <li class="outline-item section ">
                                        <button class="section-name accordion-trigger" aria-expanded="false" aria-controls="${chapter['chapter_id']}">
                                            <span class="fa fa-chevron-right ${'fa-rotate-90' if loop.index == 0 else ''}" aria-hidden="true"></span>
                                            <h3 class="section-title">${chapter['chapter_name']}</h3>
                                        </button>

                                        <!-- sequential -->
                                        <ol class="outline-item accordion-panel ${'' if loop.index == 0 else 'is-hidden'}" id="${chapter['chapter_id']}">

                                            % for sequential in chapter['sequential_list']:
                                            <li class="subsection accordion current">
                                                <button class="subsection-text accordion-trigger is_hidden" aria-expanded="false" aria-controls="${sequential['sequential_id']}">
                                                    <span class="fa fa-chevron-right fa-rotate-90" aria-hidden="true"></span>
                                                    <h4 class="subsection-title">${sequential['sequential_name']}</h4>
                                                </button> <!-- /subsection-text -->

                                                <!-- vertical -->
                                                <ol class="outline-item accordion-panel is_hidden" id="${sequential['sequential_id']}">
                                                    % for vertical in sequential['vertical_list']:
                                                    <li class="vertical outline-item focusable">
                                                        <a class="outline-item focusable" target="_blank" href="${vertical['jump_url']}">
                                                            <div class="vertical-details">
                                                                <div class="vertical-title">
                                                                    ${vertical['vertical_name']}
                                                                    <button class="btn btn-primary btn-sm float-right" title="새창열림">시청</button>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    % endfor
                                                </ol>
                                            </li>
                                            % endfor
                                        </ol>
                                    </li>
                                    % endfor
                                </ol>
                            </main>

                            <script type="text/javascript">
                                (function (require) {
                                    (function (require) {
                                        require(['js/dateutil_factory'], function (DateUtilFactory) {

                                            DateUtilFactory.transform('.localized-datetime');

                                        });
                                    }).call(this, require || RequireJS.require);
                                }).call(this, require || RequireJS.require);
                            </script>


                            <script type="text/javascript" src="/static/bundles/CourseOutline.js"></script>
                            <script type="text/javascript">
                                new CourseOutline();
                            </script>
                        </div>
                    </div>
                </div>

                <!-- content ---e -->
            </section>
        </div>
    </div>
</main>
