<%page expression_filter="h"/>

<%!
import json

from django.core.urlresolvers import reverse
from django.conf import settings
from django.utils.translation import ugettext as _

from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
%>

<!--<%namespace name='static' file='/static_content.html'/>-->

<%inherit file="/main.html" />
<%def name="online_help_token()"><% return "learneraccountsettings" %></%def>
<%namespace name='static' file='/static_content.html'/>

<%block name="pagetitle">${_("Account Settings")}</%block>

% if duplicate_provider:
    <section>
        <%include file='/dashboard/_dashboard_third_party_error.html' />
    </section>
% endif

<div class="wrapper-account-settings"></div>

<!-- nice check -->
<form id="form2" name="form2" method="post" action="https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb">
    <input type="hidden" name="m" value="checkplusSerivce">
    <input type="hidden" name="EncodeData" value="${enc_data}">
</form>
<!-- nice check -->

<script>
function multisite(obj){
    msg = "정말 계정 연동을 해제하시겠습니까?";
    if (confirm(msg)!=0) {
        var org = $(obj).attr('id');
        var user_id = $('#user_id').text();

        $.post( "/multisite_delete_api", {
            org: org,
            user_id: user_id
        })
        .done(function( data ) {
            if(data.return == 'success' ){
                var tmp = '#' + org;
                $(tmp).remove();
                //alert("success");
            }
        });
    }
    else {

    }



}
</script>

<!-- nice check test-->
<div id='user_gender' style='display: none;'>${user_gender}</div>
<div id='user_birthday' style='display: none;'>${user_birthday}</div>
<div id='user_name' style='display: none;'>${user_name}</div>
<div id='nice_check' style='display: none;'>${nice_check}</div>
<div id='user_id' style='display: none;'>${user.id}</div>
<!-- nice check test-->

<%block name="headextra">
    <%static:css group='style-course'/>
</%block>

<%block name="js_extra">
<%static:require_module module_name="js/student_account/views/account_settings_factory" class_name="AccountSettingsFactory">
    var fieldsData = ${ fields | n, dump_js_escaped_json },
    ordersHistoryData = ${ order_history | n, dump_js_escaped_json },
    authData = ${ auth | n, dump_js_escaped_json },
    platformName = '${ static.get_platform_name() | n, js_escaped_string }';

    AccountSettingsFactory(
        fieldsData,
        ordersHistoryData,
        authData,
        '${ user_accounts_api_url | n, js_escaped_string }',
        '${ user_preferences_api_url | n, js_escaped_string }',
        ${ user.id | n, dump_js_escaped_json },
        platformName
    );
</%static:require_module>
</%block>
