<%page expression_filter="h"/>

<%!
import json

from django.urls import reverse
from django.conf import settings
from django.utils.translation import ugettext as _

from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML
from webpack_loader.templatetags.webpack_loader import render_bundle
%>

<%inherit file="/main.html" />
<%def name="online_help_token()"><% return "learneraccountsettings" %></%def>
<%namespace name='static' file='/static_content.html'/>

<%block name="pagetitle">${_("Account Settings")}</%block>

% if duplicate_provider:
    <section>
        <%include file='/dashboard/_dashboard_third_party_error.html' />
    </section>
% endif

<script>
function submit_survey(){
    alert('설문에 참여해주셔서 감사합니다 ^_^');
}
</script>

<style>
  .survey-container {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .survey-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: rgb(74, 74, 74);
  }
  .survey-sub-title{
    font-size: 0.875em;
    margin-bottom: 35px;
  }
  .question-card{
    background-color: #f1f1f1;
    max-width: 800px;
    padding: 20px;
    margin-bottom: 12px;
  }
  .question-head{
    margin-bottom: 15px;
  }
  .question-body{
    margin-left: 10px;
  }
  .question-answer{
    margin-bottom: 5px;
  }
  .question-btn-box{
    text-align: right;
    max-width: 840px;
  }

    .acbs-wrap {
        z-index: 10;
        position: absolute;
        width: 380px;
    }

    .acbs-wrap .type {
        display: flex;
        padding: 15px 10px;
        border: 1px solid #ccc;
        border-radius: .25rem;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .12);
        background-color: #fff;

    }

    .acbs-wrap .type .type-btn {
        flex: 1;
        margin: 0 5px;
        padding: 12px 0;
        border: none;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
        background-size: 200% auto;
        text-shadow: none;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: -0.03em;
        color: #fff;
        transition: all .2s ease;
        cursor: pointer;
    }

    .acbs-wrap .type .type-btn:nth-child(1) {
        background-image: linear-gradient(to right, #7474BF 0%, #598dca 51%, #7474BF 100%);
    }

    .acbs-wrap .type .type-btn:nth-child(2) {
        background-image: linear-gradient(to right, #4ca2cd 0%, #67B26F 51%, #4ca2cd 100%);
    }

    .acbs-wrap .type .type-btn:hover {
        background-position: right center;
    }

    .acbs-wrap .acbs-group {
        margin-top: 10px;
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: .25rem;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .12);
        background-color: #fff;
        font-size: 15px;
    }

    .acbs-wrap .acbs-group .form-group {
        margin-bottom: 1rem;
    }

    .acbs-wrap .acbs-group .form-group .label-control {
        margin-right: 15px;
        padding-top: 6px;
    }

    .label-control{
        display: inline-block;
        width: 30% ;
    }

    .form-control{
        display: inline-block !important;
        width: 62% !important;
    }

    input[type="checkbox"]{
        height: 15px !important;
        width:10% !important;
        margin: 12px 5px 5px 0;
        display:inline-block !important;
        float: left !important;
    }

    .i_tag{
        width:7px; height:7px; background:black; display:block; margin-left: 5px; border-radius: 50%; margin-right: 0px !important;
    }

    .acbs-wrap .acbs-group .form-group .form-control {
        flex: 1;
        height: 35px;
        padding: .25rem .5rem;
        border: 1px solid #cecece;
        border-radius: .25rem;
        box-shadow: none;
        font-size: 15px;
        font-weight: normal;
    }

    .acbs-wrap .acbs-group .pa-group {
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: #f4f4f4;
        font-size: 13px;
        text-align: center;
    }

    .acbs-wrap .acbs-group .pa-group .pa-text {
        margin-top: 0;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e4e4e4;
    }

    .acbs-wrap .acbs-group .pa-group .radio-inline {
        display: inline-block;
    }

    .acbs-wrap .acbs-group .pa-group .radio-inline ~ .radio-inline {
        margin-left: 10px;
    }

    .acbs-wrap .acbs-group .pa-group .radio-inline label {
        font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
    }

    .acbs-wrap .acbs-group .acbs-btn {
        width: 100%;
        padding: 12px 0;
        border: none;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
        background-image: linear-gradient(to right, #4ca2cd 0%, #67B26F 51%, #4ca2cd 100%);
        background-size: 200% auto;
        text-shadow: none;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: -0.03em;
        color: #fff;
        transition: all .2s ease;
        cursor: pointer;
    }

    .acbs-wrap .acbs-group .acbs-btn:hover {
        background-position: right center;
    }

    .swal-text{
        text-align: center;
    }

    .agree_text::after{
        width: 0px !important;
    }
</style>

<div class="wrapper-account-settings"></div>

<div class="survey-container" style="display: none !important;">

  <div class="survey-title">
    추천설문
  </div>
  <div class="survey-sub-title">
    강좌 추천을 위한 설문입니다.
  </div>

  <div class="question-card">
    <div class="question-head">
      1. 고객님은 최근 3개월 간 K-MOOC를 이용하면 어떤 종류의 강좌가 마음에 들었습니까?
    </div>
    <div class="question-body">
      <input class="question-answer" type="radio" name="one" value="1"> 역사<br>
      <input class="question-answer" type="radio" name="one" value="2"> 수학<br>
      <input class="question-answer" type="radio" name="one" value="3"> 컴퓨터<br>
      <input class="question-answer" type="radio" name="one" value="4"> 문학<br>
      <input class="question-answer" type="radio" name="one" value="5"> 의료<br>
    </div>
  </div>

  <div class="question-card">
    <div class="question-head">
      2. 고객님은 최근 3개월 간 K-MOOC를 이용하면 어떤 종류의 강좌가 마음에 들었습니까?
    </div>
    <div class="question-body">
      <input class="question-answer" type="radio" name="two" value="1"> 많이 있다<br>
      <input class="question-answer" type="radio" name="two" value="2"> 가끔 있다<br>
      <input class="question-answer" type="radio" name="two" value="3"> 보통<br>
      <input class="question-answer" type="radio" name="two" value="4"> 적게 있다<br>
      <input class="question-answer" type="radio" name="two" value="5"> 없다<br>
    </div>
  </div>

  <div class="question-card">
    <div class="question-head">
      3. 고객님은 최근 3개월 간 K-MOOC를 이용하면 어떤 종류의 강좌가 마음에 들었습니까?
    </div>
    <div class="question-body">
      <input class="question-answer" type="radio" name="three" value="1"> 많이 있다<br>
      <input class="question-answer" type="radio" name="three" value="2"> 가끔 있다<br>
      <input class="question-answer" type="radio" name="three" value="3"> 보통<br>
      <input class="question-answer" type="radio" name="three" value="4"> 적게 있다<br>
      <input class="question-answer" type="radio" name="three" value="5"> 없다<br>
    </div>
  </div>

  <div class="question-card">
    <div class="question-head">
      4. 고객님은 최근 3개월 간 K-MOOC를 이용하면 어떤 종류의 강좌가 마음에 들었습니까?
    </div>
    <div class="question-body">
      <input class="question-answer" type="radio" name="four" value="1"> 많이 있다<br>
      <input class="question-answer" type="radio" name="four" value="2"> 가끔 있다<br>
      <input class="question-answer" type="radio" name="four" value="3"> 보통<br>
      <input class="question-answer" type="radio" name="four" value="4"> 적게 있다<br>
      <input class="question-answer" type="radio" name="four" value="5"> 없다<br>
    </div>
  </div>

  <div class="question-card">
    <div class="question-head">
      5. 고객님은 최근 3개월 간 K-MOOC를 이용하면 어떤 종류의 강좌가 마음에 들었습니까?
    </div>
    <div class="question-body">
      <input class="question-answer" type="radio" name="five" value="1"> 많이 있다<br>
      <input class="question-answer" type="radio" name="five" value="2"> 가끔 있다<br>
      <input class="question-answer" type="radio" name="five" value="3"> 보통<br>
      <input class="question-answer" type="radio" name="five" value="4"> 적게 있다<br>
      <input class="question-answer" type="radio" name="five" value="5"> 없다<br>
    </div>
  </div>

  <div class="question-btn-box">
    <button onclick="submit_survey()">설문 제출</button>
  </div>



</div>

<%block name="headextra">
    <%static:css group='style-course'/>
    <link type="text/css" rel="stylesheet" href="${STATIC_URL}paragon/static/paragon.min.css">
</%block>


<!-- nice check -->
<form id="form2" name="form2" method="post" action="https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb">
    <input type="hidden" name="m" value="checkplusSerivce">
    <input type="hidden" name="EncodeData" value="${enc_data}">
</form>
<!-- nice check -->

<script>
function multisite(obj){
    msg = "정말 계정 연동을 해제하시겠습니까?";
    if (confirm(msg)!=0) {
        var org = $(obj).attr('id');
        var user_id = $('#user_id').text();

        $.post( "/api/delete_multisite_account", {
            org: org,
            user_id: user_id
        })
        .done(function( data ) {
            if(data.return == 'success' ){
                var tmp = '#' + org;
                $(tmp).remove();
                //alert("success");
            }
        });
    }
    else {

    }
}
</script>

<!-- nice check test-->
<div id='user_gender' style='display: none;'>${user_gender}</div>
<div id='user_birthday' style='display: none;'>${user_birthday}</div>
<div id='user_name' style='display: none;'>${user_name}</div>
<div id='nice_check' style='display: none;'>${nice_check}</div>
<div id='user_id' style='display: none;'>${user.id}</div>

<input type="hidden" id="is_kakao" value="false"/>
<input type="hidden" id="kakao_check" value="${kakao_check}"/>
<input type="hidden" id="kakao_phone" value=""/>
<input type="hidden" id="kakao_name" value=""/>
<input type="hidden" id="kakao_year" value=""/>
<input type="hidden" id="kakao_gender" value=""/>
<input type="hidden" id="kakao_receiptId" value=""/>
<!-- nice check test-->

<div class="black_bg" style="display: none; position: fixed; content: '';
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0,0, 0.5);
        top:0;
        left: 0;
        z-index: 1000; overflow: hidden;"
></div>

<%block name="js_extra">
<%static:require_module module_name="js/student_account/views/account_settings_factory" class_name="AccountSettingsFactory">
console.log('***lms/templates/student_account/account_settings.html-->processing start***');
console.log('***[doc]module call js/student_account/views/account_settings_factory***');
console.log('***[doc]class_name: AccountSettingsFactory***');
    var fieldsData = ${ fields | n, dump_js_escaped_json },
        ordersHistoryData = ${ order_history | n, dump_js_escaped_json },
        authData = ${ auth | n, dump_js_escaped_json },
        platformName = '${ static.get_platform_name() | n, js_escaped_string }',
        contactEmail = '${ static.get_contact_email_address() | n, js_escaped_string }',
        allowEmailChange = ${ bool(settings.FEATURES['ALLOW_EMAIL_ADDRESS_CHANGE']) | n, dump_js_escaped_json },
        socialPlatforms = ${ settings.SOCIAL_PLATFORMS | n, dump_js_escaped_json },

        syncLearnerProfileData = ${ bool(sync_learner_profile_data) | n, dump_js_escaped_json },
        enterpriseName = '${ enterprise_name | n, js_escaped_string }',
        enterpriseReadonlyAccountFields = ${ enterprise_readonly_account_fields | n, dump_js_escaped_json },
        edxSupportUrl = '${ edx_support_url | n, js_escaped_string }',
        extendedProfileFields = ${ extended_profile_fields | n, dump_js_escaped_json },
        displayAccountDeletion = ${ enable_account_deletion | n, dump_js_escaped_json};

    fieldsData.year_of_birth.option='';

    AccountSettingsFactory(
        fieldsData,
        ordersHistoryData,
        authData,
        '${ password_reset_support_link | n, js_escaped_string }',
        '${ user_accounts_api_url | n, js_escaped_string }',
        '${ user_preferences_api_url | n, js_escaped_string }',
        ${ user.id | n, dump_js_escaped_json },
        platformName,
        contactEmail,
        allowEmailChange,
        socialPlatforms,

        syncLearnerProfileData,
        enterpriseName,
        enterpriseReadonlyAccountFields,
        edxSupportUrl,
        extendedProfileFields,
        displayAccountDeletion
    );

console.log('***[doc]data: name: fieldsData***');
console.log('***[doc]data:', fieldsData);
console.log('***lms/templates/student_account/account_settings.html-->processing end***');
</%static:require_module>

<script type="text/javascript">
     window.auth = ${ auth | n, dump_js_escaped_json };
     window.isActive = ${ user.is_active | n, dump_js_escaped_json };
</script>
<%static:webpack entry="StudentAccountDeletionInitializer">
</%static:webpack>
</%block>

