<%page expression_filter="h"/>

<%!
import json

from django.urls import reverse
from django.conf import settings
from django.utils.translation import ugettext as _

from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML
from webpack_loader.templatetags.webpack_loader import render_bundle
%>

<%inherit file="/main.html" />
<%def name="online_help_token()"><% return "learneraccountsettings" %></%def>
<%namespace name='static' file='/static_content.html'/>

<%block name="pagetitle">${_("Account Settings")}</%block>

% if duplicate_provider:
    <section>
        <%include file='/dashboard/_dashboard_third_party_error.html' />
    </section>
% endif

<style>
  .survey-container {
    border: solid 1px blue;
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .wrapper-header{
    border: solid 1px green;
  }
  .survey-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: rgb(74, 74, 74);
  }
  .survey-sub-title{
    font-size: 0.875em;
    margin-bottom: 35px;
  }
  .question-card{
    background-color: #f1f1f1;
    max-width: 800px;
    padding: 20px;
    margin-bottom: 12px;
  }
  .question-head{
    margin-bottom: 15px;
  }
  .question-body{
    margin-left: 10px;
  }
  .question-answer{
    margin-bottom: 5px;
  }
  .question-btn-box{
    text-align: right;
    max-width: 840px;
  }
</style>

<div class="wrapper-account-settings" style="border: solid 1px red"></div>

<div class="survey-container" style="display: none !important;">

  <div class="survey-title">
    추천설문
  </div>
  <div class="survey-sub-title">
    강좌 추천을 위한 설문입니다.
  </div>

  <div class="question-card">
    <div class="question-head">
      1. 고객님은 최근 3개월 간 K-MOOC를 이용하면 어떤 종류의 강좌가 마음에 들었습니까?
    </div>
    <div class="question-body">
      <input class="question-answer" type="radio" name="one" value="1"> 역사<br>
      <input class="question-answer" type="radio" name="one" value="2"> 수학<br>
      <input class="question-answer" type="radio" name="one" value="3"> 컴퓨터<br>
      <input class="question-answer" type="radio" name="one" value="4"> 문학<br>
      <input class="question-answer" type="radio" name="one" value="5"> 의료<br>
    </div>
  </div>

  <div class="question-card">
    <div class="question-head">
      2. 고객님은 최근 3개월 간 K-MOOC를 이용하면서 자살충동을 느낀적이 있습니까?
    </div>
    <div class="question-body">
      <input class="question-answer" type="radio" name="two" value="1"> 많이 있다<br>
      <input class="question-answer" type="radio" name="two" value="2"> 가끔 있다<br>
      <input class="question-answer" type="radio" name="two" value="3"> 보통<br>
      <input class="question-answer" type="radio" name="two" value="4"> 적게 있다<br>
      <input class="question-answer" type="radio" name="two" value="5"> 없다<br>
    </div>
  </div>

  <div class="question-card">
    <div class="question-head">
      3. K-MOOC를 이용하면서 우울증 및 몸이 부셔지는 기분을 느낀적이 있습니까?
    </div>
    <div class="question-body">
      <input class="question-answer" type="radio" name="three" value="1"> 많이 있다<br>
      <input class="question-answer" type="radio" name="three" value="2"> 가끔 있다<br>
      <input class="question-answer" type="radio" name="three" value="3"> 보통<br>
      <input class="question-answer" type="radio" name="three" value="4"> 적게 있다<br>
      <input class="question-answer" type="radio" name="three" value="5"> 없다<br>
    </div>
  </div>

  <div class="question-card">
    <div class="question-head">
      4. K-MOOC 서비스의 강좌의 품질이 굉장히 낮다고 생각합니까?
    </div>
    <div class="question-body">
      <input class="question-answer" type="radio" name="four" value="1"> 많이 있다<br>
      <input class="question-answer" type="radio" name="four" value="2"> 가끔 있다<br>
      <input class="question-answer" type="radio" name="four" value="3"> 보통<br>
      <input class="question-answer" type="radio" name="four" value="4"> 적게 있다<br>
      <input class="question-answer" type="radio" name="four" value="5"> 없다<br>
    </div>
  </div>

  <div class="question-card">
    <div class="question-head">
      5. K-MOOC를 들으면 기분이 좋아지고 날아갈 것 같은 기분을 느낀적이 있습니까??
    </div>
    <div class="question-body">
      <input class="question-answer" type="radio" name="five" value="1"> 많이 있다<br>
      <input class="question-answer" type="radio" name="five" value="2"> 가끔 있다<br>
      <input class="question-answer" type="radio" name="five" value="3"> 보통<br>
      <input class="question-answer" type="radio" name="five" value="4"> 적게 있다<br>
      <input class="question-answer" type="radio" name="five" value="5"> 없다<br>
    </div>
  </div>

  <div class="question-btn-box">
    <button>설문 제출</button>
  </div>



</div>

<%block name="headextra">
    <%static:css group='style-course'/>
    <link type="text/css" rel="stylesheet" href="${STATIC_URL}paragon/static/paragon.min.css">
</%block>


<!-- nice check -->
<form id="form2" name="form2" method="post" action="https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb">
    <input type="hidden" name="m" value="checkplusSerivce">
    <input type="hidden" name="EncodeData" value="${enc_data}">
</form>
<!-- nice check -->

<script>
function multisite(obj){
    msg = "정말 계정 연동을 해제하시겠습니까?";
    if (confirm(msg)!=0) {
        var org = $(obj).attr('id');
        var user_id = $('#user_id').text();

        $.post( "/api/delete_multisite_account", {
            org: org,
            user_id: user_id
        })
        .done(function( data ) {
            if(data.return == 'success' ){
                var tmp = '#' + org;
                $(tmp).remove();
                //alert("success");
            }
        });
    }
    else {

    }
}
</script>

<!-- nice check test-->
<div id='user_gender' style='display: none;'>${user_gender}</div>
<div id='user_birthday' style='display: none;'>${user_birthday}</div>
<div id='user_name' style='display: none;'>${user_name}</div>
<div id='nice_check' style='display: none;'>${nice_check}</div>
<div id='user_id' style='display: none;'>${user.id}</div>
<!-- nice check test-->

<%block name="js_extra">
<%static:require_module module_name="js/student_account/views/account_settings_factory" class_name="AccountSettingsFactory">
console.log('***lms/templates/student_account/account_settings.html-->processing start***');
console.log('***[doc]module call js/student_account/views/account_settings_factory***');
console.log('***[doc]class_name: AccountSettingsFactory***');
    var fieldsData = ${ fields | n, dump_js_escaped_json },
        ordersHistoryData = ${ order_history | n, dump_js_escaped_json },
        authData = ${ auth | n, dump_js_escaped_json },
        platformName = '${ static.get_platform_name() | n, js_escaped_string }',
        contactEmail = '${ static.get_contact_email_address() | n, js_escaped_string }',
        allowEmailChange = ${ bool(settings.FEATURES['ALLOW_EMAIL_ADDRESS_CHANGE']) | n, dump_js_escaped_json },
        socialPlatforms = ${ settings.SOCIAL_PLATFORMS | n, dump_js_escaped_json },

        syncLearnerProfileData = ${ bool(sync_learner_profile_data) | n, dump_js_escaped_json },
        enterpriseName = '${ enterprise_name | n, js_escaped_string }',
        enterpriseReadonlyAccountFields = ${ enterprise_readonly_account_fields | n, dump_js_escaped_json },
        edxSupportUrl = '${ edx_support_url | n, js_escaped_string }',
        extendedProfileFields = ${ extended_profile_fields | n, dump_js_escaped_json },
        displayAccountDeletion = ${ enable_account_deletion | n, dump_js_escaped_json};

    fieldsData.year_of_birth.option='';

    AccountSettingsFactory(
        fieldsData,
        ordersHistoryData,
        authData,
        '${ password_reset_support_link | n, js_escaped_string }',
        '${ user_accounts_api_url | n, js_escaped_string }',
        '${ user_preferences_api_url | n, js_escaped_string }',
        ${ user.id | n, dump_js_escaped_json },
        platformName,
        contactEmail,
        allowEmailChange,
        socialPlatforms,

        syncLearnerProfileData,
        enterpriseName,
        enterpriseReadonlyAccountFields,
        edxSupportUrl,
        extendedProfileFields,
        displayAccountDeletion
    );

console.log('***[doc]data: name: fieldsData***');
console.log('***[doc]data:', fieldsData);
console.log('***lms/templates/student_account/account_settings.html-->processing end***');
</%static:require_module>

<script type="text/javascript">
     window.auth = ${ auth | n, dump_js_escaped_json };
     window.isActive = ${ user.is_active | n, dump_js_escaped_json };
</script>
<%static:webpack entry="StudentAccountDeletionInitializer">
</%static:webpack>
</%block>
