<%!
    import json
    from django.utils.translation import ugettext as _
    from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">
%if data['initial_mode'] == 'login':
    ${_("Sign in")}
%else:
    ${_("Join Us")}
%endif
</%block>


<%block name="js_extra">
    <%static:require_module module_name="js/student_account/logistration_factory" class_name="LogistrationFactory">
        var options = ${data | n, dump_js_escaped_json};
        LogistrationFactory(options);
        if ('newrelic' in window) {
            newrelic.finished();
            // Because of a New Relic bug, the finished() event doesn't show up
            // in Insights, so we have to make a new PageAction that is basically
            // the same thing. We still want newrelic.finished() for session
            // traces though.
            newrelic.addPageAction('xfinished');
        }

        function agreementPop(){
            var pop = window.open("/agreement","agreement","width=1260,height=768,left=50,top=50,scrollbars=yes,realzable=yes");
            if(pop)
                pop.focus();
        }

        function privacyPop(){
            var pop = window.open("/Privacy-Policy","privacy","width=1260,height=768,left=55,top=55,scrollbars=yes,realzable=yes");
            if(pop)
                pop.focus();
        }

        $(document).ready(function(){
            var d = new Date();
            var year = d.getFullYear();

            %if division != 'Y':
                $("#register-year_of_birth").find("option").each(function(){
                    if($(this).val() != "" && eval(year - $(this).val()) > 14)
                        $(this).remove();
                });

            %else:
                $("#register-year_of_birth").find("option").each(function(){
                    if($(this).val() != "" && eval(year - $(this).val()) < 14)
                        $(this).remove();
                });
            %endif
        });

    </%static:require_module>
</%block>

<%block name="header_extras">
    % for template_name in ["account", "access", "form_field", "login", "register", "institution_login", "institution_register", "password_reset", "hinted_login"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="student_account/${template_name}.underscore" />
        </script>
% endfor
</%block>
<script>
    $(document).ready(function(){
        console.log("이 페이지 ${data['initial_mode']}");
        console.log("${data['initial_mode']}")
        setTimeout(country_korea,1000); // 1초 후 start를 재귀호출한다.
        setInterval(function() {
            if( $('#register-password').val() == $('#register-password2').val()){
                $('.register-button').attr('disabled', false);
            }
            else {
                $('.register-button').attr('disabled', true);
            }
        }, 500)
    });

    function country_korea(){
        if($.trim($("label[for='register-country']").text())=='국가'){
            $("option[value='KR']").text('대한민국');
        }
    }

    %if data['initial_mode'] == 'login':
        console.log('login page');
    %else:
        var checkUnload = true;
        $(window).on("beforeunload", function(){
            $( ".js-register").bind( "click" );
            if(checkUnload) return "이 페이지를 벗어나면 작성된 내용은 저장되지 않습니다.";
        })
    %endif
</script>
<input type="hidden" id="is_regist" value="false"/>
<div class="section-bkg-wrapper">
    <main id="main" aria-label="Content" tabindex="-1">
        <div id="login-and-registration-container" class="login-register" />
    </main>
    % if 'status' in request.session:
        % if request.session['status'] == 'success':
        <div style="display:none" id="multisite">true</div>
        % elif request.session['status'] != 'success':
        <div style="display:none" id="multisite">false</div>
        % endif
    % elif 'status' not in request.session:
        <div style="display:none" id="multisite">false</div>
    % endif
</div>

<style>

.multi {
    color: #fff !important;
    background-color: #218838 !important;
    border-color: #1e7e34 !important;
    background-image: none !important;
    text-shadow: none !important;
    box-shadow: none !important;
}
.swal-button--cancel {
    color: #555 !important;
    background-color: #efefef !important;
    background-image: none !important;
    text-shadow: none !important;
}
</style>

<script>

/*
// enter key event
setTimeout(function() {
    $("input[name=password]").keydown(function (key) {
        if(key.keyCode == 13){
            multisite_btn();
        }
    });

    $('.swal-button--confirm').keydown(function (key) {
        if(key.keyCode == 13){
            // ...
        }
    });
}, 1000);
*/

// login button click event
function multisite_btn(){

    % if 'status_org' in request.session:
        var org = '${request.session["status_org"]}';
    % elif 'status_org' not in request.session:
        var org = '[기관명]';
    % endif

    swal("본 K-MOOC계정으로 로그인 시\n 소속기관 계정과 연동되어, 추후 해당 K-MOOC 계정으로 수행한 학습이력이 소속기관으로 전달되게 됩니다. 동의하시겠습니까? \n(동의하지 않을 시, 계정 연동이 취소됩니다)",
        {
            buttons: {
                cancel: "동의하지 않음",
                confirm: {text: "동의", className: "multi"}
            }
        }).then(function (isConfirm) {
    if (isConfirm == true) {

        $.post('/user_api/v1/account/login_session/', {
                    email: $('#login-email').val(),
                    password: $('#login-password').val(),
                    remember: false,
                    target: '',
                    is_regist: false
        })
        .done(function(data){
            location.href = "/dashboard";
        })
        .fail(function() {
            swal("로그인 실패 (이메일과 비밀번호를 확인해주세요)",
            {
                buttons: {
                    cancel: "확인",
                }
            })
        });

    } else {
        return;
    }

    });
}
</script>