<%page expression_filter="h"/>
<%!
    import json
    from django.utils.translation import ugettext as _
    from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
    from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

##<%block name="pagetitle">
##${_("Sign in or Register")}
##</%block>

<%block name="pagetitle">
%if data['initial_mode'] == 'login':
    ${_("Sign in")}
%else:
    ${_("Join Us")}
%endif
</%block>

<%block name="js_extra">
    <script type="text/javascript" src="/static/js/vendor/jquery-ui.min.js"></script>
    <%static:require_module module_name="js/student_account/logistration_factory" class_name="LogistrationFactory">
        var options = ${data | n, dump_js_escaped_json};
        LogistrationFactory(options);
        if ('newrelic' in window) {
            newrelic.finished();
            // Because of a New Relic bug, the finished() event doesn't show up
            // in Insights, so we have to make a new PageAction that is basically
            // the same thing. We still want newrelic.finished() for session
            // traces though.
            newrelic.addPageAction('xfinished');
        }
        function agreementPop(){
            var pop = window.open("/agreement","agreement","width=1260,height=768,left=50,top=50,scrollbars=yes,realzable=yes");
            if(pop)
                pop.focus();
        }

        function privacyPop(){
            var pop = window.open("/Privacy-Policy","privacy","width=1260,height=768,left=55,top=55,scrollbars=yes,realzable=yes");
            if(pop)
                pop.focus();
        }

        $(document).ready(function(){
            var d = new Date();
            var year = d.getFullYear();

            /*
            %if division != 'Y':
                $("#register-year_of_birth").find("option").each(function(){
                    if($(this).val() != "" && eval(year - $(this).val()) > 14)
                        $(this).remove();

                });

            %else:
                $("#register-year_of_birth").find("option").each(function(){
                    if($(this).val() != "" && eval(year - $(this).val()) < 14)
                        $(this).remove();
                });
            %endif
            */
        });
    </%static:require_module>
    % if configuration_helpers.get_value('DISPLAY_TOS_IN_MODAL_ON_REGISTRATION_PAGE', False):
    <script type="text/javascript" src="${static.url('js/student_account/tos_modal.js')}"></script>
    % endif
</%block>

<%block name="header_extras">
    % for template_name in ["account", "access", "form_field", "login", "register", "institution_login", "institution_register", "email_find", "password_reset", "hinted_login"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="student_account/${template_name}.underscore" />

        </script>
    % endfor
</%block>
<script>
    $(document).ready(function(){
        let initial_mode = "${data['initial_mode']}";

        if (initial_mode == 'register'){

            let checkUnload = true;
            $(window).on("beforeunload", function(){
                $( ".js-register").bind( "click" );
                if(checkUnload) return "이 페이지를 벗어나면 작성된 내용은 저장되지 않습니다.";
            });

        }

    });
</script>
<input type="hidden" id="is_regist" value="false"/>

<div class="section-bkg-wrapper">
    <main id="main" aria-label="Content" tabindex="-1">
        <div id="content-container" class="login-register-content">
            % if enable_enterprise_sidebar:
                <%include file="enterprise_sidebar.html" />
                <%
                    border_class = 'border-left'
                %>
            % else:
                <%
                    border_class = ''
                %>
            % endif
            <div id="login-and-registration-container" class="login-register ${border_class}" style="width: 500px;"></div>
        </div>
    </main>
</div>

% if 'multisite_mode' in request.session:
  <div id="multisite_mode" hidden>${request.session['multisite_mode']}</div>
% endif

<style>
.button.button-primary.button-oa2-naver.login-provider.login-oa2-naver{
  color:#333333;
}
.button.button-primary.button-oa2-naver.login-provider.login-oa2-naver div{
  background: #00b300;
}
.button.button-primary.button-oa2-naver.login-provider.login-oa2-naver:hover{
  background: #00b300;
  color: #ffffff;
  border-color: #00b300;
}
.button.button-primary.button-oa2-kakao.login-provider.login-oa2-kakao{
  color:#333333;
}
.button.button-primary.button-oa2-kakao.login-provider.login-oa2-kakao div{
  background: #ffcc2b;
}
.button.button-primary.button-oa2-kakao.login-provider.login-oa2-kakao:hover{
  background: #ffcc2b;
  color: #ffffff;
  border-color: #ffcc2b;
}
.button.button-primary.button-oa2-nhi.login-provider.login-oa2-nhi{
  color:#333333;
}
.button.button-primary.button-oa2-nhi.login-provider.login-oa2-nhi div{
  background: #3a91e2;
}
.button.button-primary.button-oa2-nhi.login-provider.login-oa2-nhi:hover{
  background: #3a91e2;
  color: #ffffff;
  border-color: #3a91e2;
}
.button.button-primary.button-oa2-lifelongedu.login-provider.login-oa2-lifelongedu{
  color:#333333;
}
.button.button-primary.button-oa2-lifelongedu.login-provider.login-oa2-lifelongedu div{
  background: #2f3f67;
}
.button.button-primary.button-oa2-lifelongedu.login-provider.login-oa2-lifelongedu:hover{
  background: #2f3f67;
  color: #ffffff;
  border-color: #2f3f67;
}
.button.button-primary.button-oa2-nec.login-provider.login-oa2-nec{
  color:#333333;
}
.button.button-primary.button-oa2-nec.login-provider.login-oa2-nec div{
  background: #867d82;
}
.button.button-primary.button-oa2-nec.login-provider.login-oa2-nec:hover{
  background: #867d82;
  color: #ffffff;
  border-color: #867d82;
}
.button.button-primary.button-oa2-allprovider.login-provider.login-oa2-allprovider{
  color:#333333;
}
.button.button-primary.button-oa2-allprovider.login-provider.login-oa2-allprovider div{
  background: #9a80ca;
}
.button.button-primary.button-oa2-allprovider.login-provider.login-oa2-allprovider:hover{
  background: #9a80ca;
  color: #ffffff;
  border-color: #9a80ca;
}
.button.button-primary.button-oa2-google-oauth2.login-provider.login-oa2-google-oauth2{
  color:#333333;
}
.button.button-primary.button-oa2-google-oauth2.login-provider.login-oa2-google-oauth2:hover{
  background: #d73924;
  color: #ffffff;
  border-color: #d73924;
}

.button.button-primary.button-oa2-facebook.login-provider.login-oa2-facebook{
  color:#333333;
}
.button.button-primary.button-oa2-facebook.login-provider.login-oa2-facebook:hover{
  background: #3b5998;
  color: #ffffff;
  border-color: #3b5998;
}
<!-- -->

.button.button-primary.button-oa2-naver.login-provider.register-oa2-naver{
  color:#333333;
}
.button.button-primary.button-oa2-naver.login-provider.register-oa2-naver div{
  background: #00b300;
}
.button.button-primary.button-oa2-naver.login-provider.register-oa2-naver:hover{
  background: #00b300;
  color: #ffffff;
  border-color: #00b300;
}
.button.button-primary.button-oa2-kakao.login-provider.register-oa2-kakao{
  color:#333333;
}
.button.button-primary.button-oa2-kakao.login-provider.register-oa2-kakao div{
  background: #ffcc2b;
}
.button.button-primary.button-oa2-kakao.login-provider.register-oa2-kakao:hover{
  background: #ffcc2b;
  color: #ffffff;
  border-color: #ffcc2b;
}
.button.button-primary.button-oa2-nhi.login-provider.register-oa2-nhi{
  color:#333333;
}
.button.button-primary.button-oa2-nhi.login-provider.register-oa2-nhi div{
  background: #3a91e2;
}
.button.button-primary.button-oa2-nhi.login-provider.register-oa2-nhi:hover{
  background: #3a91e2;
  color: #ffffff;
  border-color: #3a91e2;
}
.button.button-primary.button-oa2-lifelongedu.login-provider.register-oa2-lifelongedu{
  color:#333333;
}
.button.button-primary.button-oa2-lifelongedu.login-provider.register-oa2-lifelongedu div{
  background: #2f3f67;
}
.button.button-primary.button-oa2-lifelongedu.login-provider.register-oa2-lifelongedu:hover{
  background: #2f3f67;
  color: #ffffff;
  border-color: #2f3f67;
}
.button.button-primary.button-oa2-nec.login-provider.register-oa2-nec{
  color:#333333;
}
.button.button-primary.button-oa2-nec.login-provider.register-oa2-nec div{
  background: #867d82;
}
.button.button-primary.button-oa2-nec.login-provider.register-oa2-nec:hover{
  background: #867d82;
  color: #ffffff;
  border-color: #867d82;
}
.button.button-primary.button-oa2-allprovider.login-provider.register-oa2-allprovider{
  color:#333333;
}
.button.button-primary.button-oa2-allprovider.login-provider.register-oa2-allprovider div{
  background: #9a80ca;
}
.button.button-primary.button-oa2-allprovider.login-provider.register-oa2-allprovider:hover{
  background: #9a80ca;
  color: #ffffff;
  border-color: #9a80ca;
}
.button.button-primary.button-oa2-google-oauth2.login-provider.register-oa2-google-oauth2{
  color:#333333;
}
.button.button-primary.button-oa2-google-oauth2.login-provider.register-oa2-google-oauth2:hover{
  background: #d73924;
  color: #ffffff;
  border-color: #d73924;
}

.button.button-primary.button-oa2-facebook.login-provider.register-oa2-facebook{
  color:#333333;
}
.button.button-primary.button-oa2-facebook.login-provider.register-oa2-facebook:hover{
  background: #3b5998;
  color: #ffffff;
  border-color: #3b5998;
}

</style>


<style>
  .swal-button--cancel{
    color: black;
    background-image: linear-gradient(to bottom,#ffffff 0%,#ffffff 50%,#ffffff 50%,#ffffff 100%);
    text-shadow: 0 0px 0px #000042;
  }
  .swal-button--confirm{
    color: white;
    background-image: linear-gradient(to bottom,#008100 0%,#008100 50%,#008100 50%,#008100 100%);
    text-shadow: 0 0px 0px #000042;
  }
  .swal-button--cancel:active {
    box-shadow: snow 0 0 0 0;
  }
  .swal-button--confirm:active {
    box-shadow: snow 0 0 0 0;
  }
  .swal-button--cancel:hover:not(:disabled) {
    color: red;
    background-color: #ffffff;
    background-color: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 50%,#ffffff 50%,#ffffff 100%);
    background-image: linear-gradient(to bottom,#ffffff 0%,#ffffff 50%,#ffffff 50%,#ffffff 100%);
  }
  .swal-button--confirm:hover:not(:disabled) {
    color: green;
    background-color: #ffffff;
    background-color: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 50%,#ffffff 50%,#ffffff 100%);
    background-image: linear-gradient(to bottom,#ffffff 0%,#ffffff 50%,#ffffff 50%,#ffffff 100%);
  }
</style>

<script>
function multisite_btn(){
  % if 'multisite_org' in request.session:
      var org = '${request.session["multisite_org"]}';
  % endif

  swal("본 K-MOOC계정으로 로그인 시\n 소속기관 계정과 연동되어, 추후 해당 K-MOOC 계정으로 수행한 학습이력이 소속기관으로 전달되게 됩니다. 동의하시겠습니까? \n(동의하지 않을 시, 계정 연동이 취소됩니다)",
  {
    buttons: {
      cancel: "동의하지 않음",
      confirm: {text: "동의", className: "multi"}
    }
  }).then(function (isConfirm) {
    if(isConfirm == true){
        $.post('/user_api/v1/account/login_session/', {
          email: $('#login-email').val(),
          password: $('#login-password').val(),
          remember: false,
          target: '',
          is_regist: false
        })
        .done(function(data){
          location.href = "/dashboard";
        })
        .fail(function(data) {
            if(data.status == 500){
                data.responseText = '로그인에 문제가 발생하였습니다.';
            }
          console.log(data.responseText);
          swal(data.responseText,
          {
            buttons: {
              cancel: "확인",
            }
          })
        });
    } else {
      return;
    }
  });
}
</script>

<form id="form2" name="form2" method="post" action="https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb">
    <input type="hidden" name="m" value="checkplusSerivce">
    <input type="hidden" name="EncodeData" value="${enc_data}">
</form>