<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="pagetitle">${_("NICE certification.")}</%block>
<%inherit file="../main.html" />

<%block name="header_extras"></%block>

<%block name="js_extra">
<script>
    $(document).ready(function () {
        $.cookie('parent_agree', true, {path: '/parent_agree'});
        alert("${_('Authentication complete')}");
        $(".ipin-block a", opener.document)
            .removeAttr("href")
            .css({
                "background": "#aaa",
                "border": "1px solid #aaa"
            })
            .text("${_('Certificated')}");
        self.close();
    });
</script>
</%block>
