<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<%block name="pagetitle">${_("NICE certification.")}</%block>
<%block name="js_extra">
    <script>
        $(document).ready(function(){
          $.cookie('parent_agree', false);
        });
        function registrationForm(gubn){
            /*gubn 'Y' is over 14, 'N' is under 14*/

            if(window.sessionStorage) {
                sessionStorage.setItem("reg_gubn", gubn);
                sessionStorage.setItem("step", "1");
            }else {
                console.log("window.sessionStorage is Not Exists");
            }

            document.location.href = "/agree";
        }

        window.name ="Parent_window";

        function fnPopup(){
            window.open('', 'popupNICE', 'width=450, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
            document.form2.target = "popupNICE";
            document.form2.submit();
        }

        function nextStep(){
            var agree = $.cookie('parent_agree');
            if(agree == 'true'){
                document.location.href="/register";
            } else {
                alert("${_('NICE certification is not completed.')}");
            }
        }


    </script>
</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <form id="form2" name="form2" method="post" action="https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb">
        <input type="hidden" name="m" value="checkplusSerivce">
        <input type="hidden" name="EncodeData" value="${enc_data}">
    </form>
    <section class="container join-type">
        <!-- [s] 오픈 API -->
        <h2>${_("NICE certification.")}</h2>
        <p class="join-type-txt small">
            ${_("Child members (under 14 years of age) must have the consent of their parents or guardian (legal representative) to join.")}<br>
        </p>
        <section class="ipin-box">
            <div class="ipin-block">
                <img src="/static/images/contents/ipin.png" alt="">
                <dl>
                    <dt>${_("NICE certification.")}</dt>
                    <dd>${_("Proceed with the consent process of guardian by NICE certification.")}</dd>
                </dl>
                <a href="javascript:fnPopup();">${_("Certificating")}</a>
            </div>
            <a href="javascript:nextStep();">${_("Movement to the next stage")}</a>
        </section>
        <!-- [e] 오픈 API -->
    </section>
</main>
