<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">회원구분</%block>

<%block name="js_extra">
    <script>
        function member_division(gubn){
            /*division 'Y' is over 14, 'N' is under 14*/
            $("#division").val(gubn);
            $("#form").submit();
        }
    </script>
</%block>

<%block name="header_extras"></%block>

<section class="container join-type">
    <form id="form" name="form" method="post" action="/agree">
    <input type="hidden" id="division" name="division" />
    <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}" />
    </form>
    <!-- [s] 가입유형 선택 -->
    <h2>가입유형 선택</h2>
    <h3>회원가입<span>JOIN US</span></h3>
    <p class="join-type-txt">회원구분에 따라 가입절차에 차이가 있으니 반드시 본인에 해당하는 경우를 선택해 주시기 바랍니다.</p>
    <section class="join-type-box">
        <div class="join-type-block">
            <img src="/static/images/contents/join_type01.png" alt="">
            <dl>
                <dt>일반회원</dt>
                <dd>만 14세 이상의 일반회원</dd>
            </dl>
            <a href="#" onclick="member_division('Y');">가입하기</a>
        </div>
        <div class="join-type-block">
            <img src="/static/images/contents/join_type02.png" alt="">
            <dl>
                <dt>어린이 회원</dt>
                <dd>만 14세 이하의 어린이 회원</dd>
            </dl>
            <a href="#" onclick="member_division('N');">가입하기</a>
        </div>
    </section>
    <!-- [e] 가입유형 선택 -->
</section>



