<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="header_extras">
</%block>

<%block name="js_extra">
    <script>
        $(document).ready(function(){
            $("#checkbox").click(function(){
                if($(this).is(":checked")) {
                    $("#removelink").attr("href", "/remove_account");
                    $("#button").attr("disabled", false);

                }else {
                    $("#removelink").attr("href", "#");
                    $("#button").attr("disabled", true);
                }
            });
        });

    </script>
</%block>

<%block name="pagetitle">${_("Withdrawal guidance")} | K-MOOC</%block>
<section class="container rule">

    <h2>탈퇴안내</h2>

    <dl>
        <dt>${_("Please make sure to check the instructions before submitting your membership withdrawal")}<br><br></dt>
        <dd>
            <ol>
                <li><img style="width:12px" src="/static/images/correct-icon.png">&nbsp;<b>${_("If you wirthdraw your membership, you can not reuse or recover the ID in use")}</b></li>
                    <ol>
                        <li style="margin-left: 16px;">${_("Please be careful that you and others can not reuse or recover your ID if you withdraw your membership.")}<br><br></li>
                    </ol>

            </ol>

            <ol>
                <li><img style="width:12px" src="/static/images/correct-icon.png">&nbsp;<b>${_("After your withdrawal of membership, the membership information and personal service use history will be deleted.")}</b></li>
                    <ol>
                        <li style="margin-left: 16px;">${_("Personal service use information such as member information, e-mail addresse, and profiles will be deleted, and the deleted data will not be recovered.")}</li>
                        <li style="margin-left: 16px;">${_("Please confirm the deleted information and backup the necessary data in advance.")}<br><br></li>
                    </ol>

            </ol>

            <ol>
                <li><img style="width:12px" src="/static/images/correct-icon.png">&nbsp;<b>${_("Postings registered on the bulletin board service remain after the withdrawal.")}</b></li>
                    <ol>
                        <li style="margin-left: 16px;">- ${_("Bulletin board")}</li>
                        <li style="margin-left: 16px;">- ${_("Question answer opinion")}</li>
                        <li style="margin-left: 16px;">- ${_("Wiki")}</li>
                        <li style="margin-left: 16px;">- ${_("Posts")}<br><br></li>
                    </ol>

            </ol>

        </dd>

        <dd>${_("After withdrawal, you can not subscribe to the current ID again and ID and data can not be recovered.")}<br>
            ${_("You can not delete postings that remain in the bulletin board service after withdrawal..")}
        </dd>

        <dt><input type="checkbox" id="checkbox" style="vertical-align: middle;">
            ${_("I have read and agree to all the instructions.")}
        </dt>
        <br>
        <a href="#" id="removelink"><input type="button" id="button" value="${_('Withdrawal after consent')}" disabled="true"/></a>
    </dl>
</section>