<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="pagetitle">${_('About Us')}</%block>
<%inherit file="../main.html" />
<%block name="header_extras"></%block>

<link rel="stylesheet" href="/static/images/kotech_roadmap/about_intro.css"/>
<style>
.container-fluid.mb50 > h1 > a:hover {text-underline:none;}
</style>
<div id="container">


    <section class="sec-number bg-white">
        <div class="container-fluid">
            <h1 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="sub-title">한국형 온라인 공개강좌</h1>
            <h2 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="title">Colorful K-MOOC, 당신의 미래를 그려보세요.</h2>
        </div>
        <div class="h-line-1"></div>
    </section>


    <section class="page-title intro-title pc-view">
        <div class="container-fluid">
            <div class="kotc-group">
                <ul>
                    <li>
                        <p style="color: #ffffff;" class="text1"><span>K</span>orean</p>
                        <p style="color: #ffffff;" class="text2">----</p>
                        <span class="text3">한국형</span>
                    </li>
                    <li class="h-line-2"></li>
                    <li>
                        <p style="color: #ffffff;" class="text1"><span>M</span>assive</p>
                        <p style="color: #ffffff;" class="text2">----</p>
                        <span class="text3">수강인원 무제한</span>
                    </li>
                    <li class="h-line-2"></li>
                    <li>
                        <p style="color: #ffffff;" class="text1"><span>O</span>pen</p>
                        <p style="color: #ffffff;" class="text2">----</p>
                        <span class="text3">모든 사람이 수강 가능<br />무료</span>
                    </li>
                    <li class="h-line-2"></li>
                    <li>
                        <p style="color: #ffffff;" class="text1"><span>O</span>nline</p>
                        <p style="color: #ffffff;" class="text2">----</p>
                        <span class="text3">웹 기반 인터넷 수강</span>
                    </li>
                    <li class="h-line-2"></li>
                    <li>
                        <p style="color: #ffffff;" class="text1"><span>C</span>ourse</p>
                        <p style="color: #ffffff;" class="text2">----</p>
                        <span class="text3">학습목표 달성을 위해<br />구성된 교육 코스</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="page-title intro-title mo-view">
        <div class="container-fluid">
            <div class="kotc-group">
                <ul>
                    <li>
                        <p class="text1"><span>K</span>orean</p>
                        <p class="text2">----</p>
                        <span class="text3">한국형</span>
                    </li>

                    <li>
                        <p class="text1"><span>M</span>assive</p>
                        <p class="text2">----</p>
                        <span class="text3">수강인원 무제한</span>
                    </li>

                    <li>
                        <p class="text1"><span>O</span>pen</p>
                        <p class="text2">----</p>
                        <span class="text3">모든 사람이 수강 가능 / 무료</span>
                    </li>

                    <li>
                        <p class="text1"><span>O</span>nline</p>
                        <p class="text2">----</p>
                        <span class="text3">웹 기반 인터넷 수강</span>
                    </li>

                    <li>
                        <p class="text1"><span>C</span>ourse</p>
                        <p class="text2">----</p>
                        <span class="text3">학습목표 달성을 위해 구성된 교육 코스</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <section class="sec-number bg-white">
        <img src="/static/new_index/images/scroll.png" alt="" class="scroll-btn">
        <div class="h-line-3"></div>
        <div class="container-fluid mt20 mw800 pc-view">
            <h3 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="sub-text">무크(MOOC)란 Massive, Open, Online, Course의 줄임말로 오픈형 온라인 학습 과정을 뜻합니다.</h3>
            <h3 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="sub-text">이 것은 강의실에 수용된 학생만이 강의를 들을 수 있었던 것에서 청강만 가능한 온라인 학습동영상으로 변화하고</h3>
            <h3 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="sub-text">현재는 질의응답, 토론, 퀴즈, 과제 제출 등 양방향 학습을 할 수 있는 모습으로 완성되었습니다.</h3>
            <img src="/static/new_index/images/kkuk1.png" alt="" class="kkuk1">
            <img src="/static/new_index/images/kkuk2.png" alt="" class="kkuk2">
        </div>
        <div class="container-fluid mt20 mw800 mo-view">
            <h3 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="sub-text">무크(MOOC)란 Massive, Open, Online, Course의 줄임말로 오픈형 온라인 학습 과정을 뜻합니다.
                이 것은 강의실에 수용된 학생만이 강의를 들을 수 있었던 것에서 청강만 가능한 온라인 학습동영상으로 변화하고
                현재는 질의응답, 토론, 퀴즈, 과제 제출 등 양방향 학습을 할 수 있는 모습으로 완성되었습니다.</h3>
        </div>
    </section>

<!-- 22/7/12 BI 소개 및 다운로드 삭제 요청 -->





    <section class="sec-number bg-vision">
        <div class="container-fluid mb50">
            <h1 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="title highline2 color-white mt20 pt30">
                <a href="#none" style="color:#FFFFFF;text-underline:none">Vision</a>
            </h1>
            <h2 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="v-sub-title mt20 pt30">K-MOOC는 컬러풀한 미래를 꿈꿉니다.</h2>
            <h4 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="v-sub-text">알려주려는 자와 배우려는 자를 쉽고 한층 가깝게 연결함으로써</h4>
            <h4 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="v-sub-text">많은 사람들이 어제보다 나은 미래, 새로운 미래, 더 다채로운 미래를 만들 수 있도록 도울 것입니다.</h4>
        </div>
    </section>


    <section class="sec-number bg-white">
        <div class="container-fluid mt20">
            <h1 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="title highline pt30">Offline K-MOOC</h1>
            <div class="row">
                <div class="offline-group pt30">
                    <ul>
                        <li class="number-item offline1">
                            <div class="text-box">
                                <div class="sbox1"></div>
                                <p class="pp1">박람회</p>
                                <p class="pp2">매년 평생학습박람회 참가</p>
                            </div>
                        </li>

                        <li class="number-item offline2">
                            <div class="text-box">
                                <div class="sbox2"></div>
                                <p class="pp1">토크콘서트</p>
                                <p class="pp2">참여대학교수와 학습자가 만나<br />대화하고 다양한 공연이 함께하는<br />토크 콘서트</p>
                            </div>
                        </li>

                        <li class="number-item offline3">
                            <div class="text-box">
                                <div class="sbox3"></div>
                                <p class="pp1">특강</p>
                                <p class="pp2">직접 대학에서 강의를<br />청강할 수 있는 기회 제공</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>



    <section class="sec-number bg-custom mt50">
        <div class="container-fluid mb30">
            <h1 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="title mt30 highline pt30">학습자별 활용방법</h1>
            <div class="row pt30">
                <div class="col-sm-12 col-md-4 col-lg-4 mmb50">
                    <div class="number-item st-01 pt146">
                        <dl>청소년</dl>
                        <ul class="mt10">
                            <li>온라인 학습자료 활용</li>
                            <li>미래 진학 및 생애 진로 탐색 활용</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 mmb50">
                    <div class="number-item st-02 pt146">
                        <dl>대학(원)생</dl>
                        <ul class="mt10">
                            <li>사전수업 준비 및 심화(보충)학습</li>
                            <li>전과 학생의 선수 학습</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="number-item st-03 pt146">
                        <dl>일반 성인 학습자</dl>
                        <ul class="mt10">
                            <li>적성과 관심사에 따라 수준별 학습<br />(전공심화, 전공기초, 교양)</li>
                            <li>최신 지식 및 정보습득</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt50 mb30">
                <div class="col-sm-12 col-md-4 col-lg-4 mmb50">
                    <div class="number-item st-04 pt146">
                        <dl>구직자ㆍ재직자</dl>
                        <ul class="mt10">
                            <li>창업을 위한 개인 역량 강화</li>
                            <li>창업아이템 발굴 및 정보 활용</li>
                            <li>직업훈련에 활용</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 mmb50">
                    <div class="number-item st-05 pt146">
                        <dl>교수</dl>
                        <ul class="mt10">
                            <li>플립드러닝(flipped learning)*을<br />통한 수업 활동 다양화</li>
                        </ul>
                        <hr>
                        <dt>플립드러닝(flipped learning)</dt>
                        <dd>온라인을 통한 사전 학습 후, 오프라인 수업에서는 팀 프로젝트, 토론식 수업 등을 진행하는 '역진행 수업방식'</dd>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="number-item st-06 pt146">
                        <dl>대학</dl>
                        <ul class="mt10">
                            <li>학습 데이터 분석을 통한 교수 학습 전략 개발</li>
                            <li>거꾸로 학습 등 교수 학습 혁신 촉진</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>



</div>