<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="pagetitle">${_('Introduce')}</%block>
<%inherit file="../main.html" />
<%block name="header_extras"></%block>

<link rel="stylesheet" href="/static/images/kotech_roadmap/about_intro.css"/>

<div id="container">


    <section class="sec-number bg-white">
        <div class="container-fluid">
            <h1 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="sub-title">Korean Online Open Course</h1>
            <h2 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="title">Draw your future with colorful K-MOOC</h2>
        </div>
        <div class="h-line-1"></div>
    </section>


    <section class="page-title intro-title pc-view">
        <div class="container-fluid">
            <div class="kotc-group">
                <ul>
                    <li>
                        <p style="color: #ffffff;" class="text1"><span>K</span>orean</p>
                        <p style="color: #ffffff;" class="text2">----</p>
                        <span class="text3">Korean</span>
                    </li>
                    <li class="h-line-2"></li>
                    <li>
                        <p style="color: #ffffff;" class="text1"><span>M</span>assive</p>
                        <p style="color: #ffffff;" class="text2">----</p>
                        <span class="text3">Unlimited Register</span>
                    </li>
                    <li class="h-line-2"></li>
                    <li>
                        <p style="color: #ffffff;" class="text1"><span>O</span>pen</p>
                        <p style="color: #ffffff;" class="text2">----</p>
                        <span class="text3">Free for Everyone</span>
                    </li>
                    <li class="h-line-2"></li>
                    <li>
                        <p style="color: #ffffff;" class="text1"><span>O</span>nline</p>
                        <p style="color: #ffffff;" class="text2">----</p>
                        <span class="text3">Web-based Online course</span>
                    </li>
                    <li class="h-line-2"></li>
                    <li>
                        <p style="color: #ffffff;" class="text1"><span>C</span>ourse</p>
                        <p style="color: #ffffff;" class="text2">----</p>
                        <span class="text3">Higher Education</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="page-title intro-title mo-view">
        <div class="container-fluid">
            <div class="kotc-group">
                <ul>
                    <li>
                        <p class="text1"><span>K</span>orean</p>
                        <p class="text2">----</p>
                        <span class="text3">Korean</span>
                    </li>

                    <li>
                        <p class="text1"><span>M</span>assive</p>
                        <p class="text2">----</p>
                        <span class="text3">Unlimited Register</span>
                    </li>

                    <li>
                        <p class="text1"><span>O</span>pen</p>
                        <p class="text2">----</p>
                        <span class="text3">Free for Everyone</span>
                    </li>

                    <li>
                        <p class="text1"><span>O</span>nline</p>
                        <p class="text2">----</p>
                        <span class="text3">Web-based Online course</span>
                    </li>

                    <li>
                        <p class="text1"><span>C</span>ourse</p>
                        <p class="text2">----</p>
                        <span class="text3">Higher Education</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <section class="sec-number bg-white">
        <img src="/static/new_index/images/scroll.png" alt="" class="scroll-btn">
        <div class="h-line-3"></div>
        <div class="container-fluid mt20 mw800 pc-view">
            <h3 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="sub-text">MOOC stands for Massive Open Online Course, which is an open online learning process.</h3>
            <h3 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="sub-text">Courses available only for students in the classroom were transformed into</h3>
            <h3 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="sub-text">auditable online video lectures.</h3>
            <h3 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="sub-text">At present, the courses have been completed with interactive learning processes such as</h3>
            <h3 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="sub-text">Q&A discussions, quizzes, and assignment submission</h3>
            <img src="/static/new_index/images/kkuk1.png" alt="" class="kkuk1 kkuk-en">
            <img src="/static/new_index/images/kkuk2.png" alt="" class="kkuk2 kkuk-en">
        </div>
        <div class="container-fluid mt20 mw800 mo-view">
            <h3 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="sub-text">MOOC stands for Massive Open Online Course, which is an open online learning process.
                Courses available only for students in the classroom were transformed into auditable online video lectures.
                At present, the courses have been completed with interactive learning processes such as Q&A, discussions, quizzes, and assignment submission</h3>
        </div>
    </section>

<!-- 22/7/12 BI 소개 및 다운로드 삭제 요청 -->





    <section class="sec-number bg-vision">
        <div class="container-fluid mb50">
            <h1 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="title highline2 color-white mt20 pt30">Vision</h1>
            <h2 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="v-sub-title mt20 pt30">K-MOOC dreams about a colorful future.</h2>
            <h4 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="v-sub-text">Through the simple and close connection of teachers and learners</h4>
            <h4 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="v-sub-text">K-MOOC will help many people create a new and challenging future better than yesterday.</h4>
        </div>
    </section>


    <section class="sec-number bg-white">
        <div class="container-fluid mt20">
            <h1 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="title highline pt30">Offline K-MOOC</h1>
            <div class="row">
                <div class="offline-group pt30">
                    <ul>
                        <li class="number-item offline1">
                            <div class="text-box">
                                <div class="sbox1"></div>
                                <p class="pp1">Expositions</p>
                                <p class="pp2">Annual participation in lifelong learning fairs.</p>
                            </div>
                        </li>

                        <li class="number-item offline2">
                            <div class="text-box">
                                <div class="sbox2"></div>
                                <p class="pp1">Talk Concert</p>
                                <p class="pp2">In Talk Concert, learners meet <br />with participating university <br />instructors and enjoy various performances.</p>
                            </div>
                        </li>

                        <li class="number-item offline3">
                            <div class="text-box">
                                <div class="sbox3"></div>
                                <p class="pp1">Special lecture</p>
                                <p class="pp2">An opportunity to audit university courses.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>



    <section class="sec-number bg-custom mt50">
        <div class="container-fluid mb30">
            <h1 style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="title mt30 highline pt30">User Guideline</h1>
            <div class="row pt30">
                <div class="col-sm-12 col-md-4 col-lg-4 mmb50">
                    <div class="number-item st-01 pt146">
                        <dl>Youth</dl>
                        <ul class="mt10">
                            <li>Access online learning materials <br />to explore future career opportunities</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 mmb50">
                    <div class="number-item st-02 pt146">
                        <dl>College Students</dl>
                        <ul class="mt10">
                            <li>Access prior learning materials before coming to class
                            <br/>and deepen knowledge through supplements</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="number-item st-03 pt146">
                        <dl>Lifelong Learners</dl>
                        <ul class="mt10">
                            <li>Learn about the latest trends<br />
                                and information based on <br />
                                individual aptitudes and interests.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt50 mb30">
                <div class="col-sm-12 col-md-4 col-lg-4 mmb50">
                    <div class="number-item st-04 pt146">
                        <dl>Job Seekers and Employees</dl>
                        <ul class="mt10">
                            <li>Strengthen personal capabilities for employment, <br />discover new business items, and enhance vocational competency.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 mmb50">
                    <div class="number-item st-05 pt146">
                        <dl>Faculty</dl>
                        <ul class="mt10">
                            <li>Flipped Learning* Diversify class activities through</li>
                        </ul>
                        <hr>
                        <dt>* Flipped Learning</dt>
                        <dd>A reversal of traditional teaching, students are introduced to the learning materials before class, and classroom time is then used to deepen understanding through discussions with peers and problem-solving.</dd>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="number-item st-06 pt146">
                        <dl>University</dl>
                        <ul class="mt10">
                            <li>Develop teaching strategies by analyzing learning data and using reverse learning and the like to promote learning innovation.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>



</div>