<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="pagetitle">${_('Promotion system')}</%block>
<%inherit file="../main.html" />
<%block name="header_extras"></%block>

<link rel="stylesheet" href="/static/images/kotech_roadmap/about_st.css"/>

<div id="container">
    <section class="sec-step1">
        <div class="container-fluid">
            <p class="sub-title">참여대학의 자율성과 다양성 존중</p>
            <h1 class="title mt20">관계기관과 대학간의<br class="mo-view"> 협력관계 추진</h1>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img src="http://www.kmooc.kr/static/images/contents/kmooc03.jpg" class="wi100p">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <p style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="text">한국형 온라인 공개강좌(K-MOOC)는 교육부와 사업주관기관인 국가평생교육진흥원 외에 4년제 대학, 전문대학, 방송대학, 출연연구기관, 기업, 기업부설연구소, 직업능력개발훈련시설, 공익법인 등 관계기관과 긴밀한 협력을 통해 추진하고 있습니다.</p>
                    <p style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="text">K-MOOC 홈페이지(http://kmooc.kr)에 강좌를 제공하고 운영하는 참여기관은 2019년 기준 116개 기관이며, 매년 개설강좌 수와 참여기관을 확대해 나갈 계획입니다.</p>
                    <p style="font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;" class="text">참여기관의 자율성을 바탕으로 학습자의 수요가 높은 우수 콘텐츠를 개발‧운영할 수 있도록 추진할 계획입니다.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="sec-step2">
        <div class="container-fluid">
            <h1 class="title">미래를 향해 성장하는<br class="mo-view"> K-MOOC</h1>
            <div class="kmooc-update">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="updete course">
                            <div class="left">강좌</div>
                            <div class="right">
                                <table>
                                    <tbody>
                                        <tr class="year">
                                            <td>2015</td>
                                            <td>2019</td>
                                        </tr>
                                        <tr>
                                            <td class="past">7</td>
                                            <td class="now">804</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 mmt30">
                        <div class="updete univ">
                            <div class="left">대학</div>
                            <div class="right">
                                <table>
                                    <tbody>
                                        <tr class="year">
                                            <td>2015</td>
                                            <td>2019</td>
                                        </tr>
                                        <tr>
                                            <td class="past">10</td>
                                            <td class="now">116</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="updete appl">
                            <div class="left">수강생</div>
                            <div class="right">
                                <table>
                                    <tbody>
                                        <tr class="year">
                                            <td>2015</td>
                                            <td>2019</td>
                                        </tr>
                                        <tr>
                                            <td class="past">55,559</td>
                                            <td class="now">1,168,288</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 mmt30">
                        <div class="updete visitor">
                            <div class="left">방문자</div>
                            <div class="right">
                                <table>
                                    <tbody>
                                        <tr class="year">
                                            <td>2015</td>
                                            <td>2019</td>
                                        </tr>
                                        <tr>
                                            <td class="past">446,832</td>
                                            <td class="now">12,054,483</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sec-step3">
        <div class="container-fluid">
            <h1 class="title">추진경과</h1>
            <div class="kmooc-history">
                <ul class="step">
                    <li>
                        <strong>1</strong>
                        <span>2015년 ~ 2017년</span>
                        <p>도입 및 정착</p>
                    </li>
                    <li>
                        <strong>2</strong>
                        <span>2018년 ~ 2020년</span>
                        <p>글로벌화 및 부가가치 창출</p>
                    </li>
                    <li>
                        <strong>3</strong>
                        <span>2021년 이후</span>
                        <p>열린 고등교육 체제 구축</p>
                    </li>
                </ul>
                <ul class="history mpt30">
                    <li>
                        <span class="left">2015.02</span>
                        <span class="right">K-MOOC 시범운영을 위한 기본 계획 수립 및 발표</span>
                    </li>
                    <li>
                        <span class="left">2015.04</span>
                        <span class="right">K-MOOC 시범운영사업 공고 및 참여대학 선정</span>
                    </li>
                    <li>
                        <span class="left">2015.06 ~ 12</span>
                        <span class="right">K-MOOC 서비스 운영을 위한 플랫폼 및 인프라 구축<br>※초기 서비스 안정성, 콘텐츠의 국제적 호환성, 개발 기간 등을 고려하여 오픈소스 소프트웨어(Open edX)를 활용한 플랫폼 구축</span>
                    </li>
                    <li>
                        <span class="left">2015.10</span>
                        <span class="right">한국형 온라인 공개강좌 K-MOOC(www.kmooc.kr) 시범개통</span>
                    </li>
                    <li>
                        <span class="left">2016.02</span>
                        <span class="right">16년 K-MOOC 운영계획 수립 및 콘텐츠 다양화</span>
                    </li>
                    <li>
                        <span class="left">2016.04 ~ 10</span>
                        <span class="right">16년 무크대학 추가선정(10개교) 및 강좌 개발(국내 10개 대학)</span>
                    </li>
                    <li>
                        <span class="left">2017</span>
                        <span class="right">한국형 모델 장착 및 콘텐츠 표준화</span>
                    </li>
                    <li>
                        <span class="left">2018</span>
                        <span class="right">한국형 모델 확산 및 콘텐츠 국제화</span>
                    </li>
                    <li>
                        <span class="left">2019</span>
                        <span class="right">학점은행제 학습과정 운영(6개 대학, 11개 강좌)</span>
                    </li>
                </ul>
            </div>
            <div class="kmooc-group pc-view">
                <div class="group">
                    <p class="group-title">
                        <span>수요자</span>
                    </p>
                    <span class="nation">국민</span>
                </div>
                <div class="group">
                    <p class="group-title">
                        <span>공급자</span>
                    </p>
                    <span class="group-subtitle">참여기관</span>
                    <div class="list">
                        <div class="number-item agency">
                            <img src="/static/new_index/images/icon_n_003.png">
                            <h2 class="agency-title mt20">참여기관 100개+</h2>
                            <p class="cont">대학, 공공기관 및 해외기관</p>
                        </div>
                        <div class="more mmt20">
                            <span class="plus">+</span>
                            <span class="text">참여기관<br>지속 확대</span>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <p class="group-title">
                        <span>추진기관</span>
                    </p>
                    <div class="top">
                        <div class="agency">
                            <div class="agency-title">사업 총괄</div>
                            <div class="agency-cont">
                                <img src="/static/new_index/images/about_moe.png">
                                <span>운영계획 수립, 사업비 교부</span>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="agency">
                            <div class="agency-title">참여기관</div>
                            <div class="agency-cont">
                                <span>강좌 개발·운영·활용</span>
                            </div>
                        </div>
                        <div class="agency">
                            <div class="agency-title">사업 주관</div>
                            <div class="agency-cont">
                                <img src="/static/new_index/images/about_nile.png">
                                <span>사업 및 서비스<br>운영·관리 주관</span>
                            </div>
                        </div>
                        <div class="agency">
                            <div class="agency-title">관계 기관 및 MOU 기관</div>
                            <div class="agency-cont">
                                <span>서비스 활용 확산·지원</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kmooc-group mo-view">
                <div class="group">
                    <p class="group-title">
                        <span>수요자</span>
                    </p>
                    <span class="nation">국민</span>
                </div>
                <div class="group">
                    <p class="group-title">
                        <span>공급자</span>
                    </p>
                    <span class="group-subtitle">참여기관</span>

                    <div class="list">
                        <div class="number-item agency mmg20">
                            <img src="/static/new_index/images/icon_n_003.png">
                            <h2 class="agency-title mt20">참여기관 100개+</h2>
                            <p class="cont">대학, 공공기관 및 해외기관</p>
                        </div>
                        <div class="more mmt20">
                            <span class="plus">+</span>
                            <span class="text">참여기관<br>지속 확대</span>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <p class="group-title">
                        <span>추진기관</span>
                    </p>
                    <div class="top">
                        <div class="agency">
                            <div class="agency-title">사업 총괄</div>
                            <div class="agency-cont">
                                <img src="/static/new_index/images/about_moe.png">
                                <span>운영계획 수립, 사업비 교부</span>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="agency">
                            <div class="agency-title">사업 주관</div>
                            <div class="agency-cont">
                                <img src="/static/new_index/images/about_nile.png">
                                <span>사업 및 서비스<br>운영·관리 주관</span>
                            </div>
                        </div>
                        <div class="agency mhauto">
                            <div class="agency-title">참여기관</div>
                            <div class="agency-cont">
                                <span>강좌 개발·운영·활용</span>
                            </div>
                        </div>
                        <div class="agency mhauto">
                            <div class="agency-title">관계 기관 및 MOU 기관</div>
                            <div class="agency-cont">
                                <span>서비스 활용 확산·지원</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
