<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="pagetitle">AI Roadmap</%block>
<%inherit file="../main.html" />
<%block name="header_extras"></%block>

<link rel="stylesheet" href="/static/images/kotech_roadmap/roadmap.css"/>

<div id="container">
  <section class="page-title">
    <div class="container-fluid">
      <h1 class="visual-title">수강목적별 인공지능(AI) 이수체계도</h1>
      <h2 class="visual-subtitle">인공지능 분야의 전체 이수체계도를 기반으로 개인의 맞춤형 로드맵을 제시합니다.</h2>
    </div>
  </section>
  <section class="page-cont">
    <div class="container-fluid">
      <div class="rdmap-list-group">
        <div class="rdmap-list-tit">
          <h3>개인의 기초 지식과 수강목적에 해당하는 대상을 선택해주세요.</h3>
        </div>
        <table class="rdmap-list">
          <colgroup>
            <col width="60%">
            <col width="20%">
            <col width="20%">
          </colgroup>
          <thead>
          <tr>
            <th>대상</th>
            <th>기초 지식*</th>
            <th>수강 목적*</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="type">
              <span class="number">1</span>
              <a href="/roadmap_view/f01">호기심 차원에서 인공지능(AI)을 공부하려는 일반인</a>
            </td>
            <td>하</td>
            <td>지식 습득</td>
          </tr>
          <tr>
            <td class="type">
              <span class="number">2</span>
              <a href="/roadmap_view/e01">기업에 인공지능(AI) 기술 적용을 결정할 수 있는 경영인</a>
            </td>
            <td>중/하</td>
            <td>의사결정</td>
          </tr>
          <tr>
            <td class="type">
              <span class="number">3</span>
              <a href="javascript:void(0)" class="type-sublist">실무에 인공지능(AI) 기술을 적용하고자 하는 직업인(AI+X)</a>
              <div class="list-down">
                <ul>
                  <li>
                    <a href="/roadmap_view/d02">로보틱스 분야(AI+X)</a>
                  </li>
                  <li>
                    <a href="/roadmap_view/d04">인지과학 분야(AI+X)</a>
                  </li>
                  <li>
                    <a href="/roadmap_view/d01">자율주행 분야(AI+X)</a>
                  </li>
                  <li>
                    <a href="/roadmap_view/d05">경제학 분야(AI+X)</a>
                  </li>
                  <li>
                    <a href="/roadmap_view/d03">의료 및 헬스케어 분야(AI+X)</a>
                  </li>
                </ul>
              </div>
            </td>
            <td>중/하</td>
            <td>업무에 활용</td>
          </tr>
          <tr>
            <td class="type">
              <span class="number">4</span>
              <a href="/roadmap_view/c01">인문, 사회과학을 비롯한 다양한 학문 전공자</a>
            </td>
            <td>하</td>
            <td>AI 전문가</td>
          </tr>
          <tr>
            <td class="type">
              <span class="number">5</span>
              <a href="/roadmap_view/b01">공학, 자연과학 전공자</a>
            </td>
            <td>중</td>
            <td>AI 전문가</td>
          </tr>
          <tr>
            <td class="type">
              <span class="number">6</span>
              <a href="/roadmap_view/a01">컴퓨터공학 전공자</a>
            </td>
            <td>상</td>
            <td>AI 전문가</td>
          </tr>
          </tbody>
        </table>
        <div class="link_to_courses">
          <a class="btn btn-brand btn-download" href="down">전체 AI 이수체계도 다운로드</a>
          <a data-facet="ai_sec_yn" data-term="ai_sec_y" href="#" class="visual-back roadmap-link">인공지능 강좌 찾기</a>
        </div>

      </div>
    </div>
  </section>
</div>
