<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="pagetitle">AI Roadmap</%block>
<%inherit file="../main.html" />
<%block name="header_extras"></%block>

<link rel="stylesheet" href="/static/images/kotech_roadmap/roadmap.css"/>
<link rel="stylesheet" href="/static/images/kotech_roadmap/lib/common.css"/>
<link rel="stylesheet" href="/static/images/kotech_roadmap/lib/vis.css">

<script src="/static/images/kotech_roadmap/lib/vis.js"></script>
<script src="/static/images/kotech_roadmap/lib/common.js"></script>

<div class="v-wrapper">
    <div class="v-block">
        <video class="v-core" autoplay="" loop="" muted="">
            <source src="/static/images/kotech_roadmap/ocean.mp4" type="video/mp4">
        </video>
    </div>
    <div class="v-txt">
        ${title}
    </div>
</div>

<section class="container">
    <div class="net-back" onclick='window.location.href = "/roadmap";'>로드맵 처음 페이지로이동 >></div>
    <div class="net-txt">K-MOOC 강좌를 선택하시면 해당 강좌로 이동합니다. 마우스로 이동 및 마우스 스크롤을 통해 확대/축소가 가능합니다.</div>
    <div id="mynetwork"></div>

    <div class="color-nav">
        <div class="net-nav-box">
            <div class="net-nav-color net-A"></div>
            <span class="net-nav-txt">K-MOOC 강좌</span>
        </div>

        <div class="net-nav-box">
            <div class="net-nav-color net-B"></div>
            <span class="net-nav-txt">Match業 강좌</span>
        </div>

        <div class="net-nav-box">
            <div class="net-nav-color net-C"></div>
            <span class="net-nav-txt">K-MOOC 없는 강좌</span>
        </div>

        <div class="net-nav-box">
            <div class="net-nav-color net-D"></div>
            <span class="net-nav-txt">복습용 강좌</span>
        </div>

        <div class="net-nav-box">
            <div class="net-nav-color net-E"></div>
            <span class="net-nav-txt">K-MOOC 강좌 학습 후 추가 학습용 강좌</span>
        </div>
    </div>
</section>

% if id == 'a01':
<script src="/static/images/kotech_roadmap/node_edge/a01.js"></script>
% elif id == 'b01':
<script src="/static/images/kotech_roadmap/node_edge/b01.js"></script>
% elif id == 'c01':
<script src="/static/images/kotech_roadmap/node_edge/c01.js"></script>
% elif id == 'd01':
<script src="/static/images/kotech_roadmap/node_edge/d01.js"></script>
% elif id == 'd02':
<script src="/static/images/kotech_roadmap/node_edge/d02.js"></script>
% elif id == 'd03':
<script src="/static/images/kotech_roadmap/node_edge/d03.js"></script>
% elif id == 'd04':
<script src="/static/images/kotech_roadmap/node_edge/d04.js"></script>
% elif id == 'd05':
<script src="/static/images/kotech_roadmap/node_edge/d05.js"></script>
% elif id == 'e01':
<script src="/static/images/kotech_roadmap/node_edge/e01.js"></script>
% elif id == 'f01':
<script src="/static/images/kotech_roadmap/node_edge/f01.js"></script>
% endif
<script>
vis_draw(nodes, edges);
</script>