<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="pagetitle">AI Roadmap</%block>
<%inherit file="../main.html" />
<%block name="header_extras"></%block>

<link rel="stylesheet" href="/static/images/kotech_roadmap/roadmap.css"/>
<!--<link rel="stylesheet" href="/static/images/kotech_roadmap/lib/common.css"/>-->
<link rel="stylesheet" href="/static/images/kotech_roadmap/lib/vis.css">

<script src="/static/images/kotech_roadmap/lib/vis.js"></script>
<script src="/static/images/kotech_roadmap/lib/common.js"></script>

<style>
    .pop-layer .pop-container {
        padding: 20px 25px;
    }

    .pop-layer p.ctxt {
        color: #666;
        line-height: 25px;
        margin-bottom: 5px;
    }

    .pop-layer .roadmap_header {
        width: 100%;
        margin: 0 0 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #DDD;
        font-weight: 900;
        font-family: bold;
    }

    .pop-layer .roadmap_bottom {
        width: 100%;
        margin: 10px 0 0;
        padding-top: 10px;
        border-top: 1px solid #DDD;
    }

    .pop-layer .roadmap_bottom .roadmap_text{
        font-size: 12px;
        text-align: left;
        float: left;
        width: 70%;
        padding: 5px 0;
    }

    .pop-layer .roadmap_bottom .roadmap_btn{
        text-align: right;
        width: 30%;
        margin-top: 10px;
    }

    .pop-layer {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 410px;
        height: auto;
        background-color: #fff;
        border: 5px solid #3571B5;
        z-index: 10;
    }
    a.btn-layerClose {
        display: inline-block;
        height: 25px;
        padding: 0 14px 0;
        border: 1px solid #304a8a;
        background-color: #3f5a9d;
        font-size: 13px;
        color: #fff !important;
        line-height: 25px;
    }

    a.btn-layerClose:hover {
        border: 1px solid #091940;
        background-color: #1f326a;
        color: #fff ;
    }

</style>

<div id="container">
    <section class="page-title">
        <div class="container-fluid">
            <h1 class="visual-title">${ai_info['target']}</h1>
            <h2 class="visual-subtitle">인공지능(AI) 로드맵</h2>
            <a href="/roadmap" class="visual-back">AI 이수체계도 처음 페이지로</a>
        </div>
    </section>
    <section class="page-cont">
        <div class="container-fluid">
            <h3 class="rdmap-guide">K-MOOC 강좌를 선택하시면 해당 강좌로 이동합니다. 마우스로 이동 및 마우스 스크롤을 통해 확대/축소가 가능합니다.</h3>
            <div id="mynetwork"></div>
            <div class="legend-group">
                <ul>
                    <li>
                        <span class="box type1"></span>
                        <span class="text">과목별 매칭강좌</span>
                    </li>
                    <li>
                        <span class="box type4"></span>
                        <span class="text">개발예정강좌</span>
                    </li>
                    <li>
                        <span class="box type5"></span>
                        <span class="text">복습용 강좌</span>
                    </li>
                </ul>
                <div class="legend-group-info">
                    <span>
                        * 매치업 강좌는 교육부 매치업 사업에서 개발한 콘텐츠로, 각 기관 사이트에서 확인이 가능합니다.
                    </span>
                </div>
            </div>
        </div>
    </section>
    <div id="roadmap_pop" class="pop-layer" style="display: none;">
        <div class="pop-container">
            <div class="pop-conts">
                <!--content //-->

                <div class="roadmap_header">


                </div>

                <div class="other-cont">

                </div>
                <div class="roadmap_bottom">
                    <label style="font: unset; font-size: 12px;">

                    강좌를 클릭하면, 강좌 소개 페이지로 이동합니다.<br/>
                    단, 개발예정 강좌는 추후 확인이 가능합니다.
                    </label>

                    <a href="javascript: roadmapClose();" style="float: right;">[ 닫기 ]</a>
                </div>
                <!--// content-->
            </div>
        </div>
    </div>
</div>

<script>

    var nodes = ${nodes}
    var edges = ${edges}

    vis_draw(nodes, edges);

</script>
