<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="pagetitle">AI Roadmap</%block>
<%inherit file="../main.html" />
<%block name="header_extras"></%block>

<link rel="stylesheet" href="/static/images/kotech_roadmap/roadmap.css"/>

<div id="container">
  <section class="page-title">
    <div class="container-fluid">
      <h1 class="visual-title">수강목적별 인공지능(AI) 이수체계도</h1>
      <h2 class="visual-subtitle">인공지능 분야의 전체 이수체계도를 기반으로 개인의 맞춤형 로드맵을 제시합니다.</h2>
    </div>
  </section>
  <section class="page-cont">
    <div class="container-fluid">
      <div class="rdmap-list-group">
        <div class="rdmap-list-tit">
          <h3>개인의 기초 지식과 수강목적에 해당하는 대상을 선택해주세요.</h3>
        </div>
        <table class="rdmap-list">
          <colgroup>
            <col width="60%">
            <col width="20%">
            <col width="20%">
          </colgroup>
          <thead>
          <tr>
            <th>대상</th>
            <th>기초 지식*</th>
            <th>수강 목적*</th>
          </tr>
          </thead>
          <tbody>

          % for ai in ai_not_group_list:
              <tr>
                <td class="type">
                  <span class="number">${ai['rn']}</span>
                    <a href="/roadmap_view/${ai['id']}">${ai['target']}</a>
                </td>
                <td>${ai['basic_knowledge']}</td>
                <td>${ai['purpose_of_course']}</td>
              </tr>
          % endfor

          % for group_name in ai_group_name_list:
              <tr>
                <td class="type">
                  <span class="number">${group_name['rn']}</span>
                    <a href="javascript:void(0)" class="type-sublist">${group_name['group_name']}</a>
                  <div class="list-down">
                    <ul>
                        <!-- 여기만 for 문 돌아야 될거같은데 -->
                        % for ai_group in ai_group_list:
                           % if group_name['group_name'] == ai_group['group_name']:
                          <li>
                            <a href="/roadmap_view/${ai_group['id']}">${ai_group['target']}</a>
                          </li>
                            %endif
                        <!-- 여기만 for 문 돌아야 될거같은데 -->
                        % endfor
                    </ul>
                  </div>
                </td>
                <td>${group_name['basic_knowledge']}</td>
                <td>${group_name['purpose_of_course']}</td>
              </tr>
          % endfor

          </tbody>
        </table>
        <div class="roadmap-info">
          <p>* 기초지식: 인공지능(AI) 학습의 기본이 되는 수학, 통계학, 컴퓨터공학</p>
          <p>* 적용분야 지식: 인공지능 기술을 적용할 산업 분야 지식</p>
        </div>
        <div class="link_to_courses">
          <a class="btn btn-brand btn-download" href="down">전체 AI 이수체계도 다운로드</a>
          <a data-facet="ai_sec_yn" data-term="ai_sec_y" href="#" class="visual-back roadmap-link">인공지능 강좌 찾기</a>
        </div>

      </div>
    </div>
  </section>
</div>
