<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="pagetitle">설문조사</%block>
<%inherit file="../main.html" />

<%block name="header_extras"></%block>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<script>
    var course_id = '${course_id}';
    $( document ).ready(function() {
        console.log("Ready!");
        var data_flag = $("#data_flag").val();

        if($.inArray(data_flag, ['update', 'disable']) != -1){
            let r_status = '1';
            if(data_flag == 'disable'){
                r_status = '2';
                $('.survey_group input, .survey_group textarea').each(function(){
                    this.disabled = true;
                });
                $('#survey_submit').attr('disabled', 'disabled');
            }
            $.ajax({
                url: '/cert_survey/',
                type: 'GET',
                data: {
                    course_id: course_id,
                    r_status: r_status
                }
            }).done(function(data){
                console.log(data.result.q2);
                $("input:radio[name='Q1']").each(function(){
                    if(this.value == data.result.q1){
                        this.checked = true;
                    }
                });
                $("input:radio[name='Q2']").each(function(){
                    if(this.value == data.result.q2){
                        this.checked = true;
                    }
                });
                $("input:radio[name='Q3']").each(function(){
                    if(this.value == data.result.q3){
                        this.checked = true;
                    }
                });
                $("input:radio[name='Q4']").each(function(){
                    if(this.value == data.result.q4){
                        this.checked = true;
                    }
                });
                $("input:radio[name='Q5']").each(function(){
                    if(this.value == data.result.q5){
                        this.checked = true;
                    }
                });
                $("input:radio[name='Q6']").each(function(){
                    if(this.value == data.result.q6){
                        this.checked = true;
                    }
                });
                $("input:radio[name='Q7']").each(function(){
                    if(this.value == data.result.q7){
                        this.checked = true;
                    }
                });
                $("input:radio[name='Q8']").each(function(){
                    if(this.value == data.result.q8){
                        this.checked = true;
                    }
                });
                $("input:radio[name='Q9']").each(function(){
                    if(this.value == data.result.q9){
                        this.checked = true;
                    }
                });

                $('#s_seq').val(data.result.seq);

                $('textarea[name="Q10"]').val(data.result.q10);
            });
        }

    });



    function btn_survey_submit(){
        var lock = 1;
        var flag = $('#flag').val();

        if($("input:radio[name='Q1']").is(":checked") == true){
            var Q1 = $(':radio[name="Q1"]:checked').val();
        }
        else{
            swal("입력 오류", "1번 설문을 입력해주세요", "info");
            lock = 0;
            return false;
        }

        if($("input:radio[name='Q2']").is(":checked") == true){
            var Q2 = $(':radio[name="Q2"]:checked').val();

        }
        else{
            swal("입력 오류", "2번 설문을 입력해주세요", "info");
            lock = 0;
            return false;
        }

        if($("input:radio[name='Q3']").is(":checked") == true){
            var Q3 = $(':radio[name="Q3"]:checked').val();
        }
        else{
            swal("입력 오류", "3번 설문을 입력해주세요", "info");
            lock = 0;
            return false;
        }

        if($("input:radio[name='Q4']").is(":checked") == true){
            var Q4 = $(':radio[name="Q4"]:checked').val();
        }
        else{
            swal("입력 오류", "4번 설문을 입력해주세요", "info");
            lock = 0;
            return false;
        }

        if($("input:radio[name='Q5']").is(":checked") == true){
            var Q5 = $(':radio[name="Q5"]:checked').val();
        }
        else{
            swal("입력 오류", "5번 설문을 입력해주세요", "info");
            lock = 0;
            return false;
        }

        if($("input:radio[name='Q6']").is(":checked") == true){
            var Q6 = $(':radio[name="Q6"]:checked').val();
        }
        else{
            swal("입력 오류", "6번 설문을 입력해주세요", "info");
            lock = 0;
            return false;
        }
        if($("input:radio[name='Q7']").is(":checked") == true){
            var Q7 = $(':radio[name="Q7"]:checked').val();
        }
        else{
            swal("입력 오류", "7번 설문을 입력해주세요", "info");
            lock = 0;
            return false;
        }
        if($("input:radio[name='Q8']").is(":checked") == true){
            var Q8 = $(':radio[name="Q8"]:checked').val();
        }
        else{
            swal("입력 오류", "8번 설문을 입력해주세요", "info");
            lock = 0;
            return false;
        }
        if($("input:radio[name='Q9']").is(":checked") == true){
            var Q9 = $(':radio[name="Q9"]:checked').val();
        }
        else{
            swal("입력 오류", "9번 설문을 입력해주세요", "info");
            lock = 0;
            return false;
        }
        var Q10 = $('textarea[name="Q10"]').val();

        console.log(flag);

        if(lock != 0){
            swal({
                title: "완 료",
                text: "설문을 제출하시겠습니까?",
                icon: "info",
                buttons: true,
                dangerMode: false,
            })
                    .then(function (value) {
                        var upsert = $("#data_flag").val();
                        if (value) {
                            $.ajax({
                                        url: "/cert_survey/",
                                        type: "POST",
                                        datatype:"json",
                                        data: {
                                            Q1: Q1,
                                            Q2: Q2,
                                            Q3: Q3,
                                            Q4: Q4,
                                            Q5: Q5,
                                            Q6: Q6,
                                            Q7: Q7,
                                            Q8: Q8,
                                            Q9: Q9,
                                            Q10: Q10,
                                            'user_id':'${user_id}',
                                            'course_id':course_id,
                                            survey_gubun: flag,
                                            upsert: upsert,
                                            s_seq: $('#s_seq').val(),
                                        },
                                    })
                                    .done(function (data) {
                                        if (data.return == 'success') {
                                            if (data.next == '1'){
                                                $(location).attr('href',"/dashboard");
                                            } else {
                                                $(location).attr('href',"/certificates/${hello}");
                                            }
                                        }
                                        else if(data.return == 'fail'){
                                            return;
                                        }

                                    })
                        } else {
                            return
                        }
                    })

        }
    }

</script>
<style>
    .table{
        border-collapse: collapse !important;
        vertical-align: middle !important;

    }
    tr:nth-child(even) {background-color: #f2f2f2;}
    tr{
        vertical-align: middle !important;
        padding: 20px !important;
    }
    td{
        vertical-align: middle !important;
        /*padding: 20px !important;*/
    }
    .sv_menu1, .sv_menu2{
        border: 2px solid #d2d0d0 !important;
        text-align: center !important;
        vertical-align: middle !important;
    }
    .sv_menu1 {
        width: 65%;
    }
    .cert{
        font-family: "Nanum Gothic" !important;
    }
    .form-control {
        width: 100% !important;
        padding: .375rem .75rem !important;
        font-size: 1rem !important;
        line-height: 1.5!important;
        color: #495057!important;
        background-color: #fff!important;
        background-clip: padding-box !important;
        border: 1px solid #ced4da!important;
        border-radius: .25rem!important;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    }
    .sv_Q1,.sv_Q2,.sv_Q3,.sv_Q4,.sv_Q5, .sv_Q6, .sv_Q7, .sv_Q8, .sv_Q9, .sv_Q10{
        text-align: center !important;
        vertical-align: middle !important;
    }
    * {
        font-family: "Nanum Gothic","Open Sans" !important;
        font-style: normal !important;
    }
    #main {
        border-bottom: none;
        margin-bottom: 0;
    }
    #sub_main {
        border-bottom: solid 1px #e0e0e0;
        margin-bottom: 30px;
        padding-bottom: 10px;
    }
    #Q5_text{
        width: 380px !important;
    }
    .survey-value {
        text-align: center;
    }
</style>

<section class="container">
    <input type="hidden" id="flag" value="${survey_gubun}">
    <input type="hidden" id="data_flag" value="${data_flag}">
    <input type="hidden" id="s_seq" value="">
    <h2 title="이수자대상 만족도 조사" id="main" > ${ display_name } 강좌 ${_("Satisfaction Survey")}</h2>
    % if survey_gubun != '1':
    <div class="article_contents goal" id="sub_main" > &nbsp; ${_("Congratulations to earn a certificate! Please enter your satisfaction regarding this course.")} <br> &nbsp; ${_("If you submit your satisfaction, you can view your certificate.")}<br> </div>
    % endif
    <div class="survey_group">
        <table class="table" >
            <thead>
            <tr>
                <th colspan="2" class="sv_menu1">구 분</th>
                <th colspan="10" class="sv_menu2">
                    ${_("strongly disagree")} < &nbsp; - &nbsp; - &nbsp; - &nbsp; - &nbsp; - &nbsp; - &nbsp; - &nbsp; - &nbsp; >   ${_("strongly agree")}
                    <br>
                    <!--(strongly disagree) <--------------------2>(strongly agree)[번역용]-->
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="q1_tr">
                <td class="sv_Q1">수강목적</td>
                <td>Q1.${_("Why did you enroll in the course?")}</td>
                <td colspan="10" class="cert">
                    <label><input type="radio" id="Q1_1" name="Q1" value="1.${_("Improve candidacy for a new job")}"/> ${_("Improve candidacy for a new job")} </label><br>
                    <label><input type="radio" id="Q1_2" name="Q1" value="2.${_("Enhance skills for current job")}"/> ${_("Enhance skills for current job")} </label><br>
                    <label><input type="radio" id="Q1_3" name="Q1" value="3.${_("Gain credit toward academic degree/flipped learning")}"/> ${_("Gain credit toward academic degree/flipped learning")} </label><br>
                    <label><input type="radio" id="Q1_4" name="Q1" value="4.${_("going to college/find a career")}"/> ${_("going to college/find a career")} </label><br>
                    <label><input type="radio" id="Q1_5" name="Q1" value="5.${_("personal interest/self-development")}"/> ${_("personal interest/self-development")} </label><br>
                </td>
            </tr>

            <tr class="q2_tr">

                <td class="sv_Q2">강의 내용</td>
                <td>Q2.${_("The contents and difficulty of this course are  appropriate for achieving learning objectives.")}</td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q2_1" name="Q2" value="1" /> 1 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q2_2" name="Q2" value="2" /> 2 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q2_3" name="Q2" value="3" /> 3 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q2_4" name="Q2" value="4" /> 4 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q2_5" name="Q2" value="5" /> 5 </label></td>
            </tr>
            <tr class="q3_tr">

                <td class="sv_Q3">교수자</td>
                <td>Q3.${_("The instructor has enough expert knowledge to lead this course and presented content in an organized manner.")}</td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q3_1" name="Q3" value="1" /> 1 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q3_2" name="Q3" value="2" /> 2 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q3_3" name="Q3" value="3" /> 3 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q3_4" name="Q3" value="4" /> 4 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q3_5" name="Q3" value="5" /> 5 </label></td>
            </tr>
            <tr class="q4_tr">

                <td rowspan="2" class="sv_Q4">강의 운영</td>
                <td>Q4.${_("The instructor or TA responded effectively to my questions.")}</td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q4_1" name="Q4" value="1" /> 1 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q4_2" name="Q4" value="2" /> 2 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q4_3" name="Q4" value="3" /> 3 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q4_4" name="Q4" value="4" /> 4 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q4_5" name="Q4" value="5" /> 5 </label></td>
            </tr>
            <tr class="q5_tr">

                <td>Q5.${_("The course learning activities and materials contributed to learning the subject matter.")}</td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q5_1" name="Q5" value="1" /> 1 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q5_2" name="Q5" value="2" /> 2 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q5_3" name="Q5" value="3" /> 3 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q5_4" name="Q5" value="4" /> 4 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q5_5" name="Q5" value="5" /> 5 </label></td>
            </tr>
            <tr class="q6_tr">

                <td rowspan="2" class="sv_Q6">강좌<br/>만족도</td>
                <td>Q6.${_("The course as a whole was excellent.")}</td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q6_1" name="Q6" value="1" /> 1 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q6_2" name="Q6" value="2" /> 2 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q6_3" name="Q6" value="3" /> 3 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q6_4" name="Q6" value="4" /> 4 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q6_5" name="Q6" value="5" /> 5 </label></td>
            </tr>
            <tr class="q7_tr">

                <td>Q7.${_("The course helped to Employee performance and self-development")}</td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q7_1" name="Q7" value="1" /> 1 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q7_2" name="Q7" value="2" /> 2 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q7_3" name="Q7" value="3" /> 3 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q7_4" name="Q7" value="4" /> 4 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q7_5" name="Q7" value="5" /> 5 </label></td>
            </tr>
            <tr class="q8_tr">

                <td class="sv_Q8">시스템<br/>이용</td>
                <td>Q8.${_("I found the courses easily and received a lof of information* for learning")}<br>
                    <span style="color: #ff0000;">${_("*Accredited learning time, Professors, Classes Period, etc.")}</span></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q8_1" name="Q8" value="1" /> 1 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q8_2" name="Q8" value="2" /> 2 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q8_3" name="Q8" value="3" /> 3 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q8_4" name="Q8" value="4" /> 4 </label></td>
                <td class="survey-value" colspan="2"><label><input type="radio" id="Q8_5" name="Q8" value="5" /> 5 </label></td>
            </tr>
            <tr class="q9_tr">

                <td class="sv_Q9">추천의향</td>
                <td>Q9.${_("I would recommend this course to my colleagues.")}</td>
                <td class="survey-value"><label><input type="radio" id="Q9_1" name="Q9" value="1" /> 1 </label></td>
                <td class="survey-value"><label><input type="radio" id="Q9_2" name="Q9" value="2" /> 2 </label></td>
                <td class="survey-value"><label><input type="radio" id="Q9_3" name="Q9" value="3" /> 3 </label></td>
                <td class="survey-value"><label><input type="radio" id="Q9_4" name="Q9" value="4" /> 4 </label></td>
                <td class="survey-value"><label><input type="radio" id="Q9_5" name="Q9" value="5" /> 5 </label></td>
                <td class="survey-value"><label><input type="radio" id="Q9_6" name="Q9" value="6" /> 6 </label></td>
                <td class="survey-value"><label><input type="radio" id="Q9_7" name="Q9" value="7" /> 7 </label></td>
                <td class="survey-value"><label><input type="radio" id="Q9_8" name="Q9" value="8" /> 8 </label></td>
                <td class="survey-value"><label><input type="radio" id="Q9_9" name="Q9" value="9" /> 9 </label></td>
                <td class="survey-value"><label><input type="radio" id="Q9_10" name="Q9" value="10" /> 10 </label></td>
            </tr>

            <tr class="q10_tr">
                <td class="sv_Q10" rowspan="2">기타 의견</td>
                <td colspan="11">Q10.${_("What is the advantage of this course? or What is your suggestion to improve this course?")}</td>
            </tr>
            <tr class="q10_tr">
                <td colspan="11"><textarea name="Q10" style="resize: none; width: 100%;" rows="3"></textarea></td>
            </tr>
            </tbody>
        </table>



        <!--<a class="btn"
           href="/certificates/${hello}"
           target="_blank"
           title="제출과 동시에 이수증을 웹으로 보게 될것입니다."
            style="float: right; font-size: 25px;">
            제출</a>-->
        <button onclick="btn_survey_submit()" id="survey_submit" type="button" style="float: right; font-size: 19px;" class="btn btn-outline-primary" title="제출과 동시에 이수증을 웹으로 보게 될것입니다.">제출하기</button>
    </div>
</section>

<br/><br/><br/><br/><br/><br/><br/>


