<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="pagetitle">Q&A</%block>
<%inherit file="../main.html" />


<script src="${static.url('js/script/script.js')}" charset="utf-8"></script>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container">
				<!-- [s] board write -->
    <h2 title="Q&A" id="main">q&a</h2>
    <ul>
        <li>
            특정 강좌 내용과 관련된 질문의 경우, 해당 강좌 내
            <strong>게시판</strong>
            에 질문을 올려주시기 바랍니다.
        </li>

    </ul>
    <div align="right">
        <input type="text" placeholder="질문 찾기" id="search" onkeydown="onKeyDown()" title="질문 찾기"/>
        <input type="button" value="찾기" id="search_btn" title="찾기"/>
    </div>
    <br>
    <div id="head_title" style="display: none;">${head_title}</div>
    <nav class="faq-tab">
        <a href="#" class="on" id="kmooc_f" title="CNU-MOOC">CNU-MOOC</a>
        <a href="#" id="regist_f" title="회원가입">회원가입</a>
        <a href="#" id="login_f" title="로그인/계정">로그인/계정</a>
        <a href="#" id="enroll_f" title="수강신청/취소">수강신청/취소</a>
        <a href="#" id="course_f" title="강좌 수강">강좌 수강</a>
        <a href="#" id="certi_f" title="성적/이수증">성적/이수증</a>
        <a href="#" id="tech_f" title="기술적문제">기술적 문제</a>
    </nav>
    <dl class="faq-list" title="Q&A 목록">
    </dl>
    <!-- [e] board write -->
			</section>
</main>

<%block name="header_extras"></%block>

## <script src="${static.url('js/script/faq_script.js')}" charset="utf-8"></script>
<script src="${static.url('js/script/faq.js')}" charset="utf-8"></script>
<style>
    .blind {
        overflow:hidden;
        position:absolute;
        top:0;
        left:0;
        width:1px;
        height:1px;
        font-size:0;
        line-height:0
    }
</style>
<br/><br/><br/>

