<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="pagetitle">${_("Contact us by email")}</%block>
<%inherit file="../main.html" />

<%block name="header_extras"></%block>
<script src="${static.url('js/script/faq_request.js')}" charset="utf-8"></script>
<style>
    .board-write dd input[type='text'] {
        background: none;
    }
</style>
<section class="container">
    <!-- [s] board write -->
    <h2 id="main">${_("Contact us by email")}</h2>
    <ul>
##         <li>${_("The inquiry will be sent to the K-MOOC staff members by e-mail.")}</li>
        <li>${_("If you do not find the answer to your question in the list, please contact us via <strong>'Contact us by email'</strong>.")}</li>
        <li>${_("If you have any questions regarding specific course content, please post your question on the bulletin <strong>board of the course.</strong>")}</li>
    </ul>
    <section class="board-view" style="padding-top: 20px !important;">

        <div class="board-write">

            <table class="email_qarea">

                <colgroup>
                    <col width="15%">
                    <col width="*">
                </colgroup>

                <tbody>

                <tr>
                    <td class="email_q_title">
                        <span>${_("Inquiry Type")}</span>
                    </td>
                    <td>
                        <select id="search_con" title="질문 선택">
                            <option id="null" value="null">${_("Please choose your inquiry.")}</option>
                            <option id="kmooc_f" value="kmooc_f">${_("Related to the use of K-MOOC sites")}</option>
                            <option id="regist_f" value="regist_f">${_("About membership")}</option>
                            <option id="login_f" value="login_f">${_("About sign-in and account")}</option>
                            <option id="enroll_f" value="enroll_f">${_("About enrollment/cancel")}</option>
                            <option id="course_f" value="course_f">${_("About course registration")}</option>
                            <option id="certi_f" value="certi_f">${_("About grade/certificates")}</option>
                            <option id="tech_f" value="tech_f">${_("About technical problems")}</option>
                            <option id="mobile_f" value="mobile_f">${_("About mobile problems")}</option>
                            <option id="cb_f" value="cb_f">${_("About Academic Credit Bank System")}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="email_q_title">
                        <span>${_("Email")}</span>
                    </td>
                    <td>
                        <span class="email_span">
                        <input type="text" id="email" placeholder='${_("Email to respond")}' aria-label="이메일 입력" title="이메일 입력">
                        <input type="text" style="" id="email_txt" aria-label="이메일 도메인 입력" title="이메일 도메인 입력" disabled>
                        <select id="sel_email" style="" title="이메일 선택">
                            <option id="null">${_("Please select an email")}</option>
                            <option>naver.com</option>
                            <option>hanmail.net</option>
                            <option>daum.net</option>
                            <option>gmail.com</option>
                            <option>nate.com</option>
                            <option id="direct">직접입력</option>
                            <!--<option id="email"></option>
                            <option id="email"></option>-->
                        </select>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td  class="email_q_title">
                        <span>${_("Memo")}</span>
                    </td>
                    <td>
                        <textarea id="request_con" title="${_("Memo")}" ></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
          <br>
          <input type="checkbox" class="faq-yn">
          개인정보 수집 및 이용에 동의합니다. <a href="/Privacy-Policy#no1 ">자세히 알아보기</a>
        </dl>
            <div class="comment-submit">
                <input type="button" value='${_("Send email")}' id="request">
                <input type="button" value=${_("Cancel")} class="btn-gray" id="cancel">
            </div>
        </div>
    </section>
    <!-- [e] board write -->
</section>





