<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="header_extras"></%block>

## <script src="${static.url('js/script/faq_script.js')}" charset="utf-8"></script>
<script src="${static.url('js/script/faq.js')}" charset="utf-8"></script>


<section class="container">
				<!-- [s] board write -->
    <h2>자주하는 질문</h2>
    <div align="right">
        <input type="text" placeholder="질문 찾기" id="search" onkeydown="onKeyDown()"/>
        <input type="button" value="찾기" id="search_btn"/>
    </div>
    <br>
    <nav class="faq-tab">
        <a href="#" class="on" id="regist_f">회원가입 관련</a>
        <a href="#" id="login_f">로그인 및 계정 관련</a>
        <a href="#" id="site_f">K-MOOC 사이트 이용 관련</a>
        <a href="#" id="course_f">강좌 수강 관련</a>
        <a href="#" id="tech_f">기술적인 문제 관련</a>
        <a href="#" id="etc_f">기타</a>
    </nav>
    <dl class="faq-list">

    </dl>
    <div style="float: right">
        <input type="button" value="원하시는 질문이 있습니까?" id="question"/>
    </div>
    <!-- [e] board write -->
			</section>
<br/><br/><br/><br/><br/><br/><br/>



