<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="header_extras"></%block>
<script src="${static.url('js/script/faq_request.js')}" charset="utf-8"></script>

<section class="container">
    <!-- [s] board write -->
    <h2>${_("Contact us by email")}</h2>
    ${_("The inquiry will be sent to the K-MOOC staff members by e-mail.")}
    <section class="board-view">

        <div class="board-write">
            <dl>
                <dt><b>${_("Email")}</b></dt>
                <dd>
                    <div style="padding: 10px;">
                        <!-- ${_("If you would like an answer, please enter your e-mail address correctly.")}<br> -->
                    </div>

                    <select id="search_con" style="height: 35px; min-width: 100px!important; ">
                        <option id="null">${_("Please choose your inquiry.")}</option>
                        <option id="regist">${_("About membership")}</option>
                        <option id="login_">${_("About sign-in and account")}</option>
                        <option id="site">${_("Use of K-MOOC")}</option>
                        <option id="course">${_("About course registration")}</option>
                        <option id="tech">${_("About technical problems")}</option>
                        <option id="etc">${_("etc")}</option>
                    </select>

                    <input type="text"  id="email" placeholder='${_("Email to respond")}'>@
                    <select id="sel_email" style="height: 35px; min-width: 200px !important;">
                        <option id="null">${_("Please select an email")}</option>
                        <option id="email">naver.com</option>
                        <option id="email">nate.com</option>
                        <option id="email">gmail.com</option>
                        <option id="email">daum.net</option>
                        <option id="email">hanmail.com</option>
                        <!--<option id="email"></option>
                        <option id="email"></option>-->
                    </select>
                </dd>
            </dl>
            <dl>
                <dt>
                    <b>${_("Memo")}</b>
                </dt>
                <dd>
                    <textarea id="request_con"></textarea>
                </dd>
            </dl>

            <div class="comment-submit">
                <input type="button" value=${_("Send email")} id="request">
                <input type="button" value=${_("Cancel")} class="btn-gray" id="cancel">
            </div>
        </div>
    </section>
    <!-- [e] board write -->
</section>





