<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="pagetitle">쪽지</%block>
<%inherit file="../main.html" />

<%block name="header_extras"></%block>

<script>
function first_click(){
    // init var
    html = "";
    html2 = "";

    var current = $('.current').text();
    var next_page = Number(current)-1;

    if(current == 1){
        alert("첫 페이지입니다");
        return 0;
    }

    $.ajax({
        url : '/memo',
        type: "POST",
        data : {
            method : 'notice_list',
            click_page : 1,
            user_id : ${user.id},
            csrfmiddlewaretoken: '${ csrf_token }'
        }
    }).done(function(data){
        var page_stop = data.page_stop;
        var click_page = data.click_page;
        var data = data.data;

        console.log("click_page = " +click_page);

        for(var i=0; i<10; i++){
           $('#page').remove();
        }

        for(var i=0; i<data.length; i++){

            html += "<li class='tbody' id='page'>";

            html += '<span class="memo_v" title="체크박스"><input type="checkbox" onclick="checked_all2()" id="check_all2"/></span>';
            html += "<span class='memo_a'>" + data[i][0] + "</span>";
            html += "<span class='memo_b'>" + data[i][1] + "</span>";
            html += "<span class='memo_c'>" + data[i][2] + "</span>";
            html += "<span class='memo_d'>" + data[i][3] + "</span>";
            html += "<span class='memo_e'>" + data[i][4] + "</span>";

            html += "</li>"

        }

        $('#tbody').html(html);

        $('.paging').children('a').remove();

        var level = ((click_page-1) / 5);
        level = parseInt(level);
        var end = (level+1)*5;
        var start = end-5;
        if(page_stop != 0){
            end = page_stop;
        }

        console.log("level = " + level);
        console.log("start = " + start);
        console.log("end = " + end);

            html2 += "<a href='javascript:first_click();' class='first' id='first' title='처음으로'>first</a>";
            html2 += "<a href='javascript:prev_click();' class='prev' id='prev' title='이전'>prev</a>";

            for(var page=start; page<end; page++){
                if(page==click_page-1){
                    html2 += "<a href='#' class='current' id='" + (page+1) + "' title='" + (page+1) + " 페이지'>" + (page+1) + "</a>"
                }
                else{
                    html2 += "<a href='#' id='" + (page+1) + "' title='" + (page+1) + " 페이지'>" + (page+1) + "</a>"
                }
            }

            html2 += "<a href='javascript:next_click();' class='next' id='next' title='다음'>next</a>";
            html2 += "<a href='javascript:last_click();' class='last' id='last' title='마지막으로'>last</a>";

            $('.paging').html(html2);
    });
}

function last_click(){
    // init var
    html = "";
    html2 = "";

    var lock = $('.paging').children('a').length;

    if(lock != 9){
        alert("마지막 페이지입니다");
        return 0;
    }

    $.ajax({
        url : '/memo',
        type: "POST",
        data : {
            method : 'notice_list',
            click_page : 999999999999,
            user_id : ${user.id},
            csrfmiddlewaretoken: '${ csrf_token }'
        }
    }).done(function(data){
        var page_stop = data.page_stop;
        var click_page = data.click_page;
        var data = data.data;

        console.log("click_page = " +click_page);

        for(var i=0; i<10; i++){
           $('#page').remove();
        }

        for(var i=0; i<data.length; i++){

            html += "<li class='tbody' id='page'>";

            html += '<span class="memo_v" title="체크박스"><input type="checkbox" onclick="checked_all2()" id="check_all2"/></span>';
            html += "<span class='memo_a'>" + data[i][0] + "</span>";
            html += "<span class='memo_b'>" + data[i][1] + "</span>";
            html += "<span class='memo_c'>" + data[i][2] + "</span>";
            html += "<span class='memo_d'>" + data[i][3] + "</span>";
            html += "<span class='memo_e'>" + data[i][4] + "</span>";

            html += "</li>"

        }

        $('#tbody').html(html);

        $('.paging').children('a').remove();

        var level = ((click_page-1) / 5);
        level = parseInt(level);
        var end = (level+1)*5;
        var start = end-5;
        if(page_stop != 0){
            end = page_stop;
        }

        console.log("level = " + level);
        console.log("start = " + start);
        console.log("end = " + end);

            html2 += "<a href='javascript:first_click();' class='first' id='first' title='처음으로'>first</a>";
            html2 += "<a href='javascript:prev_click();' class='prev' id='prev' title='이전'>prev</a>";

            for(var page=start; page<end; page++){
                if(page==click_page-1){
                    html2 += "<a href='#' class='current' id='" + (page+1) + "' title='" + (page+1) + " 페이지'>" + (page+1) + "</a>"
                }
                else{
                    html2 += "<a href='#' id='" + (page+1) + "' title='" + (page+1) + " 페이지'>" + (page+1) + "</a>"
                }
            }

            html2 += "<a href='javascript:next_click();' class='next' id='next' title='다음'>next</a>";
            html2 += "<a href='javascript:last_click();' class='last' id='last' title='마지막으로'>last</a>";

            $('.paging').html(html2);
    });
}

function prev_click(){
    var current = $('.current').text();
    var next_page = Number(current)-1;

    if(current == 1){
        alert("첫 페이지입니다");
        return 0;
    }

    // init var
    html = "";
    html2 = "";

    $.ajax({
        url : '/memo',
        type: "POST",
        data : {
            method : 'notice_list',
            click_page : next_page,
            user_id : ${user.id},
            csrfmiddlewaretoken: '${ csrf_token }'
        }
    }).done(function(data){
        var page_stop = data.page_stop;
        var click_page = data.click_page;
        var data = data.data;

        console.log("click_page = " +click_page);

        for(var i=0; i<10; i++){
           $('#page').remove();
        }

        for(var i=0; i<data.length; i++){

            html += "<li class='tbody' id='page'>";

            html += '<span class="memo_v" title="체크박스"><input type="checkbox" onclick="checked_all2()" id="check_all2"/></span>';
            html += "<span class='memo_a'>" + data[i][0] + "</span>";
            html += "<span class='memo_b'>" + data[i][1] + "</span>";
            html += "<span class='memo_c'>" + data[i][2] + "</span>";
            html += "<span class='memo_d'>" + data[i][3] + "</span>";
            html += "<span class='memo_e'>" + data[i][4] + "</span>";

            html += "</li>"

        }

        $('#tbody').html(html);

        $('.paging').children('a').remove();

        var level = ((click_page-1) / 5);
        level = parseInt(level);
        var end = (level+1)*5;
        var start = end-5;
        if(page_stop != 0){
            end = page_stop;
        }

        console.log("level = " + level);
        console.log("start = " + start);
        console.log("end = " + end);

            html2 += "<a href='javascript:first_click();' class='first' id='first' title='처음으로'>first</a>";
            html2 += "<a href='javascript:prev_click();' class='prev' id='prev' title='이전'>prev</a>";

            for(var page=start; page<end; page++){
                if(page==click_page-1){
                    html2 += "<a href='#' class='current' id='" + (page+1) + "' title='" + (page+1) + " 페이지'>" + (page+1) + "</a>"
                }
                else{
                    html2 += "<a href='#' id='" + (page+1) + "' title='" + (page+1) + " 페이지'>" + (page+1) + "</a>"
                }
            }

            html2 += "<a href='javascript:next_click();' class='next' id='next' title='다음'>next</a>";
            html2 += "<a href='javascript:last_click();' class='last' id='last' title='마지막으로'>last</a>";

            $('.paging').html(html2);
    });
}

// 넥스트 버튼 클릭 시
function next_click(){
    var current = $('.current').text();
    var next_page = Number(current)+1;
    var lock = $('.paging').children('a').length;

    if(lock != 9){
        alert("마지막 페이지입니다");
        return 0;
    }

    // init var
    html = "";
    html2 = "";

    $.ajax({
        url : '/memo',
        type: "POST",
        data : {
            method : 'notice_list',
            click_page : next_page,
            user_id : ${user.id},
            csrfmiddlewaretoken: '${ csrf_token }'
        }
    }).done(function(data){
        var page_stop = data.page_stop;
        var click_page = data.click_page;
        var data = data.data;

        console.log("click_page = " +click_page);

        for(var i=0; i<10; i++){
           $('#page').remove();
        }

        for(var i=0; i<data.length; i++){

            html += "<li class='tbody' id='page'>";

            html += '<span class="memo_v" title="체크박스"><input type="checkbox" onclick="checked_all2()" id="check_all2"/></span>';
            html += "<span class='memo_a'>" + data[i][0] + "</span>";
            html += "<span class='memo_b'>" + data[i][1] + "</span>";
            html += "<span class='memo_c'>" + data[i][2] + "</span>";
            html += "<span class='memo_d'>" + data[i][3] + "</span>";
            html += "<span class='memo_e'>" + data[i][4] + "</span>";

            html += "</li>"

        }

        $('#tbody').html(html);

        $('.paging').children('a').remove();

        var level = ((click_page-1) / 5);
        level = parseInt(level);
        var end = (level+1)*5;
        var start = end-5;
        if(page_stop != 0){
            end = page_stop;
        }

        console.log("level = " + level);
        console.log("start = " + start);
        console.log("end = " + end);

            html2 += "<a href='javascript:first_click();' class='first' id='first' title='처음으로'>first</a>";
            html2 += "<a href='javascript:prev_click();' class='prev' id='prev' title='이전'>prev</a>";

            for(var page=start; page<end; page++){
                if(page==click_page-1){
                    html2 += "<a href='#' class='current' id='" + (page+1) + "' title='" + (page+1) + " 페이지'>" + (page+1) + "</a>"
                }
                else{
                    html2 += "<a href='#' id='" + (page+1) + "' title='" + (page+1) + " 페이지'>" + (page+1) + "</a>"
                }
            }

            html2 += "<a href='javascript:next_click();' class='next' id='next' title='다음'>next</a>";
            html2 += "<a href='javascript:last_click();' class='last' id='last' title='마지막으로'>last</a>";

            $('.paging').html(html2);
    });
}

// 처음 조회 시 로직
$(document).ready(function(){
    var html  = "";
    var html2 = "";

    $.ajax({
        url : '/memo',
        type: "POST",
        data : {
            method : 'notice_list',
            user_id : ${user.id},
            csrfmiddlewaretoken: '${ csrf_token }'
        }
    }).done(function(data){
        var data = data.data;
        var total_page = data[0][0];
        total_page = total_page/10;

        console.log(total_page);

        for(var i=0; i<data.length; i++){

            html += "<li class='tbody' id='page'>";

            html += '<span class="memo_v" title="체크박스"><input type="checkbox" onclick="checked_all2()" id="check_all2"/></span>';
            html += "<span class='memo_a'>" + data[i][0] + "</span>";
            html += "<span class='memo_b'>" + data[i][1] + "</span>";
            html += "<span class='memo_c'>" + data[i][2] + "</span>";
            html += "<span class='memo_d'>" + data[i][3] + "</span>";
            html += "<span class='memo_e'>" + data[i][4] + "</span>";

            html += "</li>"

        }

        $('#tbody').html(html);

        html2 += "<a href='javascript:first_click();' class='first' id='first' title='처음으로'>first</a>";
        html2 += "<a href='javascript:prev_click();' class='prev' id='prev' title='이전'>prev</a>";

        for(var page=0; page<5; page++){
            if(page==0){
                html2 += "<a href='#' class='current' id='" + (page+1) + "' title='" + (page+1) + " 페이지'>" + (page+1) + "</a>"
            }
            else{
                html2 += "<a href='#' id='" + (page+1) + "' title='" + (page+1) + " 페이지'>" + (page+1) + "</a>"
            }
        }

        html2 += "<a href='javascript:next_click();' class='next' id='next' title='다음'>next</a>";
        html2 += "<a href='javascript:last_click();' class='last' id='last' title='마지막으로'>last</a>";

        $('.paging').html(html2);
    });

    // 페이지 클릭시 로직
    $('.paging').click(function(e){

        // init var
        html = "";
        html2 = "";

        var click_page = e.target.text;

        if (click_page == 'next' || click_page == 'prev' || click_page == 'first' || click_page == 'last'){
            return 0;
        }

        $.ajax({
            url : '/memo',
            type: "POST",
            data : {
                method : 'notice_list',
                click_page : click_page,
                user_id : ${user.id},
                csrfmiddlewaretoken: '${ csrf_token }'
            }
        }).done(function(data){
            var click_page = data.click_page;
            var data = data.data;

            for(var i=0; i<10; i++){
               $('#page').remove();
            }

            for(var i=0; i<data.length; i++){

                html += "<li class='tbody' id='page'>";

                html += '<span class="memo_v" title="체크박스"><input type="checkbox" onclick="checked_all2()" id="check_all2"/></span>';
                html += "<span class='memo_a'>" + data[i][0] + "</span>";
                html += "<span class='memo_b'>" + data[i][1] + "</span>";
                html += "<span class='memo_c'>" + data[i][2] + "</span>";
                html += "<span class='memo_d'>" + data[i][3] + "</span>";
                html += "<span class='memo_e'>" + data[i][4] + "</span>";

                html += "</li>"

            }

            $('#tbody').html(html);

            $('.paging').children('a').remove();

            html2 += "<a href='javascript:first_click();' class='first' id='first' title='처음으로'>first</a>";
            html2 += "<a href='javascript:prev_click();' class='prev' id='prev' title='이전'>prev</a>";

            for(var page=0; page<5; page++){
                if(page==click_page-1){
                    html2 += "<a href='#' class='current' id='" + (page+1) + "' title='" + (page+1) + " 페이지'>" + (page+1) + "</a>"
                }
                else{
                    html2 += "<a href='#' id='" + (page+1) + "' title='" + (page+1) + " 페이지'>" + (page+1) + "</a>"
                }
            }

            html2 += "<a href='javascript:next_click();' class='next' id='next' title='다음'>next</a>";
            html2 += "<a href='javascript:last_click();' class='last' id='last' title='마지막으로'>last</a>";

            $('.paging').html(html2);
        });
    });
});

function onKeyDown()
{
     if(event.keyCode == 13)
     {
		 search();
     }
}

//검색처리
$(document).on('click', '#search', search);
function search(){
    var search_con = $('#search_con option:selected').attr('id');
    var search_search = $('#search_search').val();
    var html = "";
    var html2 = "";
    var value_list =[];
    search_search = search_search.replace(/&/g,"&amp;")
    .replace(/</g,"&lt;")
    .replace(/>/g,"&gt;")
    .replace(/\'/g, "&#39;")
    .replace(/\"/g,"&quot;");

    if(search_search != '' && search_search != null){
        $.ajax({
            url : '/comm_notice',
            data : {
                method : 'search_list',
                cur_page : '1',
                search_con : search_con,
                search_search : search_search
            }
        }).done(function(data){
            //console.log(data);
            html = "";
            for(var i = 0; i < data.length; i++){
                html += "<li class='tbody'>";
                html += "<span class='no'>"+(data[i][0]-i)+"</span>";
                if(data[i][5] == 1){
                    html += "<span class='title'><a href='/comm_notice_view/"+data[i][4]+"'>"+data[i][6]+data[i][1]+" <img src='/static/images/new.jpeg' height='15px;'></a></span>";
                }else{
                    html += "<span class='title'><a href='/comm_notice_view/"+data[i][4]+"'>"+data[i][6]+data[i][1]+"</a></span>";
                }
                html += "<span class='date'>"+data[i][2]+"</span>";
                total_page = data[i][3];
                html += "</li>"
            }
            $('#tbody').html(html);
            html2 += "<a href='#' class='first' id='first'>first</a>";
            html2 += "<a href='#' class='prev' id='prev'>prev</a>";
            for(var t=0;t<total_page; t++){
                if(t==0){
                    html2 += "<a href='#' class='current' id='"+(t+1)+"'>"+(t+1)+"</a>"
                }
                else{
                    html2 += "<a href='#' id='"+(t+1)+"'>"+(t+1)+"</a>"
                }
            }
            html2 += "<a href='#' class='next' id='next'>next</a>";
            html2 += "<a href='#' class='last' id='last'>last</a>";
            $('.paging').html(html2);
        });
    }else{
        $.ajax({
        url : '/comm_notice',
            data : {
                method : 'notice_list'
            }
        }).done(function(data){
            //console.log(data);
            html = "";
            for(var i = 0; i < data.length; i++){
                html += "<li class='tbody'>";
                html += "<span class='no'>"+(data[i][0]-i)+"</span>";
                if(data[i][5] == 1){
                    html += "<span class='title'><a href='/comm_notice_view/"+data[i][4]+"'>"+data[i][6]+data[i][1]+" <img src='/static/images/new.jpeg' height='15px;'></a></span>";
                }else{
                    html += "<span class='title'><a href='/comm_notice_view/"+data[i][4]+"'>"+data[i][6]+data[i][1]+"</a></span>";
                }
                html += "<span class='date'>"+data[i][2]+"</span>";
                total_page = data[i][3];
                html += "</li>"
            }
            $('#tbody').html(html);
            html2 += "<a href='#' class='first' id='first'>first</a>";
            html2 += "<a href='#' class='prev' id='prev'>prev</a>";
            for(var t=0;t<total_page; t++){
                if(t==0){
                    html2 += "<a href='#' class='current' id='"+(t+1)+"'>"+(t+1)+"</a>"
                }
                else{
                    html2 += "<a href='#' id='"+(t+1)+"'>"+(t+1)+"</a>"
                }
            }
            html2 += "<a href='#' class='next' id='next'>next</a>";
            html2 += "<a href='#' class='last' id='last'>last</a>";
            $('.paging').html(html2);
        });
    }
}
</script>

<section class="container">
    <h2 title="공지사항" id="main">쪽지</h2>
    <!-- [s] board list -->
    <section class="board-search-box" style="margin-top:0;">
        <select id="search_con" title="검색 조건 선택">
            <option id="search_total" title="전체">- 전체 -</option>
            <option id="search_title" title="제목">- 제목 -</option>
        </select>
        <input type="text" id="search_search" onkeydown="onKeyDown()" aria-label="검색어 입력" title="검색어 입력">
        <input type="button" id="search" value="검색"  title="검색" aria-label="검색">
    </section>
    <section class="board-list">
        <ul>
            <li class="thead">
                <span class="memo_v" title="체크박스"><input type="checkbox" onclick="checked_all2()" id="check_all2"/></span>
                <span class="memo_a" title="번호">번호</span>
                <span class="memo_b" title="쪽지구분">쪽지구분</span>
                <span class="memo_c" title="제목">제목</span>
                <span class="memo_d" title="발송일시">발송일시</span>
                <span class="memo_e" title="조회일시">조회일시</span>
            </li>
            <div id="tbody">

            </div>
        </ul>

        <div class="paging">
        </div>
    </section>
    <!-- [e] board list -->
</section>
<br/><br/><br/><br/><br/><br/><br/>


