<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="pagetitle"></%block>

<%block name="header_extras"></%block>


<style>
  .section_frame_container{
    display:inline-block;
    width:100%;
    padding-top: 40px;
    padding-bottom: 100px;
  }
  .real_main_title{
    font-size:180%;
    margin-top:20px;
    margin-bottom:50px;
    border-bottom: solid 1px #DDDDDD;
    padding-bottom: 40px;
    font-weight: bold;
  }
  .section_1{
    display:inline-block;
    width:100%;
    margin-bottom:10px;
    padding: 0 20px;
  }
  .series_img{
    width:250px;
    height:150px;
  }
  .section_a{
    float:left;
  }
  .section_b{
    float:left;
    padding-top:15px;
    padding-left:20px;
  }

  .series_target{
    margin-bottom:6px;
    font-size:80%;
  }
  .series_goal{
    font-size:80%;
  }
  #copy_btn{
    float:right;
    color: #FFFFFF;
  }
  .section_2{
    display:inline-block;
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
    padding:20px;
    border-top:solid #CCCCCC 0px;
    border-bottom:solid #CCCCCC 1px;
  }
  .course_intro_title{
    margin-bottom:10px;
    font-size: 20px;
    font-weight: bold;
  }
  .course_intro_content{
    font-size:80%;
  }
  .section_3{
    display:inline-block;
    width:100%;
    padding-left:20px;
    padding-right:20px;
    margin-top:10px;
  }
  .pagerLink {
    text-decoration: none !important;
  }
  .section_4{
    display:inline-block;
    width:100%;
    padding: 0 20px 20px 20px;
    margin-top:10px;
    margin-bottom: 10px;
    border-bottom: solid #CCCCCC 1px;
  }
  .series_img_inner{
    width:180px;
    height:100px;
  }
  .section_5{
    display: inline-block;
    width: 100%;
    margin-top: 5px;
  }
  .section_bb{
    float:left;
    padding-top:5px;
    padding-left:20px;
  }
  .series_a{
    width:300px;
    margin-bottom:2px;
    font-size:80%;
  }
  .series_b{
    width:300px;
    margin-bottom:2px;
    font-size:80%;
  }
  .series_c{
    width:300px;
    margin-bottom:2px;
    font-size:80%;
  }
  .series_d{
    width:500px;
    margin-bottom:10px;
    font-size:120%;
    font-weight: bold;
  }
  .siz-date {
    padding: 3px;
    border: 1px solid #ccc;
    margin-right: 7px;
    display: inline-block;
    width: 70px;
    text-align: center;
  }
  .mobile-section-a2 {
    text-align: left;
    font-size: 14px
  }
  .section_5 .section_frame_outer {
    padding-top: 0;
  }

</style>

<script>

    function move(){
        var index = '${id}';
        var url = "/series_print/" + index;
        window.open(url, "_blank");
        //$(location).attr('href',url);
    }

    $(document).ready(function(){
        $.ajax({
            url: 'about'
        }).done(function(data){
            var $frame = $('#about_iframe');
            var doc = $frame[0].contentWindow.document;
            var $body = $('body', doc);
            $body.html(data.note);
            setTimeout(function(){
                setIframeHeight('about_iframe');
            }, 300);
        });

        $(window).resize(function(){
            setIframeHeight('about_iframe');
        });

    });
</script>
% if main_list:
<div>
  <div class="series_bg_area series_about">
    <div class="series_bg_space series_view">
      <span class="series_bg_title series_about">
      <a href="/series">
          <h6>← 묶음강좌 목록으로 돌아가기</h6>
      </a>
          <h3 class="series_title">${main_list[0]}</h3>
      </span>
    </div>
  </div>
</div>

<section class="container" id="printArea">

  <div class="section_1" id="main">
    <div class="section_frame_outer">
      <div class="section_frame_inner">
        <div class="float_left section_a1">
          <img class="series_imges" width="230px" height="130px" src="${main_list[3]}" alt="${main_list[0]}" onerror="this.src='/static/images/blank.png'"/>
        </div>
        <div class="float_left section_a2 mobile-section-a2">
          <span class="bundle_subtxt">${main_list[5]}</span>
        </div>

        <div class="section_a3">
          <div class="r-list">
            <table>
              <caption class="hidden_head">묶음강좌 신청 및 통합 정보</caption>
              <tr>
                <th scope="row">
                  <span class="siz">대표기관</span>
                </th>
                <td>
                  <span>${main_list[4]}</span>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <span class="siz">총 주차</span>
                </th>
                <td>
                  <span>${week_total}</span>
                </td>
              </tr>

              <tr>
                <th scope="row">
                  <span class="siz">총 학습인정시간</span>
                </th>
                <td>
                  <span>${study_total}</span>
                </td>
              </tr>

              <tr>
                <th scope="row">
                  <span class="siz">총 동영상시간</span>
                </th>
                <td>
                  <span>${video_total}</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section_2_1">
    <div class="course_intro_title series_view_intro">${_('Series Course Introduction')}</div>
  </div>

  <div class="section_2">

    <div class="course_intro_content" id="series_about">
      <iframe title="${_('Series Course Introduction')}" id="about_iframe" frameborder="0" scrolling="no" onload="SetHeight()" width="100%" style="display: flex; vertical-align: bottom;"></iframe>
    </div>
  </div>
  % endif

  <div class="section_3"  style="border-bottom: 2px solid #ccc; margin-top: 55px;">
    <div class="course_intro_title" style="padding-bottom: 10px;">${_('Course List')}</div>
  </div>

  <div class="section_4">
    % if len(sub_list) == 0:
    <div class="course_intro_content">현재 묶음강좌에 등록된 강좌가 없습니다</div>
    % endif
    % for item in sub_list:
    <div class="section_5">
      <div class="section_frame_outer">
        <div class="section_frame_inner">
          <div class="float_left section_a1">
            <img class="series_imges" alt="${item['course_name']}" src="${item['course_image_url']}" onerror="this.src='/static/images/blank.png'"/>
          </div>
          <div class="float_left section_a2">
            <div class="series_title">${item['course_name']}</div>
            <p class="s_list">${item['short_description']}</p>
          </div>
          <div class="section_a3 s_view">
            <div class="r-list s_view">
              <table>
                <caption class="hidden_head">구성강좌 정보</caption>
                <tr>
                  <th scope="row">
                    <span class="siz">분야</span>
                  </th>
                  <td>
                    <span>${_(item['classfy'])}(${_(item['middle_classfy'])})</span>
                  </td>
                </tr>

                % if item['course_level'] != '':
                <tr>
                  <th scope="row">
                    <span class="siz">난이도</span>
                  </th>
                  <td>
                    <span>${_(item['course_level'])}</span>
                  </td>
                </tr>
                % endif

                <tr>
                  <th scope="row">
                    <span class="siz">주차</span>
                  </th>
                  <td>
                    <span>${item['effort_week']}${_("week")}</span>
                  </td>
                </tr>

                <tr>
                  <th scope="row">
                    <span class="siz">학습인정시간</span>
                  </th>
                  <td>
                    <span>${item['study_time']}</span>
                  </td>
                </tr>

                <tr>
                  <th scope="row">
                    <span class="siz">개강상태</span>
                  </th>
                  <td>
                    <span>${item['course_status']}</span>
                  </td>
                </tr>

              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
    % endfor
  </div>
</section>
