<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<script src="${static.url('js/script/comm_tabs.js')}" charset="utf-8"></script>
    <!-- [s] board write -->
    <ul class="mobile-comm-tabs">
        <li>리스트에서 질문에 대한 답을 찾기 어려우시다면 앱 내 <strong>'문의하기'</strong>를 통해 문의하여 주시기 바랍니다.</li>
        <li>${_("If you have any questions regarding specific course content, please post your question on the bulletin <strong>board of the course.</strong>")}</li>
    </ul>
    <div align="center">
        <div class="mobile-comm-tab-div">
            <select class="mobile-comm-select">
                <option value="total_f">전체보기</option>
                <option value="kmooc_f">K-MOOC</option>
                <option value="regist_f">회원가입</option>
                <option value="login_f">로그인/계정</option>
                <option value="enroll_f">수강신청/취소</option>
                <option value="course_f">강좌 수강</option>
                <option value="certi_f">성적/이수증</option>
                <option value="tech_f">기술적 문제</option>
                <option value="mobile_f">모바일앱</option>
            </select>
            <span class="mobile-comm-select-arrow" aria-hidden="true"></span>
        </div>
        <input type="text" class="mobile-comm-tab-input" placeholder="질문 찾기" id="search" title="질문 찾기"/>
        <input type="button" class="mobile-comm-tab-btn" value="찾기" id="search_btn" title="찾기"/>
    </div>

    <h3 class="hidden_head" id="faq_header">K-MOOC</h3>
    <dl class="faq-list" title="FAQ 목록">
        % if data:
        % for board in data:
        <dt><a href="#">${board.subject}</a></dt>
        <dd>
            <div>
                ${board.content}
                <div style="min-height: 30px;">
                <input type="button" value="닫기" title="닫기" style="float: right; background: #ccc; border: 0;">
                </div>
            </div>
        </dd>
        % endfor
        % endif
    </dl>
    <!-- [e] board write -->




