<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Page Not Found")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="outside-app" style="padding: 100px 0; text-align: center;">
         <i style="display: inline-block; width: 80px; height: 80px; margin-bottom: 30px; border: 5px solid #ddd; border-radius: 50%; font-size: 45px; font-weight: bold; font-style: normal; text-align: center; color: #ccc;">!</i>
        <h1 style="margin-bottom: 30px; font: bold 28px/1.5 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;">
            <%block name="pageheader">${page_header or _("Page not found")}</%block>
        </h1>
        <p style="max-width: 100%; font: normal 1rem/1.5 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;">
            <%block name="pagecontent">
                % if page_content:
                    ${page_content}
                % else:
                    ${Text(_('The page that you were looking for was not found. Go back to the {link_start}homepage{link_end} or let us know about any pages that may have been moved at {email}.')).format(
                    link_start=HTML('<a href="/">'),
                    link_end=HTML('</a>'),
                    email=HTML('<a href="mailto:{email}">{email}</a>').format(email=Text(static.get_tech_support_email_address()))
                    )}
                % endif
            </%block>
        </p>
    </section>
</main>
