<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container">
        <!-- [s] board list -->
        <section class="board-search-box">
            <select>
                <option>- 전체 -</option>
            </select>
            <input type="text">
            <input type="submit" value="검색">
        </section>
        <section class="board-list">
            <ul>
                <li class="thead">
                    <span class="no">번호</span>
                    <span class="title">제목</span>
                    <span class="date">날짜</span>
                    <span class="visit">조회수</span>
                </li>
                <li class="tbody">
                    <span class="no">00</span>
                    <span class="title"><a href="">해당게시판의 제목을 입력해 주시면 해당 부분에 내용이 표시됩니다. </a></span>
                    <span class="date">0000.00.00</span>
                    <span class="visit">00</span>
                </li>
                <li class="tbody">
                    <span class="no">00</span>
                    <span class="title"><a href="">해당게시판의 제목을 입력해 주시면 해당 부분에 내용이 표시됩니다. </a></span>
                    <span class="date">0000.00.00</span>
                    <span class="visit">00</span>
                </li>
                <li class="tbody">
                    <span class="no">00</span>
                    <span class="title"><a href="">해당게시판의 제목을 입력해 주시면 해당 부분에 내용이 표시됩니다. </a></span>
                    <span class="date">0000.00.00</span>
                    <span class="visit">00</span>
                </li>
                <li class="tbody">
                    <span class="no">00</span>
                    <span class="title"><a href="">해당게시판의 제목을 입력해 주시면 해당 부분에 내용이 표시됩니다. </a></span>
                    <span class="date">0000.00.00</span>
                    <span class="visit">00</span>
                </li>
                <li class="tbody">
                    <span class="no">00</span>
                    <span class="title"><a href="">해당게시판의 제목을 입력해 주시면 해당 부분에 내용이 표시됩니다. </a></span>
                    <span class="date">0000.00.00</span>
                    <span class="visit">00</span>
                </li>
                <li class="tbody">
                    <span class="no">00</span>
                    <span class="title"><a href="">해당게시판의 제목을 입력해 주시면 해당 부분에 내용이 표시됩니다. </a></span>
                    <span class="date">0000.00.00</span>
                    <span class="visit">00</span>
                </li>
                <li class="tbody">
                    <span class="no">00</span>
                    <span class="title"><a href="">해당게시판의 제목을 입력해 주시면 해당 부분에 내용이 표시됩니다. </a></span>
                    <span class="date">0000.00.00</span>
                    <span class="visit">00</span>
                </li>
                <li class="tbody">
                    <span class="no">00</span>
                    <span class="title"><a href="">해당게시판의 제목을 입력해 주시면 해당 부분에 내용이 표시됩니다. </a></span>
                    <span class="date">0000.00.00</span>
                    <span class="visit">00</span>
                </li>
                <li class="tbody">
                    <span class="no">00</span>
                    <span class="title"><a href="">해당게시판의 제목을 입력해 주시면 해당 부분에 내용이 표시됩니다. </a></span>
                    <span class="date">0000.00.00</span>
                    <span class="visit">00</span>
                </li>
                <li class="tbody">
                    <span class="no">00</span>
                    <span class="title"><a href="">해당게시판의 제목을 입력해 주시면 해당 부분에 내용이 표시됩니다. </a></span>
                    <span class="date">0000.00.00</span>
                    <span class="visit">00</span>
                </li>
            </ul>

            <div class="paging">
                <a href="" class="first">first</a>
                <a href="" class="prev">prev</a>
                <a href="" class="current">1</a>
                <a href="">1</a>
                <a href="">1</a>
                <a href="">1</a>
                <a href="" class="next">next</a>
                <a href="" class="last">last</a>
            </div>
        </section>
        <!-- [e] board list -->
    </section>
</main>
