<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">K-MOOC란?</%block>
<%block name="js_extra">
<script type="text/javascript">
    $(document).ready(function(){
        $(".faq-tab a").each(function(index){
            $(this).click(function(e){
                //alert(index + ":" + $(this).hasClass('on'));
                if(index == 0){
                    e.preventDefault();
                    $("#kmooc01").show();
                    $("#kmooc02").hide();
                    $("#kmooc03").hide();
                    $(".faq-tab a").removeClass("on");
                    $(this).addClass("on");
                }else if(index == 1){
                    e.preventDefault();
                    $("#kmooc01").hide();
                    $("#kmooc02").show();
                    $("#kmooc03").hide();
                    $(".faq-tab a").removeClass("on");
                    $(this).addClass("on");
                }else{
                    e.preventDefault();
                    $("#kmooc01").hide();
                    $("#kmooc02").hide();
                    $("#kmooc03").show();
                    $(".faq-tab a").removeClass("on");
                    $(this).addClass("on");
                }
            });
        });

        let url_string = document.location.href;
        let url = new URL(url_string);
        let c = url.searchParams.get("tab");

        if( c == 1){
            $(".faq-tab a:eq(0)").click();
        }else if(c == 2){
            $(".faq-tab a:eq(1)").click();
        }else if(c == 3){
            $(".faq-tab a:eq(2)").click();
        }else{
            // default
            $(".faq-tab a:eq(0)").click();
        }
    });

</script>
<style>
  .blind {
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
    width:1px;
    height:1px;
    font-size:0;
    line-height:0
  }
  .content-wrapper .container {
    max-width: 1200px;
    border: 0;
    min-width: 320px;
    padding: 30px 0;
  }
  .content-wrapper .container {
    border: 1px solid #d2d0d0;
    background-color: #fff;
    padding: 20px;
  }

  .content-wrapper #kmooc03 .container {
      padding: 20px 3px;
  }

  .kmooc-block h3 {
    font-size: 1.438em;
    font-weight: 700;
    font-family: "Nanum Gothic";
    position: relative;
    padding-top: 10px;
  }
</style>
</%block>

<section class="container kmooc">
    <div class="kmooc-about-tab">
        <nav class="faq-tab">
            <a href="#" class="dash-link" title="소개">소개</a>
            <a href="#" class="dash-link" title="추진체계">추진체계</a>
        </nav>
    </div>
    <!-- 소개 -->
    <section class="kmooc-box" id="kmooc01">
        <h2 style="color: white;" id="main">소개</h2>
        <div class="kmooc-block">
            <h3 title="한국형 무크">한국형 온라인 공개강좌<br /><span style="color: #448aff;">Colorful K-MOOC,</span> 당신의 미래를 그려보세요.</h3>
            <div class="k-moocon">
                <div>
                    <p>K-MOOC는 온라인을 통해서</p>
                    <p style="color: #00477d">누구나, 어디서나 원하는 강좌를 무료로 들을 수 있는</p>
                    <p>온라인 공개강좌 서비스로 2015년에 시작된</p>
                    <p style="color: #00477d">한국형 무크입니다.</p>
                </div>
                <img src="/static/images/about_img/bg_1_1.png" alt="">

            </div>
        </div>

        <div class="k-int about-kint">
            <h3 title="소개">
                <!-- <img src="/static/images/about_img/icon_1.png" alt=""> -->
                K-MOOC소개
            </h3>
            <div>
                <p>무크(MOOC)란 Massive, Open, Online, Course의 줄임말로</p>
                <p>오픈형 온라인 학습 과정을 뜻합니다.</p>
                <p>이 것은  강의실에 수용된 학생만이 강의를 들을 수  있었던 것에서</p>
                <p>청강만 가능한 온라인 학습동영상으로 변화하고</p>
                <p>현재는  질의응답, 토론, 퀴즈, 과제 제출 등 양방향 학습을</p>
                <p>할 수 있는 모습으로 완성되었습니다.</p>
            </div>
            <div>
                <p>고등교육의 개방이라는 세계적 흐름에 발맞춰 시작된</p>
                <p>K-MOOC는 최고 수준의 강의 공개를 통한 대학 수업의 혁신과</p>
                <p>고등교육의 실질적 기회 균형 실현,</p>
                <p>그리고 고등교육에 대한 평생학습 기반 조성을 목표로 합니다</p>
                <p>또한 국내 우수한 명품 강의 콘텐츠를 개발하여</p>
                <p>글로벌한 브랜드로써 거듭나기  위해 노력하겠습니다.</p>
            </div>
        </div>
        <div class="kmbi about-kmbi">
            <h3 title="K-MOOC BI">K-MOOC BI</h3>
            <ul>
                <li><img src="/static/images/about_img/icon_2.png" alt="K-MOOC 로고"></li>
                <li><img src="/static/images/about_img/icon_3.png" alt="K-MOOC 흑백로고"></li>
            </ul>
            <p>K-MOOC는 신뢰할 수 있는 우수한 고등교육 콘텐츠를 제공하여 평생학습을 실현하고자 합니다.</p>
            <p>BI는 이러한 성격을 담은 브랜드 시각 요소인 블루 컬러와 산세리프 계열의 서체를 조합하여 디자인되었습니다.</p>
            <div><a href="/comm_file/799" style="color: #fff;">BI 다운로드</a></div>
        </div>

        <div class="mooc_vision about-mooc_vision">
            <h3 title="vision">Vision</h3>
            <div class="vision_box">
                <p>K-MOOC는 컬러풀한 미래를 꿈꿉니다.</p>
                <p>알려주려는 자와 배우려는 자를 쉽고 한층 가깝게 연결함으로써</p>
                <p>많은 사람들이 어제보다 나은 미래, 새로운 미래,</p>
                <p>더 다채로운 미래를 만들 수 있도록 도울 것입니다.</p>
            </div>
        </div>
        <article class="offkm about-offkm">
            <h3>
                <!-- <img src="/static/images/about_img/icon_4.png" alt=""> -->
                Offline <span style="color: #448aff;">K-MOOC</span>
            </h3>
            <div>
                <div class="tape" style="background: #f7e2c2;"></div>
                <div class="img"><img src="/static/images/about_img/about_off1.jpg" alt="K-MOOC 박람회 전경"></div>
                <strong>박람회</strong>
                <div style="width: 50px;height: 3px;background: #ffa200;margin-bottom: 1rem;display: inline-block;"></div>
                <p>매년 평생학습박람회 참가</p>
            </div>
            <div>
                <div class="tape" style="background: #c7dcef;"></div>
                <div class="img"><img src="/static/images/about_img/about_off2.jpg" alt="K-MOOC 토크콘서트"></div>
                <strong>토크콘서트</strong>
                <div style="width: 50px;height: 3px;background: #00aeff;margin-bottom: 1rem;display: inline-block;"></div>
                <p>참여대학교수와 학습자가 만나<br />대화하고 다양한 공연이 함께하는<br />토크 콘서트</p>
            </div>
            <div>
                <div class="tape" style="background: #f8c1cf;"></div>
                <div class="img"><img src="/static/images/about_img/about_off3.jpg" alt="K-MOOC 특강"></div>
                <strong>특강</strong>
                <div style="width: 50px;height: 3px;background: #ff005a;margin-bottom: 1rem;display: inline-block;"></div>
                <p>직접 대학에서 강의를<br />청강할 수 있는 기회 제공</p>
            </div>
        </article>
        <article class="appli about-appli">
            <h3>
                <!--<img src="/static/images/about_img/icon_5.png" alt="">-->
                학습자별 <span style="color: #448aff;">활용 방법</span>
            </h3>
            <dl>
                <dt><img src="/static/images/about_img/pic_1.png" alt=""></dt>
                <dd>
                    <strong>청소년</strong>
                    <p>온라인 학습자료 활용<br />미래 진학 및 생애 진로 탐색 활용</p>
                </dd>
            </dl>
            <dl>
                <dt><img src="/static/images/about_img/pic_2.png" alt=""></dt>
                <dd>
                    <strong>대학&#40;원&#41;생</strong>
                    <p>사전수업 준비 및 심화&#40;보충&#41;학습<br />전과 학생의 선수 학습</p>
                </dd>
            </dl>
            <dl>
                <dt><img src="/static/images/about_img/pic_3.png" alt=""></dt>
                <dd>
                    <strong>일반 성인 학습자</strong>
                    <p>적성과 관심사에 따라 수준별<br />&#40;전공심화, 전공기초, 교양&#41;학습<br />최신 지식 및 정보습득</p>
                </dd>
            </dl>
            <dl>
                <dt><img src="/static/images/about_img/pic_4.png" alt=""></dt>
                <dd>
                    <strong>구직자 &#8226; 재직자</strong>
                    <p>창업을 위한 개인 역량 강화<br />창업아이템 발굴 및 정보 활용<br />직업훈련에 활용</p>
                </dd>
            </dl>
            <dl>
                <dt><img src="/static/images/about_img/pic_5.png" alt="양방향 학습"></dt>
                <dd>
                    <strong>교수</strong>
                    <p><span>플립드러닝(flipped learning)</span>을 통한<br /> 수업 활동 다양화</p>
                    <p class="about-depth02txt">&#40;플립드러닝 &#58; 온라인을 통한 사전 학습 후, 오프라인 수업에서는<br />팀 프로젝트, 트론식 수업 등을 진행하는&#96;역진행 수업방식&#96; &#41;</p>
                </dd>
            </dl>
            <dl>
                <dt><img src="/static/images/about_img/pic_6.png" alt=""></dt>
                <dd>
                    <strong>대 학</strong>
                    <p>학습 데이터 분석을 통한<br /> 교수 학습 전략 개발<br />거꾸로 학습 등 교수 학습 혁신 촉진</p>
                </dd>
            </dl>
        </article>
    </section>
    <!--// 소개 -->

    <!-- 추진체계 -->
    <section class="kmooc-box" id="kmooc02" style="display: none;">
        <h2 style="color: white;">추진체계</h2>
        <blockquote>
            <div>
                <p>참여대학의 자율성과 다양성 존중</p>
                관계기관과 대학간의 협력관계 추진
            </div>
        </blockquote>
        <div class="kmooc-block">
            <div class="grid-container grid-manual kmooc border">
                <div class="row">
                    <div class="col col-12 sm-col-12 md-col-6  lg-col-6">
                        <img src="/static/images/contents/kmooc03.jpg" alt="">
                    </div>
                    <div class="col col-12 sm-col-12 md-col-6  lg-col-6">
                        <p>한국형 온라인 공개강좌(K-MOOC)는 교육부와 사업주관기관인 국가평생교육진흥원 외에 4년제 대학, 전문대학, 방송대학, 출연연구기관, 공공기관, 기업 등 관계기관과 긴밀한 협력을 통해 추진하고 있습니다.</p>
                        <p>K-MOOC 홈페이지에 강좌를 제공하고 운영하는 참여기관은 2023년 6월 기준 179개 기관이며, 매년 개설강좌 수와 참여기관을 확대해 나갈 계획입니다.</p>
                        <p>참여기관의 자율성을 바탕으로 학습자의 수요가 높은 우수 콘텐츠를 개발‧운영할 수 있도록 추진할 계획입니다.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="futmooc">
            <h3>
                <!--<img src="/static/images/about_img/icon_6.png" alt="">-->
                미래를 향해 성장하는 <span style="color: #448aff;">K-MOOC</span>
            </h3>
            <ol>
                <li>
                    2015년
                    <ul>
                        <li>참여기관<span style="background: #fff;color: #3574ff;font-weight: bold;">10개</span></li>
                        <li>강좌수<span style="background: #fff;color: #3574ff;font-weight: bold;">27강좌</span></li>
                        <li>누적 수강 신청자수<p style="background: #fff;color: #3574ff;font-weight: bold;width: 40%;margin: 5px auto 0;">55,559명</p></li>
                        <li>누적 방문자수<p style="background: #fff;color: #3574ff;font-weight: bold;width: 40%;margin: 5px auto 0;">446,832명</p></li>
                    </ul>
                </li>
                <li>
                    2016년
                    <ul>
                        <li>참여기관<span style="background: #fff;color: #3574ff;font-weight: bold;">38개</span></li>
                        <li>강좌수<span style="background: #fff;color: #3574ff;font-weight: bold;">143강좌</span></li>
                        <li>누적 수강 신청자수<p style="background: #fff;color: #3574ff;font-weight: bold;width: 40%;margin: 5px auto 0;">181,651명</p></li>
                        <li>누적 방문자수<p style="background: #fff;color: #3574ff;font-weight: bold;width: 40%;margin: 5px auto 0;">2,128,542명</p></li>
                    </ul>
                </li>
                <li>
                    2017년
                    <ul>
                        <li>참여기관<span style="background: #fff;color: #3574ff;font-weight: bold;">69개</span></li>
                        <li>강좌수<span style="background: #fff;color: #3574ff;font-weight: bold;">324강좌</span></li>
                        <li>누적 수강 신청자수<p style="background: #fff;color: #3574ff;font-weight: bold;width: 40%;margin: 5px auto 0;">295,460명</p></li>
                        <li>누적 방문자수<p style="background: #fff;color: #3574ff;font-weight: bold;width: 40%;margin: 5px auto 0;">3,476,471명</p></li>
                    </ul>
                </li>
                <li>
                    2018년
                    <ul>
                        <li>참여기관<span style="background: #fff;color: #3574ff;font-weight: bold;">87개</span></li>
                        <li>강좌수<span style="background: #fff;color: #3574ff;font-weight: bold;">500강좌</span></li>
                        <li>누적 수강 신청자수<p style="background: #fff;color: #3574ff;font-weight: bold;width: 40%;margin: 5px auto 0;">696,185명</p></li>
                        <li>누적 방문자수<p style="background: #fff;color: #3574ff;font-weight: bold;width: 40%;margin: 5px auto 0;">6,891,569명</p></li>
                    </ul>
                </li>
                <li>
                    2023년.6월
                    <ul>
                        <li>참여기관<span style="background: #fff;color: #3574ff;font-weight: bold;">179개</span></li>
                        <li>강좌수<span style="background: #fff;color: #3574ff;font-weight: bold;">2,199강좌</span></li>
                        <li>누적 수강 신청자수<p style="background: #fff;color: #3574ff;font-weight: bold;width: 40%;margin: 5px auto 0;">3,098,668명</p></li>
                        <li>누적 방문자수<p style="background: #fff;color: #3574ff;font-weight: bold;width: 40%;margin: 5px auto 0;">33,172,937명</p></li>
                    </ul>
                </li>
            </ol>
        </div>
        <div class="progress">
            <h3>
                <!--<img src="/static/images/about_img/icon_7.png" alt="">-->
                추진경과
            </h3>
            <div class="kmooc-progress">
                <ol>
                    <li>
                        <div>
                            <strong>01</strong>
                            <p>2015년 ~2017년<br>도입 및 정착</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <strong>02</strong>
                            <p>2018년 ~ 2020년<br>글로벌화 및 <br>부가가치 창출</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <strong>03</strong>
                            <p>2021년 이후<br>열린 고등교육<br>체제구축</p>
                        </div>
                    </li>
                </ol>
            </div>
            <article class="history">
                <div style="width: 100%;">
                    <div class="hisyear">2015.02</div>
                    <div class="hiscon">
                        <strong>K-MOOC 시범운영을 위한 기본 계획 수립 및 발표</strong>
                    </div>
                </div>
                <!--div style="width: 100%;">
                    <div class="hisyear">2015.04</div>
                    <div class="hiscon">
                        <strong>K-MOOC 시범운영사업 공고 및 참여대학 선정</strong>
                    </div>
                </div-->
                <!--div style="width: 100%;">
                    <div class="hisyear">2015.06 &#126; 12</div>
                    <div class="hiscon">

                        <strong>K-MOOC 서비스 운영을 위한 플랫폼 및 인프라 구축</strong>
                        <br />
                        <p>※초기 서비스 안정성, 콘텐츠의 국제적 호환성, 개발 기간 등을 고려하여<br />오픈소스 소프트웨어&#40;Open edX&#41;를 활용한 플랫폼 구축</p>
                    </div>
                </div-->
                <div style="width: 100%;">
                    <div class="hisyear">2015.10</div>
                    <div class="hiscon">
                        <strong>한국형 온라인 공개강좌 K-MOOC&#40;www-old.kmooc.kr&#41; 시범개통</strong>
                    </div>
                </div>
                <!--div style="width: 100%;">
                    <div class="hisyear">2016.02</div>
                    <div class="hiscon">
                        <strong>16년 K-MOOC 운영계획 수립 및 콘텐츠 다양화</strong>
                    </div>
                </div>
                <div style="width: 100%;">
                    <div class="hisyear">2016.04 &#126; 10</div>
                    <div class="hiscon">
                        <strong>16년 무크대학 추가선정&#40;10개교&#41; 및 강좌 개발&#40;국내 10개 대학&#41;</strong>
                    </div>
                </div-->
                <div style="width: 100%;">
                    <div class="hisyear">2017</div>
                    <div class="hiscon">
                        <strong>한국형 모델 장착 및 콘텐츠 표준화‧국제화</strong>
                    </div>
                </div>
                <!--div style="width: 100%;">
                    <div class="hisyear">2018</div>
                    <div class="hiscon" style="padding-bottom: 0;">
                        <strong>한국형 모델 확산 및 콘텐츠 국제화</strong>
                    </div>
                </div-->
                <div style="width: 100%;">
                    <div class="hisyear">2019</div>
                    <div class="hiscon">
                        <strong>K-MOOC 학점은행제 평가인정 도입 및 연계 학습과정 운영</strong>
                    </div>
                </div>
                <div style="width: 100%;">
                    <div class="hisyear">2021</div>
                    <div class="hiscon">
                        <strong>K-MOOC 교양강좌 도입</strong>
                    </div>
                </div>
                <div style="width: 100%;">
                    <div class="hisyear">2023</div>
                    <div class="hiscon">
                        <strong>K-MOOC 플랫폼 개편</strong>
                    </div>
                </div>
            </article>
        </div>
        <div class="kmooc-roadmap-img">
            <div class="roadmap-img">
                <img src="/static/images/contents/kmooc_roadmap_ko.png" alt="수요자 국민, 공급자 - 참여대학 경남대학교,경희대학교,교려대학교,대구대학교,서울대학교,성균관대학교,성신여자대학교,세종대학교,카이스트,한양대학교,인하대학교,연세대학교 등 참여대학 계속 확대
                    추진기관 - 교육부 : 사업기획 및 총괄 국가평생교육진흥원 : 사업위탁 받아 주관,시행 K-MOOC기획위원회 교육부, 관계기관, 참여대학 관련 전문가 주관기관 KERIS 국가평생교육진흥원 한국대학교육협의회 EBS">
            </div>
        </div>
    </section>
    <!--—// 추진체계 —-->

    <!--참여기관-->
    <section class="kmooc-box" id="kmooc03" style="display: none;">
        <%include file="../courseware/schools.html"/>
    </section>
    <!--//참여기관-->

</section>
