<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>
<%block name="js_extra">
<script type="text/javascript">
    $(document).ready(function(){
        $(".faq-tab a:eq(0)").trigger('click');
        $(".faq-tab a").each(function(index){
            $(this).click(function(e){
                //alert(index + ":" + $(this).hasClass('on'));
                if(index == 0){
                    e.preventDefault();
                    $("#kmooc01").show();
                    $("#kmooc02").hide();
                    $("#kmooc03").hide();
                    $(".faq-tab a").removeClass("on");
                    $(this).addClass("on");
                }else if(index == 1){
                    e.preventDefault();
                    $("#kmooc01").hide();
                    $("#kmooc02").show();
                    $("#kmooc03").hide();
                    $(".faq-tab a").removeClass("on");
                    $(this).addClass("on");
                }else{
                    e.preventDefault();
                    $("#kmooc01").hide();
                    $("#kmooc02").hide();
                    $("#kmooc03").show();
                    $(".faq-tab a").removeClass("on");
                    $(this).addClass("on");
                }
            });
        });

        let url_string = document.location.href;
        let url = new URL(url_string);
        let c = url.searchParams.get("tab");

        if( c == 1){
            $(".faq-tab a:eq(0)").click();
        }else if(c == 2){
            $(".faq-tab a:eq(1)").click();
        }else if(c == 3){
            $(".faq-tab a:eq(2)").click();
        }else{
            // default
            $(".faq-tab a:eq(0)").click();
        }
    });
</script>
</%block>
<section class="container kmooc">
    <div class="kmooc-about-tab">
        <nav class="faq-tab">
            <a href="#" class="dash-link on">Introduce</a>
            <a href="#" class="dash-link">Propulsion system</a>
        </nav>
    </div>
    <!-- 소개 -->
    <section class="kmooc-box" id="kmooc01">
        <h2 style="color: white;" id="main">Introduce</h2>
        <div class="kmooc-block">
            <h3 title="K-MOOC">Korean Online Open Course<br />Draw your future with <span style="color: #448aff;">colorful K-MOOC</span></h3>
            <div class="k-moocon">
                <div>
                    <p style="color: #00477d">K-MOOC is a Korean MOOC established in 2015</p>
                    <p>as an open online service to provide free courses</p>
                    <p>to anyone, anywhere.</p>
                </div>
                <img src="/static/images/about_img/bg_1_1.png" alt="">
            </div>
        </div>

        <div class="k-int about-kint">
            <h3 title="Introduce"><img src="/static/images/about_img/icon_1.png" alt=""> K-MOOC Introduction</h3>
            <div>
                <p>MOOC stands for Massive Open Online Course,</p>
                <p>which is an open online learning process.</p>
                <p>Courses available only for students in the classroom</p>
                <p>were transformed into auditable online video lectures.</p>
                <p>At present, the courses have been completed with interactive </p>
                <p>learning processes such as Q&A, discussions, quizzes,</p>
                <p>and assignment submission.</p>
            </div>
            <div>
                <p>In line with global trends of open higher education,</p>
                <p>K-MOOC aims to open high-quality lectures to realize a balance</p>
                <p>of practical opportunities in higher education</p>
                <p>and innovation in university classes.</p>
                <p>In addition, K-MOOC strives to grow as a global brand</p>
                <p>by developing lectures of excellent quality in Korea.</p>
            </div>
        </div>

        <div class="kmbi about-kmbi">
            <h3 title="K-MOOC BI">K-MOOC BI</h3>
            <ul>
                <li><img src="/static/images/about_img/icon_2.png" alt="K-MOOC Logo"></li>
                <li><img src="/static/images/about_img/icon_3.png" alt="K-MOOC black Logo"></li>
            </ul>
            <p>K-MOOC seeks to implement life-long learning by providing reliable and excellent higher education content.</p>
            <p>BI is designed by combining blue with Sans-Serif, a visual element for brands that captures this personality.</p>
            <div><a href="/comm_file/799" style="color: #fff;">BI Download</a></div>
        </div>

        <div class="mooc_vision about-mooc_vision">
            <h3 title="vision">Vision</h3>
            <div class="vision_box">
                <p>K-MOOC dreams about a colorful future.</p>
                <p>Through the simple and close connection of teachers and learners,</p>
                <p>K-MOOC will help many people create a new </p>
                <p>and challenging future better than yesterday.</p>
            </div>
        </div>

        <article class="offkm about-offkm">
            <h3><img src="/static/images/about_img/icon_4.png" alt=""> Offline <span style="color: #448aff;">K-MOOC</span></h3>
            <div>
                <div class="tape" style="background: #f7e2c2;"></div>
                <div class="img"><img src="/static/images/about_img/about_off1.jpg" alt="K-MOOC Expositions"></div>
                <strong>Expositions</strong>
                <div style="width: 50px;height: 3px;background: #ffa200;margin-bottom: 1rem;display: inline-block;"></div>
                <p>Annual participation in lifelong learning fairs.</p>
            </div>
            <div>
                <div class="tape" style="background: #c7dcef;"></div>
                <div class="img"><img src="/static/images/about_img/about_off2.jpg" alt="K-MOOC Talk Concert"></div>
                <strong>Talk Concert</strong>
                <div style="width: 50px;height: 3px;background: #00aeff;margin-bottom: 1rem;display: inline-block;"></div>
                <p>In Talk Concert, learners meet <br />with participating university instructors<br />and enjoy various performances.</p>
            </div>
            <div>
                <div class="tape" style="background: #f8c1cf;"></div>
                <div class="img"><img src="/static/images/about_img/about_off3.jpg" alt="K-MOOC Special lecture"></div>
                <strong>Special lecture</strong>
                <div style="width: 50px;height: 3px;background: #ff005a;margin-bottom: 1rem;display: inline-block;"></div>
                <p>An opportunity to audit university<br />courses.</p>
            </div>
        </article>

        <article class="appli about-appli">
            <h3><img src="/static/images/about_img/icon_5.png" alt=""> User <span style="color: #448aff;">Guideline</span></h3>
            <dl>
                <dt><img src="/static/images/about_img/pic_1.png" alt=""></dt>
                <dd>
                    <strong>Youth</strong>
                    <p>Access online learning materials to<br />explore future career opportunities</p>
                </dd>
            </dl>
            <dl>
                <dt><img src="/static/images/about_img/pic_2.png" alt=""></dt>
                <dd>
                    <strong>College Students</strong>
                    <p>Access prior learning materials before coming to class<br />and deepen knowledge through supplements</p>
                </dd>
            </dl>
            <dl>
                <dt><img src="/static/images/about_img/pic_3.png" alt=""></dt>
                <dd>
                    <strong>Lifelong Learners</strong>
                    <p>Learn about the latest trends<br />and information based on individual<br />aptitudes and interests.</p>
                </dd>
            </dl>
            <dl>
                <dt><img src="/static/images/about_img/pic_4.png" alt=""></dt>
                <dd>
                    <strong>Job Seekers and Employees</strong>
                    <p>Strengthen personal capabilities for<br />employment, discover new business items, and<br />enhance vocational competency.</p>
                </dd>
            </dl>
            <dl>
                <dt><img src="/static/images/about_img/pic_5.png" alt="Flipped Learning"></dt>
                <dd>
                    <strong>Faculty</strong>
                    <p><span>Flipped Learning*</span>Diversify class activities through</p>
                    <p class="about-depth02txt">*A reversal of traditional teaching, students are introduced to the<br />learning materials before class, and classroom time is then used to deepen<br/>understanding through discussions with peers and problem-solving.</p>
                </dd>
            </dl>
            <dl>
                <dt><img src="/static/images/about_img/pic_6.png" alt=""></dt>
                <dd>
                    <strong>University</strong>
                    <p>Develop teaching strategies by analyzing<br />learning data and using reverse learning<br />and the like to promote learning innovation.</p>
                </dd>
            </dl>
        </article>
    </section>

    <!-- 추진체계 -->
    <section class="kmooc-box" id="kmooc02" style="display:none">
        <h2 style="color: white;">Propulsion system</h2>
        <blockquote>
            <div>
                <p>Respect the autonomy and diversity of participating universities</p>
                Promoting cooperation between related institutions and universities
            </div>
        </blockquote>
        <div class="kmooc-block">
            <div class="grid-container grid-manual kmooc border">
                <div class="row">
                    <div class="col col-12 sm-col-12 md-col-6  lg-col-6">
                        <img src="/static/images/contents/kmooc03.jpg" alt="">
                    </div>
                    <div class="col col-12 sm-col-12 md-col-6  lg-col-6">
                        <p>Korean Massive Open Online Course(K-MOOC), in addition to the Ministry of Education and business proprietor: National Institute for Life-long Education, is working in close cooperation with related institutions such as four-year universities, professional universities, broadcasting universities, research institutes, companies, affiliated institutes, vocational training facilities and public service organizations.</p>
                        <p>The number of participating institutions providing and operating courses on the K-MOOC homepage (http://kmooc.kr) is 87 institutions as of 2018, and there is a plan to expand the number of lectures and participating institutions every year.</p>
                        <p>Based on the autonomy of the participating organizations, K_MOOC plans to develop and operate excellent contents with high demand from learners.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="futmooc">
            <h3><img src="/static/images/about_img/icon_6.png" alt=""> <span style="color: #448aff;">K-MOOC</span> is growing towards the future</h3>
            <ol>
                <li>
                    2015
                    <ul>
                        <li>Participating institutions <span style="background: #fff;color: #3574ff;font-weight: bold;">10</span></li>
                        <li>Number of courses <span style="background: #fff;color: #3574ff;font-weight: bold;">7</span></li>
                        <li>Enrollment <p style="background: #fff;color: #3574ff;font-weight: bold;width: 40%;margin: 5px auto 0;">55,559</p></li>
                        <li>Number of visits <p style="background: #fff;color: #3574ff;font-weight: bold;width: 40%;margin: 5px auto 0;">446,832</p></li>
                    </ul>
                </li>
                <li>
                    2016
                    <ul>
                        <li>Participating institutions <span style="background: #fff;color: #3574ff;font-weight: bold;">38</span></li>
                        <li>Number of courses <span style="background: #fff;color: #3574ff;font-weight: bold;">143</span></li>
                        <li>Enrollment <p style="background: #fff;color: #3574ff;font-weight: bold;width: 40%;margin: 5px auto 0;">181,651</p></li>
                        <li>Number of visits <p style="background: #fff;color: #3574ff;font-weight: bold;width: 40%;margin: 5px auto 0;">2,128,542</p></li>
                    </ul>
                </li>
                <li>
                    2017
                    <ul>
                        <li>Participating institutions <span style="background: #fff;color: #3574ff;font-weight: bold;">69</span></li>
                        <li>Number of courses <span style="background: #fff;color: #3574ff;font-weight: bold;">324</span></li>
                        <li>Enrollment <p style="background: #fff;color: #3574ff;font-weight: bold;width: 40%;margin: 5px auto 0;">295,460</p></li>
                        <li>Number of visits <p style="background: #fff;color: #3574ff;font-weight: bold;width: 40%;margin: 5px auto 0;">3,476,471</p></li>
                    </ul>
                </li>
                <li>
                    2018
                    <ul>
                        <li>Participating institutions <span style="background: #fff;color: #3574ff;font-weight: bold;">87</span></li>
                        <li>Number of courses <span style="background: #fff;color: #3574ff;font-weight: bold;">500</span></li>
                        <li>Enrollment <p style="background: #fff;color: #3574ff;font-weight: bold;width: 40%;margin: 5px auto 0;">696,185</p></li>
                        <li>Number of visits <p style="background: #fff;color: #3574ff;font-weight: bold;width: 40%;margin: 5px auto 0;">6,891,569</p></li>
                    </ul>
                </li>
            </ol>
        </div>

        <div class="progress">
            <h3><img src="/static/images/about_img/icon_7.png" alt=""> Progress of K-MOOC</h3>
            <div class="kmooc-progress">
                <ol>
                    <li>
                        <div>
                            <strong>01</strong>
                            <p>2015-2017<br>Introduction and settlement</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <strong>02</strong>
                            <p>2018-2020<br>Globalization and<br>creation of added<br/>value</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <strong>03</strong>
                            <p>From 2021<br>Establishment of the<br>higher education<br/>system</p>
                        </div>
                    </li>
                </ol>
            </div>
            <article class="history">
                <div style="width: 100%;">
                    <div class="hisyear">February 2015</div>
                    <div class="hiscon">
                        <strong>Establishment and announcement of a basic plan for K-MOOC pilot operation</strong>
                    </div>
                </div>
                <div style="width: 100%;">
                    <div class="hisyear">April 2015</div>
                    <div class="hiscon">
                        <strong>Announcement of K-MOOC pilot project and selection of participating universities</strong>
                    </div>
                </div>
                <div style="width: 100%;">
                    <div class="hisyear">June to December 2015</div>
                    <div class="hiscon">
                        <strong>Development of platform and infrastructure for K-MOOC service operation</strong>
                        <br />
                        <p>* Platform establishment by using open source software (Open edX) considering initial service stability,
                            <br />international compatibility of contents, development period, etc.</p>
                    </div>
                </div>
                <div style="width: 100%;">
                    <div class="hisyear">October 2015</div>
                    <div class="hiscon">
                        <strong>Pilot launch of Korean Online Open Courses K-MOOC (www-old.kmooc.kr)</strong>
                    </div>
                </div>
                <div style="width: 100%;">
                    <div class="hisyear">February 2016</div>
                    <div class="hiscon">
                        <strong>Establishment of K-MOOC operation plan and diversification of contents</strong>
                    </div>
                </div>
                <div style="width: 100%;">
                    <div class="hisyear">April to October 2016</div>
                    <div class="hiscon">
                        <strong>Additional MOOC university selection (10 universities) and course development (Korean universities)</strong>
                    </div>
                </div>
                <div style="width: 100%;">
                    <div class="hisyear">2017</div>
                    <div class="hiscon">
                        <strong>Establishment of Korean model and content standardization</strong>
                    </div>
                </div>
                <div style="width: 100%;">
                    <div class="hisyear">2018</div>
                    <div class="hiscon" style="padding-bottom: 0;">
                        <strong>Expansion of the Korean model and internationalization of contents</strong>
                    </div>
                </div>
            </article>
        </div>

        <div class="kmooc-roadmap-img">
            <div class="roadmap-img">
                <img src="/static/images/contents/kmooc_roadmap_en.png" alt="kmooc_roadmap">
            </div>
        </div>
    </section>
    <!--// 추진체계 -->

    <!--참여기관-->
    <section class="kmooc-box" id="kmooc03" style="display: none;">
        <%include file="../courseware/schools.html"/>
    </section>
    <!--//참여기관-->

</section>
