<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from microsite_configuration import microsite
from openedx.core.djangolib.markup import HTML, Text
%>
<style>
    .event-img {
        width: 1170px;
    }

    .overflow-x {
        overflow-x: auto;
    }

</style>
<div class="content-wrapper" id="content">
    <a name="main"></a>

    <link rel="stylesheet" type="text/css" href="./static/css/pop.css">

    <div id="layerPopupArea" class="layerPopupArea">

        <div id="65" class="popup-area" style="outline: none; display: none;" title="공지사항" tabindex="0">
            <div class="popup-main">
                <div class="popup-image-area" style="max-width: 400px;">
                    <a href="http://www.kmooc.kr/courses/course-v1:EBS+EBS004+2021_T1/about"
                       title="한국 교양 프로그램 사상 역대급 출연진 라인업-「위대한 수업, 그레이트 마인즈(Great Minds)」" target="_blank">
                        <img src="" alt="한국 교양 프로그램 사상 역대급 출연진 라인업-「위대한 수업, 그레이트 마인즈(Great Minds)」">
                    </a>
                </div>

                <div class="popup-footer">
                    <a href="#" style="color:white" for="pop_close_65"
                       class="popup-footer-label popup-footer-day"
                       onclick="closeWin('pop_close_65', '65', '1');">
                        <input id="pop_close_65" name="pop_close_65" type="checkbox" class="hidden">1일간 열지 않음
                    </a>
                    <a href="javascript:popClose('65');" class="popup-footer-label popup-footer-close"
                       title="닫기">닫기</a>
                </div>

            </div>
        </div>


        <div id="66" class="popup-area" style="display: none;" title="공지사항">
            <div class="popup-main">
                <div class="popup-image-area" style="max-width: 400px;">
                    <a href="http://www.kmooc.kr/comm_view/N/1/509"
                       title="K-MOOC의 새로운 도전! K-MOOC 와 JTBC가 함께하는 차이나는 클라스, 인생수업" target="_blank">
                        <img src="" alt="K-MOOC의 새로운 도전! K-MOOC 와 JTBC가 함께하는 차이나는 클라스, 인생수업">
                    </a>
                </div>

                <div class="popup-footer">
                    <a href="#" style="color:white" for="pop_close_66"
                       class="popup-footer-label popup-footer-day"
                       onclick="closeWin('pop_close_66', '66', '1');">
                        <input id="pop_close_66" name="pop_close_66" type="checkbox" class="hidden">1일간 열지 않음
                    </a>
                    <a href="javascript:popClose('66');" class="popup-footer-label popup-footer-close"
                       title="닫기">닫기</a>
                </div>

            </div>
        </div>

    </div>

    <main id="main" aria-label="Content" tabindex="-1" class="main-content">
        <!-- 메인 이벤트 상세이미지 -->
        <section>
            <div class="container-fluid">
                <div class="overflow-x">
                    <img src="${STATIC_URL}images/event.png" alt="교양강좌안내" class="event-img" usemap="#imgmap01">
                    <map id="imgmap01" name="imgmap01">
                        <area shape="rect" coords="60,737,285,781" href="http://www.kmooc.kr/courses?search_query=%EC%9C%84%EB%8C%80%ED%95%9C%20%EC%88%98%EC%97%85
                                " target="_blank"/>
                        <area shape="rect" coords="300,736,524,780"
                              href="https://home.ebs.co.kr/greatminds/index" target="_blank"/>
                        <area shape="rect" coords="643,734,868,781"
                              href="http://www.kmooc.kr/courses?search_query=%EC%B0%A8%EC%9D%B4%EB%82%98%EB%8A%94%20%ED%81%B4%EB%9D%BC%EC%8A%A4"
                              target="_blank"/>
                        <area shape="rect" coords="886,735,1110,782"
                              href="https://tv.jtbc.co.kr/replay/pr10010461/pm10041949" target="_blank"/>
                    </map>
                </div>
            </div>
        </section>
        <!-- //메인 이벤트 상세이미지 -->
    </main>
</div>
