<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from microsite_configuration import microsite
from openedx.core.djangolib.markup import HTML, Text
%>

<%block name="pagetitle">
${("")}
</%block>

<style>
button:focus{background:#000000 !important;}
</style>


<body>

<div class="window-wrap kr01-area">

    <!-- 취업지원강좌 -->
    <link rel="stylesheet" href="../static/coursera_ubion/static/css/coursera.css"/>
    <main id="main" aria-label="Content" tabindex="-1" class="coursera">

        <!-- sec-coursera-top -->
        <section class="sec-coursera-top">
            <div class="container-fluid">
                <div class="coursera-visual">
                    <h2>
                        <p>K-MOOC <span>X</span> COURSERA<br class="br-md"/> GLOBAL TOP COURSE</p>
                        <p>Global MOOC<br/> <strong>K-MOOC</strong>에서<br class="br-md"/> 시작하세요!</p>
                    </h2>
                    <p class="logo"><img src="../static/coursera_ubion/static/image/coursera/logo.png" alt=""></p>
                </div>
                <div class="coursera-tabmenu">
                    <div class="inner">
                        <ul style="max-width:1024px;display:none">
                            <li>
                                <button data-id="sec-coursera1"># 인공지능</button>
                            </li>
                            <li>
                                <button data-id="sec-coursera2"># 핀테크</button>
                            </li>
                            <li>
                                <button data-id="sec-coursera3"># 블록체인</button>
                            </li>
                            <li>
                                <button data-id="sec-coursera4"># 지능형 로봇 시스템 </button>
                            </li>
                            <li>
                                <button data-id="sec-coursera5"># 바이오 의료 기술</button>
                            </li>
                            <li>
                                <button data-id="sec-coursera6"># 그린 에너지 기술</button>
                            </li>
                            <li>
                                <button data-id="sec-coursera7"># 공급망·물류관리</button>
                            </li>
                            <li>
                                <button data-id="sec-coursera8"># PMP</button>
                            </li>
                            <li>
                                <button data-id="sec-coursera9"># 디지털 전환 이해</button>
                            </li>
                            <li>
                                <button data-id="sec-coursera10"># 데이터 시각화·스토리텔링</button>
                            </li>
                            <li>
                                <button data-id="sec-coursera11"># 디지털 안전</button>
                            </li>
                        </ul>
                    </div>
                    <div class="inner">
                        <ul>
                            <li>
                                <button data-id="sec-coursera12"># 데이터 사이언스</button>
                            </li>
                            <li>
                                <button data-id="sec-coursera13"># 프로그래밍</button>
                            </li>
                            <li>
                                <button data-id="sec-coursera14"># 딥러닝</button>
                            </li>
                            <li>
                                <button data-id="sec-coursera15"># IT/SW 인기 강좌 </button>
                            </li>
                            <li>
                                <button data-id="sec-coursera16"># 인문학</button>
                            </li>
                            <li>
                                <button data-id="sec-coursera17"># 업무</button>
                            </li>
                            <li>
                                <button data-id="sec-coursera18"># 웰빙/건강</button>
                            </li>
                            <li>
                                <button data-id="sec-coursera19"># IT/SW</button>
                            </li>
                            <li>
                                <button data-id="sec-coursera20"># 예술/철학</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- sec-coursera-top -->

        <!-- sec-coursera - 20230517 -->
        <div style="display:none">
        <!-- sec-coursera1 -->
        <section class="sec-coursera1">
            <div class="container-fluid">
                <h3 class="coursera-title">
                    <strong>인공지능</strong>
                </h3>
                <div class="coursera-list-container">
                    <ul id="coursera-list1"><!-- js/coursera.json --></ul>
                </div>
            </div>
        </section>
        <!-- //sec-coursera1 -->
        <!-- sec-coursera2 -->
        <section class="sec-coursera2">
            <div class="container-fluid">
                <h3 class="coursera-title">
                    <strong>핀테크</strong>
                </h3>
                <div class="coursera-list-container">
                    <ul id="coursera-list2"><!-- js/coursera.json --></ul>
                </div>
            </div>
        </section>
        <!-- //sec-coursera2 -->
        <!-- sec-coursera3 -->
        <section class="sec-coursera3">
            <div class="container-fluid">
                <h3 class="coursera-title">
                    <strong>블록체인</strong>
                </h3>
                <div class="coursera-list-container">
                    <ul id="coursera-list3"><!-- js/coursera.json --></ul>
                </div>
            </div>
        </section>
        <!-- //sec-coursera3 -->
        <!-- sec-coursera4 -->
        <section class="sec-coursera4">
            <div class="container-fluid">
                <h3 class="coursera-title">
                    <strong>지능형 로봇 시스템</strong>
                </h3>
                <div class="coursera-list-container">
                    <ul id="coursera-list4"><!-- js/coursera.json --></ul>
                </div>
            </div>
        </section>
        <!-- //sec-coursera4 -->
        <!-- sec-coursera5 -->
        <section class="sec-coursera5">
            <div class="container-fluid">
                <h3 class="coursera-title">
                    <strong>바이오 의료기술</strong>
                </h3>
                <div class="coursera-list-container">
                    <ul id="coursera-list5"><!-- js/coursera.json --></ul>
                </div>
            </div>
        </section>
        <!-- //sec-coursera5 -->
        <!-- sec-coursera6 -->
        <section class="sec-coursera6">
            <div class="container-fluid">
                <h3 class="coursera-title">
                    <strong>그린 에너지 기술</strong>
                </h3>
                <div class="coursera-list-container">
                    <ul id="coursera-list6"><!-- js/coursera.json --></ul>
                </div>
            </div>
        </section>
        <!-- //sec-coursera6 -->
        <!-- sec-coursera7 -->
        <section class="sec-coursera7">
            <div class="container-fluid">
                <h3 class="coursera-title">
                    <strong>공급망·물류관리</strong>
                </h3>
                <div class="coursera-list-container">
                    <ul id="coursera-list7"><!-- js/coursera.json --></ul>
                </div>
            </div>
        </section>
        <!-- //sec-coursera7 -->
        <!-- sec-coursera8 -->
        <section class="sec-coursera8">
            <div class="container-fluid">
                <h3 class="coursera-title">
                    <strong>PMP</strong>
                </h3>
                <div class="coursera-list-container">
                    <ul id="coursera-list8"><!-- js/coursera.json --></ul>
                </div>
            </div>
        </section>
        <!-- //sec-coursera8 -->
        <!-- sec-coursera9 -->
        <section class="sec-coursera9">
            <div class="container-fluid">
                <h3 class="coursera-title">
                    <strong>디지털 전환 이해</strong>
                </h3>
                <div class="coursera-list-container">
                    <ul id="coursera-list9"><!-- js/coursera.json --></ul>
                </div>
            </div>
        </section>
        <!-- //sec-coursera9 -->
        <!-- sec-coursera10 -->
        <section class="sec-coursera10">
            <div class="container-fluid">
                <h3 class="coursera-title">
                    <strong>데이터 시각화·스토리텔링</strong>
                </h3>
                <div class="coursera-list-container">
                    <ul id="coursera-list10"><!-- js/coursera.json --></ul>
                </div>
            </div>
        </section>
        <!-- //sec-coursera10 -->
        <!-- sec-coursera11 -->
        <section class="sec-coursera11">
            <div class="container-fluid">
                <h3 class="coursera-title">
                    <strong>디지털 안전</strong>
                </h3>
                <div class="coursera-list-container">
                    <ul id="coursera-list11"><!-- js/coursera.json --></ul>
                </div>
            </div>
        </section>
        <!-- //sec-coursera11 -->
        <!-- sec-coursera - 20230517 -->
        </div>






        <!-- sec-coursera1 -->
        <section class="sec-coursera12">
            <div class="container-fluid">
                <h3 class="coursera-title">
                    <strong>데이터 사이언스</strong>
                </h3>
                <div class="coursera-list-container">
                    <ul id="coursera-list12"><!-- js/coursera.json --></ul>
                </div>
            </div>
        </section>
        <!-- //sec-coursera1 -->

        <!-- sec-coursera2 -->
        <section class="sec-coursera13">
            <div class="container-fluid">
                <h3 class="coursera-title">
                    <strong>프로그래밍</strong>
                </h3>
                <div class="coursera-list-container">
                    <ul id="coursera-list13"><!-- js/coursera.json --></ul>
                </div>
            </div>
        </section>
        <!-- //sec-coursera2 -->

        <!-- sec-coursera3 -->
        <section class="sec-coursera14">
            <div class="container-fluid">
                <h3 class="coursera-title">
                    <strong>딥러닝</strong>
                </h3>
                <div class="coursera-list-container">
                    <ul id="coursera-list14"><!-- js/coursera.json --></ul>
                </div>
            </div>
        </section>
        <!-- //sec-coursera3 -->

        <!-- sec-coursera4 -->
        <section class="sec-coursera15">
            <div class="container-fluid">
                <h3 class="coursera-title">
                    <strong>IT/SW 인기 강좌 </strong>
                </h3>
                <div class="coursera-list-container">
                    <ul id="coursera-list15"><!-- js/coursera.json --></ul>
                </div>
            </div>
        </section>
        <!-- //sec-coursera4 -->

        <!-- sec-coursera5 -->
        <section class="sec-coursera16">
            <div class="container-fluid">
                <h3 class="coursera-title">
                    <strong>인문학</strong>
                </h3>
                <div class="coursera-list-container">
                    <ul id="coursera-list16"><!-- js/coursera.json --></ul>
                </div>
            </div>
        </section>
        <!-- //sec-coursera5 -->

        <!-- sec-coursera6 -->
        <section class="sec-coursera17">
            <div class="container-fluid">
                <h3 class="coursera-title">
                    <strong>업무</strong>
                </h3>
                <div class="coursera-list-container">
                    <ul id="coursera-list17"><!-- js/coursera.json --></ul>
                </div>
            </div>
        </section>
        <!-- //sec-coursera6 -->

        <!-- sec-coursera7 -->
        <section class="sec-coursera18">
            <div class="container-fluid">
                <h3 class="coursera-title">
                    <strong>웰빙/건강</strong>
                </h3>
                <div class="coursera-list-container">
                    <ul id="coursera-list18"><!-- js/coursera.json --></ul>
                </div>
            </div>
        </section>
        <!-- //sec-coursera7 -->

        <!-- sec-coursera8 -->
        <section class="sec-coursera19">
            <div class="container-fluid">
                <h3 class="coursera-title">
                    <strong>IT/SW</strong>
                </h3>
                <div class="coursera-list-container">
                    <ul id="coursera-list19"><!-- js/coursera.json --></ul>
                </div>
            </div>
        </section>
        <!-- //sec-coursera8 -->

        <!-- sec-coursera9 -->
        <section class="sec-coursera20">
            <div class="container-fluid">
                <h3 class="coursera-title">
                    <strong>예술/철학</strong>
                </h3>
                <div class="coursera-list-container">
                    <ul id="coursera-list20"><!-- js/coursera.json --></ul>
                </div>
            </div>
        </section>
        <!-- //sec-coursera9 -->

        <div class="all_more_btn container-fluid">
            <a href="https://www.coursera.org/programs/kmooc-coursera-learning-hub-rreuo?authProvider=kmooc">전체 강좌 리스트 확인하기</a>
        </div>

    </main>
    <script src="../static/coursera_ubion/static/js/coursera.js"></script>
    <!-- //취업지원강좌 -->

</div>


</body>
</html>
