<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>
<script type="text/javascript" src="../../static/js/kotech_js/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/kotech_css/main.css">
<link rel="stylesheet" type="text/css" href="/static/css/kotech_css/bootstrap.css">
<section class="sec-course">
  <div class="container-fluid">

    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):

          % for bundle in journal_info.get('journal_bundles'):
          <li class="courses-listing-item">
            <%include file="journals/bundle_card.html" args="bundle=bundle"/>
          </li>
          % endfor
        </ul>
        <ul class="journal-list">
          %for journal in journal_info.get('journals'):
          <li class="courses-listing-item">
              <%include file="journals/journal_card.html" args="journal=journal" />
          </li>
          %endfor
        </ul>
      <ul class="courses-listing">
          ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
          <div class="row">

              % if section_course :

                % for section in sections:
                    <% s = 'courses_by_%s' % section %>
                    <section class="courses ${s}">
                      % if s in context.keys():
                          <div id="section_${section.section_name}" style="background-color: #e7e7e7; border-radius: 5px; font-family: 'Noto Sans' !important; font-weight: 500; padding: 5px 20px; color: #0072c6; margin-bottom: 5px;">
                              <h2> <img src="${section.section_logo_small.url}"/> ${section.section_name}</h2>
                          </div>
                            <div id="section_body" style="display: flow-root;">
                              %for course in context[s]:
                                  <%include file="course.html" args="course=course" />
                              % endfor
                            </div>
                      % endif
                    </section>
                % endfor
              %endif


          </div>
      </ul>
        ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
        % if homepage_course_max and len(courses) > homepage_course_max:
          <div class="courses-more">
            <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
          </div>
        % endif
    % endif
    </div>
</section>
