<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
    from django.utils.translation import ugettext as _
    from django.core.urlresolvers import reverse
%>
<%page args="course" expression_filter="h"/>


<div hidden>${course.audit_yn}</div>
<div hidden>${course.status}</div>


% if course.audit_yn == 'Y':
    <article class="course ${course.status} audit main-course-card" tabindex="0" id="${course.id}" role="region" aria-label="${course.display_name_with_default}"  style="" >
% elif course.audit_yn == 'N':
    <article class="course ${course.status} main-course-card" tabindex="0" id="${course.id}" role="region" aria-label="${course.display_name_with_default}"  style="" >
% endif
    <a class="main-course-card-link" tabindex="-1" style="text-decoration: none;" href="${reverse('about_course', args=[course.id.to_deprecated_string()])}" alt="${course.display_name_with_default}" title="${course.display_name_with_default} 개강일 ${course.start.strftime("%Y-%m-%d") if course.start else ''} 종강일 ${course.end.strftime("%Y-%m-%d") if course.end else ''} 강좌상태 ${_(course.status)}">
        <header class="course-image">
                % if course.ribbon_yn == 'Y':
                <i class="kr01-ribbonArea"><img alt="" src="/static/images/main/ribbon.png">
                  <span class="ribbon-tooltip-text">K-MOOC 우수강좌</span>
                </i>
                % endif
            <div class="cover-image">
                <span class="univ-logo">
                    <!--
                    <img src="/static/images/univ/logo02_${course.display_org_with_default}.png" alt="logo02_${course.display_org_with_default}.png"  onerror="this.src='/static/images/unanswered-icon.png'">
                    -->
                </span>
              % if course.audit_yn == 'Y' and course.status == 'end':
                <img src="${course.course_image_url}" alt="${course.display_name_with_default} 개강일 ${course.start.strftime("%Y-%m-%d") if course.start else ''} 종강일 ${course.end.strftime("%Y-%m-%d") if course.end else ''} 강좌상태 ${_(course.status)}" onerror="this.src='/static/images/blank.png'">
              % else:
                <img src="${course.course_image_url}" alt="${course.display_name_with_default} 개강일 ${course.start.strftime("%Y-%m-%d") if course.start else ''} 종강일 ${course.end.strftime("%Y-%m-%d") if course.end else ''} 강좌상태 ${_(course.status)}" onerror="this.src='/static/images/blank.png'">
              %endif
              % if course.ribbon_yn == 'Y':
                <div class="learn-more" aria-hidden="true">${_("K-MOOC 우수강좌")}</div>
              % else:
                <div class="learn-more" aria-hidden="true">${_("LEARN MORE")}</div>
              % endif
            </div>
            % if course.audit_yn == 'Y' and course.status == 'end':
            <span class="kr01-courInfo-bar">${_(course.status)}(${_("audit course")})</span>
            % else:
            <span class="kr01-courInfo-bar">${_(course.status)}</span>
            % endif
        </header>
        <div class="course-info" aria-hidden="true">

            <h2 class="course-name">
                <span class="course-title kr01-Msilder-title">${course.display_name}</span>
            </h2>

            <div class="course-date kr01_moviesubtit" aria-hidden="true">
                <span class="kr01_professor">${course.teacher_name}</span>
              % if LANGUAGE_CODE == 'ko-kr':
                <span class="kr01_school">${course.org_kname}</span>
              % else:
                <span class="kr01_school">${course.org_ename}</span>
              % endif
            </div>
            <div class="course-date kr01_moviesubtit" aria-hidden="true">
                <span class="date">${course.start.strftime("%Y/%m/%d")} ~ ${course.end.strftime("%Y/%m/%d")}</span>
            </div>

        </div>
        <div class="sr">
            <ul>
                <li>${course.display_org_with_default}</li>
                <li>${course.display_number_with_default}</li>
                <li>${_("Starts")}: <time itemprop="startDate" datetime="${course.start_datetime_text()}">${course.start_datetime_text()}</time></li>
            </ul>
        </div>
    </a>
</article>