<%page expression_filter="h"/>
<%!
    from django.core.urlresolvers import reverse
    from django.utils.translation import ugettext as _
    from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>


<footer class="new-footer">
    <div class="new-footer-col">

        <div class="new-ff-three">
            <!-- 1 -->
            <div class="new-ff-top-1">
                <div class="new-ff-title">
                    K-MOOC
                </div>
                <div class="new-ff-bot">
                    (04520) 서울특별시 중구 청계천로 14 (무교동 77)
                </div>
                <div class="new-ff-bot">
                    E-mail : kmooc@nile.or.kr
                </div>
                <div class="new-ff-sns">
                    <a href="#" class="new-ff-link-item" title="새창으로 열림">
                        <img src="/static/new_index/images/icon_link_facebook.png" alt="국가평생교육진흥원 페이스북">
                    </a>
                    <a href="#" class="new-ff-link-item" title="새창으로 열림">
                        <img src="/static/new_index/images/icon_link_instagram.png" alt="국가평생교육진흥원 인스타그램">
                    </a>
                    <a href="#" class="new-ff-link-item" title="새창으로 열림">
                        <img src="/static/new_index/images/icon_link_youtube.png" alt="국가평생교육진흥원 유튜브">
                    </a>
                    <a href="#" class="new-ff-link-item" title="새창으로 열림">
                        <img src="/static/new_index/images/icon_link_blog.png" alt="국가평생교육진흥원 블로그">
                    </a>
                </div>
            </div>

            <!-- 2 -->
            <div class="new-ff-top-2">
                <div class="new-ff-title">
                    패밀리사이트
                </div>
                <div>
                    <select class="new-ff-select">
                        <option>교육부</option>
                        <option>국가평생교육진흥원</option>
                        <option>매치업</option>
                        <option>늘배움</option>
                        <option>평생학습계좌제</option>
                        <option>학점은행제</option>
                        <option>독학학위제</option>
                        <option>국가문해교육센터</option>
                        <option>평생교육사</option>
                        <option>중앙다문화교육센터</option>
                        <option>전국학부모지원센터</option>
                        <option>학점은행제 알리미</option>
                        <option>대학평생교육활성화</option>
                    </select>
                </div>
            </div>

            <!-- 3 -->
            <div class="new-ff-top-3">
                <div class="new-ff-title">
                    앱 다운로드
                </div>
                <div>
                    <img class="new-ff-app" src="/static/new_index/images/icon_app_android.png">
                    <img class="new-ff-app" src="/static/new_index/images/icon_app_ios.png">
                </div>
            </div>
        </div>


        <div class="new-ff-two">
            <div class="new-ff-left">
                <div class="new-ff-item">
                    <div class="new-ff-ttt new-ff-blue">개인정보처리방침</div>
                    <div class="new-ff-ttt">이용약관</div>
                    <div class="new-ff-ttt">저작권보호정책</div>
                    <div class="new-ff-ttt">이수증 검증</div>
                    <div class="new-ff-ttt">원격도우미</div>
                </div>
                <div class="new-ff-copyright">
                    Copyright ⓒ 2020 National Institute for Lifelong Education. All Rights Reserved.
                </div>
            </div>
            <div class="new-ff-right">
                <a href="#" class="new-ff-logo-item" title="새창으로 열림">
                    <img src="/static/new_index/images/logo_moe.png" alt="교육부">
                </a>
                <a href="#" class="new-ff-logo-item" title="새창으로 열림">
                    <img src="/static/new_index/images/logo_nile.png" alt="국가평생교육진흥원">
                </a>
                <a href="#" class="new-ff-logo-item" title="새창으로 열림">
                    <img src="/static/new_index/images/logo_privacy.png" alt="개인정보보호 인증마크">
                </a>
                <a href="#" class="new-ff-logo-item" title="새창으로 열림">
                    <img src="/static/new_index/images/logo_wa.png" alt="웹 접근성 인증마크">
                </a>
            </div>
        </div>

    </div>
</footer>


% if include_dependencies:
    <%static:js group='base_vendor'/>
    <%static:css group='style-vendor'/>
    <%include file="widgets/segment-io.html" />
    <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
    % for url in footer_css_urls:
        <link rel="stylesheet" type="text/css" href="${url}"></link>
    % endfor
% endif
