## mako
<%page expression_filter="h"/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">
    <footer id="footer-openedx" class="grid-container"
            ## When rendering the footer through the branding API,
            ## the direction may not be set on the parent element,
            ## so we set it here.
            % if bidi:
            dir=${bidi}
            % endif
    >

        <script type="text/javascript">
            function fPopup(type) {
                var w = 500;
                var h = 700;
                var url, name;

                if (type == 'e') {
                    url = 'https://www.eprivacy.or.kr:40018/seal/mark.jsp?mark=e&code=2016-R108';
                    name = 'e';
                } else {
                    url = 'https://www.eprivacy.or.kr:40018/seal/mark.jsp?mark=i&code=2016-R053';
                    name = 'i';
                }
                var x = (screen.availWidth / 2) - (w / 2);
                var y = (screen.availHeight / 2) - (h / 2);
                window.open(url, name, "toolbar=no,resizable=yes,scrollbars=yes,status=no,location=no,left=" + x + ",top=" + y + ",width=" + w + ",height=" + h);
            }
        </script>

        <div class="colophon">
            <!--
            <div class="wrapper-logo">
            <p>
                <a href="/"><img alt="organization logo" src="/static/images/common/logo_footer.png"></a></p>
            </div>
            -->

            <div class="footer-util">
                <nav class="nav-colophon">
                    <ol>
                        <!--<li class="nav-colophon-01"><a href="/agreement">${_("Terms of Use")}</a></li>-->
                        <!--<li class="nav-colophon-02"><a href="/contact">${_("Contact Us")}</a></li>-->
                        <!--<li class="nav-colophon-03"><a href="http://blog.naver.com/kmooc_kr" target="_blank">${_("Blog")}</a></li>-->
                        <!--<li class="nav-colophon-04"><a href="">오픈API</a></li> -->
                        <!--<li class="nav-colophon-05"><a href="/cert_check">${_("Certificate Id Check")}</a></li>-->
                        <li class="nav-colophon-01"><a href="/agreement">${_("Terms of Use")}</a></li>
                        <li class="nav-colophon-02"><a href="/Privacy-Policy" style="color: #0088d0;">${_("Privacy Statement")}</a></li>
                        % if LANGUAGE_CODE == 'ko-kr':
                        <li class="nav-colophon-03"><a href="/Copyright-Policy">${_("Copyright Policy")}</a></li>
                        % endif

                        <!--<li class="nav-colophon-04"><a href="/openapi">${_("OPEN API")}</a></li>-->
                        <li class="nav-colophon-05"><a href="/cert_check">${_("Certificate Id Check")}</a></li>

                        % if LANGUAGE_CODE == 'en':
                        <li class="nav-colophon-02"><a href="/comm_faqrequest">${_("Ask a question")}</a></li>
                        % endif
                    </ol>
                </nav>
                <p class="copyright">Copyright(c)2016. 국가평생교육진흥원 (National Institute For Lifelong Education. All right reserved)</p>


                <!--<nav class="nav-legal">
                <ul>
                    <li class="nav-legal-01"><a href="/agreement">${_("Terms of Use")}</a></li>
                    <li class="nav-legal-02"><a href="/Privacy-Policy">${_("Privacy Statement")}</a></li>
                    <li class="nav-legal-03"><a href="/Copyright-Policy">${_("Copyright Policy")}</a></li>
                </ul>
                </nav>-->

                <p title="(04520) 서울특별시 중구 청계천로 14 (무교동 77)">${_("14, Cheonggyecheon-ro, Jung-gu, Seoul, Republic of Korea (04520)")} E-mail: <a href="mailto:kmooc@nile.or.kr" style="color: #0088d0;">kmooc@nile.or.kr</a>
                </p>

            </div>
        </div>

        <div class="footer-about-openedx">
            <div class="associate-site-lnk" id="rel_site">
                <div id="rel_site_div">
                    <select title="관련사이트" id="related_site" onchange="moveLocation(this.value)" style="margin-top: 5px; width: 255px;">
                        <option>${_("Related sites")}</option>
                        <option value="http://www.moe.go.kr/">${_("Ministry of Education")}</option>
                        <option value="http://www.nile.or.kr/">${_("NILE")}</option>
                        <option value="http://www.all.go.kr">${_("Lifelong Learning Account")}</option>
                        <option value="http://www.lifelongedu.go.kr/">${_("Lifelong Learning Portal")}</option>
                    </select>
                </div>
                <script>
                    var ua = window.navigator.userAgent;
                    var msie = ua.indexOf("MSIE ");
                    $(function () {
                        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./) || navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
                            $("#related_site").css("width", "180px").css("min-width", "100px");
                            $('#rel_site_div').append('<input class="btn" type="button" id="go" value="이동" title="이동">');
                        }
                    });
                    $(document).on('click', '#go', function () {
                        var url = $('#related_site option:selected').val();
                        if (url != '관련사이트') {
                            document.location.href = url;
                        } else {
                            alert('관련사이트를 선택하세요.');
                        }

                    });


                    function moveLocation(url) {
                        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./) || navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {

                        } else {
                            //document.location.href = url;
                            window.open(url, "", "");
                        }
                    }
                </script>
                <p style="margin-top: 15px;">
                    <a href="https://play.google.com/store/apps/details?id=com.nile.kmooc" target="_blank" style="padding: 0px;">
                        <img alt="app_url_and" src="/static/images/and_app.png" style="margin: 0px; width: 125px;">
                    </a>
                    <a href="https://itunes.apple.com/kr/app/k-mooc-%ED%95%9C%EA%B5%AD%ED%98%95-%EC%98%A8%EB%9D%BC%EC%9D%B8-%EA%B3%B5%EA%B0%9C%EA%B0%95%EC%A2%8C/id1194436387?mt=8" target="_blank"
                       style="padding: 0px;">
                        <img alt="app_url_ios" src="/static/images/ios_app.png" style="margin: 0px; width: 125px;">
                    </a>
                </p>

            </div>
            <div class="associate-icon">
                <div>
                    <a href="http://blog.naver.com/kmooc_kr" target="_blank" title="새창으로 알림"><img src="/static/images/common/footer_icon06.png" alt="blog"/></a>
                    <a href="https://www.youtube.com/channel/UCaXoWllLNJ4t5d39nmJKyJw" target="_blank" title="새창으로 알림"><img src="/static/images/common/footer_icon01.png" alt="youtube"/></a>
                    <a href="http://www.facebook.com/kmooc" target="_blank" title="새창으로 알림"><img src="/static/images/common/footer_icon02.png" alt="facebook"/></a>
                </div>
                <div>

                    <!-- <a href="#"><img alt="2016년 행복교육 정부3.0 우수사례 경진대회 동상" src="/static/images/gov_3_best.gif" style="width: 50px;"></a> -->
                    <a href="http://wa.or.kr/waMark/status.asp" target="_blank" title="새창으로 알림"><img src="/static/images/common/footer_icon03.png" alt="한국장애인단체총연합회 한국웹접근성인증평가원 웹 접근성 우수사이트 인증마크"/></a>
                    <a href="javascript:fPopup('e');" title="새창으로 알림"><img src="/static/images/common/footer_icon04.png" alt="개인정보보호마크"/></a>
                    <a href="javascript:fPopup('i');" title="새창으로 알림"><img src="/static/images/common/footer_icon05.png" alt="인터넷사이트안전마크"/></a>
                </div>
            </div>
        </div>

    </footer>
</div>

% if include_dependencies:
<%static:js group='base_vendor'/>
<%static:css group='style-vendor'/>
<%include file="widgets/segment-io.html" />
<%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
% for url in footer_css_urls:
<link rel="stylesheet" type="text/css" href="${url}"></link>
% endfor
% endif
