<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<script src="${static.url('js/script/index_comm.js')}" charset="utf-8"></script>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">
        <!-- [s] main top -->
        <header>
            <div class="header-slider">
                <div class="slider-back">
                    <div class="outer-wrapper">
                        <div class="title">
                            <div class="heading-group">
                                <h1>BEYOND TODAY, LIVE THE FUTURE</h1>
                                <p>오늘이 아닌 미래를 학습합니다</p>
                                <!-- <h1><img src="/static/images/main/main_slogan.png" alt=""></h1> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-back">
                    <div class="outer-wrapper animation-title-appear">
                        <div class="title">
                            <div class="heading-group">
                                <h1>내 손안에 펼쳐지는 열린 대학</h1>
                                <p>미래를 향한 열린 교육</p>
                                <!-- <h1><img src="/static/images/main/main_slogan2.png" alt=""></h1> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-back">
                    <div class="outer-wrapper">
                        <div class="title">
                            <div class="heading-group">
                                <h1>미래를 여는 최고의 강좌</h1>
                                <p>K-MOOC Start Today! Learn Forever</p>
                                <!-- <h1><img src="/static/images/main/main_slogan3.png" alt=""></h1> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- [e] main top -->

        <!-- [s] university list -->
        <section class="university-container" id="main-contents01">
            <section class="university-list-contents">
                <ul class="university-listing">
                    <li class="university-listing-item"><a href=""><img src="/static/images/univ/logo01_KHUk.png" alt="경희대학교"></a></li>
                    <li class="university-listing-item"><a href=""><img src="/static/images/univ/logo01_KoreaUnivK.png" alt="고려대학교"></a></li>
                    <li class="university-listing-item"><a href=""><img src="/static/images/univ/logo01_PNUk.png" alt="부산대학교"></a></li>
                    <li class="university-listing-item"><a href=""><img src="/static/images/univ/logo01_SNUk.png" alt="서울대학교"></a></li>
                    <li class="university-listing-item"><a href=""><img src="/static/images/univ/logo01_SKKUk.png" alt="성균관대학교"></a></li>
                    <li class="university-listing-item"><a href=""><img src="/static/images/univ/logo01_KYUNGNAMUNIVk.png" alt="경남대학교"></a></li>
                    <li class="university-listing-item"><a href=""><img src="/static/images/univ/logo01_DGUk.png" alt="대구대학교"></a></li>
                    <li class="university-listing-item"><a href=""><img src="/static/images/univ/logo01_SMUCk.png" alt="상명대학교"></a></li>
                    <li class="university-listing-item"><a href=""><img src="/static/images/univ/logo01_SSUk.png" alt="성신여자대학교"></a></li>
                    <li class="university-listing-item"><a href=""><img src="/static/images/univ/logo01_SejonguniversityK.png" alt="세종대학교"></a></li>
                    <li class="university-listing-item"><a href=""><img src="/static/images/univ/logo01_SookmyungK.png" alt="숙명여자대학교"></a></li>
                    <li class="university-listing-item"><a href=""><img src="/static/images/univ/logo01_YSUk.png" alt="연세대학교"></a></li>
                    <li class="university-listing-item"><a href=""><img src="/static/images/univ/logo01_YeungnamUnivK.png" alt="영남대학교"></a></li>
                    <li class="university-listing-item"><a href=""><img src="/static/images/univ/logo01_UOUk.png" alt="울산대학교"></a></li>
                    <li class="university-listing-item"><a href=""><img src="/static/images/univ/logo01_EwhaK.png" alt="이화여자대학교"></a></li>
                    <li class="university-listing-item"><a href=""><img src="/static/images/univ/logo01_INHAuniversityK.png" alt="인하대학교"></a></li>
                    <li class="university-listing-item"><a href=""><img src="/static/images/univ/logo01_CBNUk.png" alt="전북대학교"></a></li>
                    <li class="university-listing-item"><a href=""><img src="/static/images/univ/logo01_POSTECHk.png" alt="포항공과대학교"></a></li>
                    <li class="university-listing-item"><a href=""><img src="/static/images/univ/logo01_KAISTk.png" alt="한국과학기술원"></a></li>
                    <li class="university-listing-item"><a href=""><img src="/static/images/univ/logo01_HYUk.png" alt="한양대학교"></a></li>
                    <li class="university-listing-item"><a href=""><img src="/static/images/univ/logo01_KOCWk.png" alt="KOCW"></a></li>
                </ul>
                <a href="/schools" class="univ-more">전체보기</a>
            </section>
        </section>
        <!-- [e] university list -->

        <!-- [s] course list -->
        <section class="courses-container full" id="main-contents05">
            <h2 class="main-title">수강신청 가능 강좌찾기 </h2>
            <%include file="${courses_list}" />
        </section>
        <!-- [e] course list -->


        <!-- [s] major course list -->
        <section class="major-course-container" id="main-contents02">
            <h2 class="main-title">${_("Course by subject")}</h2>
            <div class="grid-container grid-manual">
                <div class="row">
                    <div class="col col-12 sm-col-6 md-col-4  lg-col-3">
                        <div class="major-course-item">
                            <a href="/courses?term=hum">
                                <img src="/static/images/main/course_01.png" alt="인문">
                                <p>${_("Humanities")}</p>
                            </a>
                        </div>
                    </div>
                    <div class="col col-12 sm-col-6 md-col-4  lg-col-3">
                        <div class="major-course-item">
                            <a href="/courses?term=social">
                                <img src="/static/images/main/course_02.png" alt="사회">
                                <p>${_("Social Sciences")}</p>
                            </a>
                        </div>
                    </div>
                    <div class="col col-12 sm-col-6 md-col-4  lg-col-3">
                        <div class="major-course-item">
                            <a href="/courses?term=edu">
                                <img src="/static/images/main/course_03.png" alt="교육">
                                <p>${_("Education")}</p>
                            </a>
                        </div>
                    </div>
                    <div class="col col-12 sm-col-6 md-col-4  lg-col-3">
                        <div class="major-course-item">
                            <a href="/courses?term=eng">
                                <img src="/static/images/main/course_04.png" alt="공학">
                                <p>${_("Engineering")}</p>
                            </a>
                        </div>
                    </div>
                    <div class="col col-12 sm-col-6 md-col-4  lg-col-3">
                        <div class="major-course-item">
                            <a href="/courses?term=nat">
                                <img src="/static/images/main/course_05.png" alt="자연">
                                <p>${_("Natural Sciences")}</p>
                            </a>
                        </div>
                    </div>
                    <div class="col col-12 sm-col-6 md-col-4  lg-col-3">
                        <div class="major-course-item">
                            <a href="/courses?term=med">
                                <img src="/static/images/main/course_06.png" alt="의약">
                                <p>${_("Medical Sciences")}</p>
                            </a>
                        </div>
                    </div>
                    <div class="col col-12 sm-col-6 md-col-4  lg-col-3">
                        <div class="major-course-item">
                            <a href="/courses?term=art">
                                <img src="/static/images/main/course_07.png" alt="예체능">
                                <p>${_("Arts & Physical")}</p>
                            </a>
                        </div>
                    </div>
                    <div class="col col-12 sm-col-6 md-col-4  lg-col-3">
                        <div class="major-course-item">
                            <a href="/courses?linguistics=Y">
                                <img src="/static/images/main/course_08.png" alt="한국학">
                                <p>${_("Korean Studies")}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- [e] major course list -->

        <!-- [s] my course -->
        <section class="my-course-container" id="main-contents03">
            <h2 class="main-title">${_("Find course for me")} </h2>
            <div class="grid-container grid-manual">
                <div class="row">
                    <div class="col col-12 sm-col-6 md-col-4  lg-col-4">
                        <div class="my-course-item">
                            <h3>
                                <img src="/static/images/main/my_course_01.png" alt="개강상태">
                                <p>${_("Opening Status")}</p>
                            </h3>
                            <div class="btns">
                                <a href="/courses?range=i">${_("Current")}</a>
                                <a href="/courses?range=t">${_("Starting Soon")}</a>
                                <a href="/courses?range=e">${_("Finish")}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-12 sm-col-6 md-col-4 lg-col-4">
                        <div class="my-course-item middle">
                            <h3>
                                <img src="/static/images/main/my_course_02.png" alt="학습기간">
                                <p>${_("Period of studing")}</p>
                            </h3>
                            <div class="btns">
                                <a href="">${_("Short (1~6 weeks)")}</a>
                                <a href="">${_("Middle (7~12 weeks)")}</a>
                                <a href="">${_("Long (over 13 weeks)")}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-12 sm-col-6 md-col-4 lg-col-4">
                        <div class="my-course-item">
                            <h3>
                                <img src="/static/images/main/my_course_03.png" alt="강좌언어">
                                <p>${_("Language")}</p>
                            </h3>
                            <div class="btns">
                                <a href="/courses?language=ko">${_("Korean")}</a>
                                <a href="/courses?language=en">${_("English")}</a>
                                <a href="">${_("Chiness")}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- [e] my course -->

        <!-- [s] pouplar course list -->
        <!--
        <section class="courses-container" id="main-contents04">
            <h2 class="main-title">인기강좌</h2>
            <p><span class="fPoint">개인에게 맞는 강좌를 학습</span>할 수 있습니다. 예정된 강좌부터 지난 강좌까지 그리고 나에게 필요한<br>학습기간별 강좌를 바로 한번에 확인하세요.</p>
            <div class="grid-container grid-manual popular">
                <div class="row">
                    <div class="col col-12 sm-col-12 md-col-6  lg-col-6">
                        <div class="popular-description">
                            <h3>[ 고려대학교 ]</h3>
                            <dl>
                                <dt><p>영화 스토리텔링의 이해</p><span>류철균 교수</span></dt>
                                <dd>이 수업에서는 먼저 코페르니쿠스, 갈릴레이, 뉴턴 등에 의해 일어난 과학혁명이 인류의 세계관에 어떤 영향을 미쳤는지 배웁니다. <br><br>
                                또한 이에 대비하여 상대성이론과 양자역학으로 대변되는 현대물리학혁명이 고전물리학을 어떻게 변혁시켰는지 배웁니다.</dd>
                                <dd><time>개강일 : 2016년 06월 27일</time></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="col col-12 sm-col-12 md-col-6  lg-col-6">
                        <div class="popular-thumb">
                            <img src="/static/images/main/popular_thumb.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <section class="highlighted-courses">
                <section class="courses">
                    <ul class="courses-listing">
                        <li class="courses-listing-item">
                            <article class="course ready" id="" role="region" aria-label="">
                                <a href="">
                                    <header class="course-image">
                                        <div class="cover-image">
                                            <span class="univ-logo"><img src="/static/images/univ/logo02_CBNUk.png" alt=""></span>
                                            <img src="/static/images/main/course.jpg" alt="edX Demonstration Course DemoX">
                                            <div class="learn-more" aria-hidden="true">LEARN MORE</div>
                                        </div>
                                    </header>
                                    <div class="course-info">
                                        <h2 class="course-name">
                                            <span class="course-status">SUBJECT TITLE</span>
                                            <span class="course-title">강의의 제목을 입력하세요</span>
                                            <span class="course-summary">강의의 각종 설명 또는 주요 키워드 등을 입력바랍니다. </span>
                                        </h2>
                                        <div class="course-date" aria-hidden="true"><strong><span>Study Date</span> :</strong><br><time>2016년 00월 00일 ~ 2016년 00월 00일</time></div>
                                    </div>
                                    <div class="sr">
                                        <ul>
                                            <li>edX</li>
                                            <li>DemoX</li>
                                            <li>Starts: <time itemprop="startDate" datetime="Feb 05, 2013">Feb 05, 2013</time></li>
                                        </ul>
                                    </div>
                                </a>
                            </article>
                        </li>
                        <li class="courses-listing-item">
                            <article class="course ready" id="" role="region" aria-label="">
                                <a href="">
                                    <header class="course-image">
                                        <div class="cover-image">
                                            <span class="univ-logo"><img src="/static/images/univ/logo02_CBNUk.png" alt=""></span>
                                            <img src="/static/images/main/course.jpg" alt="edX Demonstration Course DemoX">
                                            <div class="learn-more" aria-hidden="true">LEARN MORE</div>
                                        </div>
                                    </header>
                                    <div class="course-info">
                                        <h2 class="course-name">
                                            <span class="course-status">SUBJECT TITLE</span>
                                            <span class="course-title">강의의 제목을 입력하세요</span>
                                            <span class="course-summary">강의의 각종 설명 또는 주요 키워드 등을 입력바랍니다. </span>
                                        </h2>
                                        <div class="course-date" aria-hidden="true"><strong><span>Study Date</span> :</strong><br><time>2016년 00월 00일 ~ 2016년 00월 00일</time></div>
                                    </div>
                                    <div class="sr">
                                        <ul>
                                            <li>edX</li>
                                            <li>DemoX</li>
                                            <li>Starts: <time itemprop="startDate" datetime="Feb 05, 2013">Feb 05, 2013</time></li>
                                        </ul>
                                    </div>
                                </a>
                            </article>
                        </li>
                        <li class="courses-listing-item">
                            <article class="course ing" id="" role="region" aria-label="">
                                <a href="">
                                    <header class="course-image">
                                        <div class="cover-image">
                                            <span class="univ-logo"><img src="/static/images/univ/logo02_PNUk.png" alt=""></span>
                                            <img src="/static/images/main/course.jpg" alt="edX Demonstration Course DemoX">
                                            <div class="learn-more" aria-hidden="true">LEARN MORE</div>
                                        </div>
                                    </header>
                                    <div class="course-info">
                                        <h2 class="course-name">
                                            <span class="course-status">SUBJECT TITLE</span>
                                            <span class="course-title">강의의 제목을 입력하세요</span>
                                            <span class="course-summary">강의의 각종 설명 또는 주요 키워드 등을 입력바랍니다. </span>
                                        </h2>
                                        <div class="course-date" aria-hidden="true"><strong><span>Study Date</span> :</strong><br><time>2016년 00월 00일 ~ 2016년 00월 00일</time></div>
                                    </div>
                                    <div class="sr">
                                        <ul>
                                            <li>edX</li>
                                            <li>DemoX</li>
                                            <li>Starts: <time itemprop="startDate" datetime="Feb 05, 2013">Feb 05, 2013</time></li>
                                        </ul>
                                    </div>
                                </a>
                            </article>
                        </li>
                        <li class="courses-listing-item">
                            <article class="course end" id="" role="region" aria-label="">
                                <a href="">
                                    <header class="course-image">
                                        <div class="cover-image">
                                            <span class="univ-logo"><img src="/static/images/univ/logo02_YeungnamUnivK.png" alt=""></span>
                                            <img src="/static/images/main/course.jpg" alt="edX Demonstration Course DemoX">
                                            <div class="learn-more" aria-hidden="true">LEARN MORE</div>
                                        </div>
                                    </header>
                                    <div class="course-info">
                                        <h2 class="course-name">
                                            <span class="course-status">SUBJECT TITLE</span>
                                            <span class="course-title">강의의 제목을 입력하세요</span>
                                            <span class="course-summary">강의의 각종 설명 또는 주요 키워드 등을 입력바랍니다. </span>
                                        </h2>
                                        <div class="course-date" aria-hidden="true"><strong><span>Study Date</span> :</strong><br><time>2016년 00월 00일 ~ 2016년 00월 00일</time></div>
                                    </div>
                                    <div class="sr">
                                        <ul>
                                            <li>edX</li>
                                            <li>DemoX</li>
                                            <li>Starts: <time itemprop="startDate" datetime="Feb 05, 2013">Feb 05, 2013</time></li>
                                        </ul>
                                    </div>
                                </a>
                            </article>
                        </li>
                    </ul>
                </section>

            </section>
        </section>
        -->
        <!-- [e] pouplar course list -->


        % if LANGUAGE_CODE == 'ko-kr':
        <!-- [s] community list -->
        <section class="community-container" id="main-contents06">
            <h2 class="main-title"></h2>
            <div class="community-container-wrap">
                <!-- community 00 -->
                <a href="#community00" class="on">전체</a>
                <div class="grid-container grid-manual community" id="community00">
                    <div class="row" id="total">
##                         <div class="col col-12 sm-col-6 md-col-4  lg-col-3">
##                             <div class="community-item">
##                                 <a href="">
##                                     <h3>
##                                         <strong class="category">[입찰공고]</strong>
##                                         <p>(제공고) 한국형 온라인 공개강좌 (K-MOOC)운영사업 체제에 관한 중장기 운영방향 연구 용역한국형 온라인 공개강좌 (K-MOOC)운영사업 체제에 관한 중장기 운영방향 연구 용역</p>
##                                     </h3>
##                                     <p class="summary">세부과입내역은 붙임 재공고서 및 제안요청서 참조 해당 요역건은 나라장터 G2B 및 기획재 정부 ALIO 시스템에서도 확인가능 </p>
##                                     <time>2016-10-19</time>
##                                 </a>
##                             </div>
##                         </div>
                    </div>
                </div>
                <!--// community 00 -->
                <!-- community 01 -->
                <a href="#community01">공지사항</a>
                <div class="grid-container grid-manual community" id="community01">
                    <div class="row">
                        % for list in index_list :
                        % if list[5] == 'N':
                        <div class="col col-12 sm-col-6 md-col-4  lg-col-3">
                            <div class="community-item">
                                <a href="/comm_notice_view/${list[0]}/">
                                    <h3>
                                        <strong class="category">${list[1]}</strong>
                                        ${list[2]}
                                    </h3>
                                    <p class="summary">${list[3]}</p>
                                    <time>${list[4]}</time>
                                </a>
                            </div>
                        </div>
                        % endif
                    % endfor
                    </div>
                </div>
                <!--// community 01 -->
                <!-- community 02 -->
                <a href="#community02">K-MOOC 뉴스</a>
                <div class="grid-container grid-manual community" id="community02">
                    <div class="row">
                    % for list in index_list :
                        % if list[5] == 'K':
                        <div class="col col-12 sm-col-6 md-col-4  lg-col-3">
                            <div class="community-item">
                                <a href="/comm_k_news_view/${list[0]}/">
                                    <h3>
                                        <strong class="category">${list[1]}</strong>
                                        <p>${list[2]}</p>
                                    </h3>
                                    <p class="summary">${list[3]}</p>
                                    <time>${list[4]}</time>
                                </a>
                            </div>
                        </div>
                        % endif
                    % endfor
                    </div>
                </div>
                <!--// community 02 -->
                <!-- community 03 -->
                <a href="#community03">자료실</a>
                <div class="grid-container grid-manual community" id="community03">
                    <div class="row">
                    % for list in index_list :
                        % if list[5] == 'R':
                        <div class="col col-12 sm-col-6 md-col-4  lg-col-3">
                            <div class="community-item">
                                <a href="/comm_repo_view/${list[0]}/">
                                    <h3>
                                        <strong class="category">${list[1]}</strong>
                                        <p>${list[2]}</p>
                                    </h3>
                                    <p class="summary">${list[3]}</p>
                                    <time>${list[4]}</time>
                                </a>
                            </div>
                        </div>
                        % endif
                    % endfor
                    </div>
                </div>
                <!--// community 03 -->
                <!-- community 04 -->
                <a href="#community04">FAQ</a>
                <div class="grid-container grid-manual community" id="community04">
                    <div class="row">
                    % for list in index_list :
                        % if list[5] == 'F':
                        <div class="col col-12 sm-col-6 md-col-4  lg-col-3">
                            <div class="community-item">
                                <a href="/comm_faq">
                                    <h3>
                                        <strong class="category">${list[1]}</strong>
                                        <p>${list[2]}</p>
                                    </h3>
                                    <p class="summary">${list[3]}</p>
                                    <time>${list[4]}</time>
                                </a>
                            </div>
                        </div>
                        % endif
                    % endfor
                    </div>
                </div>
                <!--// community 04 -->

            </div>
        </section>
        <!-- [e] community list -->
        % endif

    </section>
</main>


% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>


<!-- sidebar -->
<nav class="main-sticky-box">
    <ul class="main-sticky">
        <li><a href="#" class="smooth-move" data-hashbang="main-contents01">대학목록</a></li>
        <li><a href="#" class="smooth-move" data-hashbang="main-contents05">수강신청 가능강좌</a></li>
        <li><a href="#" class="smooth-move" data-hashbang="main-contents02">전공별 강좌</a></li>
        <li><a href="#" class="smooth-move" data-hashbang="main-contents03">나에게 맞는강좌</a></li>
        % if LANGUAGE_CODE == 'ko-kr':
        <li><a href="#" class="smooth-move" data-hashbang="main-contents06">커뮤니티</a></li>
        % endif
    </ul>
</nav>

<script type="text/javascript">
$(function(){
	$(".smooth-move").on("click", function(event){
		event.preventDefault();
		var hashbang = $("#"+$(this).data("hashbang")).offset();
		$('html body').animate({scrollTop: hashbang.top-50}, 'slow');
	})
})
</script>

