<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from microsite_configuration import microsite
from openedx.core.djangolib.markup import HTML, Text
%>
<link rel="stylesheet" type="text/css" href="/static/css/pop.css">

<div id="layerPopupArea" class="layerPopupArea">
    % for pop in popup_list:
    % if pop['popup_type'] == 'H' and pop['site_id'] is None:
    <%include file="${popup_base}" args="pop=pop"/>
    % elif pop['popup_type'] == 'I' and pop['site_id'] is None:
    <%include file="${popup_image_base}" args="pop=pop"/>
    % endif
    % endfor
</div>

<script type="text/javascript" src="/static/new_index/js/spin.js"></script>
<script language="Javascript">

    $(document).ready(function () {
        // 실제로 강좌 목록 위에 영역 선택 부분이 있으므로 해당 높이를 추가
        // 20210114 기본 강좌는 집콕강좌로 변경
        let secCourseTop = $(".sec-course").offset().top + $(".course-top").height();
        let windowHeight = $(window).height();
        let currScrollTop = $(window).scrollTop();
        let isScrolled = false;
        let isEmpty = true;

        console.debug('secCourseTop: ' + secCourseTop);
        console.debug('windowHeight: ' + windowHeight);
        console.debug('currScrollTop: ' + currScrollTop);
        console.debug('initialize action: ' + windowHeight + currScrollTop > secCourseTop);

        if (windowHeight + currScrollTop > secCourseTop) {
            setMainCourses();
        }

        // 스크롤을 할경우 강좌 목록을 가져오도록 변경
        $(window).scroll(function () {
            currScrollTop = $(window).scrollTop();

            if (windowHeight + currScrollTop < secCourseTop)
                return;

            // 스크롤 한적이 있거나 목록이 있다면 실행하지 않음
            if (isScrolled)
                return;
            else
                isScrolled = true;

            if (isEmpty) {
                setMainCourses();
            }
        });

        /***
         * index 화면의 강좌목록을 로드
         * 로드된 강좌별 크기를 확인하여 표시되는 기본 영역을 지정
         ***/

        function setMainCourses() {
            isScrolled = true;
            $.post(
                "/get_index_courses",
                {csrfmiddlewaretoken: '${ csrf_token }'},
                function (data) {
                    if (data) {
                        $(".sec-course .owl-carousel").remove();
                        $(".loading").hide();
                        $("#sections").append(data);

                        $('.owl-carousel').owlCarousel({
                            margin: 20,
                            nav: true,
                            dots: false,
                            responsive: {
                                0: {
                                    items: 1
                                },
                                443: {
                                    items: 2
                                },

                                768: {
                                    items: 3
                                },

                                992: {
                                    items: 4
                                }
                            }
                        });

                        isEmpty = false;

                        // data append 이후 item 갯수를 확인하여 아이템이 존재하는 영역을 표시
                        if ($("#section_home .item").size() > 0)
                            change_course('home');
                        else if ($("#section_pop .item").size() > 0)
                            change_course('pop');
                        else if ($("#section_new .item").size() > 0)
                            change_course('new');
                        else if ($("#section_today .item").size() > 0)
                            change_course('today');
                    }
                },
                "html");
        }


        let popup_id = $(".popup-area").attr("id");

        $("#" + popup_id).attr("tabindex", 0).focus();

        $("#" + popup_id).css('outline', 'none');

        var spin_lock = false;
        $(window).scroll(function () {
            if ($(window).scrollTop() > 1050 && spin_lock == false) {
                var spin_common_rule = {
                    duration: 3000
                }
                $('#cu-a0').spincrement(spin_common_rule);
                $('#cu-a1').spincrement(spin_common_rule);
                $('#cu-a2').spincrement(spin_common_rule);
                $('#cu-b0').spincrement(spin_common_rule);
                $('#cu-b1').spincrement(spin_common_rule);
                $('#cu-c0').spincrement(spin_common_rule);
                spin_lock = true;
            }
        });

        $(".slide_viewer").hover(function () {
                $('#arrow_box_left').css("background-color", "#333");
                $('#arrow_box_right').css("background-color", "#333");
            },
            function () {
                $('#arrow_box_left').css("background-color", "");
                $('#arrow_box_right').css("background-color", "");
            });

        $('.kr01-arrow').keydown(function (e) {
            console.log(e.keyCode);
            $.browser.chrome = /chrom(e|ium)/.test(navigator.userAgent.toLowerCase());

            if ((e.keyCode === 13 || e.keyCode === 32) && $.browser.chrome) {
                $('#middle_list_link').click();
            }
        });

        $('#middle_list_link').click(function (e) {
            e.preventDefault();
            if ($('#middle_list').is(':visible') == false) {
                $('#middle_list').css({'display': 'inline-block'});
                $('.kr01-arrow').addClass('active');
                $('.kr01-arrow').text('▲');
                $('#arrow_open').text(gettext('Contract'));
            } else {
                $('#middle_list').hide();
                $('.kr01-arrow').removeClass('active');
                $('.kr01-arrow').text('▼');
                $('#arrow_open').text(gettext('Expand'));
            }
        });
    });

    function popClose(id) {
        $("#" + id).hide();
    }


    function setCookie(name, value, expiredays) {
        var todayDate = new Date();
        if (expiredays == '0') {
            expiredays = '999';
        }
        todayDate.setDate(todayDate.getDate() + Number(expiredays));
        document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";"
    }


    function closeWin(check, id, hidden_day) {
        /*
        if ($("#" + check).is(":checked")){
            setCookie( id , "done" , hidden_day);
        }
         */

        setCookie(id, "done", hidden_day);

        $("#" + id).css("display", "none");
    }

    cookiedata = document.cookie;
    
    $("#layerPopupArea .pop_content").each(function () {
        var content_id = $(this).attr("id");
        $("#" + content_id).html($("#" + content_id).text());
    });
    
    var leng = '${max_pop}';
    leng = Number(leng);
    for (var i = 1; i <= leng; i++) {
        if (cookiedata.indexOf(i + "=done") < 0) {
            $("#" + i).show();
        } else {
            $("#" + i).hide();
        }
    }


    function setCookie1(name, value, expiredays) {
        console.log('1')
        var todayDate = new Date();
        console.log('2')
        todayDate.setDate(todayDate.getDate() + parseInt(expiredays));
        console.log('3')
        document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";"
    }

    cookiedata = document.cookie;

    function change_course(type) {
        $('#section_home.owl-carousel').trigger('stop.owl.autoplay');

        // 강좌 탭
        $(".tab-group>li>a").removeClass("active");

        // 강좌 목록
        $("#sections>div").hide();

        switch (type) {
            case "home":
                $("#section_home").show();
                $("#hack_home").addClass("active");

                setTimeout(function () {
                    $('#section_home.owl-carousel').trigger('play.owl.autoplay', [10000]);
                }, 500);

                break;
            case "pop":
                $("#section_pop").show();
                $("#hack_pop").addClass("active");
                break;
            case "new":
                $("#section_new").show();
                $("#hack_new").addClass("active");
                break;
            case "today":
                $("#section_today").show();
                $("#hack_today").addClass("active");
                break;
            case "my":
                $("#section_my").show();
                $("#hack_my").addClass("active");
                break;

        }
    }

    /*
    $(document).on("keyup", ".csp", function (event) {

        console.log(event.keyCode)

        let change_type = String($(this).attr("id")).split("_")

        console.log(change_type)

        if(event.keyCode == 13){
            if(change_type[1] == 'pop'){
                change_course('pop')
            }else if(change_type[1] == 'new'){
                change_course('new')
            }else if(change_type[1] == 'today'){
                change_course('today')
            }else if(change_type[1] == 'my'){
                change_course('my')
            }
        }
    })
     */
</script>

%if request.user.id and not request.user.is_active:
<script>
    setTimeout(function () {
        alert('${_("Since we sent an email to activate your account, please log back in to your site via your account activation email.. Click OK button to log out automatically.")}');
        document.location.href = "/logout";
    }, 500);
</script>
%endif


<style>

    .home > header .outer-wrapper {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 100px 0 0 0;
    }

    .course-search {
        width: 300px;
        float: right;
        margin-right: 30px;
    }

    .more {
        color: #222 !important;
        text-decoration: none !important
    }

    .quick-link > li > a {
        color: #222 !important;
    }

    .classify-item {
        color: #222 !important;
    }

    .link {
        color: #222 !important;
    }

    .instructor {
        color: #222 !important;
    }

    .course-item {
        text-decoration: none !important
    }

    .el-xbox > a {
        text-decoration: none !important
    }

    .el-xbox {
        padding-top: 12px;
        padding-bottom: 12px;
        transition: 0.3s;
    }

    .course-title {
        font-family: 'Noto Sans KR' !important;
    }

    .sub-title {
        font-family: 'Noto Sans KR' !important;
    }

    .csp {
        cursor: pointer;
    }

    .course-item {
        display: block;
    }

</style>
<main id="main" aria-label="Content" tabindex="-1" class="main-content">

    <!-- 배너자리 -->
    <div class="sec-visual" style="margin: 5px 0;">
        <div class="container-fluid">
            <div class="visual-row">
                <a href="/banner" target="_blank"><img src="${STATIC_URL}images/banner1.png" alt="위대한수업 바로가기"
                                                       style="width: 100%"></a>
            </div>
        </div>
    </div>
    <!-- //배너자리 -->

    <section class="sec-visual about">
        <div class="container-fluid">
            <div class="visual-row">
                <div class="visual-col txt">
                    <h1 class="title" style="text-align: left; color: #222;">${_("About K-MOOC")}</h1>
                    % if LANGUAGE_CODE == 'ko-kr':
                    <p class="content" style="color: #222;">K-MOOC는 온라인을 통해서<br>누구나, 어디서나 원하는 강좌를 무료로 들을 수 있는<br>온라인
                        공개강좌 서비스로 2015년에 시작된<br>한국형 무크입니다.</p>
                    % else:
                    <p class="content" style="color: #222;">K-MOOC is a Korean MOOC established in 2015<br>as an open
                        online service to provide free courses<br>to anyone, anywhere.</p>
                    % endif
                    <a href="/about_intro" class="more" title="K-MOOC 소개 더 보기">more</a>
                </div>
                <div class="visual-col img"></div>
            </div>
        </div>
    </section>
    <section class="sec-visual lec">
        <div class="container-fluid">
            <div class="visual-row">
                <div class="visual-col img"></div>
                <div class="visual-col txt link_to_courses">
                    <h1 class="title" style="text-align: left; color: #222;">${_("Courses")}</h1>
                    <p class="content" style="color: #222;">${_("Achieve your goals with a variety of K-MOOC courses.")}</p>
                    <ul class="quick-link">
                        <li>
                            <a href="/courses">${_("Departmental Courses")}</a>
                        </li>
                        <li>
                            <a href="/series/">${_("Series Course")}</a>
                        </li>

                        <li>
                            <a target="_blank" href="https://cb.kmooc.kr/search">${_("Academic Credit Bank System")}</a>
                        </li>
                    </ul>
                    <a href="/courses" class="more" title="강좌찾기 더 보기">more</a>
                </div>
            </div>
        </div>
    </section>
    <section class="sec-classify">
        <div class="container-fluid">

            <div class="row link_to_courses">
                <div class="col-sm-4 col-md-4 col-lg-2 el-xbox">
                    <a data-facet="liberal_arts_yn" data-term="liberal_arts_y" href="#" class="classify-item2 inject-h">
                        <strong>${_("on TV")}</strong>
                        <span>${_("Great Minds")}</span>
                        <span>${_("Life Lessons")}</span>
                    </a>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 el-xbox">
                    <a data-facet="fourth_industry_yn" data-term="fourth_industry_y" href="#" class="classify-item2 inject-h"><strong>${_("Fourth Industry")}</strong></a>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 el-xbox">
                    <a href="/roadmap" class="classify-item2 inject-h"><strong>${_("Artificial intelligence")}</strong></a>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 el-xbox">
                <a data-facet="basic_science_sec_yn" data-term="basic_science_sec_y" href="#" class="classify-item2 inject-h"><strong>${_("Basic Science")}</strong></a>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 el-xbox">
                    <a data-facet="linguistics" data-term="Korean" href="#" class="classify-item2 inject-h"><strong>${_("Linguistics")}</strong></a>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 el-xbox">
                    <a data-facet="job_edu_yn" data-term="job_edu_y" href="#" class="classify-item2 inject-h"><strong>${_("Job Edu")}</strong></a>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 el-xbox">
                    <a href="/age_specific/course/" class="classify-item2 inject-h"><strong>${_("Age-specific")}</strong></a>
                </div>
            </div>


        </div>
    </section>

    <!-- 강좌 노출 영역 -->
    <section class="sec-course">
        <div class="container-fluid">
            <div class="course-top">
                <h1 class="title">${_("How about this lecture?")}</h1>
                <ul class="tab-group">
                    <!--
                    <li>
                        <a href="#" onclick="change_course('home'); return false;" id="hack_home"
                           class="csp tab active">${_("Home Courses")}</a>
                    </li>
                    -->
                    <li>
                        <a href="#" onclick="change_course('pop'); return false;" id="hack_pop" class="csp tab">${_("Popular Courses")}</a>
                    </li>
                    <li>
                        <a href="#" onclick="change_course('new'); return false;" id="hack_new" class="csp tab">${_("New Courses")}</a>
                    </li>
                    <li>
                        <a href="#" onclick="change_course('today'); return false;" id="hack_today" class="csp tab">${_("Today Courses")}</a>
                    </li>
                    % if user.is_authenticated:
                    <li>
                        <a href="#" onclick="change_course('my'); return false;" id="hack_my" class="csp tab">${_("My Courses")}</a>
                    </li>
                    % endif
                </ul>
            </div>

            <div style="width: 100%; text-align: center;">
                <img src="${STATIC_URL}images/spinner.gif" class="loading" alt="Loading"/>
            </div>

            <div id="sections"></div>

        </div>
        <div class="owl-nav" id="section_owl" style="display: none;">
            <button type="button" role="presentation" class="owl-prev disabled">
                <span aria-label="Previous">‹</span>
            </button>
            <button type="button" role="presentation" class="owl-next">
                <span aria-label="Next">›</span>
            </button>
        </div>
        <div class="owl-dots disabled"></div>
    </section>

    % if LANGUAGE_CODE == 'ko-kr':
    <section class="sec-visual com">
        <div class="container-fluid">
            <div class="visual-row">
                <div class="visual-col txt">
                    <h1 class="title" style="text-align: left; color: #222222;">${_("Community")}</h1>
                    <p class="content">${_("K-MOOC News")}</p>
                    <ul class="quick-link">
                        <li>
                            <a href="/comm_list/N/">${_("Notices")}</a>
                        </li>
                        <li>
                            <a href="/comm_list/K/">${_("News")}</a>
                        </li>
                        <li>
                            <a href="/comm_list/R/">${_("Downloads")}</a>
                        </li>
                        <li>
                            <a href="/comm_tabs/kmooc_f/">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="visual-col img"></div>
            </div>
        </div>
    </section>
    % endif

    % if LANGUAGE_CODE == 'ko-kr':
    <section class="sec-number">
        <div class="container-fluid">
            <h1 class="title">숫자로 보는 K-MOOC</h1>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-sm-12 index-bottom">
                    <div class="number-item student">
                        <h2 class="sub-title"><span class="fwb" id="cu-a0" data-from="0" data-to="200">200</span>만명+
                        </h2>
                        <p class="cont">
                            수강 신청자 <span class="fwb" id="cu-a1" data-from="0" data-to="200">200</span>만명 돌파
                            <br>
                            누적 방문자 <span class="fwb" id="cu-a2" data-from="0" data-to="2000">2,000</span>만명 돌파
                        </p>
                        <a href="/register" class="link">회원가입하기</a>
                    </div>
                </div>
                <hr class="main-line">
                <div class="col-sm-4 col-md-4 col-lg-4 col-sm-12 index-bottom">
                    <div class="number-item course">
                        <h2 class="sub-title">무료 강좌 <span class="fwb" id="cu-b0" data-from="0" data-to="900">900</span>개+
                        </h2>
                        <p class="cont">온라인 무료 강좌 <span class="fwb" id="cu-b1" data-from="0" data-to="900">900</span>개
                            돌파</p>
                        <a href="/courses" class="link">전체 강좌 보기</a>
                    </div>
                </div>
                <hr class="main-line">
                <div class="col-sm-4 col-md-4 col-lg-4 col-sm-12 index-bottom">
                    <div class="number-item agency">
                        <h2 class="sub-title">참여기관 <span class="fwb" id="cu-c0" data-from="0" data-to="140">140</span>개+
                        </h2>
                        <p class="cont">대학, 공공기관 및 해외기관</p>
                        <a href="/about_org" class="link">참여기관 모두 보기</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    % else:
    <section class="sec-number">
        <div class="container-fluid">
            <h1 class="title">K-MOOC by the numbers</h1>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-sm-12 index-bottom">
                    <div class="number-item student">
                        <h2 class="sub-title"><span class="fwb" id="cu-a0" data-from="0" data-to="1.6">1.6</span>
                            million</h2>
                        <p class="cont">
                            Applicant <span class="fwb" id="cu-a1" data-from="0" data-to="1.6">1.6</span> million
                            <br>
                            Accumulated visitor <span class="fwb" id="cu-a2" data-from="0" data-to="17">17</span>
                            million
                        </p>
                        <a href="/register" class="link">Register</a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-sm-12 index-bottom">
                    <div class="number-item course">
                        <h2 class="sub-title"><span class="fwb" id="cu-b0" data-from="0" data-to="900">900</span> free
                            courses</h2>
                        <p class="cont">Over <span class="fwb" id="cu-b1" data-from="0" data-to="900">900</span> free
                            courses</p>
                        <a href="/courses" class="link">Explore courses</a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-sm-12 index-bottom">
                    <div class="number-item agency">
                        <h2 class="sub-title"><span class="fwb" id="cu-c0" data-from="0" data-to="140">140</span>
                            participating agencies</h2>
                        <p class="cont">Universities, public institutions and overseas</p>
                        <a href="/about_org" class="link">institutions</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    % endif

</main>


% if show_homepage_promo_video:
<section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
        <iframe title="YouTube Video" width="640" height="360"
                src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0"
                allowfullscreen></iframe>
    </div>
</section>
% endif


<%block name="js_extra">
<script type="text/javascript">
    $(window).load(function () {
        if (getParameterByName('next')) {
            $('#login').trigger("click");
        }
    })
</script>
</%block>


% if show_signup_immediately is not UNDEFINED:
<script type="text/javascript">
    $(window).load(function () {
        $('#signup_action').trigger("click");
    });
</script>
% endif
