<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from microsite_configuration import microsite
from openedx.core.djangolib.markup import HTML, Text
%>

<%block name="pagetitle">
${("")}
</%block>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">

<style>
/* style.css s */
/*@import url(./reset.css);
@import url(./slick.css); */
/* clearFix */
.clear-fix::after {
  content: "";
  display: block;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.inner {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
  box-sizing: border-box;
  ## overflow-x: hidden;
}

.d-pc {
  display: block;
}

.d-mobile {
  display: none;
}

html {
  font-size: 20px;
}

## section {
##   overflow-x: hidden;
## }

/*hidden 으로 할 경우 상단메뉴 스크롤바 생김*/
section {
  overflow-x: visible;
}

.rec_sec01 {
  background: #2b86ff;
  color: #fff;
  text-align: center;
}

.rec_sec01 .inner {
  position: relative;
  padding: 0;
}
.rec_sec01 .inner .sec01_bg {
  display: block;
  height: 1200px;
}
.rec_sec01 .inner .itemWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.rec_sec01 h1 {
  font-size: 5.5rem;
  line-height: 6.5rem;
  font-weight: 900;
  letter-spacing: -0.025em;
}
.rec_sec01 h2 {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.rec_sec01 h2 span {
  color: #ffe01a;
}
.rec_sec01 img {
  width: 100%;
}
.rec_sec01 .img-tit {
  width: 100%;
}
.rec_sec01 .subLink img {
  width: 100%;
}

.subLink {
  letter-spacing: -0.025em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 90%;
  border-radius: 5rem;
  text-align: center;
  font-size: 2.6rem;
  font-weight: bold;
  text-decoration: none;
}
/*src="${STATIC_URL}/images/invitation220830/
url('${STATIC_URL}/images/invitation_images2/next.png'  ) */

.subLink i {
  width: 2.8rem;
  height: 2.8rem;
  background: url('${STATIC_URL}/images/invitation220830/btn_arr.png') center/contain no-repeat;
  margin-left: 1.3rem;
}
.subLink.subLink_w {
  background: transparent;
  color: white;
  margin-top: 65px;
}
.subLink.subLink_w i {
  background-image: url('${STATIC_URL}/images/invitation220830/btn_arr_w.png');
}
.subLink.subLink_b {
  color: white;
}
.subLink.subLink_b i {
  background-image: url('${STATIC_URL}/images/invitation220830/btn_arr_w.png');
}

.rec_sec02 {
  background: #000;
  color: white;
  text-align: center;
}
.rec_sec02 h1 {
  font-size: 4rem;
  font-weight: 900;
}
.rec_sec02 h2 {
  font-size: 3rem;
  font-weight: 500;
}
.rec_sec02 img {
  width: 100%;
}

.rec_sec02 .inner{
  overflow-x: hidden;
}

.rec_sec03 {
  background: #000;
  padding-bottom: 8rem;
  color: white;
  text-align: center;
}
.rec_sec03 h1 {
  font-size: 4rem;
  font-weight: 900;
}
.rec_sec03 h2 {
  font-size: 3rem;
  font-weight: 500;
}
.rec_sec03 img {
  width: 100%;
}
.rec_sec03 ul {
  margin-top: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rec_sec03 ul li {
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  border: 1px solid #2b86ff;
  color: #2b86ff;
  border-radius: 5rem;
  margin: 0.4rem;
}
.rec_sec03 .cardWrap {
  position: relative;
}
.rec_sec03 .cardWrap .slick-list {
  overflow: visible;
}
.rec_sec03 .cardWrap .slick-slide {
  box-sizing: border-box;
  max-width: 660px;
  width: 60vw;
  display: flex;
  justify-content: center;
}
.rec_sec03 .cardWrap .slick-slide img {
  width: 50vw;
  max-width: 550px;
}
.rec_sec03 .cardWrap .slick-arrow {
  position: absolute;
  max-width: 2.2rem;
  width: 4vw;
  height: 0;
  padding-top: 9%;
  background: url('${STATIC_URL}/images/invitation220830/slideArr.png') center/contain no-repeat;
  border: 0;
  top: 39%;
  text-indent: -9999px;
  z-index: 1;
}
.rec_sec03 .cardWrap .slick-arrow.slick-prev {
    top: 265px;
  left: 3%;
    outline: none;
}
.rec_sec03 .cardWrap .slick-arrow.slick-next {
    top: 230px;
  right: 3%;
  transform: rotate(180deg);
     outline: none;
}
.rec_sec03 .cardWrap .slick-arrow.slick-next:hover,
.rec_sec03 .cardWrap .slick-arrow.slick-next:focus,
.rec_sec03 .cardWrap .slick-arrow.slick-prev:hover,
.rec_sec03 .cardWrap .slick-arrow.slick-prev:focus {
    opacity: 1;
    box-shadow: none;
    outline: none !important;
}

/* slick-next s*/
/*.cardWrap .slides img {
    width: 100%;
}
.cardWrap .slick-next:before, .cardWrap .slick-prev:before {
    content: '';
}
.cardWrap .slick-next, .cardWrap .slick-prev {
    opacity: 0.8;
    width: 4%;
    height: 6%;
    z-index: 20;
}
*/


.cardWrap .slick-next {
    opacity: 1;
    background: url('${STATIC_URL}/images/invitation220830/next.png') no-repeat center / contain;
    box-shadow: none;
}
.cardWrap .slick-prev {
    opacity: 1;
    background: url('${STATIC_URL}/images/invitation220830/prev.png') no-repeat center / contain;
    box-shadow: none;
}
/* slick-next e */

/*slick dots s*/
.slick-dots {
    bottom: -45px;
    padding: 0 !important;
}
.slick-dots li button {
    box-shadow: none;
}
.rec_sec02 .slick-dots li button:hover {
    background: none;
    content: none !important;
    opacity: 1;
    box-shadow: none; !important;
    outline: none !important;
}

.rec_sec02 .slick-dots li button:before {
    content: none !important;
    opacity: 1;
    box-shadow: none; !important;
    outline: none !important;
}
/*slck dots e*/

.rec_sec03 .cardWrap .slick-dots {
  margin-top: 0;
  padding-bottom: 10%;
  padding-top: 6%;
    content: none !important;
    opacity: 1;
    box-shadow: none; !important;
    outline: none !important;
}
.rec_sec03 .cardWrap .slick-dots li {
  max-width: 1rem;
  max-height: 1rem;
  width: 2vw;
  height: 2vw;
  border-radius: 1rem;
  background: white;
  border: 0;
  text-indent: -9999px;
  padding: 0;
  content: none !important;
  opacity: 1;
  box-shadow: none; !important;
  outline: none !important;
}
.rec_sec03 .cardWrap .slick-dots li.slick-active {
  max-width: 4rem;
  width: 10vw;
  background-color: #ffcc00;
}

.rec_sec04 {
  background: #195fff;
  text-align: center;
  color: white;
}
.rec_sec04 .inner {
  padding: 0;
}
.rec_sec04 h1 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 4.2rem;
}
.rec_sec04 h1 span {
  color: #f7ff24;
}
.rec_sec04 img {
  display: block;
  width: 100%;
}
.rec_sec04 .btn03 {
  display: block;
}
.rec_sec04 hr {
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 0;
  border: 0;
  margin-bottom: 6rem;
}
.rec_sec04 .imgWrap {
  background: url('${STATIC_URL}/images/invitation220830/bg_02.png') center 55%/130% no-repeat;
  padding: 0 160px;
  margin-left: -160px;
  margin-right: -160px;
}

@media screen and (max-width: 770px) {
  .rec_sec03 {
    padding-bottom: 10%;
  }
  .rec_sec03 .cardWrap .slick-arrow.slick-prev {
    left: 17vw;
      top: 150px;
      right: 3%;
  }
  .rec_sec03 .cardWrap .slick-arrow.slick-next {
    right: 17vw;
      top: 130px;
  }
  .rec_sec01 .inner .sec01_bg {
    display: block;
    height: 150vw;
}


}


/* style.css e */

## /* slick.css s*/
/*기존과 충돌해 삭제*/
## /* slick.css e*/


/* reset.css s*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	## vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
	letter-spacing: -0.05em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Reset End */
/* reset.css e*/

.invitation_btn {
    cursor: pointer;
}

/*브로슈어 */
.invitation_brochure_popup_bg .invitation_brochure_popup {
    position: relative;
    width: 70%;
    max-width: 1180px;
    height: 100%;
    max-height: 880px;
    margin: 20px auto;
    overflow: auto;
}
.brochure_prev, .brochure_next {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    cursor: pointer;
    z-index: 100;
}
.brochure_next {
    left: 50%;
}
.brochure_item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}
.brochure_item img {
    display: inline-block;
    width: calc(50% - 4px);
    margin: 0 2px;
}
.brochure_item.brochure01 {
    display: flex;
}
.brochure_item .brochure_guide {
    position: absolute;
    bottom: -31px;
    right: 0;
    padding: 3px 5px;
    background: rgba(250,250,250,.6);
    font-size: 18px;
    font-weight: bold;
}

.invitation_wrap .invitation_brochure_popup_bg  {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 10000;
    overflow: auto;
}
/*invitation_popup_bg -> popWrap 변경*/
.invitation_wrap .popWrap_bg {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 10000;
    overflow: auto;
}

.invitation_wrap .popWrap {
    position: fixed;
    display: block;
    margin: 0 auto;
    top: 20%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
    /* z-index: 10000; */
    overflow: auto;
    ## width: 100%;
    ## height: 100%; /* 불투명 백그라운드 */
}

.invitation_wrap .popWrap {
    position: fixed;
    display: block;
    max-width: 516px;
    width: 90%;
    height: 612px;
    padding-top: 150px;
    box-sizing: border-box;
    margin: 0 auto;
    /* 구독권 만료시 pop_bg_if_end.png, 일반 신청 시기에는 pop_bg.png 사용 */
    background: url('${STATIC_URL}/images/invitation_images2/pop_bg_if_end.png') center/cover no-repeat;
    /* background: url('${STATIC_URL}/images/invitation_images2/thumbnail_pop_bg_230119.png') center/cover no-repeat; */
    background-size: 100% 100%;
}


.invitation_wrap .popWrap .invitation_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: 14px;
    transform: translate(-50%, -50%);
}
.invitation_wrap .popWrap .invitation_popup .invitation_inputboxes {
    padding: 40px 0 18px;
    text-align: center;
}
.invitation_wrap .popWrap .invitation_popup .input_style {
    position: relative;
    margin-bottom: 17px;
}
.invitation_wrap .popWrap .invitation_popup .input_style input, .invitation_wrap .popWrap .invitation_popup .input_job select {
    position: absolute;
    left: 36.5%;
    top: 10%;
    width: 43%;
    padding: 5px;
    font-size: 1.2em;
    border: none;
    background: transparent;
}
.invitation_wrap .popWrap .invitation_popup .input_job select {
    left: 35.5%;
    width: 47%;
    border: 2px solid #dcdcdc;
    border-radius: 3px;
}
.invitation_wrap .popWrap .invitation_popup .input_job.active select {
    top: -8%;
}
.invitation_wrap .popWrap .invitation_popup .input_job input {
    display: none;
}
.invitation_wrap .popWrap .invitation_popup .input_job.active input {
    display: block;
    top: auto;
    bottom: 13%;
    margin: 0;
}
.invitation_wrap .popWrap .invitation_popup .input_job.active .input_job_etc_on, .invitation_wrap .popWrap .invitation_popup .input_job .input_job_etc_off {
    display: inline-block;
}
.invitation_wrap .popWrap .invitation_popup .input_job.active .input_job_etc_off, .invitation_wrap .popWrap .invitation_popup .input_job .input_job_etc_on {
    display: none;
}
    /* 브로슈어 e*/

/* 신청폼 s*/
.invitation_wrap .popWrap .invitation_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: 14px;
    transform: translate(-50%, -50%);
}
.invitation_wrap .popWrap .invitation_popup .invitation_inputboxes {
    padding: 40px 0 18px;
    text-align: center;
}
.invitation_wrap .popWrap .invitation_popup .input_style {
    position: relative;
    margin-bottom: 17px;
}
.invitation_wrap .popWrap .invitation_popup .input_style input, .invitation_wrap .popWrap .invitation_popup .input_job select {
    position: absolute;
    left: 36.5%;
    top: 10%;
    width: 43%;
    padding: 5px;
    font-size: 1.2em;
    border: none;
    background: transparent;
}
.invitation_wrap .popWrap .invitation_popup .input_job select {
    left: 35.5%;
    width: 47%;
    border: 2px solid #dcdcdc;
    border-radius: 3px;
}
.invitation_wrap .popWrap .invitation_popup .input_job.active select {
    top: -8%;
}
.invitation_wrap .popWrap .invitation_popup .input_job input {
    display: none;
}
.invitation_wrap .popWrap .invitation_popup .input_job.active input {
    display: block;
    top: auto;
    bottom: 13%;
    margin: 0;
}
.invitation_wrap .popWrap .invitation_popup .input_job.active .input_job_etc_on, .invitation_wrap .popWrap .invitation_popup .input_job .input_job_etc_off {
    display: inline-block;
}
.invitation_wrap .popWrap .invitation_popup .input_job.active .input_job_etc_off, .invitation_wrap .popWrap .invitation_popup .input_job .input_job_etc_on {
    display: none;
}


.banner2_error_msg {
    display: block;
    text-align: left;
    font-size: 13px;
    color: red;
    padding-left: 100px;
    padding-top: 3px;

}
.chkbox_wrap {
    /* position: absolute;
    top: 78%;
    left: 50%;
    transform: translateX(-50%); */
    width: 50%;
    margin: 0 auto;
}
/* .chkbox_off {width: 99%} */
.chkbox_label input, .chkbox_label [type=checkbox] ~.chkbox_on, .chkbox_label [type=checkbox]:checked ~.chkbox_off {
    display: none;
    cursor: pointer;
    width: 100%;
}
.chkbox_label [type=checkbox]:checked ~.chkbox_on, .chkbox_label [type=checkbox] ~.chkbox_off {
    display: block;
    cursor: pointer;
    width: 100%;
}

.invitation_submit {
   /* position: absolute;
    top: 84%;
    left: 50%;
    transform: translateX(-50%); */
    display: block;
    margin: 15px auto 43px;
    border: none;
    background: none;
    cursor: pointer;
    box-shadow: none;
   /* position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: url('${STATIC_URL}/images/invitation_images2/btn.png') center/cover no-repeat; */
}

button:hover:not(:disabled),
button:active:not(:disabled),
button.invitation_submit:focus:not(:disabled){
    background: none;
    box-shadow: none;
    outline: none!important;
}

/*신청폼 e*/

/* 유 form s */
## .popWrap {
##     display: none;
##     width: 516px;
##     height: 612px;
##     padding-top: 150px;
##     box-sizing: border-box;
##     margin: 0 auto;
##     background: url('${STATIC_URL}/images/invitation_images2/pop_bg.png') center/cover no-repeat;
##     position: relative;
##     /*position: fixed; */
##     z-index: 10000;
##     overflow: auto;
## }

.formWrap {
    margin: 0 auto;
    width: 372px;
}


.formWrap .inputWrap {
    /* display: flex; */
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.formWrap .inputWrap + .inputWrap {
    margin-top: 20px;
}

.formWrap .inputWrap .input_style .banner2_error_msg{
    position: relative;

}

.formWrap select,
.formWrap input {
    height: 40px;
    background: white;
    border-radius: 20px;
    border: 0;
    outline: 0;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    width: 260px;
    display: inline-block;
    appearance: none;
    position: relative;
}

.formWrap select {
    padding-right: 50px;
    background: white url('${STATIC_URL}/images/invitation_images2/select_arr.png') right 20px center no-repeat;
}

.agree {
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: 45px;
    color: white;
    font-family: sans-serif;
}

.agree input {
    display: none;
}

.agree span {
    position: relative;
    padding-left: 32px;
}

.agree span i {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background: url('${STATIC_URL}/images/invitation_images2/check_off.png') left center no-repeat;
}

.agree input:checked + span i {
    background: url('${STATIC_URL}/images/invitation_images2/check_on.png') left center no-repeat;
}

.invitation_submit {
    position: absolute;
    left: -39px;
    right: 0;
    bottom: -38px;
    width: 100%;
    height: 80px;
   /* background: url('${STATIC_URL}/images/invitation_images2/btn.png') center/cover no-repeat; */
}


/*유 form e*/
#input_email, #input_name, #input_phone, #id_job, #input_purpose {
    left: 4%;
}

.popWrap .input_style {
    position: relative;
    margin-bottom: 17px;
}
.popWrap .input_style input, .invitation_popup .input_job select {
    position: absolute;
    left: 36.5%;
    top: 10%;
    width: 43%;
    padding: 5px;
    font-size: 1.2em;
    border: none;
    background: transparent;
}

.popWrap .popup_apply_btn_wrapper {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.popWrap .popup_apply_btn_wrapper > button {
    position: static;
    width: 50%;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    box-shadow: none;
}

@media all and (max-width: 1024px) {
.popWrap .popup_apply_btn_wrapper > button {
    height: 50px;
}
}

.popWrap .popup_apply_btn_wrapper > button > img {
    width: 100%;
    height: 100%;
}

/* 22.11.16 - 상세보기 팝업 소스 수정 시작 */
.popupDetail {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 430px;
    height: 430px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.popupDetail div.title {
    box-sizing: border-box;
    padding-left: 20px;
    background-color: #0036ce;
    font-size: 0;
}

.popupDetail div.title:after {
    display: block;
    content: '';
    clear: both;
}

.popupDetail div.title strong {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 60px;
}

.popupDetail div.title button.close {
    float: right;
    width: 55px;
    height: 60px;
    background: url('${STATIC_URL}/images/invitation_images2/icon_close.png') no-repeat center;
    background-size: auto;
    border: none;
    box-shadow: none;
}

.popupDetail div.title button.close:focus {
    text-shadow: none;
    box-shadow: none;
}

.popupDetail div.content {
    box-sizing: border-box;
    padding: 30px;
    width:;
}

.popupDetail div.content p.text {
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 24px;
    color: #333;
    word-break: keep-all;
}

.popupDetail div.content div.contentInner {
    box-sizing: border-box;
    padding: 20px;
    background-color: #e3f0fc;

}

.popupDetail div.content div.contentInner strong {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    color: #0036ce;
    line-height: 24px;
    word-break: keep-all;

}

.popupDetail div.content div.contentInner ul li {
    position: relative;
    padding-left: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #333;
    word-break: keep-all;
    letter-spacing: -1px;

}

.popupDetail div.content div.contentInner ul li:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    display: block;
    width: 3px;
    height: 3px;
    background-color: #333;
}

/* 22.11.16 - 상세보기 팝업 소스 수정 끝 */

.btn_popup_detail {
    vertical-align: middle;
}

.btn_popup_detail:hover,
.btn_popup_detail:focus {
    background-color: #002c90 !important;
}



</style>
<!--   <img src="${STATIC_URL}/images/invitation220830/event1.png" alt="K-mook 글로벌 강좌 초대장 내 미래를 바꿔줄 특별한 강의"/> -->

## % if user.is_authenticated:
##         <div class="invitation_btn invitation_enroll" onclick="onShowEvent()">
##             <img src="${STATIC_URL}/images/invitation_images2/enroll_btn.png" alt="구독권 신청"/>
##         </div>
## % else:
## <!--    로그인이 필요합니다. 로그인 페이지로 리다이렉트 window.location.href = "/login"; -->
##         <div class="invitation_btn invitation_enroll" onclick="onDirection()">
##             <img src="${STATIC_URL}/images/invitation_images2/enroll_btn.png" alt="구독권 신청"/>
##         </div>
## % endif
<!-- banner start-->
<body>
<div class="invitation_wrap">
<section class="rec_sec01">
    <div class="inner">
        <img class="sec01_bg" src="${STATIC_URL}/images/invitation220830/bg_visual_01_2.gif" alt="bg_visual_01">
        <div class="itemWrap">
            <img src="${STATIC_URL}/images/invitation220830/sec01_item.png" alt="sec01_item">
            % if user.is_authenticated:
                <div class="invitation_btn invitation_enroll" onclick="onShowEvent()">
                            <img src="${STATIC_URL}/images/invitation220830/btn_01.png" alt="btn_01">
                </div>
            % else:
                <!--    로그인이 필요합니다. 로그인 페이지로 리다이렉트 window.location.href = "/login"; -->
                <div class="invitation_btn invitation_enroll" onclick="onDirection()">
                    <img src="${STATIC_URL}/images/invitation220830/btn_01.png" alt="btn_01">
                </div>
            % endif
        </div>
    </div>
</section>

<section class="rec_sec02 rec_sec03">
    <div class="inner">
        <img src="${STATIC_URL}/images/invitation220830/sec_02.png" alt="sec_02">

        <div class="cardWrap">
            <div>
                <img src="${STATIC_URL}/images/invitation220830/001.gif" alt="001">
            </div>
            <div>
                <img src="${STATIC_URL}/images/invitation220830/002.gif" alt="002">
            </div>
            <div>
                <img src="${STATIC_URL}/images/invitation220830/003.gif" alt="003">
            </div>
            <div>
                <img src="${STATIC_URL}/images/invitation220830/004.gif" alt="004">
            </div>
            <div>
                <img src="${STATIC_URL}/images/invitation220830/005.gif" alt="005">
            </div>
        </div>

<!-- 브로슈어 -->
        <div class="subLink subLink_w invitation_btn invitation_brochure" onclick="onShowBrochure()">
            <img src="${STATIC_URL}/images/invitation220830/btn_02.png" alt="btn_02">
        </div>

    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.cardWrap').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                dots: true,
                centerMode: true,
                variableWidth: true,
            });
        });
    </script>
</section>

<section class="rec_sec04">
    <div class="inner">
        <div class="imgWrap">
            <img src="${STATIC_URL}/images/invitation220830/sec_03_2.png" alt="sec_03">
            <!-- <img src="./img/bg_02.png" alt="bg_02"> -->
        </div>
    <!--  <a class="btn03" href="#"><img src="${STATIC_URL}/images/invitation220830/btn_03.png" alt="btn_03"></a> -->

        % if user.is_authenticated:
            <div class="invitation_btn invitation_enroll" onclick="onShowEvent()">
                 <img src="${STATIC_URL}/images/invitation220830/btn_03.png" alt="btn_03">
            </div>
        % else:
            <!--    로그인이 필요합니다. 로그인 페이지로 리다이렉트 window.location.href = "/login"; -->
            <div class="invitation_btn invitation_enroll" onclick="onDirection()">
                <img src="${STATIC_URL}/images/invitation220830/btn_03.png" alt="btn_03">
            </div>
        % endif

        <img src="${STATIC_URL}/images/invitation220830/sec_04.png" alt="sec_04">
    </div>
</section>

<!-- 브로슈어 s-->
<div class="invitation_brochure_popup_bg">
    <div class="invitation_brochure_popup">
        <div class="brochure_prev" onclick="onChangeBrochure('prev')">
        </div>
        <div class="brochure_next" onclick="onChangeBrochure('next')">
        </div>
        <div class="brochure_item brochure01">
            <img src="${STATIC_URL}/images/invitation_images2/brochure01.jpg" alt="브로슈어 01장">
            <img src="${STATIC_URL}/images/invitation_images2/brochure02.jpg" alt="브로슈어 02장">
            <span class="brochure_guide">넘기려면 페이지를 클릭하세요</span>
        </div>
        <div class="brochure_item brochure02">
            <img src="${STATIC_URL}/images/invitation_images2/brochure03.jpg" alt="브로슈어 03장">
            <img src="${STATIC_URL}/images/invitation_images2/brochure04.jpg" alt="브로슈어 04장">
            <span class="brochure_guide">넘기려면 페이지를 클릭하세요</span>
        </div>
        <div class="brochure_item brochure03">
            <img src="${STATIC_URL}/images/invitation_images2/brochure05.jpg" alt="브로슈어 05장">
            <img src="${STATIC_URL}/images/invitation_images2/brochure06.jpg" alt="브로슈어 06장">
            <span class="brochure_guide">넘기려면 페이지를 클릭하세요</span>
        </div>
        <div class="brochure_item brochure04">
            <img src="${STATIC_URL}/images/invitation_images2/brochure07.jpg" alt="브로슈어 07장">
            <img src="${STATIC_URL}/images/invitation_images2/brochure08.jpg" alt="브로슈어 08장">
            <span class="brochure_guide">마지막 페이지입니다. 클릭시 첫페이지로 이동합니다.</span>
        </div>
    </div>
</div>
<!-- 브로슈어 e-->


<!-- 신청 form s-->
<div class="popWrap_bg">
<div class="popWrap"> <!-- invitation_popup_bg onsubmit="return false"-->
    <form method="post" action="/invitation-confirm" onsubmit="return submitForm()">
            <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
            <input type="hidden" id="user_id" name="user_id">
            <input type="hidden" id="org" name="org" value="coursera">
        <div class="formWrap"> <!-- invitaiton_popup -->

                <div class="inputWrap"> <!-- invitation_inputboxes -->
                    <img src="${STATIC_URL}/images/invitation_images2/input1.png" alt="성함">
                    <!-- TODO: 이름 부분 id: input_name -->
                    <input type="text" id="input_name" name="username" title="성함" maxlength="20" readonly
                           onchange="onChangeInputValue()"/>
                    <span id="name_error" class="banner2_error_msg"></span>
                </div>

                <div class="inputWrap input_phone">

                    <img src="${STATIC_URL}/images/invitation_images2/input2.png" alt="연락처">
                    <!-- TODO: 연락처 부분 id: input_phone -->
                    <input type="text" id="input_phone" name="phone" title="연락처" maxlength="11" placeholder="숫자만 입력하세요"
                           onchange="onChangeInputValue()"/>
                    <span id="phone_error" class="banner2_error_msg"></span>

                </div>

                <div class="inputWrap input_email">
                    <img src="${STATIC_URL}/images/invitation_images2/input3.png" alt="이메일">
                    <!-- TODO: 이메일 부분 id: input_email -->
                    <input type="text" id="input_email" name="email" title="이메일" maxlength="40" readonly
                           onchange="onChangeInputValue()"/>
                    <span id="email_error" class="banner2_error_msg"></span>
                </div>

                <div class="inputWrap input_job">
                    <img src="${STATIC_URL}/images/invitation_images2/input4.png" class="input_job_etc_off" alt="직업">

                    <select name="job" id="id_job">
                        <option value="학생">학생</option>
                        <option value="직장인">직장인</option>
                        <option value="교사">교사</option>
                        <option value="공무원">공무원</option>
                        <option value="기타">기타</option>
                    </select>
                </div>

                <div class="inputWrap input_purpose">
                    <img src="${STATIC_URL}/images/invitation_images2/input5.png" alt="신청 목적">
                    <input type="text" class="" id="input_purpose" name="purpose" title="신청 목적" maxlength="50"/>
                </div>
        </div>

            <label class="agree"> <!-- chkbox_wrap --> <!-- label 구조확인 -->
                <input type="checkbox" name="agree" id="id_agree">
                <span><i></i>마케팅 정보 수신에 동의합니다.</span>
                <button type="button" class="btn_popup_detail" onclick="onShowDetail();">내용보기</button>
            </label>

            <!-- <a href="#" class="submit"></a> onclick="onClosePopup();"-->
        <div class="popup_apply_btn_wrapper">
            <button type="button" class="close" onclick="onClosePopup();">
                <img src="${STATIC_URL}/images/invitation_images2/img_popup_cancel.png" alt="취소">
            </button>
            <button class="invitation_submit" type="submit" onclick="submitForm()">
                <img src="${STATIC_URL}/images/invitation_images2/img_popup_apply.png" alt="제출하기"/>
            </button>

        </div>
    </form>
</div>
<div class="popupDetail">
        <div class="title">
            <strong>개인정보 제3자 제공에 대한 별도 동의</strong>
            <button class="close" onclick="onCloseDetail();"></button>
        </div>
        <div class="content">
            <p class="text">별도의 회원가입 없이 K-MOOC 계정으로 강좌를 수강하실 수 있습니다. 이를 위해 아래 내용을 확인해주세요.</p>
            <div class="contentInner">
                <strong>[개인정보 제3자 제공에 대한 별도 동의]</strong>
                <ul>
                    <li>개인정보를 제공받는자 : 웅진씽크빅</li>
                    <li>개인정보를 제공받는자의 개인정보 이용목적 :<br>학습 데이터 관리</li>
                    <li>제공하는 개인정보의 항목 : 성명, 이메일, 전화번호</li>
                    <li> 개인정보를 제공받는자의 개인정보 보유 및 이용 기간 :<br>제공 후 1년</li>
                    <li>동의를 거부할 수 있으며 Udemy, Coursera 서비스를 이용하실 수 없습니다.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 신청 form e-->

<!-- <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->
<!-- <script type="text/javascript" src="./js/slick.min.js"></script> -->
</div>
</body>

<script>
    $(document).ready(function () {
        $('.invitation_slide_wrap').slick({
            slidesToShow: 3,
            centerMode: true,
            infinite: true,
            autoplay: true,
            speed: 600,
            arrows: true,
            dots: true,
            easing: 'easeOutElastic',
            centerPadding: '0',
        });


        // TODO: 로그인 상태일 시 회원정보 (이름, 연락처, 이메일) 자동 입력 부분
        % if user.is_authenticated:
            document.getElementById('input_name').value = '${user.profile.name}';
            document.getElementById('input_phone').value = '';
            document.getElementById('input_email').value = '${user.email}';
        % else:
            document.getElementById('input_name').value = '';
            document.getElementById('input_phone').value = '';
            document.getElementById('input_email').value = '';
        % endif

        % if success:
            alert('구독권 신청이 완료되었습니다!');
            location.href="/invitation-banner";
        % elif fail:
            alert('입력한 값이 올바르지 않습니다.');
            location.href="/invitation-banner";
        % elif duplicate_user:
            alert('이벤트 중복 참여는 불가합니다. ');
            location.href="/invitation-banner";
            //alert('  ');
        % endif

    })


    function onDirection() {
        alert('로그인이 필요합니다.')
        window.location.href = "/login";
    }

    // 이름, 번호, 이멜 유효성 검사
    // 신청 제출하기
    function submitForm() {
        //TODO: 로그인 체크 부분
        //로그인 여부를 체크해 로그인 상태일 때 아래 코드 실행
        //앞단에서 막지만 혹시모를 상황을 대비해 로그인 하지 않으면 제출되지 않도록 처리 필요
        ##  var iagree = document.getElementById("id_agree")
        var num = /^[0-9]+$/;
        var nameRegex = /^[ㄱ-ㅎ|가-힣|a-z|A-Z|]+$/;
        var regex = /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        var regPhone = /^01([0|1|6|7|8|9])-?([0-9]{3,4})-?([0-9]{4})$/;

        if (!regPhone.test(input_phone.value)) {
            alert('연락처를 정확히 입력해 주세요.')
            return false;
        }
        if (!input_phone.value) {
            alert('연락처를 입력해 주세요.')
            return false;
        }
        if (!num.test(input_phone.value)) {
            alert('연락처는 숫자만 입력해 주세요.')
            return false;
        }
        if (input_phone.value.length !== 11) {
            alert('연락처는 11자리 입니다.')
            return false;
        }
        if (!id_agree.checked) {
            alert('마케팅 정보 수신에 동의해 주세요.')
            return false;
        }
        if (!input_purpose.value) {
            alert('신청 목적을 입력해 주세요.')
            return false;
        }
    }

    // 브로슈어 보기
    const brochure = document.querySelector('.invitation_brochure_popup_bg')

    function onShowBrochure() {
        brochure.style.display = 'block';
    }

    brochure.addEventListener('click', (e) => {
        console.log('brochure e.target')
        console.log(e.target)
        console.log('bro e.currenttarget')
        console.log(e.currentTarget)

        if (e.target !== e.currentTarget) return
        console.log('brochure e.target')
        console.log(e.target)
        console.log('bro e.currenttarget')
        console.log(e.currentTarget)

        brochure.style.display = 'none';
    })

    let currentBrochure = 0;

    // 브로슈어 넘기기
    function onChangeBrochure(type) {
        let items = document.querySelectorAll('.brochure_item');
        // console.log(current)
        if (type == 'prev') {
            if (currentBrochure == 0) {
                currentBrochure = items.length - 1;
            } else currentBrochure--;
        } else {
            if (currentBrochure == items.length - 1) {
                currentBrochure = 0;
            } else currentBrochure++;
        }

        let brochurePage = '.brochure0' + (Number(currentBrochure) + 1);
        // console.log(brochurePage)

        let page = document.querySelector(brochurePage)
        for (let i = 0; i < items.length; i++) {
            items[i].style.display = 'none';
        }
        page.style.display = 'flex'
        // console.log(current, page)
    }


    // popup - 기타 직접 입력
    function onChangeJobOpt() {
        return false;
        const job = document.querySelector('.input_job')
        if (input_job.options[input_job.selectedIndex].value.indexOf('기타') !== -1) {
            job.classList.add('active');
            input_job_etc.focus()
        } else job.classList.remove('active')
    }

    // popup 열기 닫기
    const popup = document.querySelector('.popWrap_bg');

    function onShowEvent() {
        popup.style.display = 'block';
    }

    function onClosePopup() {
        popup.style.display = 'none';
    }

    popup.addEventListener('click', (e) => {

        if (e.target !== e.currentTarget) return
        console.log('e.target')
        console.log(e.target)
        console.log('e.currenttarget')
        console.log(e.currentTarget)

        popup.style.display = 'none';
    })

    /* 22.11.16 - 상세보기 팝업 소스 추가 시작 */
    // popup - 내용보기

    const popupDetail = document.querySelector('.popupDetail');

    function onShowDetail() {
        // console.log(popupDetail);
        popupDetail.style.display = 'block';
    }

    function onCloseDetail() {
        // console.log(popupDetail);
        popupDetail.style.display = 'none';
    }


    popupDetail.addEventListener('click', (e) => {

        if (e.target !== e.currentTarget) return

        popupDetail.style.display = 'none';
    })

    /* 22.11.16 - 상세보기 팝업 소스 추가 끝 */
</script>
