<%!
import json
from django.utils.translation import ugettext as _
from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%
course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
% for template_name in ["mobile_course_card", "filter_bar", "filter", "facet", "facet_option"]:
<script type="text/template" id="${template_name}-tpl">
    <%static:include path="discovery/${template_name}.underscore" />
</script>
% endfor
<%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
DiscoveryFactory(
${course_discovery_meanings | n, dump_js_escaped_json},
getParameterByName('search_query')
);
</%static:require_module>
</%block>
% endif

##${course_discovery_enabled}

    % if parameter_json:
        % for key, value in parameter_json.items():
            <input type="hidden" name="default_term" data-key="${key}" data-value="${value}"/>
        % endfor
    % endif

    <h2 title="강좌목록" style="font-size: 1px; margin-bottom: 0px; color: white;">강좌 목록</h2>
    <section class="find-courses">
        <section class="courses-container">
            % if course_discovery_enabled:
            <div class="courses-filter-container">
                <div class="courses-filter" onclick="closeFilter()">
                    <span class="courses-filter-tag">
                        ${_('Refine Your Search')} <i class="fa fa-filter"></i>
                    </span>
                </div>

                <aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu courses-filter-layer">
                    <div class="courses-filter-title">
                        <h2 class="header-search-facets">${_('Refine Your Search')}</h2>
                        <div class="courses-filter-close" onclick="closeFilter()">
                            <i class="fa fa-times"></i>
                        </div>
                    </div>
                    <section class="course-facets-list">
                        <h3 class="header-facet">${_('Opening Status')}</h3>
                        <div id="sel_status">
                            <select style="width:100%" class="course-facets-select" style="margin-bottom: 10px;" title="${_('Opening Status')}" label="${_('Opening Status')}">
                                <option value="">${_('All')}</option>
                                <option value="i">${_('ing')}</option>
                                <option value="t">${_('ready')}</option>
                                <option value="a">${_('end & audit course')}</option>
                                <option value="e">${_('end')}</option>
                            </select>
                        </div>
                    </section>
                    <section class="search-facets-lists">
                    </section>
                    <div onclick="closeFilter()" class="courses-filter-bottom">
                        <span>검색 조건 필터 접기</span>
                    </div>
                </aside>

            </div>
            <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
                <div id="discovery-message" class="search-status-label" title="강좌 갯수"></div>
            </div>

            <div id="filter-bar" class="filters hide-phone is-collapsed">
            </div>
            % endif

            <div class="courses${'' if course_discovery_enabled else ' no-course-discovery'}" role="region" aria-label="${_('List of Courses')}">
                <ul class="courses-listing">
                    %for course in courses:
                    <li class="courses-listing-item">
                        <%include file="mobile_course.html" args="course=course" />
                    </li>
                    %endfor
                </ul>
            </div>
        </section>
    </section>

% if course_discovery_enabled:
<script type="text/javascript">
    $(function () {
        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");
        $(function(){
            if(msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./) || navigator.userAgent.toLowerCase().indexOf('firefox') > -1){
                $('#sel_status').append('<input class="btn" type="button" id="go1" value="이동" title="이동" style="height: 23.22222px;padding-top: 0px;padding-bottom: 0px;">');
            }
        });

        $(document).on('click', '#go1', function(){
            var url= '/courses';
            var list_val = $('.course-facets-select option:selected').val();
            if(list_val){
                url = url + '?range=' + list_val;
                url = url + '&pagepos=l';
                document.location.href = url;
            }else{
                alert('개강상태를 선택하세요.');
            }

        });

        $(".course-facets-select").change(function () {
            var url = '/courses';
            var list_val = $(this).val();
            if (list_val){
                url = url + '?range=' + list_val;
                url = url + '&pagepos=l';
            }
            if(msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./) || navigator.userAgent.toLowerCase().indexOf('firefox') > -1){
            }else{
                location.href = url;
            }
        });

        var p_range = getTermParameter("range");
        console.log(p_range);
        if(p_range != undefined){
            if(p_range == 'i'|| p_range == 'e' || p_range == 't' || p_range == 'a'){
                $(".course-facets-select option[value="+p_range+"]").attr("selected", "selected");
            }
        }

    });

    function closeFilter(){
        if($('.courses-filter-layer').hasClass('active')){
            $('.courses-filter-layer').removeClass('active');
        } else {
            $('.courses-filter-layer').addClass('active');
        }
    }

    var getTermParameter = function (sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    }
</script>
% endif