<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from microsite_configuration import microsite
from openedx.core.djangolib.markup import HTML, Text
%>
<!-- Popup Area
<div id="layerPopupArea" class="layerPopupArea" style="top:110px !important; left:148px !important; position:fixed !important; display: block;">-->
<script language="Javascript">


$( document ).ready(function() {
    $( ".slide_viewer" ).hover(function() {
        $('#arrow_box_left').css("background-color", "#333");
        $('#arrow_box_right').css("background-color", "#333");
    },
    function(){
        $('#arrow_box_left').css("background-color", "");
        $('#arrow_box_right').css("background-color", "");
    });

});

</script>

<!--<script src="${static.url('js/script/index_comm.js')}" charset="utf-8"></script>-->

    <section class="kr01">

        <h1 class="kr01_explain">3개 메뉴</h1>
        <section class="courses-container">
            <section class="highlighted-courses">

                <div class="kr01_fivemenu02 ">
                    <ul class="fivemenarea link_to_courses">
                        <li class="kr01_f01">
                            <div>
                                <a class="fivemenarea-a" href="#" data-facet="fourth_industry_yn" data-term="fourth_industry_y">
                                    <!--<i class="fivemenarea-icon"></i>-->
                                    <span class="fivemenarea-span">4차 산업혁명</span>
                                </a>
                            </div>
                        </li>

                        <li class="kr01_f03">
                            <div>
                                <a class="fivemenarea-a" href="#" data-facet="job_edu_yn" data-term="job_edu_y">
                                    <!--<i class="fivemenarea-icon"></i>-->
                                    <span class="fivemenarea-span">직업교육</span>
                                </a>
                            </div>
                        </li>
                        <li class="kr01_f05">
                            <div>
                                <a class="fivemenarea-a" href="#" data-facet="linguistics" data-term="Y">
                                    <!--<i class="fivemenarea-icon"></i>-->
                                    <span class="fivemenarea-span">한국어(학)</span>
                                </a>
                            </div>
                        </li>
                        <li class="kr01_f05">
                            <div>
                                <a class="fivemenarea-a" href="/mobile/series/">
                                    <!--<i class="fivemenarea-icon"></i>-->
                                    <span class="fivemenarea-span">묶음강좌 보기</span>
                                </a>
                            </div>
                        </li>

                    </ul>

                </div>

            </section>
        </section>
    </section>

    <h1 class="kr01_explain">공지사항</h1>
        <section class="courses-container kr01_alert">
            <section class="highlighted-courses">
                <div class="kr01_alertarea">
                    <div class="kr01-notice-header">
                        <div>
                            <i class="kr01_iconarea" style=" "><img alt="" src="/static/images/main/sp.png"></i>
                            <span class="kr01_icontTitle">공지사항</span>
                        </div>
                        <div class="kr01-slider-extend">
                            <a href="${'/mobile/comm_list/' + index_list[0][5] if index_list[0][5] != 'F' else '/mobile/comm_tabs'}/">
                                <span>${_("More")}+</span>
                            </a>
                        </div>
                    </div>
                    <div class="kr01_alretTxt">
                        <div class="kr01_alert_slider">
                            <div class="slider" id="board_slider">
                                % for list in index_list[:4] :
                                    % if list[5] != 'F':
                                    <article class="slide"><a href="/mobile/comm_view/${list[5]}/1/${list[0]}"><input type="hidden" class="comm-target" value="${list[5]}"/><span><b>${list[1]}</b> ${list[2]}</span></a></article>
                                    % else:
                                    <article class="slide"><a href="/mobile/comm_tabs/"><span><b>${list[1]}</b>${list[2]}</span></a></article>
                                    % endif
                                % endfor
                            </div>
                            <div class="kr01-Sarrow">
                                <div class="bxslider-prev"></div>
                                <div class="bxslider-next"></div>
                            </div>
                        </div>

                        <script type="text/javascript">

                            $(document).ready(function(){

                                // link to courses event
                                $(".link_to_courses [data-term]").each(function(){
                                    $(this).click(function(e){
                                        e.preventDefault();
                                        let form = $("<form>", {action: "/mobile_courses?search_query=", method: "POST"}),
                                        csrftoken = $("<input>", {name: "csrfmiddlewaretoken", value: $.cookie('csrftoken')}),
                                        term = $("<input>", {name: $(this).data('facet'), value: $(this).data('term')});

                                        // add csrf token
                                        form.append(csrftoken, term);

                                        if(form)
                                            form.appendTo($("body")).submit();
                                    });


                                });

                                /*
                                if(f){
                                    alert('submit!');
                                    f.appendTo($("body")).submit();

                                }else{
                                    alert('not submit!');
                                }
                                */

                                var sliderOptions = {
                                        mode: 'vertical',
                                        slideSelector: '.slider article.slide',
                                        minSlides: 1,
                                        maxSlides: 1,
                                        auto: ($('#board_slider').children().length < 2) ? false : true,
                                        autoHover: true,
                                        infiniteLoop: true,
                                        controls: true,
                                        prevSelector: 'div.bxslider-prev',
                                        prevText: '',
                                        nextSelector: 'div.bxslider-next',
                                        nextText: '',
                                        onSlideBefore: function($slideElement, oldIndex, newIndex) {
                                            var comm_link = $slideElement.find(".comm-target").val();
                                            var comm_more = '#';
                                            if(comm_link !== 'F')
                                                comm_more = '/mobile/comm_list/' + comm_link;
                                            else comm_more = '/mobile/comm_tabs/';
                                            $(".kr01-slider-extend").children('a').attr('href', comm_more);
                                        }
                                    }
                                ;

                                $('#board_slider').bxSlider(sliderOptions);

                            });

                        </script>
                    </div>

                </div>
            </section>
        </section>


      <%include file="${courses_list}" args="mobile=True"/>


% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
