<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>

<style>
    @media screen and (max-width: 979px) and (min-width: 769px) {
        .courses {
            width: 100% !important;
        }
    }
    @media screen and (min-width: 980px) {
        .courses-listing-item:nth-child(3n+1){
            clear: unset !important;
        }
        .courses-listing-item:nth-child(4n+1){
            clear: left !important;
        }
        .courses-listing-item {
            width: 24% !important;
        }
        .courses-listing-item:nth-child(3n) {
            margin-right: 10px !important;
        }
        .courses-listing-item:nth-child(4n) {
            margin-right: 0px !important;
        }
        .courses {
            width: 100% !important;
        }
    }
</style>
<link rel="stylesheet" type="text/css" href="/static/images/kotech_roadmap/about_org.css">

<section class="page-title agency-title" style="margin-top: 20px;">
    <div class="container-fluid">
        % if 'multisite_org' in request.session:
        <h1 class="visual-title" style="margin-bottom: 0px;">${request.session['multisite_org']}</h1>
        % else:
        <h1 class="visual-title" style="margin-bottom: 0px;">연계사이트</h1>
        % endif
        <h2 class="visual-subtitle" style="margin-bottom: 0px;">K-MOOC의 다양한 강좌를 통해 당신의 미래를 그려보세요</h2>
    </div>
</section>

<section class="find-courses">
    <section class="courses-container">
    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):

        <div class="courses">
            <ul class="courses-listing">
                %for course in courses:
                    <li class="courses-listing-item">
                        <%include file="course.html" args="course=course" />
                    </li>
                %endfor
            </ul>
        </div>

        ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
        % if settings.HOMEPAGE_COURSE_MAX and len(courses) > settings.HOMEPAGE_COURSE_MAX:
        % endif
    % endif
    </section>
</section>
