<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>

<style>
    .txt-lol {
        text-align: center;
        font-size: 20px;
    }
    .btn-lol {
        text-align: center;
        background: #3F51B5;
        max-width: 230px;
        border-radius: 6px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #ffffff;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 100px;
        cursor: pointer;
        transition: 0.3s;
    }
    .btn-lol:hover {
        border: solid 1px #3F51B5;
        background: #ffffff;
        color: #3F51B5;
    }
    @media screen and (max-width: 600px) {
        .txt-lol {
            font-size: 12px;
        }
    }
    .more {
        color: #222 !important;
        text-decoration:none !important
    }
    .quick-link > li > a {
        color: #222 !important;
    }
    .classify-item {
        color: #222 !important;
    }
    .link {
        color: #222 !important;
    }
    .instructor {
        color: #222 !important;
    }
    .course-item {
        text-decoration:none !important
    }
    .el-xbox > a {
        text-decoration:none !important
    }
    .el-xbox {
        padding-top: 12px;
        padding-bottom: 12px;
        transition: 0.3s;
    }
    .course-title {
        font-family: 'Noto Sans KR' !important;
        color: #222 !important;
    }
    .sub-title {
        font-family: 'Noto Sans KR' !important;
    }
    .csp {
        cursor: pointer;
    }

    .multi-course-cnt {
        font-size: 1.25em;
        vertical-align: middle;
        display: inline-block;
    }

    .find-courses.multi-search {
        width: 250px; float: right; padding-bottom: 0;
    }

    .find-courses.multi-search .discovery-input {
        height: 35px; position: relative; padding-right: 12px; width: 195px;
    }

    .find-courses.multi-search .discovery-submit {
        position: relative; margin-left: -7px; height: 35px;
    }

    @media screen and (max-width: 979px) and (min-width: 769px) {
        .courses {
            width: 100% !important;
        }
    }
    @media screen and (min-width: 980px) {
        .courses-listing-item:nth-child(3n+1){
            clear: unset !important;
        }
        .courses-listing-item {
            width: 24% !important;
        }
        .courses-listing-item:nth-child(3n) {
            margin-right: 10px !important;
        }
        .courses-listing-item:nth-child(4n) {
            margin-right: 0px !important;
        }
        .courses {
            width: 100% !important;
        }
    }
    .loader {
      border: 16px solid #f3f3f3; /* Light grey */
      border-top: 16px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
        margin-left:45%;
    }

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<link rel="stylesheet" type="text/css" href="/static/images/kotech_roadmap/about_org.css">
<link rel="stylesheet" type="text/css" href="/static/new_index/css/owl.carousel.css" />
<!--<link rel="stylesheet" type="text/css" href="/static/new_index/css/common.css" />-->
<link rel="stylesheet" type="text/css" href="/static/new_index/css/main.css" />
<script type="text/javascript" src="/static/new_index/js/owl.carousel.js"></script>

<section class="multi-visual">
    <div class="container-fluid">
        % if 'multisite_org' in request.session:
        <h1 class="visual-title">${multisite_name}</h1>
        % else:
        <h1 class="visual-title">연계사이트</h1>
        % endif
        <h2 class="visual-subtitle">K-MOOC의 다양한 강좌를 통해 당신의 미래를 그려보세요</h2>
    </div>
</section>

% if course_select_type == 'A':
<section class="sec-course">
    <div class="container-fluid">
        <div class="course-top">
            <h1 class="title">${_("How about this lecture?")}</h1>
            <ul class="tab-group">
                <li>
                    <div onclick="change_course('pop')" id="hack_pop" class="csp tab active">${_("Popular Courses")}</div>
                </li>
                <li>
                    <div onclick="change_course('new')" id="hack_new" class="csp tab">${_("New Courses")}</div>
                </li>
                <li>
                    <div onclick="change_course('today')" id="hack_today" class="csp tab">${_("Today Courses")}</div>
                </li>
                % if user.is_authenticated:
                <li>
                    <div onclick="change_course('my')" id="hack_my" class="csp tab">${_("My Courses")}</div>
                </li>
                % endif
            </ul>
        </div>

        <!-- 인기강좌 -->
        <div id="section_pop" class="owl-carousel course-carousel owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1488px;">

                    % for c in pop_courses:
                    <div class="owl-item active" style="width: 277.5px; margin-right: 20px;">
                        <div class="item">
                            <a href="/courses/${c.id}/about" class="course-item">
                                <div class="course-thumb">
                                    % if c.ribbon_yn == 'Y':
                                    <i class="kr01-ribbonArea"><img alt="" src="/static/images/main/ribbon.png">
                                        <span class="ribbon-tooltip-text">K-MOOC 우수강좌</span>
                                    </i>
                                    % endif
                                    <figure>
                                        <img src="${c.course_image_url}" onerror="this.src='/static/images/blank.png'">
                                        <span class="more">
                                            <span>${_("LEARN MORE")}</span>
                                        </span>
                                    </figure>
                                </div>
                                <h2 class="course-title">${c.display_name}</h2>
                                <div class="course-info">
                                    <p class="instructor">
                                        <span class="course-instructor">${c.teacher_name}</span>
                                        % if LANGUAGE_CODE == 'ko-kr':
                                        <span class="kr01_school">${c.org_kname}</span>
                                        % else:
                                        <span class="kr01_school">${c.org_ename}</span>
                                        % endif
                                    </p>
                                    <p class="period">
                                        % if c.start != None and c.end != None:
                                        <span class="date">${c.start.strftime("%Y/%m/%d")} ~ ${c.end.strftime("%Y/%m/%d")}</span>
                                        % else:
                                        <span class="date">0000/00/00 ~ 0000/00/00</span>
                                        % endif

                                        % if c.status == 'ing':
                                        <span class="state ing">진행중</span>
                                        % elif c.status == 'end' and c.audit_yn == 'N':
                                        <span class="state end">종료</span>
                                        % elif c.status == 'end' and c.audit_yn == 'Y':
                                        <span class="state possible">청강가능</span>
                                        % else:
                                        <span class="state soon">개강예정</span>
                                        % endif
                                        <!--<span class="state soon">개강예정</span>-->
                                        <!--<span class="state possible">청강가능</span>-->
                                        <!--<span class="state end">종료</span>-->
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    % endfor
                </div>
            </div>
        </div>

        <!-- 신규강좌 -->
        <div id="section_new" class="owl-carousel course-carousel owl-loaded owl-drag" style="display: none">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1488px;">

                    % for c in new_courses:
                    <div class="owl-item active" style="width: 277.5px; margin-right: 20px;">
                        <div class="item">
                            <a href="/courses/${c.id}/about" class="course-item">
                                <div class="course-thumb">
                                    % if c.ribbon_yn == 'Y':
                                    <i class="kr01-ribbonArea"><img alt="" src="/static/images/main/ribbon.png">
                                        <span class="ribbon-tooltip-text">K-MOOC 우수강좌</span>
                                    </i>
                                    % endif
                                    <figure>
                                        <img src="${c.course_image_url}" onerror="this.src='/static/images/blank.png'">
                                        <span class="more">
                                            <span>${_("LEARN MORE")}</span>
                                        </span>
                                    </figure>
                                </div>
                                <h2 class="course-title">${c.display_name}</h2>
                                <div class="course-info">
                                    <p class="instructor">
                                        <span class="course-instructor">${c.teacher_name}</span>
                                        % if LANGUAGE_CODE == 'ko-kr':
                                        <span class="kr01_school">${c.org_kname}</span>
                                        % else:
                                        <span class="kr01_school">${c.org_ename}</span>
                                        % endif
                                    </p>
                                    <p class="period">
                                        % if c.start != None and c.end != None:
                                        <span class="date">${c.start.strftime("%Y/%m/%d")} ~ ${c.end.strftime("%Y/%m/%d")}</span>
                                        % else:
                                        <span class="date">0000/00/00 ~ 0000/00/00</span>
                                        % endif

                                        % if c.status == 'ing':
                                        <span class="state ing">진행중</span>
                                        % elif c.status == 'end' and c.audit_yn == 'N':
                                        <span class="state end">종료</span>
                                        % elif c.status == 'end' and c.audit_yn == 'Y':
                                        <span class="state possible">청강가능</span>
                                        % else:
                                        <span class="state soon">개강예정</span>
                                        % endif
                                        <!--<span class="state soon">개강예정</span>-->
                                        <!--<span class="state possible">청강가능</span>-->
                                        <!--<span class="state end">종료</span>-->
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    % endfor
                </div>
            </div>
        </div>

        <!-- 오늘의강좌 -->
        <div id="section_today" class="owl-carousel course-carousel owl-loaded owl-drag" style="display: none">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1488px;">

                    % for c in today_courses:
                    <div class="owl-item active" style="width: 277.5px; margin-right: 20px;">
                        <div class="item">
                            <a href="/courses/${c.id}/about" class="course-item">
                                <div class="course-thumb">
                                    % if c.ribbon_yn == 'Y':
                                    <i class="kr01-ribbonArea"><img alt="" src="/static/images/main/ribbon.png">
                                        <span class="ribbon-tooltip-text">K-MOOC 우수강좌</span>
                                    </i>
                                    % endif
                                    <figure>
                                        <img src="${c.course_image_url}" onerror="this.src='/static/images/blank.png'">
                                        <span class="more">
                                            <span>${_("LEARN MORE")}</span>
                                        </span>
                                    </figure>
                                </div>
                                <h2 class="course-title">${c.display_name}</h2>
                                <div class="course-info">
                                    <p class="instructor">
                                        <span class="course-instructor">${c.teacher_name}</span>
                                        % if LANGUAGE_CODE == 'ko-kr':
                                        <span class="kr01_school">${c.org_kname}</span>
                                        % else:
                                        <span class="kr01_school">${c.org_ename}</span>
                                        % endif
                                    </p>
                                    <p class="period">
                                        % if c.start != None and c.end != None:
                                        <span class="date">${c.start.strftime("%Y/%m/%d")} ~ ${c.end.strftime("%Y/%m/%d")}</span>
                                        % else:
                                        <span class="date">0000/00/00 ~ 0000/00/00</span>
                                        % endif

                                        % if c.status == 'ing':
                                        <span class="state ing">진행중</span>
                                        % elif c.status == 'end' and c.audit_yn == 'N':
                                        <span class="state end">종료</span>
                                        % elif c.status == 'end' and c.audit_yn == 'Y':
                                        <span class="state possible">청강가능</span>
                                        % else:
                                        <span class="state soon">개강예정</span>
                                        % endif
                                        <!--<span class="state soon">개강예정</span>-->
                                        <!--<span class="state possible">청강가능</span>-->
                                        <!--<span class="state end">종료</span>-->
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    % endfor
                </div>
            </div>
        </div>

        <!-- 수강중인 강좌 -->
        <div id="section_my" class="owl-carousel course-carousel owl-loaded owl-drag" style="display: none;">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1488px;">

                    % for c in my_courses:
                    <div class="owl-item active" style="width: 277.5px; margin-right: 20px;">
                        <div class="item">
                            <a href="/courses/${c.id}/about" class="course-item">
                                <div class="course-thumb">
                                    % if c.ribbon_yn == 'Y':
                                    <i class="kr01-ribbonArea"><img alt="" src="/static/images/main/ribbon.png">
                                        <span class="ribbon-tooltip-text">K-MOOC 우수강좌</span>
                                    </i>
                                    % endif
                                    <figure>
                                        <img src="${c.course_image_url}" onerror="this.src='/static/images/blank.png'">
                                        <span class="more">
                                            <span>${_("LEARN MORE")}</span>
                                        </span>
                                    </figure>
                                </div>
                                <h2 class="course-title">${c.display_name}</h2>
                                <div class="course-info">
                                    <p class="instructor">
                                        <span class="course-instructor">${c.teacher_name}</span>
                                        % if LANGUAGE_CODE == 'ko-kr':
                                        <span class="kr01_school">${c.org_kname}</span>
                                        % else:
                                        <span class="kr01_school">${c.org_ename}</span>
                                        % endif
                                    </p>
                                    <p class="period">
                                        % if c.start != None and c.end != None:
                                        <span class="date">${c.start.strftime("%Y/%m/%d")} ~ ${c.end.strftime("%Y/%m/%d")}</span>
                                        % else:
                                        <span class="date">0000/00/00 ~ 0000/00/00</span>
                                        % endif

                                        % if c.status == 'ing':
                                        <span class="state ing">진행중</span>
                                        % elif c.status == 'end':
                                        <span class="state end">종료</span>
                                        % else:
                                        <span class="state soon">개강예정</span>
                                        % endif
                                        <!--<span class="state soon">개강예정</span>-->
                                        <!--<span class="state possible">청강가능</span>-->
                                        <!--<span class="state end">종료</span>-->
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    % endfor
                </div>
            </div>
        </div>
        <div class="no-content" style="display: none;" id="section_no">
            <p>수강중인 강좌가 존재하지 않습니다.</p>
            <a href="/courses" class="go">강좌 탐색</a>
        </div>
    </div>
    <div class="owl-nav" id="section_owl" style="display: none;">
        <button type="button" role="presentation" class="owl-prev disabled">
            <span aria-label="Previous">‹</span>
        </button>
        <button type="button" role="presentation" class="owl-next">
            <span aria-label="Next">›</span>
        </button>
    </div>
    <div class="owl-dots disabled"></div>
</section>

<section>
    <div class="container-fluid">
        <div class="txt-lol">
            해당 기관은 강좌 전체를 탐색하여 수강하실 수 있습니다.<br>
            K-MOOC 홈페이지에서 더 많은 강좌를 찾아보시겠습니까?
        </div>

        <div class="btn-lol" onclick='window.location.href = "/courses";'>
            K-MOOC 강좌 전체 보기 >>
        </div>
    </div>
</section>
% endif

% if course_select_type == 'C':
<section>
    <div class="container-fluid">
        <div class="package-title">
            강좌찾기
        </div>

    </div>
</section>

<div class="container-fluid">
    <div class="multi-course-cnt">
        총 <span id="course_total"></span> 개
    </div>
    <div class="find-courses multi-search">
        <input id="multisite_search" class="discovery-input" placeholder="${_('Search for a course')}" type="text"/>
        <button type="button" onclick="multisite_search()" class="button postfix discovery-submit" title="${_('Search')}">
            <img style="width: 23px;" src="/static/css/vendor/pdfjs/images/toolbarButton-search@2x.png" alt="${_('Search')}" />
        </button>
    </div>
</div>

<section class="find-courses">
    <section class="courses-container">
        % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):

        <div class="courses">
            <ul class="courses-listing">
                % for course in courses:
                <li class="courses-listing-item">
                    <%include file="course.html" args="course=course" />
                </li>
                % endfor
            </ul>
        </div>
        % endif
    </section>
</section>
% endif


<script>
    let search_word = ''
    let search_cnt =10

    let total_count = 0

    var isVisible = false;
    var status_ = $(location).attr('href')

  $(document).ready(function () {
    search_count();
    $(window).scroll(function () {
      if (($(document).height()) / ($(window).scrollTop() + $(window).height()) <= 1.5 && !isVisible) {


        if (total_count >$('.courses-listing-item').size()){
          //$('.find-courses').append("<div class=\"loader\"></div>");
          isVisible = true;
          search_ajax();
        }
      }


    });

  });
    function search_ajax(){
      $.ajax({
            url: '/org/'+status_.split('/').reverse()[0],
            type: "POST",
            dataType: 'html',
            data: {
              now_length: $('.courses-listing-item').size(),
              search_word :search_word,
              search_cnt :search_cnt,
              csrfmiddlewaretoken: $.cookie('csrftoken')
            }
          }).done(function (data) {
            //$('.loader').remove();
            $('.courses-listing').append(data);
            $('#course_total').html(total_count);
            search_cnt = search_cnt+10
            isVisible = false;
          });
    }
    $(function(){

        $('.owl-carousel').owlCarousel({
            margin: 20,
            nav: true,
            dots: false,
            responsive:{
                0:{
                    items: 1
                },
                443:{
                    items: 2
                },

                768:{
                    items: 3
                },

                992:{
                    items: 4
                }
            }
        })
    });
    $("#multisite_search").keydown(function (e) {
        if (e.keyCode == 13) {
            multisite_search();
        }
    });
    function multisite_search(){

        $('.courses-listing-item').remove();
        search_word = $('#multisite_search').val();
        search_cnt = 0
        search_count();
        search_ajax();
    };

    function search_count(){
      $.ajax({
            url: '/multi_index_count/'+status_.split('/').reverse()[0],
            type: "POST",
            dataType: 'JSON',
            data: {
              search_word :search_word,
              csrfmiddlewaretoken: $.cookie('csrftoken')
            }
          }).done(function (data) {
            //$('#course_total').html(total_count);
            total_count = data.a
            $('#course_total').html(data.a);
          });
    };
    /*
    function multisite_search(){
        $('.courses-listing-item').show();
        var multisite_search = $('#multisite_search').val();
        var cnt = $('.courses-listing-item').length;
        var total = cnt;
        for (var i=0; i<cnt; i++){
            var course_title = $('.courses-listing-item').eq(i).find(".course-title").html();
            if (course_title.search(multisite_search) == -1) {
                $('.courses-listing-item').eq(i).hide();
                total -= 1;
            }
        }
        //$('#course_total').html(total);
    }
    */

    function change_course(type){
        // $('#section_owl').show();
        $('#section_no').hide();
        if (type=='pop') {
            $('#section_today').hide();
            $('#section_pop').show();
            $('#section_new').hide();
            $('#section_my').hide();
            $('#hack_today').removeClass("active");
            $('#hack_pop').addClass("active");
            $('#hack_new').removeClass("active");
            $('#hack_my').removeClass("active");
        } else if (type=='new') {
            $('#section_today').hide();
            $('#section_pop').hide();
            $('#section_new').show();
            $('#section_my').hide();
            $('#hack_today').removeClass("active");
            $('#hack_pop').removeClass("active");
            $('#hack_new').addClass("active");
            $('#hack_my').removeClass("active");
        } else if (type=='today') {
            $('#section_today').show();
            $('#section_pop').hide();
            $('#section_new').hide();
            $('#section_my').hide();
            $('#hack_today').addClass("active");
            $('#hack_pop').removeClass("active");
            $('#hack_new').removeClass("active");
            $('#hack_my').removeClass("active");
        } else if (type=='my') {
            $('#section_today').hide();
            $('#section_pop').hide();
            $('#section_new').hide();
            $('#section_my').show();
            $('#hack_today').removeClass("active");
            $('#hack_pop').removeClass("active");
            $('#hack_new').removeClass("active");
            $('#hack_my').addClass("active");
            var my_courses_len = '${len(my_courses)}';
            if (my_courses_len == '0') {
                $('#section_no').show();
                // $('#section_owl').hide();
            }
        }
    }

</script>
