<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from microsite_configuration import microsite
from openedx.core.djangolib.markup import HTML, Text
%>

<script>
</script>

<div id="multisite_index">
    <div style="margin-top:300px;"></div>
    <h1>${header}</h1>
    <h1>${info}</h1>

    <div style="margin-bottom:300px;"></div>
</div>