## mako
<%page expression_filter="h" args="online_help_token"/>
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query"/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _

from context_processors import doc_url
from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangolib.markup import HTML, Text

# App that handles subdomain specific branding
from branding import api as branding_api
# app that handles site status messages
from status.status import get_site_status_msg
%>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

## Add UI Toolkit components if using the Pattern Library
% if uses_pattern_library:
    <%block name="js_extra">
    <%static:require_module module_name="js/header_factory" class_name="HeaderFactory">
    HeaderFactory();
    </%static:require_module>

    </%block>
% endif

<%block>
<script type="text/javascript">
var ex = document.referer;
</script>

<%

try:
    course_id = course.id
except:
    # can't figure out a better way to get at a possibly-defined course var
    course_id = None
site_status_msg = get_site_status_msg(course_id)
%>
% if site_status_msg:
<div class="site-status">
  <div class="inner-wrapper">
    <span class="white-error-icon"></span>
    <p>${site_status_msg}</p>
  </div>
</div>
% endif
</%block>

<!-- memo script (start) -->
<script>
$( document ).ready(function() {
    var user_id = ${user.id}
    $.ajax({
        url : '/memo',
        type: "POST",
        data : {
            sync_memo : 'sync_memo',
            user_id : user_id,
            csrfmiddlewaretoken: '${ csrf_token }'
        }
    }).done(function(data) {
            $('#cnt').html(data.cnt);
    });
});
</script>
<!-- memo script (end) -->

<header id="global-navigation" class="header-global ${"slim" if course else ""}" >
    <nav class="wrapper-header" aria-label="${_('Global')}">

        <div class="header-util" title="${static.get_platform_name()}">
            % if static.get_platform_name() != "K-MOOC":
            <script>
                $(".header-global").css("background", "url('/static/images/css/bg_header_dev.gif')");
            </script>
            <ul class="left list-inline">
                <li class="left item" style="line-height: 30px;">
                    DEV
                </li>
            </ul>
            % endif

            <ul class="right list-inline">

                % if user.id:
                <li class="left item">
                        <a href="/memo">MEMO(<font id="cnt" color="#0080ff"></font>)</a>
                </li>
                % endif

                <li class="left item">
                    <a href="/">HOME</a>
                </li>

                % if user.is_authenticated():
                <!--
                <li class="left item">
                    <a href="/logout">${_("Sign Out")}</a>
                </li>
                -->
                <%include file="user_dropdown.html"/>
                % else:
                <li class="left item">
                    <a href="/register${login_query()}">${_("Register")}</a>
                </li>

                <li class="left item">
                    <a href="/login">${_("Log In")}</a>
                </li>
                % endif

                <!--
                <li class="left item">
                    <a href="">${_("SITEMAP")}</a>
                </li>
                -->

                <li class="left language">
                    <a href="/en" class="${'on' if LANGUAGE_CODE == 'en' else ''}">ENG</a><a href="/ko" class="${'on' if LANGUAGE_CODE == 'ko-kr' else ''}">KOR</a>
                </li>

            </ul>
        </div>

        <h1 class="logo">
            <button class="m-gnb" onclick="$('#gnb').show();">
                <span>Menu</span>
            </button>
            <a href="/">
                <%block name="navigation_logo">
                <img src="/static/images/common/logo_top.png" alt="KMOOC"/>
                </%block>
            </a>
        </h1>
            % if 'org' in request.session and request.session['org'] != 'kmooc':
                <a href="/multisite/${'org' in request.session and request.session['org']}">
                    % if request.session['logo_img'] != None:
                    <img style='width:170px; height:44px; margin-top: 15px;' src="/static/images/multisite/${request.session['logo_img']}" alt=""/>
                    % endif
                    % if request.session['logo_img'] == None:
                    <img style='width:170px; height:44px; margin-top: 15px;' src="/static/images/multisite/nonimage.png" alt=""/>
                    % endif
                </a>
            % endif

        <ol class="right nav-global list-inline" id="gnb">
            % if user.is_authenticated():
                <li class="item nav-global-01" data-hidden="w"><a href="/logout">${_("Sign Out")}</a></li>
                <li class="item nav-global-01" data-hidden="w"><a href="/dashboard"  style="background: #f2f2f2 !important; color: #333 !important;">${_("Dashboard")}</a></li>
            % else:
                <li class="item nav-global-01" data-hidden="w"><a href="/login">${_("Log In")}</a></li>
                <li class="item nav-global-01" data-hidden="w"><a href="/register${login_query()}">${_("Register")}</a></li>
            % endif

            % if 'org' in request.session and request.session['org'] != 'kmooc':
                <li class="item nav-global-01"><a href="/about">${_("About Us")}</a></li>
            % endif

            % if ('org' not in request.session) or ('org' in request.session and request.session['org'] == 'kmooc'):
                <li class="item nav-global-01"><a href="/about">${_("About Us")}</a></li>
                <li class="item nav-global-02"><a href="/schools">${_("University List")}</a></li>
                <li class="item nav-global-03"><a href="/courses">${_("Courses")}</a></li>
                <li class="item nav-global-03"><a href="/series">시리즈강좌</a></li>
                % if LANGUAGE_CODE != 'en':
                <li class="item nav-global-04"><a href="#" onclick="$(this).next().toggle();return false;">${_("Community")}</a>
                % endif
                    <ul class="dropdown-menu">
                        <li id="menu1"><a href="/comm_notice">공지사항</a></li>
                        <li id="menu2"><a href="/comm_k_news">K-MOOC 뉴스</a></li>
                        <li id="menu3"><a href="/comm_repository">자료실</a></li>
                        <li id="menu4"><a href="/comm_faq/1/">Q&A</a></li>
                    </ul>
                </li>
            % endif

            <li class="item nav-global-05" data-hidden="w"><a href="#" onclick="$(this).parents('ol.nav-global').hide();return false;">${_("Close")}</a></li>
            % if ('org' not in request.session) or ('org' in request.session and request.session['org'] == 'kmooc'):
                <li class="item search-global">
                    <div class="gnb-search-box">
                        <form method="get" action="/courses">
                        <input type="text" title="검색어를 입력하세요" name="search_query" type="text" placeholder="${_("Search for a course")}" title="강좌 찾기" aria-label="강좌 찾기"/>
                        <input type="image" src="/static/images/common/search-submit.gif" alt="검색" aria-label="검색" title="검색">
                        </form>
                    </div>
                </li>
            % endif
        </ol>

    </nav>
</header>
% if course:
<!--[if lte IE 9]>
<div class="ie-banner" aria-hidden="true">${Text(_('{begin_strong}Warning:{end_strong} Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.')).format(
    begin_strong=HTML('<strong>'),
    end_strong=HTML('</strong>'),
    chrome_link=HTML('<a href="https://www.google.com/chrome" target="_blank">Chrome</a>'),
    ff_link=HTML('<a href="http://www.mozilla.org/firefox" target="_blank">Firefox</a>'),
)}</div>
<![endif]-->
% endif

<%include file="help_modal.html"/>

<script type="text/javascript">
    $(document).ready(function(){
        $(".nav-global-04")
                .mouseenter(function(){
                    $(this).find("div").show();
        })
                .mouseleave(function(){
                    $(this).find("div").hide();
        });


        $(".language a").click(function(){
            var href = $(this).attr("href");
            href = href + "?next="+document.location.pathname;
            $(this).attr("href", href);
        });

    });
</script>
