<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
import third_party_auth
from third_party_auth import provider, pipeline
%>

<%block name="pagetitle">묶음강좌</%block>

<%block name="bodyclass">view-login</%block>

<%block name="js_extra">
<script>
  function package_cancel(id, e){
    console.log('id -> ', id);

    var r = confirm("해당 묶음강좌에 대해서 수강취소 하시겠습니까?");
    if (r == true) {
      $.post( "/api/series_cancel", {
          id: id
      })
      .done(function( data ) {
        if(data.result == 'success'){
            $(e).parent().parent().hide();
        }
      });
    } else {

    }
  }

  function package_cert(id){
    window.location.href = '/series_print/' + id;
  }

  function package_move(id){
    window.location.href = '/series_view/' + id + '/';
  }
</script>
</%block>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<style>
.all-container{
  padding: 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-height: 600px;
}

.package-content{
}
.package-course-card{
  margin-bottom: 40px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 6px 0px, rgba(0, 0, 0, 0.15) 0px 4px 4px 0px;
}
.package-course-img-container{

}
.package-course-img{
  width: 290px;
  height: 165px;
  cursor: pointer;
  transition: 0.2s;
}
.package-course-img:hover{
  opacity: 0.8;
}
.package-course-content{
  flex: 1;
  padding: 18px;
}
.package-course-side-button{
}
.pc-title{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
.pc-title:hover{
  color: #0b006d;
}
.pc-org{
  margin-bottom: 3px;
  margin-bottom: 18px;
}
.pc-cert{
  margin-bottom: 3px;
}
.pc-ing{
  margin-bottom: 3px;
}
.pc-noing{
  margin-bottom: 3px;
}
.fa-university{
  margin-right: 5px;
}
.fa-check{
  font-size: 5px;
  margin-right: 5px;
}
.package-btn-cert{
  color: #0075b4;
  border: solid 1px #0075b4;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.package-btn-cancel{
  color: #0075b4;
  border: solid 1px #0075b4;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  text-align: center;
  margin-top: 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.package-btn-cert:hover{
  background-color: #0075b4;
  color: #ffffff;
}
.package-btn-cancel:hover{
  background-color: #0075b4;
  color: #ffffff;
}
.package-null-info{
    border: solid #dddddd 2px;
    color: #4e4e4e;
    padding: 50px;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    border-radius: 5px;
}

@media screen and (max-width: 850px) {
  .package-course-card {
    display: block;
    padding: 10px;
  }
  .package-course-img-container{
    text-align: center;
  }
  .pc-title{
    text-align: center;
  }
  .pc-org{
    text-align: center;
  }
  .pc-cert{
    text-align: center;
  }
  .pc-ing{
    text-align: center;
  }
  .pc-noing{
    text-align: center;
  }
  .package-btn-cancel{
    margin-top: 0px;
    margin-right: 0px;
  }
  .package-btn-cert{
    margin-right: 0px;
  }
}
@media screen and (max-width: 450px) {
  .pc-title{
    font-size: 15px;
  }
  .pc-org{
    font-size: 14px;
  }
  .package-course-img {
    width: 260px;
  }
}
</style>

<div class='all-container'>
  <div class="package-title">
    묶음강좌
  </div>
  <div class="package-content">

    % if len(packages) == 0:
    <div class="sec-course">
      <div class="no-content">
        <p>수강중인 강좌가 존재하지 않습니다.</p>
        <a href="/courses" class="go">강좌 탐색</a>
      </div>
    </div>
    % endif

    % for package in packages:
    <div class="package-course-card">

        % if package['save_path'] == None:
        <a href="javascript:package_move(&#34;${package["series_seq"]}&#34;)" class="package-course-img-container" alt="${package['series_name']}">
            <img class="package-course-img" src="/static/images/blank.png" alt="${package['series_name']}">
        </a>
        % else:
        <a href="javascript:package_move(&#34;${package["series_seq"]}&#34;)" class="package-course-img-container" alt="${package['series_name']}">
            <img class="package-course-img" src="${package['save_path']}" alt="${package['series_name']}">
        </a>
        % endif
      </a>

      <div class="package-course-content">
        <div onclick="package_move(&#34;${package["series_seq"]}&#34;)" class="pc-title">
          ${package['series_name']}
        </div>

        <div class="pc-org">
          <i class="fas fa-university"></i>대표기관 : ${package['detail_name']}
        </div>

        <div class="pc-cert">
          <i class="fas fa-check"></i>이수강좌수 : ${package['is_cert']}
        </div>

        <div class="pc-ing">
          <i class="fas fa-check"></i>진행강좌수 : ${package['is_ing']}
        </div>

        <div class="pc-noing">
          <i class="fas fa-check"></i>잔여강좌수 : ${package['is_noing']}
        </div>
      </div>

      <div class="package-course-side-button">
        <a class="package-btn-cancel" href="javascript:package_cancel(&#34;${package["series_id"]}&#34, this)" style="display:block">
          취소
        </a>
        % if package['is_total'] == package['is_cert']:
        <a class="package-btn-cert" href="javascript:package_cert(&#34;${package["series_seq"]}&#34)" style="display:block">
          이수증
        </a>
        % endif
      </div>
    </div>
    % endfor

    <hr/>
※ 학점은행 이수증은 성적이 표기되지 않습니다. 반드시 성적보고 완료된 성적을 학교 또는 학점은행제 홈페이지(<a href="https://cb.or.kr" target="_blank">cb.or.kr</a> > 마이페이지)에서 확인하시기 바랍니다.

  </div>
</div>