## mako

<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
%>
<%page args="pop" expression_filter="h"/>

<div id="${pop['pop_id']}" class="popup-area" style="display: none;">
  <div class="popup-main">
    <div class="popup-image-area" style="max-width: ${pop['pop_width']}px;">
      <a href="${pop['link_url']}" title="${pop['pop_title']}" target="${pop['link_target']}">
        <img src="${pop['img_path']}" alt="${pop['pop_title']}">
      </a>
    </div>

    <div class="popup-footer">
      <label class="popup-footer-label popup-footer-day" onclick="closeWin('pop_close_${pop['pop_id']}', '${pop['pop_id']}', '${pop['pop_hidden_day'][0]}');">
        <input id="pop_close_${pop['pop_id']}" name="pop_close_${pop['pop_id']}" type="checkbox" class="hidden">${pop['pop_hidden_day'][1]}
      </label>
      <a href="javascript:popClose('${pop['pop_id']}');" class="popup-footer-label popup-footer-close" title="닫기">닫기</a>
    </div>

  </div>
</div>
