<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<style>
div.box_popup {display: none;width: 100%;height: 100vh;position: fixed;left: 0;top: 0;z-index: 200000;background-color: rgba(0,0,0,.5);}
div.box_popup div.popup {overflow: hidden;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 800px;box-shadow: 2px 5px 13px rgb(0 0 0 / 20%);border-radius: 5px;background: transparent;}
div.box_popup div.popup h2 {box-sizing: border-box;height: 60px;padding: 0 20px;color: #fff;background: #0036ce;line-height: 60px;font-size: 18px;margin: 0px;}

div.box_popup div.popup h2:after {display: block;content: '';clear: both;}
div.box_popup div.popup > div.popup_inner {padding: 20px;background: #fff;box-sizing: border-box;}
div.box_popup div.popup > div.popup_inner > div {height: auto;padding: 10px;box-sizing: border-box;overflow-y: auto;}
div.box_popup div.popup > div.popup_inner > div::-webkit-scrollbar {width: 10px;}
div.box_popup div.popup > div.popup_inner > div::-webkit-scrollbar-thumb {background-color: #cccccc;border-radius: 10px;background-clip: padding-box;border: 2px solid transparent;}
div.box_popup div.popup > div.popup_inner > div::-webkit-scrollbar-track {background-color: none;border-radius: 10px;box-shadow: inset 0px 0px 5px white;}
div.box_popup div.popup > div.popup_inner div.line {margin: 30px 0;height: 1px;background: #e5e5e5;}
div.box_popup div.popup > div.popup_inner > div {max-height: 65vh;}
div.box_popup div.popup > div.popup_inner > div ul.labeling_list {display: flex;flex-wrap: wrap;border: 1px solid #ddd;border-top: 0;justify-content: stretch;padding-left:0px;}
div.box_popup div.popup > div.popup_inner > div ul.labeling_list > li {width: 25%;box-sizing: border-box;text-align: center;flex-grow: 1;border-top: 1px solid #ddd;list-style: none;}
div.box_popup div.popup > div.popup_inner > div ul.labeling_list > li div {box-sizing: border-box;padding: 10px;}
div.box_popup div.popup > div.popup_inner > div ul.labeling_list > li div.img {}
div.box_popup div.popup > div.popup_inner > div ul.labeling_list > li div.title {background-color: #e3f0fc;font-size: 14px;word-break: keep-all;line-height: 18px;}
div.box_popup div.popup > div.popup_inner > div ul.labeling_list > li div.contents {font-size: 12px;word-break: keep-all;line-height: 16px;}


div.box_popup.privacy div.popup > div.popup_inner > div > div.box_txt > div.box_blue {display: flex;flex-wrap: wrap;margin-top: 30px;padding: 24px;background: #e3f0fc;box-sizing: border-box;}
body, th, td, input, select, textarea, button {font-size: 14px;color: #16171a;font-family: 'Noto Sans Kr', "Apple SD Neo Gothic", "malgun gothic", dotum, sans-serif;}
div.box_popup.privacy div.popup > div.popup_inner > div > div.box_txt > div.box_blue > div {width: calc(100% / 2);}
div.box_popup.privacy div.popup > div.popup_inner > div > div.box_txt > div.box_blue > div > p {line-height: 28px;color: #0036ce;margin:0px;padding:0px;}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item strong {display: inline-block;width: 100%;margin: 30px 0 15px;font-size: 15px;font-weight: bold;color: #0036ce;}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item {box-sizing:border-box;}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item a.link {display:inline-block; padding:8px 15px; margin:4px 0; background:#e3f0fc; border:1px solid #e3f0fc; border-radius:2px; box-sizing:border-box;}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item strong {display:inline-block; width:100%; margin:30px 0 15px; font-size:15px; font-weight:bold; color:#0036ce;}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item p.sub_tit {line-height:22px;}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item p.margin_t {margin-top:30px;}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item p.dot.margin_t {margin-top:17px;}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item p.text {line-height:22px; color:#666; word-break:keep-all;}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item p.indent {padding-left:10px; box-sizing:border-box;}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item p.indent.depth2 {padding-left:20px;}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item p.dot > a {color:#0036ce;}
div.box_popup div.popup > div.popup_inner > div > div.box_txt table.info_table {table-layout:fixed; box-sizing:border-box;border-collapse: collapse;border-spacing: 0;}
div.box_popup div.popup > div.popup_inner > div > div.box_txt table.info_table .bg {background:#e3f0fc;}
div.box_popup div.popup > div.popup_inner > div > div.box_txt table.info_table th {border-top:1px solid #ddd;}
div.box_popup div.popup > div.popup_inner > div > div.box_txt table.info_table th,
div.box_popup div.popup > div.popup_inner > div > div.box_txt table.info_table td {padding:10px; border-right:1px solid #ddd; border-bottom:1px solid #ddd; text-align:center; line-height:1.4; word-break:keep-all; box-sizing:border-box;}
div.box_popup div.popup > div.popup_inner > div > div.box_txt table.info_table th:first-child,
div.box_popup div.popup > div.popup_inner > div > div.box_txt table.info_table td:first-child {border-left:1px solid #ddd;}
div.box_popup div.popup > div.popup_inner > div > div.box_txt table.info_table .a_l {text-align:left;}
div.box_popup div.popup > div.popup_inner > div h5 {text-align:center; font-size:16px; font-weight:bold; margin:30px 0 15px 0; line-height:22px;}
div.box_popup div.popup > div.popup_inner > div ul.labeling_list { display:flex; flex-wrap:wrap; border:1px solid #ddd; border-top:0; justify-content:stretch; }
div.box_popup div.popup > div.popup_inner > div ul.labeling_list > li { width:25%; box-sizing:border-box; text-align:center; flex-grow:1; border-top:1px solid #ddd;}
div.box_popup div.popup > div.popup_inner > div ul.labeling_list > li ~ li {border-left:1px solid #ddd;}
div.box_popup div.popup > div.popup_inner > div ul.labeling_list > li div {box-sizing:border-box; padding:10px;}
div.box_popup div.popup > div.popup_inner > div ul.labeling_list > li div.img {}
div.box_popup div.popup > div.popup_inner > div ul.labeling_list > li div.title { background-color:#e3f0fc; font-size:14px; word-break:keep-all; line-height:18px;}
div.box_popup div.popup > div.popup_inner > div ul.labeling_list > li div.contents {font-size:12px; word-break:keep-all; line-height:16px;}
div.box_popup div.popup > div.popup_inner > div div.info_tb_wrap {width:100%; overflow-x:auto;}
div.box_popup div.popup > div.popup_inner > div div.info_tb_wrap table.info_table {min-width:500px;}
div.box_popup div.popup > div.popup_inner > div a.btn_download_6 { background:#0036ce; display:inline-block; box-sizing:border-box; padding:5px 10px; margin:5px 0; border-radius:5px; color:#fff;}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item strong i.ico {display:inline-block; margin-right:10px; vertical-align:middle; width:30px; height:30px; background-position:center; background-repeat:no-repeat; background-size:cover;}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item strong i.ico.ico_privacy_01 {background-image:url(https://new.kmooc.kr/images/ico_privacy_01.png);}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item strong i.ico.ico_privacy_02 {background-image:url(https://new.kmooc.kr/images/ico_privacy_02.png);}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item strong i.ico.ico_privacy_03 {background-image:url(https://new.kmooc.kr/images/ico_privacy_03.png);}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item strong i.ico.ico_privacy_04 {background-image:url(https://new.kmooc.kr/images/ico_privacy_04.png);}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item strong i.ico.ico_privacy_05 {background-image:url(https://new.kmooc.kr/images/ico_privacy_05.png);}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item strong i.ico.ico_privacy_06 {background-image:url(https://new.kmooc.kr/images/ico_privacy_06.png);}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item strong i.ico.ico_privacy_07 {background-image:url(https://new.kmooc.kr/images/ico_privacy_07.png);}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item strong i.ico.ico_privacy_08 {background-image:url(https://new.kmooc.kr/images/ico_privacy_08.png);}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item strong i.ico.ico_privacy_09 {background-image:url(https://new.kmooc.kr/images/ico_privacy_09.png);}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item strong i.ico.ico_privacy_10 {background-image:url(https://new.kmooc.kr/images/ico_privacy_10.png);}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item strong i.ico.ico_privacy_11 {background-image:url(https://new.kmooc.kr/images/ico_privacy_11.png);}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item strong i.ico.ico_privacy_12 {background-image:url(https://new.kmooc.kr/images/ico_privacy_12.png);}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item strong i.ico.ico_privacy_13 {background-image:url(https://new.kmooc.kr/images/ico_privacy_13.png);}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item strong i.ico.ico_privacy_14 {background-image:url(https://new.kmooc.kr/images/ico_privacy_14.png);}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item strong i.ico.ico_privacy_15 {background-image:url(https://new.kmooc.kr/images/ico_privacy_15.png);}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item strong i.ico.ico_privacy_16 {background-image:url(https://new.kmooc.kr/images/ico_privacy_16.png);}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item a:visited {color: blue;cursor: pointer;text-decoration: underline;}
.hidden {position: absolute;width: 1px;height: 1px;margin: -1px;overflow: hidden;clip-path: polygon(0 0, 0 0, 0 0);}
div.box_popup div.popup > div.popup_inner > div > div.box_txt > div.item p.text {line-height: 22px;color: #666;word-break: keep-all;margin:0px;}
.labeling_list li:hover,.move p:hover{font-weight:bold;cursor:pointer;}

@media screen and (max-width:991px) {
	div.box_popup div.popup {width:90%;}
	div.box_popup div.popup > div.popup_inner > div ul.labeling_list > li {width:50%;}
	div.box_popup div.popup > div.popup_inner > div ul.labeling_list > li ~ li {border-left:0;}
}
@media screen and (max-width: 768px) {
    div.box_popup.privacy div.popup > div.popup_inner > div > div.box_txt > div.box_blue > div {width: 100%;}
}
@media screen and (max-width:620px) {
    div.box_popup div.popup {width: 90%;}
    div.box_popup div.popup > div.popup_inner > div {height: calc(100vh - 220px);}
}

@media screen and (max-width:500px) {
	div.box_popup div.popup > div.popup_inner > div[data-role="button"] > button {width:calc(50% - 4px);}
	div.box_popup div.popup > div.popup_inner > div ul.labeling_list > li {width:100%;}
}

@media screen and (max-width: 480px) {
    div.box_popup div.popup > div.popup_inner > div {height: calc(80vh - 220px);}
}
</style>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
$(function() {
    $("[data-area]").on("click",function() {
        $(".popup_inner.privacy > div").animate({scrollTop: $("." + $(this).data("area")).offset().top}, 400);
    });
});
</script>
<div class="box_popup privacy" style="display: block;">
	<div class="popup privacy">
		<h2>개인정보처리방침</h2>
		<div class="popup_inner privacy">
			<div style="overflow-x:hidden;">
				<div class="box_txt">
					<h4>국가평생교육진흥원 「K-MOOC」 홈페이지 개인정보처리방침 개정</h4>
					<p class="text margin_t">국가평생교육진흥원(이하 “진흥원”이라 함)은 정보주체의 자유와 권리 보호를 위해 「개인정보 보호법」 및 관계 법령이 정한 바를 준수하여, 적법하게 개인정보를 처리하고 안전하게 관리하고 있습니다. </p>
					<p class="text margin_t">이에 「개인정보 보호법」제30조에 따라 정보주체에게 개인정보 처리에 관한 절차 및 기준을 안내하고, 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보 처리방침을 수립·공개합니다. </p>
					<h5>【 주요 개인정보 처리 표시(라벨링) 】</h5>
					<ul class="labeling_list">
						<li data-area="ico_privacy_03">
							<div class="img"><img src="https://new.kmooc.kr/images/ico_privacy_01.png" alt="주요 수집항목"></div>
							<div class="title">
								<p>주요 수집항목</p>
							</div>
							<div class="contents">전자우편주소, 성명, 성별, 출생연도, 보조전자우편주소, 도시, 거주국가, 최종학력, 가입목적, 학습이력</div>
						</li>
						<li data-area="ico_privacy_06">
							<div class="img"><img src="https://new.kmooc.kr/images/ico_privacy_02.png" alt="처리위탁"></div>
							<div class="title">
								<p>처리위탁</p>
							</div>
							<div class="contents">(주)유비온, 서울대학교 등 194개</div>
						</li>
						<li data-area="ico_privacy_04">
							<div class="img"><img src="https://new.kmooc.kr/images/ico_privacy_03.png" alt="개인정보 영향평가"></div>
							<div class="title">
								<p>개인정보 영향평가</p>
							</div>
							<div class="contents">2022년 실시</div>
						</li>
						<li data-area="ico_privacy_13">
							<div class="img"><img src="https://new.kmooc.kr/images/ico_privacy_04.png" alt="고충처리부서"></div>
							<div class="title">
								<p>고충처리부서</p>
							</div>
							<div class="contents">K-MOOC 콜센터<br>1811-3118</div>
						</li>
					</ul>
					<small class="notice">※ 세부항목은 개인정보 처리방침 본문에서 확인</small>
					<div class="box_blue move">
						<div>
							<p data-area="ico_privacy_01">제1조(개인정보의 처리 목적 및 개인정보파일 등록 현황)</p>
							<p data-area="ico_privacy_02">제2조(개인정보의 처리 및 보유 기간)</p>
							<p data-area="ico_privacy_03">제3조(처리하는 개인정보 항목)</p>
							<p data-area="ico_privacy_04">제4조(개인정보 영향평가의 수행결과)</p>
							<p data-area="ico_privacy_05">제5조(개인정보의 제3자 제공)</p>
							<p data-area="ico_privacy_06">제6조(개인정보 처리의 위탁)</p>
							<p data-area="ico_privacy_07">제7조(개인정보 파기 절차 및 방법)</p>
							<p data-area="ico_privacy_08">제8조(미이용자의 개인정보 파기 등에 관한 조치)</p>
						</div>
						<div>
							<p data-area="ico_privacy_09">제9조(정보주체와 법정대리인의 권리∙의무 및 행사방법) </p>
							<p data-area="ico_privacy_10">제10조(개인정보의 안전성 확보 조치) </p>
							<p data-area="ico_privacy_11">제11조(개인정보를 자동으로 수집하는 장치의 설치∙운영 및 그 거부에 관한 사항) </p>
							<p data-area="ico_privacy_12">제12조(개인정보 보호책임자) </p>
							<p data-area="ico_privacy_13">제13조(개인정보 열람청구) </p>
							<p data-area="ico_privacy_14">제14조(권익침해 구제방법) </p>
							<p data-area="ico_privacy_15">제15조(개인정보 관리수준진단 결과) </p>
							<p data-area="ico_privacy_16">제16조(개인정보 처리방침의 변경)</p>
						</div>
					</div>

					<div class="item">
						<strong><i class="ico ico_privacy_01" data-src="https://new.kmooc.kr/images/ico_privacy_01.png"><span class="hidden">개인정보처리방침 제1조</span></i>제1조 (개인정보의 처리 목적 및 개인정보파일 등록 현황)</strong>
						<p class="text">① 진흥원은 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 「개인정보 보호법」 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다. </p>
						<p class="text indent">1. 회원 가입 및 관리, 서비스 제공 및 개선</p>
						<p class="text indent depth2">
							K-MOOC 회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 서비스 부정이용 방지,
							만 14세 미만 아동의 개인정보 처리 시 법정대리인의 동의여부 확인, 서비스 개선 방향 도출을 위한 통계 산출 및 K-MOOC 학점은행과정 연구
							수행과 홍보ㆍ설문, 각종 고지·통지 등을 목적으로 개인정보를 처리합니다.
						</p>

						<p class="text indent">2. 민원 사무 처리</p>
						<p class="text indent depth2">민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락ㆍ통지, 처리결과 통보 등의 목적으로 개인정보를 처리합니다.</p>

						<p class="text indent">3. 학습이력관리 및 이수증 고지</p>
						<p class="text indent depth2">K-MOOC를 통해 학습한 이력 및 이수증을 제공하기 위해 개인정보를 처리합니다.</p>

						<p class="text">② 진흥원은 「개인정보 보호법」 제32조에 따라 등록ㆍ공개하는 개인정보파일의 처리목적은 다음과 같습니다.</p>
						<br>
						<div class="info_tb_wrap">
							<table class="info_table">
								<caption>'개인정보의 처리 목적 및 개인정보파일 등록 현황'</caption>
								<colgroup>
									<col style="width:10%;">
									<col style="width:15%;">
									<col style="width:25%;">
									<col style="width:35%;">
									<col style="width:15%;">
								</colgroup>
								<thead>
									<tr>
										<th class="bg" scope="col">개인정보 파일</th>
										<th class="bg" scope="col">운영근거</th>
										<th class="bg" scope="col">처리목적</th>
										<th class="bg" scope="col">개인정보파일에 기록되는 개인정보의 항목</th>
										<th class="bg" scope="col">보유기간</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>K-MOOC<br>회원명부</td>
										<td>정보주체 동의</td>
										<td><b>회원 가입 및 관리,서비스 제공 및 개선, 민원 사무 처리</b></td>
										<td>
										- 필수 : 전자우편주소, 성명, 아이디, 비밀번호, 성별, 출생연도<br>
										· 만 14세 미만 가입 시 : 법정대리인의 성명, 동의정보(휴대폰번호 인증)<br>
										- 선택 : 보조전자우편주소, 도시, 거주국가, 최종학력, 가입목적 <br>
										· 본인인증 시 : 성명, 생년월일, 성별, 중복가입확인정보(DI), 암호화된 동일인 식별정보(CI), 내/외국인 정보<br>
										· SNS 연계 시 : 이용자 식별자, 성명, 전자우편주소
										</td>
										<td><b>회원탈퇴 및 휴면계정 전환까지(2년마다 재동의)</b></td>
									</tr>
									<tr>
										<td>K-MOOC<br>회원학습<br>이력정보</td>
										<td>정보주체 동의</td>
										<td><b>학습이력관리 및 이수증 고지</b></td>
										<td>
											- 필수 : 전자우편주소, 아이디, 성명, 학습이력
											<br>
											· 본인인증 시 : 성명, 생년월일
										</td>
										<td><b>준영구</b></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="item">
						<strong><i class="ico ico_privacy_02" data-src="https://new.kmooc.kr/images/ico_privacy_02.png"><span class="hidden">개인정보처리방침 제2조</span></i>제2조 (개인정보의 처리 및 보유기간)</strong>
						<p class="text">① 진흥원은 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의 받은 개인정보 보유·이용기간 내에서 개인정보를 처리·보유합니다.</p>
						<p class="text">② 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.</p>
						<p class="text indent">1. K-MOOC 회원명부 : 회원탈퇴 및 휴면계정 전환까지 (2년마다 재동의)</p>
						<p class="text indent">2. K-MOOC 회원학습이력정보 : 준영구</p>
						<p class="text">③ 제2항의 보유 기간에도 불구하고 다음과 같은 사유에 해당하는 경우에는 해당 사유 종료시까지 개인정보를 보유합니다.</p>
						<p class="text indent">1. 관계 법령 위반에 따른 수사·조사 등이 진행중인 경우에는 해당 수사, 조사 종료시까지</p>
						<p class="text indent">2. 홈페이지 이용에 따른 채권, 채무관계 잔존시에는 해당 채권, 채무관계 정산시까지</p>
					</div>
					<div class="item">
						<strong><i class="ico ico_privacy_03" data-src="https://new.kmooc.kr/images/ico_privacy_03.png"><span class="hidden">개인정보처리방침 제3조</span></i>제3조 (처리하는 개인정보 항목)</strong>
						<p class="text">진흥원은 다음의 개인정보 항목을 처리하고 있습니다.</p>
						<p class="text">① K-MOOC 회원명부</p>
						<p class="text indent">1. 필수항목 : 전자우편주소, 성명, 아이디, 비밀번호, 성별, 출생연도</p>
						<p class="text indent depth2">1) 만 14세미만 가입 시: 법정대리인의 성명, 동의정보(휴대폰번호 인증)</p>
						<p class="text indent">2. 선택항목 : 보조전자우편주소, 도시, 거주국가, 최종학력, 가입목적</p>
						<p class="text indent depth2">1) 본인인증 시 : 성명, 생년월일, 성별, 중복가입확인정보(DI), 암호화된 동일인 식별정보(CI), 내/외국인 정보</p>
						<p class="text indent depth2">2) SNS 연계 시 : 이용자 식별자, 성명, 전자우편주소</p>

						<p class="text">② K-MOOC 회원학습이력정보</p>
						<p class="text indent">	1. 필수항목 : 전자우편주소, 아이디, 성명, 학습이력</p>
						<p class="text indent depth2">1) 본인인증 시 : 성명, 생년월일</p>

						<p class="text">③ 인터넷 서비스 이용과정에서 아래 개인정보 항목이 자동으로 생성되어 수집될 수 있습니다.</p>
						<p class="text indent">1. 쿠키, 서비스 이용기록, 방문기록, 기기정보, 불량 이용기록 등</p>
					</div>
					<div class="item">
						<strong><i class="ico ico_privacy_04" data-src="https://new.kmooc.kr/images/ico_privacy_04.png"><span class="hidden">개인정보처리방침 제4조</span></i>제4조(개인정보 영향평가의 수행결과)</strong>
						<p class="text">① 진흥원은 운영하고 있는 개인정보 처리시스템이 정보주체의 개인정보파일에 미칠 영향에 대해 조사, 분석, 평가하기 위해 「개인정보 보호법」제33조에 따라 “개인정보 영향평가”를 받고 있습니다.</p>
						<p class="text">② 진흥원은 다음 개인정보파일에 대해 영향평가를 수행하였습니다.</p>
						<br>
						<div class="info_tb_wrap">
							<table class="info_table">
								<caption>'개인정보 영향평가의 수행결과'</caption>
								<thead>
									<tr>
										<th class="bg" scope="col">개인정보 파일</th>
										<th class="bg" scope="col">개인정보파일에 기록되는 개인정보의 항목</th>
										<th class="bg" scope="col">수행년도</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>K-MOOC<br>회원명부</td>
										<td>
										<p class="text">- 필수 : 전자우편주소, 성명, 성별, 출생연도</p>
										<p class="text">  · 만 14세 미만 가입 시 : 법정대리인의 성명, 동의정보(휴대폰번호 인증)</p>
										<p class="text">- 선택 : 보조전자우편주소, 도시, 거주국가, 최종학력, 가입목적  </p>
										<p class="text">  · 본인인증 시 : 성명, 생년월일, 성별, 중복가입확인정보(DI), 암호화된 동일인 식별정보(CI), 내/외국인 정보</p>
										<p class="text">  · SNS 연계 시 : 이용자 식별자, 성명, 전자우편주소</p>
										</td>
										<td> 2022</td>
									</tr>
									<tr>
										<td>K-MOOC<br>회원학습이력정보</td>
										<td>
										<p class="text">- 필수 : 전자우편주소, 성명, 학습이력</p>
										<p class="text">· 본인인증 시 : 성명, 생년월일</p>
										</td>
										<td>2022</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="item">
						<strong><i class="ico ico_privacy_05" data-src="https://new.kmooc.kr/images/ico_privacy_05.png"><span class="hidden">개인정보처리방침 제5조</span></i>제5조 (개인정보의 제3자 제공)</strong>
						<p class="text">① 진흥원은 기본적으로 개인정보를 제1조(개인정보의 처리 목적 및 개인정보파일 등록 현황)에서 명시한 범위내에서만 처리하며, 정보주체의 동의, 법률의 특별한 규정 등 「개인정보 보호법」 제17조 및 제18조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.</p>
					</div>
					<div class="item">
						<strong><i class="ico ico_privacy_06" data-src="https://new.kmooc.kr/images/ico_privacy_06.png"><span class="hidden">개인정보처리방침 제6조</span></i>제6조 (개인정보 처리의 위탁)</strong>
						<p class="text">① 진흥원은 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다. <a href="http://new.kmooc.kr/privacy/consignment" class="btn_download_6" target="_blank">개인정보 처리업무 위탁 현황 보기</a></p>
						<p class="text">② 진흥원은 위탁계약 체결 시 「개인정보 보호법」 제26조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 안전성 확보조치, 재위탁 제한, 수탁자에 대한 관리·감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.</p>
						<p class="text">③ 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.</p>
					</div>
					<div class="item">
						<strong><i class="ico ico_privacy_07" data-src="https://new.kmooc.kr/images/ico_privacy_07.png"><span class="hidden">개인정보처리방침 제7조</span></i>제7조 (개인정보 파기 절차 및 방법)</strong>
						<p class="text">① 진흥원은 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체 없이 해당 개인정보를 파기합니다.</p>
						<p class="text">② 정보주체로부터 동의받은 개인정보 보유기간이 경과하거나 처리목적이 달성되었음에도 불구하고 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보(또는 개인정보파일)를 별도의 데이터베이스(DB)로 옮기거나 보관장소를 달리하여 보존합니다.</p>
						<p class="text">③ 개인정보 파기의 절차 및 방법은 다음과 같습니다.</p>
						<p class="text indent">1. 파기절차</p>
						<p class="text indent depth2">진흥원은 파기하여야 하는 개인정보(또는 개인정보파일)에 대해 개인정보 파기계획을 수립하여 파기합니다. 진흥원은 파기 사유가 발생한 개인정보(또는 개인정보파일)를 선정하고, K-MOOC 개인정보 보호책임자의 승인을 받아 개인정보(또는 개인정보파일)를 파기합니다.</p>
						<p class="text indent depth2">2. 파기방법진흥원은 전자적 파일 형태로 기록·저장된 개인정보는 기록을 재생할 수 없도록 파기하며, 종이 문서에 기록·저장된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다.</p>
					</div>
					<div class="item">
						<strong><i class="ico ico_privacy_08" data-src="https://new.kmooc.kr/images/ico_privacy_08.png"><span class="hidden">개인정보처리방침 제8조</span></i>제8조 (미이용자의 개인정보 파기 등에 관한 조치)</strong>
						<p class="text">① 진흥원은 2년간 서비스를 이용하지 않은 이용자 및 2년마다 개인정보 이용약관에 재동의 하지 않은 이용자는 휴면계정으로 전환하고, 개인정보를 별도로 분리하여 보관합니다.</p>
						<p class="text">② 진흥원은 휴면전환 30일 전까지 휴면예정 회원에게 별도 분리 보관되는 사실 및 휴면 예정일, 별도 분리 보관하는 개인정보 항목을 이메일 등 이용자에게 통지 가능한 방법으로 알리고 있습니다.</p>
						<p class="text">③ 휴면계정으로 전환을 원하지 않으시는 경우, 휴면계정 전환 전 로그인하거나 개인정보 이용약관에 동의하시면 됩니다. 또한, 휴면계정으로 전환되었더라도 로그인하는 경우 이용약관 동의 절차를 거쳐 휴면계정을 복원하여 정상적인 서비스를 이용할 수 있습니다.</p>
					</div>
					<div class="item">
						<strong><i class="ico ico_privacy_09" data-src="https://new.kmooc.kr/images/ico_privacy_09.png"><span class="hidden">개인정보처리방침 제9조</span></i>제9조 (정보주체와 법정대리인의 권리ㆍ의무 및 행사방법)</strong>
						<p class="text">① 정보주체는 진흥원에 대해 언제든지 개인정보 열람·정정·삭제·처리정지 요구 등의 권리를 행사할 수 있습니다.</p>
						<p class="text indent"> ※ 만 14세 미만 아동에 관한 개인정보의 열람등 요구는 법정대리인이 직접 해야 하며, 만 14세 이상의 미성년자인 정보주체는 정보주체의 개인정보에 관하여 미성년자 본인이 권리를 행사하거나 법정대리인을 통하여 권리를 행사할 수도 있습니다.</p>
						<p class="text">② 권리 행사는 진흥원에 대해「개인정보 보호법」 시행령 제41조 제1항에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며, 진흥원은 이에 대해 지체없이 조치하겠습니다.</p>
						<p class="text">③ 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수도 있습니다. 이 경우 “개인정보 처리 방법에 관한 고시(제2020-7호)” 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.</p>
						<p class="text">④ 개인정보 열람 및 처리정지 요구는 「개인정보 보호법」 제35조 제4항, 제37조 제2항에 의하여 정보주체의 권리가 제한 될 수 있습니다. </p>
						<p class="text">⑤ 개인정보의 정정 및 삭제 요구는 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우에는 그 삭제를 요구할 수 없습니다. </p>
						<p class="text">⑥ 정보주체 권리에 따른 열람의 요구, 정정·삭제의 요구, 처리정지의 요구 시 열람 등 요구를 한 자가 본인이거나 정당한 대리인인지를 확인합니다.</p>
						<p class="text">⑦ 진흥원은 정보주체 이외로부터 수집한 개인정보의 수집출처 등 고지요구 정보주체는 「개인정보 보호법」제20조에 따라 정보주체 이외로부터 수집한 자신의 개인정보 수집출처를 요구할 수 있습니다. 다만, 다음의 경우에는 수집출처 등 고지요구를 거절할 수 있습니다.</p>
						<p class="text indent">1. 「개인정보 보호법」제32조 제2항의 개인정보파일에 포함되어 있는 경우</p>
						<p class="text indent">2. 고지로 인하여 다른 사람의 생명·신체를 해할 우려가 있거나 다른 사람의 재산과 그 밖의 이익을 부당하게 침해할 우려가 있는 경우</p>
					</div>
					<div class="item">
						<strong><i class="ico ico_privacy_10" data-src="https://new.kmooc.kr/images/ico_privacy_10.png"><span class="hidden">개인정보처리방침 제10조</span></i>제10조 (개인정보의 안전성 확보 조치)</strong>
						<p class="text">진흥원은 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.</p>
						<p class="text indent">1. 관리적 조치 : 내부관리계획 수립ㆍ시행, 정기적 직원 교육</p>
						<p class="text indent">2. 기술적 조치 : 개인정보처리시스템 등의 접근권한 관리, 접근통제시스템 설치, 고유식별정보 등의 암호화, 보안프로그램 설치</p>
						<p class="text indent">3. 물리적 조치 : 전산실, 자료보관실 등의 접근통제</p>
					</div>
					<div class="item">
						<strong><i class="ico ico_privacy_11" data-src="https://new.kmooc.kr/images/ico_privacy_11.png"><span class="hidden">개인정보처리방침 제11조</span></i>제11조 (개인정보를 자동으로 수집하는 장치의 설치ㆍ운영 및 그 거부에 관한 사항)</strong>
						<p class="text">① 진흥원은 이용자에게 개별적인 맞춤서비스를 제공하기 위해 이용 정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를 사용합니다.</p>
						<p class="text">② 쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 정보이며 이용자들의 PC 컴퓨터내의 하드디스크에 저장되기도 합니다.</p>
						<p class="text indent">1. 쿠키의 사용목적 : 이용자가 방문한 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기검색어, 보안접속 여부 등을 파악하여 이용자에게 최적화된 정보 제공을 위해 사용됩니다.</p>
						<p class="text indent">2. 쿠키의 설치·운영 및 거부 : 웹브라우저 상단의 도구&gt;인터넷 옵션&gt;개인정보 메뉴의 옵션 설정을 통해 쿠키 저장을 거부 할 수 있습니다.</p>
						<p class="text indent">3. 쿠키 저장을 거부할 경우 맞춤형 서비스 이용에 어려움이 발생할 수 있습니다.</p>
					</div>
					<div class="item">
						<strong><i class="ico ico_privacy_12" data-src="https://new.kmooc.kr/images/ico_privacy_12.png"><span class="hidden">개인정보처리방침 제12조</span></i>제12조 (개인정보 보호책임자)</strong>
						<p class="text">① 진흥원은 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.</p>
						<p class="text">‣ 개인정보보호책임자</p>
						<p class="text indent">- 성명 : 심한식</p>
						<p class="text indent">- 직책 : 기획경영본부장</p>
						<p class="text indent">- 연락처 : 1811-3118, info_kmooc@nile.or.kr</p>
						<p class="text indent depth2">※ 개인정보보호 담당부서로 연결됩니다. </p>
						<p class="text">‣ 부서 개인정보보호책임자</p>
						<p class="text indent">- 성명 : 박종오</p>
						<p class="text indent">- 직책 : 디지털평생교육본부장</p>
						<p class="text indent">- 연락처 : 1811-3118, info_kmooc@nile.or.kr</p>
						<p class="text indent depth2">※ 개인정보보호 담당부서로 연결됩니다. </p>
						<p class="text">‣ 개인정보보호담당자</p>
						<p class="text indent">- 성명 : 김태홍</p>
						<p class="text indent">- 직책 : 실원</p>
						<p class="text indent">- 연락처 : 1811-3118, info_kmooc@nile.or.kr</p>
						<p class="text indent depth2">※ 개인정보보호 담당부서로 연결됩니다. </p>
						<p class="text">② 정보주체는 K-MOOC 서비스(또는 사업)를 이용하면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임관 및 담당부서로 문의할 수 있습니다. 진흥원은 정보주체의 문의에 대해 지체없이 답변 및 처리해드릴 것입니다.</p>
					</div>
					<div class="item">
						<strong><i class="ico ico_privacy_13" data-src="https://new.kmooc.kr/images/ico_privacy_13.png"><span class="hidden">개인정보처리방침 제13조</span></i>제13조 (개인정보 열람청구)</strong>
						<p class="text">① 정보주체는 「개인정보 보호법」 제35조에 따른 개인정보의 열람 청구를 아래의 부서에 할 수 있습니다. 진흥원은 정보주체의 개인정보 열람청구가 신속하게 처리되도록 노력하겠습니다.</p>
						<p class="text">‣ 개인정보 열람청구 접수ㆍ처리부서</p>
						<p class="text indent">- 부서명 : 디지털평생교육본부 평생학습시스템구축실</p>
						<p class="text indent">- 담당자 : 김태홍</p>
						<p class="text indent">- 연락처 : 전화) 1811-3118 (평일 9:00~18:00 운영 (점심시간 12:00~13:00 제외)), 이메일) info_kmooc@nile.or.kr</p>
					</div>
					<div class="item">
						<strong><i class="ico ico_privacy_14" data-src="https://new.kmooc.kr/images/ico_privacy_14.png"><span class="hidden">개인정보처리방침 제14조</span></i>제14조 (권익침해 구제방법)</strong>
						<p class="text">① 정보주체는 개인정보침해로 인한 구제를 받기 위하여 개인정보분쟁조정위원회, 한국인터넷진흥원 개인정보침해신고센터 등에 분쟁해결이나 상담 등을 신청할 수 있습니다. 이 밖에 기타 개인정보침해의 신고, 상담에 대하여는 아래의 기관에 문의하시기 바랍니다.</p>
						<p class="text indent">1. 개인정보분쟁조정위원회 : (국번없이) 1833-6972 (www.kopico.go.kr)</p>
						<p class="text indent">2. 개인정보침해신고센터 : (국번없이) 118 (privacy.kisa.or.kr)</p>
						<p class="text indent">3. 대검찰청 : (국번없이) 1301 (www.spo.go.kr)</p>
						<p class="text indent">4. 경찰청 : (국번없이) 182 (ecrm.cyber.go.kr)</p>
						<p class="text">② 진흥원은 정보주체의 개인정보자기결정권을 보장하고, 개인정보침해로 인한 상담 및 피해 구제를 위해 노력하고 있으며, 신고나 상담이 필요한 경우 아래의 담당부서로 연락해 주시기 바랍니다.</p>
						<p class="text">‣ 개인정보보호 관련 고객 상담 및 신고</p>
						<p class="text indent">- 부서명 : 디지털평생교육본부 평생학습시스템구축실  - 담당자 : 김태홍  - 연락처 : 전화) 1811-3118 (평일 9:00~18:00 운영 (점심시간 12:00~13:00 제외)), 이메일) info_kmooc@nile.or.kr</p>
						<p class="text">③「개인정보 보호법」 제35조(개인정보의 열람), 제36조(개인정보의 정정·삭제), 제37조(개인정보의 처리정지 등)의 규정에 의한 요구에 대하여 공공기관의 장이 행한 처분 또는 부작위로 인하여 권리 또는 이익의 침해를 받은 자는 행정심판법이 정하는 바에 따라 행정심판을 청구할 수 있습니다.</p>
						<p class="text">‣ 중앙행정심판위원회 : (국번없이) 110 (www.simpan.go.kr)</p>
					</div>
					<div class="item">
						<strong><i class="ico ico_privacy_15" data-src="https://new.kmooc.kr/images/ico_privacy_15.png"><span class="hidden">개인정보처리방침 제15조</span></i>제15조 (개인정보 관리수준진단 결과)</strong>
						<p class="text">① 진흥원은 정보주체의 개인정보를 안전하게 관리하기 위해「개인정보 보호법」제11조에 따라 매년 개인정보보호위원회에서 실시하는 “공공기관 개인정보 관리수준진단”을 받고 있습니다.</p>
						<p class="text">② 진흥원은 '2022년도 개인정보 관리수준진단 평가에서 'A'등급을 획득하였습니다.</p>
						<p class="text">③ 진흥원은 2022년 개인정보 관리수준진단 결과에 따라 다음과 같이 개선 조치하였습니다.</p>
						<p class="text indent">- 개인정보처리시스템의 접근권한 관리 및 접속기록 점검</p>
					</div>
					<div class="item">
						<strong><i class="ico ico_privacy_16" data-src="https://new.kmooc.kr/images/ico_privacy_16.png"><span class="hidden">개인정보처리방침 제16조</span></i>제16조 (개인정보 처리방침의 변경)</strong>
						<p class="text">① 본 방침은 2023년 08월 21일부터 시행됩니다.</p>
						<p class="text">② 이전의 개인정보 처리방침은 아래에서 확인하실 수 있습니다</p>
						<p class="text">2015. 10. 14 ~ 2016. 06. 20 적용 <a class="past" href="http://www.kmooc.kr/Privacy-Policy_old1" target="_blank">(클릭)</a></p>
						<p class="text">2016. 06. 21 ~ 2016. 11. 27 적용 <a class="past" href="http://www.kmooc.kr/Privacy-Policy_old2" target="_blank">(클릭)</a></p>
						<p class="text">2016. 11. 28 ~ 2017. 11. 19 적용 <a class="past" href="http://www.kmooc.kr/Privacy-Policy_old3" target="_blank">(클릭)</a></p>
						<p class="text">2017. 11. 20 ~ 2018. 05. 20 적용 <a class="past" href="http://www.kmooc.kr/Privacy-Policy_old4" target="_blank">(클릭)</a></p>
						<p class="text">2018. 05. 21 ~ 2019. 04. 14 적용 <a class="past" href="http://www.kmooc.kr/Privacy-Policy_old5" target="_blank">(클릭)</a></p>
						<p class="text">2019. 04. 15 ~ 2021. 02. 23 적용 <a class="past" href="http://www.kmooc.kr/Privacy-Policy_old7" target="_blank">(클릭)</a></p>
						<p class="text">2021. 02. 23 ~ 2021. 08. 31 적용 <a class="past" href="http://www.kmooc.kr/Privacy-Policy_old8" target="_blank">(클릭)</a></p>
						<p class="text">2021. 09. 01 ~ 2022. 09. 19 적용 <a class="past" href="http://www.kmooc.kr/Privacy-Policy_old9" target="_blank">(클릭)</a></p>
						<p class="text">2022. 09. 19 ~ 2022. 10. 31 적용 <a class="past" href="http://www.kmooc.kr/Privacy-Policy_old10" target="_blank">(클릭)</a></p>
						<p class="text">2022. 10. 31 ~ 2023. 08. 20 적용 <a class="past" href="http://www.kmooc.kr/Privacy-Policy_old11" target="_blank">(클릭)</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>