<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
import requests, unicodedata, time, json

from datetime import datetime
from django.utils.translation import ugettext as _
from django.urls import reverse
from microsite_configuration import microsite
from openedx.core.djangolib.markup import HTML, Text

openstate = "true"

%>
<link rel="stylesheet" type="text/css" href="/static/css/pop.css">
<script type="text/javascript" src="/static/new_index/js/spin.js"></script>
<script language="Javascript">



//var csrftoken = getCookie('csrftoken');
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
// $.ajaxSetup({
//     beforeSend: function(xhr, settings) {
//         if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
//             xhr.setRequestHeader("X-CSRFToken", csrftoken);
//         }
//     }
// });


console.log(csrftoken);

window.addEventListener('message', event => {
    if (event.origin === 'https://cauth.kmooc.kr') {
        console.log(event.data);
    } else {
        return;
    }
});


function goAjax() {
    $("#goSAMLForm3").submit();
    /*
    const reqUrl = "https://cauth.kmooc.kr/login/";
    // const ssoMap = new Map();
    goParamView(reqUrl, "", "goSAMLForm");
     */
}

function goParamView(url, map, fn = "", target = 0) {
    fn = (fn != "") ? fn : "goSAMLForm";
    $("form[name='" + fn + "']").empty();
    /*
    map.forEach((v, k, map) => {
        if (k == "tm") {
            $("form[name='" + fn + "']").append("<input type='hidden' name='tm' value='" + convUnixTime() + "' />");
        } else {
            $("form[name='" + fn + "']").append("<input type='hidden' name='" + k + "' value='" + v + "' />");
        }
    });
    */

    $("form[name='" + fn + "']").append("<input type='hidden' name='username' value='jkobdream' />");
    $("form[name='" + fn + "']").append("<input type='hidden' name='password' value='kmooc123!' />");


    if (target == 1 && $.isNumeric(target)) {
        $("form[name='" + fn + "']").attr("target", "_blank");
    } else if (target==true) {
        $("form[name='" + fn + "']").attr("target", fn+"ifr");
    }

    if (fn && target==true) {
        if ($("form[name='" + fn + "ifr']").attr("src")==undefined) {
            publicfn = fn+'ifr';
            $('<iframe id="'+fn+'ifr" name="'+fn+'ifr" src="https://cauth.kmooc.kr/login">').appendTo("body");
        }
        setTimeout(function() {
            $("form[name='" + fn + "']").attr("action", url);
            $("form[name='" + fn + "']").submit();
        },800);
    } else {
        $("form[name='" + fn + "']").attr("action", url);
        $("form[name='" + fn + "']").submit();
    }
}

function goAjax2() {
    const reqUrl = "https://cauth.kmooc.kr/login/";
    // const ssoMap = new Map();
    goParamView(reqUrl, "", "goSAMLForm", true);
}

function goAjax3() {
    $("#goSAMLForm").submit();
}
$.ajaxSetup({
    headers: {"X-CSRFToken": '{{csrf_token}}'}
});
function goAjax4() {
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    let csrfToken = getCookie('csrftoken');
    $.ajax({
        url : "https://cauth.kmooc.kr/api/login/,
        type: "POST",
        data: {"username":"jkobdream","password":"kmooc123!"},
        success:function(result){
            alert(JSON.stringify(result));
        },
        error:function(xhr,status,error){
            alert("실패 " + status);
        }
    });
}


function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
</script>
<form name="goSAMLForm3" id="goSAMLForm3" action="https://cauth.kmooc.kr/login/" method="post" target="samlloginform">
    <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
    <input type="hidden" name="username" id="username" value="jkobdream">
    <input type="hidden" name="password" id="password" value="kmooc123!">
</form>

<form name="goSAMLForm" id="goSAMLForm" action="https://cauth.kmooc.kr/login/" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
    <input type="hidden" name="username" id="username" value="jkobdream">
    <input type="hidden" name="password" id="password" value="kmooc123!">
</form>

<form name="submittmp2" id="submittmp2" action="http://127.0.0.1:18000/removememberexit/" method="post">
    <input type="hidden" name="id" id="id" value="165799">
</form>
<button type="button" onClick="goAjax()" style="color:#FFFFFF">임시테스트</button>
<button type="button" onClick="goAjax3()" style="color:#FFFFFF">임시테스트2</button>
<button type="button" onClick="goAjax4()" style="color:#FFFFFF">임시테스트3</button>
<iframe src="https://cauth.kmooc.kr/login" name="samlloginform" id="samlloginform" style="display:none;"></iframe>
