<%!
  from courseware.courses import get_course_about_section
%>
<%namespace name='static' file='static_content.html'/>

<div id="video-modal" class="modal video-modal" style="">
  <div class="inner-wrapper">
        <div class="match__modal-header" style="position:absolute;right:0px;">
            <button type="button" class="match__modal-close" tabindex="0" style="background:#FFFFFF" onClick='$("#lean_overlay").click()'>
                <img src="/static//new_index/images/matchup-img/btn-close-xl.png" alt="닫기">
            </button>
        </div>
    ${get_course_about_section(request, course, "video")}
  </div>
</div>
