@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/* ---------- rating ---------- */
fieldset, label { margin: 0; padding: 0; }
.rating { 
  border: none;
  float: left;
}
.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  content: "\f005";
}
.rating > .half:before { 
  content: "\f089";
  position: absolute;
}
.rating > label { 
  color: #c9c9c9; 
 float: right; 
}
.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } 
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

/* ---------- star total ---------- */
.start-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  text-shadow: 0 1px 0 #a2a2a2;
} 
.start-ratings-css::before { 
  content: '★★★★★';
  opacity: .3;
  position: absolute;
  font-size: 80%;
  color: #000000;
}

[title=".000"]::after {
  width: 0%;
}
[title=".200"]::after {
  width: 20%;
}
[title=".400"]::after {
  width: 38%;
}
[title=".600"]::after {
  width: 58%;
}
[title=".800"]::after {
  width: 76%;
}
[title=".1000"]::after {
  width: 100%;
}

.start-ratings-css::after {
  color: gold;
  content: '★★★★★';
  text-shadow: 0 1px 0 #ab5414;
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top: -2px;
  width: attr(rating);
  overflow: hidden;
  FONT-SIZE: 80%;
}

/* ---------- star delete ---------- */
.stard-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  text-shadow: 0 1px 0 #a2a2a2;
  margin-right: 22px;
} 
.stard-ratings-css::before { 
  content: '★★★★★';
  opacity: .3;
  position: absolute;
  font-size: 80%;
  color: #000000;
}

[title=".000"]::after {
  width: 0%;
}
[title=".200"]::after {
  width: 20%;
}
[title=".400"]::after {
  width: 38%;
}
[title=".600"]::after {
  width: 58%;
}
[title=".800"]::after {
  width: 76%;
}
[title=".1000"]::after {
  width: 100%;
}

.stard-ratings-css::after {
  color: gold;
  content: '★★★★★';
  text-shadow: 0 1px 0 #ab5414;
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top: -2px;
  width: attr(rating);
  overflow: hidden;
  FONT-SIZE: 80%;
}

/* ---------- star ---------- */
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  text-shadow: 0 1px 0 #a2a2a2;
  margin-right: 10px;
} 
.star-ratings-css::before { 
  content: '★★★★★';
  opacity: .3;
  position: absolute;
  font-size: 80%;
  color: #000000;
}

[title=".000"]::after {
  width: 0%;
}
[title=".200"]::after {
  width: 20%;
}
[title=".400"]::after {
  width: 38%;
}
[title=".600"]::after {
  width: 58%;
}
[title=".800"]::after {
  width: 76%;
}
[title=".1000"]::after {
  width: 100%;
}

.star-ratings-css::after {
  color: gold;
  content: '★★★★★';
  text-shadow: 0 1px 0 #ab5414;
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top: -2px;
  width: attr(rating);
  overflow: hidden;
  FONT-SIZE: 80%;
}

/* ---------- scrollbar ---------- */
.scrollbar
{
	height: 300px;
	overflow-y: auto;
	margin-bottom: 15px;
        border: solid 1px #c9c9c9;
        border-radius: 3px;
}
#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/* ---------- page component ---------- */

#review_point{ width: 150px; height: 25px;}
td{ padding-left: 15px; padding-bottom: 5px; padding-top: 5px;}
.review_own{ border: solid #c9c9c9 0px; background-color: #e6e6e6; border-radius: 3px; }
.review_nothing{ border: solid #cccccc 1px; margin-bottom: 18px; margin-top: 14px; padding: 15px; }
.review_body_div{ border: solid #d8d7d7 1px; }
.review_subject{ margin-bottom: 10px; }
.review_id{ width: 30px; color: #000000; font-weight: bold; font-size: 85%; font-family: 'Nanum Gothic'; }
.review_star{ width: 100px; }
.review_star_d{ width: 100px; }
.review_body_2 { width: 360px; margin-top: -10px; }
.review_content { padding-top: 0px; padding-bottom: 4px; font-size: 80%; font-family: 'Nanum Gothic'; }
.review_body_3{ 
    color: red; 
    font-family: 'Nanum Gothic'; 
    margin-left: 300px; 
    margin-top: -5px; margin-bottom: 8px; 
}
.review_time { float: left; color: #999999; font-size: 70%; }
.review_good { 
    /*border: solid #999999 1px; */
    height: 15px; 
    float: right; 
    font-size: 70%;
    color: #737373;
    border-radius: 4px;
}
.review_bad { 
    /*border: solid #999999 1px; */
    height: 15px; 
    margin-right: 10px;
    float: right; 
    font-size: 70%;
    color: #737373;
    border-radius: 4px;
}
.review_write{ margin-top: 15px; }
.review_good_img{ margin-right: 10px; }
.review_bad_img{ margin-right: 10px; }
.review_time_delete { width: 300px; float: left; color: #999999; font-size: 70%; }
.review_delete{ 
    border: solid #999999 1px; 
    height: 25px; 
    float: right; 
    margin-top: 6px;
    margin-right: 7px;
    font-size: 70%;
    color: #737373;
    width: 87px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.review_delete_font{ 
    border: solid black 0px; 
    margin-right: -1px;
    margin-left: -16px;
    margin-top: -5px;
}
.review_button_link{ 
    color: #737373; 
    border: solid 1px #999999; 
    padding: 2px; 
    border-radius: 3px;
}
a.review_button{ text-decoration: none; }
a.review_button:link{ color: #737373; }
a.review_button:visited{ color: #737373; }
a.review_button:hover{ color: #737373; }
a.review_button:active{ color: #737373; }
#review_write_star{ margin-bottom: -10px; }
#review_write_area{ height: 80px; font-size: 80%; }
#review_write_submit{ color: #FFFFFF; float: right; height: 30px;}

