<div class="modal-window-overlay main-course-detail-dim" style="display: none;" onclick='close_course_detail_popup()'>
</div>
<script>
  function close_course_detail_popup() {
      $('.main-course-detail-dim').fadeOut();
      $('.main-course-detail-popup').fadeOut();
  }

  $(document).ready(function(){
    let pup_table = $('#popup_table').DataTable({
              ajax: {
                  "url": '/course_detail/view/',
                  "type": "POST",
                  "dataType": "json",
                  "data": {
                      "csrfmiddlewaretoken": $.cookie('csrftoken'),
                  }
              },
              "processing": true,
              "serverSide": false,
              "bLengthChange": false,
              "bAutoWidth": false,
              "searching": false,
              "paging": false,
              "bInfo": false,
              "scrollX": false,
              "table-layout": "fixed",
              columnDefs: [
                  {
                      targets: 0,
                      data: "rn",
                      width: "4%"
                  }, {
                      targets: 1,
                      data: "org",
                      width: "5%"
                  }, {
                      targets: 2,
                      data: "classfy",
                      width: "5%"
                  }, {
                      targets: 3,
                      data: "middle_classfy",
                      width: "5%"
                  }, {
                      targets: 4,
                      data: "display_name",
                      width: "5%"
                  }, {
                      targets: 5,
                      data: "teacher_name",
                      width: "5%"
                  }, {
                      targets: 6,
                      data: "course_level",
                      width: "5%"
                  }, {
                      targets: 7,
                      data: "w_time",
                      width: "5%"
                  }, {
                      targets: 8,
                      data: "week",
                      width: "5%"
                  }, {
                      targets: 9,
                      data: "l_time",
                      width: "5%"
                  }, {
                      targets: 10,
                      data: "v_time",
                      width: "5%"
                  }, {
                      targets: 11,
                      data: "course_status",
                      width: "8%"
                  }, {
                      targets: 12,
                      data: "enroll_status",
                      width: "8%"
                  }, {
                      targets: 13,
                      data: "audit_yn",
                      width: "8%"
                  }, {
                      targets: 14,
                      data: "start",
                      width: "8%"
                  }, {
                      targets: 15,
                      data: "end",
                      width: "8%"
                  }, {
                      targets: 16,
                      data: "course_id",
                      width: "6%",
                      render: function(data, type, row){
                          return '<a href="/courses/' + data + '/about">Go</a>'
                      }
                  }
              ]
          });
    pup_table.columns.adjust().draw();
    $('#popup_table').wrap("<div class='scrolledTable'></div>");
  });

</script>

<style>
.main-course-detail-dim {
    background-image: radial-gradient(circle at 50% 30%, rgba(0, 0, 0, 0.4), rgba(17, 16, 16, 0.6));
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.main-course-detail-popup {
  display: none;
  width: 1200px;
  height: 600px;
  border: solid 3px #0088cc;
  background-color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 150;
  padding: 20px;
}

.main-course-detail-popup section.panel {
  max-height: 500px;
}

.popup-table-div {
  max-width: 1200px;
}

.popup-table-div table tr th {
  font-size: 14px;
}

.main-popup-close {
  font-size: 25px;
  height: 25px;
  margin-bottom: 10px;
}

.main-popup-close i.fa {
  float: right;
  cursor: pointer;
}

.main-popup-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

.dataTables_scrollHeadInner {
  width: 100% !important;
}

.dataTables_scrollHeadInner table {
  width: 100% !important;
}

.scrolledTable{
  overflow-y: auto;
  overflow-x: auto;
  clear:both;
  display: inline-block;
  max-height: 480px;
  max-width: 100%;
  margin: 0 auto;
}

.scrolledTable table#popup_table tr td, .scrolledTable table#popup_table tr th {
  text-align: center;
  vertical-align: middle;
  word-break: keep-all;
}

.btn-popup {
    float: right;
    width: 5%;
    font-size: 13px;
    padding: 5px;
    margin: 5px 16px;
}

</style>

<div class="main-course-detail-popup">
  <div class='main-popup-close' onclick='close_course_detail_popup()'>
    <i class="fa fa-remove"></i>
  </div>
  <div class='main-popup-title'>
    강좌 정보
  </div>
    <button class="btn-brand btn-series btn-popup" id="popup_excel">Excel</button>

  <section class="panel">
    <div class="popup-table-div">
      <div class="popup-inner-div">
        <table id="popup_table" border="1">
          <colgroup>
            <col width="4%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="8%">
            <col width="8%">
            <col width="8%">
            <col width="8%">
            <col width="8%">
            <col width="*%">
          </colgroup>
          <thead>
          <tr>
            <th rowspan="2">연번</th>
            <th colspan="5">기본정보</th>
            <th colspan="5">학습정보</th>
            <th colspan="5">운영정보</th>
            <th rowspan="2">강좌신청<br>하러가기</th>
          </tr>
          <tr>
            <th>기관명</th>
            <th>분야(대)</th>
            <th>분야(중)</th>
            <th>강좌명</th>
            <th>교수자명</th>
            <th>강좌<br>난이도</th>
            <th>주간학습<br>권장시간</th>
            <th>총 주차</th>
            <th>학습인정<br>시간</th>
            <th>총 동영상<br>시간</th>
            <th>운영 상태</th>
            <th>수강신청<br>가능여부</th>
            <th>청강신청<br>가능여부</th>
            <th>개강일</th>
            <th>종강일</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>

  </section>

</div>
