<%page expression_filter="h" args="online_help_token, use_cookie_banner=False"/>
<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
    from django.urls import reverse
    from django.utils.translation import ugettext as _
    from lms.djangoapps.ccx.overrides import get_current_ccx
    from openedx.core.djangolib.markup import HTML, Text
    from branding import api as branding_api
    from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages
%>
<%block name="navigation_top" />
% if uses_pattern_library:
    <%block name="js_extra">
    <%static:require_module module_name="js/header_factory" class_name="HeaderFactory">
        HeaderFactory();
    </%static:require_module>
    </%block>
% endif


<header class="global-header ${'slim' if course else ''}">
    % if use_cookie_banner:
        ${static.renderReact(
            component="CookiePolicyBanner",
            id="cookie-policy-banner",
            props={}
        )}
    % endif
    <div class="main-header">
        <script src="${static.url('js/script/index_search.js')}" charset="utf-8"></script>
        % if user.is_authenticated:
            <%include file="navbar-authenticated.html" args="online_help_token=online_help_token"/>
        % else:
            <%include file="navbar-not-authenticated.html" args="online_help_token=online_help_token"/>
        % endif
    </div>
    <%include file="navbar-hamburger-menu.html" args="online_help_token=online_help_token"/>
</header>


% if request.path == '/':
    <%include file="navbar-menu.html" args="online_help_token=online_help_token"/>
% else:
    <%include file="navbar-menu-sub.html" args="online_help_token=online_help_token"/>
% endif

% if course:
<div class="ie-banner" aria-hidden="true">${Text(_('{begin_strong}Warning:{end_strong} Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.')).format(
    begin_strong=HTML('<strong>'),
    end_strong=HTML('</strong>'),
    chrome_link=HTML('<a href="https://www.google.com/chrome" target="_blank">Chrome</a>'),
    ff_link=HTML('<a href="http://www.mozilla.org/firefox" target="_blank">Firefox</a>'),
)}</div>
% endif

% if settings.FEATURES.get('ENABLE_COOKIE_CONSENT', False):
  <%include file="../widgets/cookie-consent.html" />
% endif

% if header_language_selector_is_enabled():
    <% languages = released_languages() %>
    % if len(languages) > 100:
        <form action="/i18n/setlang/" method="post" class="settings-language-form" id="language-settings-form">
            <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
            % if user.is_authenticated:
                <input title="preference api" type="hidden" class="url-endpoint" value="${reverse('preferences_api', kwargs={'username': user.username})}" data-user-is-authenticated="true">
            % else:
                <input title="session update url" type="hidden" class="url-endpoint" value="${reverse('session_language')}" data-user-is-authenticated="false">
            % endif
            <label><span class="sr">${_("Choose Language")}</span>
            <select class="input select language-selector" id="settings-language-value" name="language">
                % for language in languages:
                    % if language[0] == LANGUAGE_CODE:
                        <option value="${language[0]}" selected="selected">${language[1]}</option>
                    % else:
                        <option value="${language[0]}" >${language[1]}</option>
                    % endif
                % endfor
            </select>
            </label>
        </form>
    % endif
% endif
