## mako

<%page expression_filter="h" args="online_help_token, use_cookie_banner=False"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _

from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangolib.markup import HTML, Text

# App that handles subdomain specific branding
from branding import api as branding_api
from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages

%>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

## Add UI Toolkit components if using the Pattern Library
% if uses_pattern_library:
    <%block name="js_extra">
    <%static:require_module module_name="js/header_factory" class_name="HeaderFactory">
    HeaderFactory();
    </%static:require_module>
    </%block>
% endif
<script>
    var j_ui_cnt = 0;
    var script_str = 'script';
$('script[type="text/javascript"]').each(function(){
  if($(this).prop('src').indexOf('jquery-ui.min.js') != -1) {
    j_ui_cnt++;
  }
});
if(j_ui_cnt == 0){
  $('head').append('<script type="text/javascript" src="/static/js/vendor/jquery-ui.min.js"></' + script_str + '>');
}
$(document).ready(function () {
    $.ajax({
        url: '/course_search_list',
    }).done(function (data) {
      var search_arr = data.course_search_list;
      main_search('.search-division', '.search-query', '#main_form', search_arr);
      main_search('.m-search-division', '.m-search-query', '#m_main_form', search_arr);
    });
});

function main_search(main_div, main_input, main_form, search_arr){
        var $elem = $(main_input).autocomplete({
                //source: search_arr,
                source: function (request, response) {
                    var term = $.ui.autocomplete.escapeRegex(request.term)
                        , startsWithMatcher = new RegExp("^" + term, "i")
                        , startsWith = $.grep(search_arr, function(value) {
                        return startsWithMatcher.test(value.label || value.value || value);
                    })
                        , containsMatcher = new RegExp(term, "i")
                        , contains = $.grep(search_arr, function (value) {
                        return $.inArray(value, startsWith) < 0 &&
                            containsMatcher.test(value.label || value.value || value);
                    });

                    response(startsWith.concat(contains));
                },
                appendTo: main_div,
                matchContains: true,
                sortResults: false,
                open: function(event, ui) {
                    $(this).autocomplete("widget").css({
                        "width": "100%",
                        "position": "absolute",
                        "margin-top": "6px",
                        "overflow-y": "auto",
                        "overflow-x": "hidden",
                        "padding-right": "20px",
                        "max-height": "200px",
                        //"z-index": "1000 !important;"
                    });
                    $(this).autocomplete("widget").children('li').css({
                        "margin-top": "10px",
                        "margin-left": "10px",
                        "font-family": '"Nanum Gothic","Open Sans"',
                        "color": 'block',
                        //"font-weight": 'bold',
                        "font-style": 'normal',
                        "font-size": '15px',
                        'text-align': '-webkit-match-parent',
                        'white-space': 'nowrap',
                        'text-overflow': 'ellipsis',
                        'max-width': '100%',
                        'overflow': 'hidden'

                    });
                },
                focus: function(event, ui) {
                    return false;
                }
            }),
            elemAutocomplete = $elem.data("ui-autocomplete") || $elem.data("autocomplete");
        if (elemAutocomplete) {
            elemAutocomplete._renderItem = function (ul, item) {
                var newText = String(item.value).replace(
                    new RegExp(this.term, "gi"),
                    "<span class='ui-state-highlight' style='border: #4587c2; color: #4587c2; font-weight: 900'>$&</span>");

                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a>" + newText + "</a>")
                    .appendTo(ul);
            };
        }

    var select_search = "";
    $(main_input).on('autocompleteselect', function (e, ui) {
        select_search = ui.item.value;
        $(main_input).val(select_search);
        $(main_form).submit();
        console.log('You selected: ' + ui.item.value);
    });

}

</script>
<header class="global-header ${'slim' if course else ''}">
    % if use_cookie_banner:
        ${static.renderReact(
            component="CookiePolicyBanner",
            id="cookie-policy-banner",
            props={}
        )}
    % endif
    <div class="main-header">
        <script src="${static.url('js/script/index_search.js')}" charset="utf-8"></script>
        <%include file="navbar-logo-header.html" args="online_help_token=online_help_token"/>

        % if user.is_authenticated:
            <%include file="navbar-authenticated.html" args="online_help_token=online_help_token"/>
        % else:
            <%include file="navbar-not-authenticated.html" args="online_help_token=online_help_token"/>
        % endif
    </div>
    <%include file="navbar-hamburger-menu.html" args="online_help_token=online_help_token"/>
    <!--<div class="hamburger-menu" role="button" aria-label=${_("Options Menu")} aria-expanded="false" aria-controls="mobile-menu" tabindex="0">-->
            <!--<span class="line"></span>-->
            <!--<span class="line"></span>-->
            <!--<span class="line"></span>-->
            <!--<span class="line"></span>-->
        <!--</div>-->

    <!--<div class="mobile-menu hidden" aria-label=${_("More Options")} role="menu" id="mobile-menu"></div>-->
</header>
% if request.path == '/':
<%include file="navbar-menu.html" args="online_help_token=online_help_token"/>
% else:
<%include file="navbar-menu-sub.html" args="online_help_token=online_help_token"/>
% endif

% if course:
<!--[if lte IE 9]>
<div class="ie-banner" aria-hidden="true">${Text(_('{begin_strong}Warning:{end_strong} Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.')).format(
    begin_strong=HTML('<strong>'),
    end_strong=HTML('</strong>'),
    chrome_link=HTML('<a href="https://www.google.com/chrome" target="_blank">Chrome</a>'),
    ff_link=HTML('<a href="http://www.mozilla.org/firefox" target="_blank">Firefox</a>'),
)}</div>
<![endif]-->
% endif

% if settings.FEATURES.get('ENABLE_COOKIE_CONSENT', False):
  <%include file="../widgets/cookie-consent.html" />
% endif

% if header_language_selector_is_enabled():
    <% languages = released_languages() %>
    % if len(languages) > 100:
        <form action="/i18n/setlang/" method="post" class="settings-language-form" id="language-settings-form">
            <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
            % if user.is_authenticated:
                <input title="preference api" type="hidden" class="url-endpoint" value="${reverse('preferences_api', kwargs={'username': user.username})}" data-user-is-authenticated="true">
            % else:
                <input title="session update url" type="hidden" class="url-endpoint" value="${reverse('session_language')}" data-user-is-authenticated="false">
            % endif
            <label><span class="sr">${_("Choose Language")}</span>
            <select class="input select language-selector" id="settings-language-value" name="language">
                % for language in languages:
                    % if language[0] == LANGUAGE_CODE:
                        <option value="${language[0]}" selected="selected">${language[1]}</option>
                    % else:
                        <option value="${language[0]}" >${language[1]}</option>
                    % endif
                % endfor
            </select>
            </label>
        </form>
    % endif
% endif
