## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from six import text_type

from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers

# App that handles subdomain specific branding
from branding import api as branding_api
from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages
%>
<%
mktg_site_enabled = static.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False))
courses_are_browsable = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
allows_login = not settings.FEATURES['DISABLE_LOGIN_BUTTON'] and not combined_login_and_register
can_discover_courses = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
restrict_enroll_for_course = course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain
allow_public_account_creation = static.get_value('ALLOW_PUBLIC_ACCOUNT_CREATION', settings.FEATURES.get('ALLOW_PUBLIC_ACCOUNT_CREATION'))
%>
<style>
  /*
  .dropdown-menu{
      width: 120px;
    display: none;
    #height: 165px;
    padding-top: 10px;
    margin-top: 0px;marketing-hero
    padding-bottom: 10px;
    margin-bottom: 0px;
  }

  .header-global .nav-global .dropdown-menu {
    position: absolute;
    left: -10px;
    top: 60px;
    width: 100%;
    background: #fff;
    z-index: 99;
    border-radius: 0 0 10px 10px;
    padding: 10px 0;
    margin: 0;
    display: none;
    border: solid 1px #ebebeb;
    border-top: 0;
    text-align: center;
  }
  */
  .global-header{

  }
  /*li{*/
  /*list-style: none;*/
  /*}*/
  /*.dropdown-menu{*/
  /*position:absolute;*/
  /*z-index:1000;*/
  /*display:none;*/
  /*float:left;*/
  /*min-width:10rem;*/
  /*padding:0.5rem 0;*/
  /*margin:0.125rem 0 0;*/
  /*font-size:1rem;*/
  /*color:#313131;*/
  /*text-align:left;*/
  /*list-style:none;*/
  /*background-color:#fff;*/
  /*background-clip:padding-box;*/

  /*border:1px solid rgba(0,0,0,0.15);*/
  /*border-radius:0.1875rem}*/
</style>
##% if allows_login:
% if can_discover_courses:
<!--비로그인 여기-->
<section class="kre01_top01area">
  <section class="courses-container kr01_topTbg01">
    <section class="highlighted-courses ${'kr01_topTh45' if request.path == '/' else ''}">
      <!-- 언어선택 -->
      % if header_language_selector_is_enabled():
      <% languages = released_languages() %>
      % if len(languages) > 1:
      <form action="/i18n/setlang/" method="post" class="settings-language-form" id="language-settings-form" hidden>
        <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
        % if user.is_authenticated:
        <input title="preference api" type="hidden" class="url-endpoint" value="${reverse('preferences_api', kwargs={'username': user.username})}" data-user-is-authenticated="true">
        % else:
        <input title="session update url" type="hidden" class="url-endpoint" value="${reverse('session_language')}" data-user-is-authenticated="false">
        % endif
        <label><span class="sr">${_("Choose Language")}</span>
          <select class="input select language-selector" id="settings-language-value" name="language">
            % for language in languages:
            % if language[0] == LANGUAGE_CODE:
            <option value="${language[0]}" selected="selected">${language[1]}</option>
            % else:
            <option value="${language[0]}" >${language[1]}</option>
            % endif
            % endfor
          </select>
        </label>
      </form>
      % endif
      % endif
      % if request.path == '/':
      <div class="kr01-Tlanguage">
        <input id="ko-kr" class="toggle toggle-left" name="toggle" value="ko-kr" type="radio">
        <label tabindex="0" for="ko-kr" class="language-btn">
          <i><img alt="" src="/static/images/main/kor.png"></i>
          <span>KOR</span>
        </label>

        <input id="en" class="toggle toggle-right" name="toggle" value="en" type="radio">
        <label tabindex="0" for="en" class="language-btn">
          <i><img alt="" src="/static/images/main/eng.png"></i>
          <span>ENG</span>
        </label>
      </div>
      % endif
    </section>
  </section>

  <section class="courses-container bg-w">
    <section class="highlighted-courses">
      % if request.path == '/':
      <div class="kre01_top02area">
        <h1 class="header-logo kre01_tlogo02">
          <a href="${branding_api.get_home_url()}">
            <img class="logo" src="/static/images/common/logo_top.png" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}">
          </a>
        </h1>

        % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
        <div class="course-search">
          <form method="get" action="/courses" id="main_form">
            <div class="search-division">
              <label><span class="sr">${_("Find courses, instructors, organizations")}</span>
                <input name="search_query" class="search-query" type="text" style="z-index: 100;" placeholder="${_("Find courses, instructors, organizations")}"/>
              </label>
              <button type="submit">
                <span class="icon-search" aria-hidden="true"><img src="/static/images/main/search.png" alt=""></span>
                <span class="sr">${_("Search")}</span>
              </button>
            </div>
          </form>
        </div>
        % endif


        <div class="secondary">
          <div class="kre01_joinarea">
            % if allows_login:
            % if restrict_enroll_for_course:
            <div class="mobile-nav-item hidden-mobile nav-item kr01-join">
              <a class="register-btn btn" href="${reverse('course-specific-register', args=[text_type(course.id)])}">${_("Register")}</a>
            </div>
            <div class="mobile-nav-item hidden-mobile nav-item">
              <a class="sign-in-btn btn" href="${reverse('course-specific-login', args=[text_type(course.id)])}${login_query()}">${_("Sign In")}</a>
            </div>

            % else:
            % if allow_public_account_creation:
            <div class="mobile-nav-item hidden-mobile nav-item kr01-join">
              <a class="register-btn btn" href="/register${login_query()}">${_("Register")}</a>
            </div>
            % endif
            <div class="mobile-nav-item hidden-mobile nav-item">
              <a class="sign-in-btn btn" href="/login${login_query()}">${_("Sign in")}</a>
            </div>
            % endif
            % endif
          </div>
        </div>
      </div>
      % else:
      <div class="kre02_top02area">
        <h1 class="header-logo kre02_tlogo02">
          <a href="${branding_api.get_home_url()}">
            <img class="logo" src="/static/images/common/logo_top.png" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}">
          </a>
          % if 'multisite_org' in request.session and 'save_path' in request.session:
          <a href="/org/${request.session['multisite_org']}">
            <img style="margin-left: 20px;" class="logo" src="${request.session['save_path']}" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}">
          </a>
          % endif
        </h1>

        <div class="course-search">
          <form method="get" action="/courses" id="main_form">
            <div class="search-division">
              <label><span class="sr">${_("What do you want to learn?")}</span>
                <input name="search_query" class="search-query" type="text" style="z-index: 100;" placeholder="${_("What do you want to learn?")}">
              </label>
              <button type="submit">
                <span class="icon-search" aria-hidden="true"><img src="/static/images/main/search_sub.png" alt=""></span>
                <span class="sr">${_("Search")}</span>
              </button>
            </div>
          </form>
          % if request.path != '/':

          <div class="kr01-alertarea kr01-signin-area">
            <span class="kr01-Tlogoutarea">
              <a href="/register${login_query()}">${_("Register")}</a>
            </span>
          </div>

          <div class="kr01-alertarea kr01-signin-area">
            <span class="kr01-Tlogoutarea">
              <a href="/login${login_query()}">${_("Sign In")}</a>
            </span>
          </div>


          <div class="kr01-Tlanguage">
            <input id="ko-kr" class="toggle toggle-left" name="toggle" value="ko-kr" type="radio">
            <label tabindex="0" for="ko-kr" class="language-btn">
              <i><img alt="" src="/static/images/main/kor.png"></i>
              <span>KOR</span>
            </label>

            <input id="en" class="toggle toggle-right" name="toggle" value="en" type="radio">
            <label tabindex="0" for="en" class="language-btn">
              <i><img alt="" src="/static/images/main/eng.png"></i>
              <span>ENG</span>
            </label>
          </div>

          % endif
        </div>
      </div>
      % endif

    </section>
  </section>
</section>
     % endif
        ##% endif

<script type="text/javascript">
  var window_W = 0;
  $(document).ready(function(){
    window_W = $(window).width();
    nav_resize();

    //언어선택
    var lang = $('html').attr('lang');
    $('#' + lang).attr('checked', true);

      $(".language-btn").on('click keypress', function(e){
          let code;
          if (e.type === 'keypress') {
              code = e.charCode || e.keyCode;
          }
          if(e.type === 'click' || (code === 32 || code === 13)){
              var label_id = $(this).attr('for');
              $('#settings-language-value').val(label_id).trigger('change');
          }
      });

    $(".language a").click(function(){
      var href = $(this).attr("href");
      href = href + "?next="+document.location.pathname;
      $(this).attr("href", href);
    });

    $(".m-gnb").click(function () {
      console.log($("#gnb").is(':visible'));
      if(!$("#gnb").is(':visible')){
        $("#gnb").show();
      } else {
        if($(".nav-global-04 ul").is(':visible')){
          $(".nav-global-04").trigger('click');
        }
        $("#gnb").hide();
      }

    });

  });
  function nav_resize() {
    window_W = $(window).width();
    if(window_W<=768) {
      //$('.nav-global-04').unbind('click mouseenter mouseleave hover');
      $(".nav-global-04").toggle(function () {
        $(".comm_a").children('span').removeAttr('style', 'color');
        $(this).find("ul").show();
      }, function (e) {
        var target = e.target;
        if(!target.className && target.tagName == 'A'){
          $(".nav-global-04").off('click');
          location.href = target.href;
        } else {
          $(this).find("ul").hide();
          $(".comm_a").children('span').css({'color': '#636363'});
        }

      });
    } else {
      $('.nav-global-04').hover(function() {
        $(this).children('ul').stop(true, false, true).slideToggle(500);
      });

      /*
      $('.nav-global-04').on('click', function() {
          var link_hover = $(this).children('a');
          $(this).children('.dropdown-menu').toggle(0, function(){
              $(link_hover).blur();
          });
      });
      */
    }
  }
</script>