<%page expression_filter="h" args="online_help_token"/>
<%namespace name='static' file='../static_content.html'/>
<%!
    from django.urls import reverse
    from django.utils.translation import ugettext as _
    from lms.djangoapps.ccx.overrides import get_current_ccx
    from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
    from branding import api as branding_api
%>


<h1 class="header-logo kre01_tlogo">
  <section class="courses-container bg-w">
    <section class="highlighted-courses">
      <div class="kre01_tlogodepth">
        % if 'multisite_org' in request.session:
        <a href="/org/${request.session['multisite_org']}">
        % else:
        <a href="${branding_api.get_home_url()}">
        % endif
          <%block name="navigation_logo">
          <img src="${branding_api.get_logo_url(is_secure)}" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}"/>
        </%block>
        </a>
      </div>
    </section>
  </section>
  % if course:
    <div class="course-header">
      <span class="provider">${course.display_org_with_default}:</span>
      <span class="course-number">${course.display_number_with_default}</span>
      <%
      display_name = course.display_name_with_default
      if settings.FEATURES.get('CUSTOM_COURSES_EDX', False):
        ccx = get_current_ccx(course.id)
        if ccx:
          display_name = ccx.display_name
      %>
      <span class="course-name">${display_name}</span>
    </div>
  % endif
</h1>


% if enable_enterprise_sidebar:
  <div class="enterprise-tagline">
    <% tagline = configuration_helpers.get_value('ENTERPRISE_TAGLINE', settings.ENTERPRISE_TAGLINE) %>
    % if tagline:
      ${tagline}
    % endif
  </div>
% endif

<!-- 렌더 : 검색창 -->

<div class="new-rc-search-mobile">
% if 'multisite_org' not in request.session:
<div class="new-rc-search">
  <div class="new-search-left" onclick="toggle_ex()">
    <div class="new-st">
      ${_("Explorer")}
    </div>
    <div class="new-ar">
      <img class="new-ar-img" src="/static/new_index/images/icon_arrow_down_w.png"/>
    </div>
  </div>
  <input type="text" id="search_me_mobile" class="new-search-input">
  <div class="new-search-right" onclick="course_search();">
    <img src="/static/new_index/images/icon_search.png"/>
  </div>
  <!-- 분류 탐색 익스플로러 -->
  <div id="explore_menu_mobile" class="link_to_courses explore-menu open xxx-box" style="display: none;">
    <div class="menu-group link_to_courses">
      <ul class="menu-items">
        <li class="list-item">
          <a href="#" data-facet="classfy" data-term="hum">${_("Humanities")}</a>
        </li>
        <li class="list-item">
          <a href="#" data-facet="classfy" data-term="nat">${_("Natural")}</a>
        </li>
        <li class="list-item">
          <a href="#" data-facet="classfy" data-term="social">${_("Social")}</a>
        </li>
        <li class="list-item">
          <a href="#" data-facet="classfy" data-term="med">${_("Medical")}</a>
        </li>
        <li class="list-item">
          <a href="#" data-facet="classfy" data-term="art">${_("Arts & Physical")}</a>
        </li>
        <li class="list-item">
          <a href="#" data-facet="classfy" data-term="eng">${_("Engineering")}</a>
        </li>
        <li class="list-item">
          <a href="#" data-facet="classfy" data-term="intd">${_("Interdisciplinary")}</a>
        </li>
        <li class="list-item">
          <a href="#" data-facet="ribbon_yn" data-term="ribbon_y">${_("Blue Ribbon")}</a>
        </li>
      </ul>
      <div class="menu-link">
        <a data-facet="fourth_industry_yn" data-term="fourth_industry_y" href="#" class="item">${_("Fourth Industry")}</a>
        <a data-facet="ai_sec_yn" data-term="ai_sec_y" href="#" class="item">${_("Artificial intelligence")}</a>
      </div>
    </div>
    <div class="menu-bottom">
      <a href="/courses" class="more">${_("View All Course")} +</a>
    </div>
  </div>
</div>
% endif
</div>

