<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
    from django.urls import reverse
    from django.utils.translation import ugettext as _
    from six import text_type
    from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
    from branding import api as branding_api
    from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages

    from openedx.core.djangoapps.user_api.accounts.image_helpers import get_profile_image_urls_for_user
    from openedx.core.djangoapps.user_api.accounts.utils import retrieve_last_sitewide_block_completed
    from openedx.features.enterprise_support.utils import get_enterprise_learner_generic_name
%>
<%
    mktg_site_enabled = static.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False))
    courses_are_browsable = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
    allows_login = not settings.FEATURES['DISABLE_LOGIN_BUTTON'] and not combined_login_and_register
    can_discover_courses = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
    restrict_enroll_for_course = course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain
    allow_public_account_creation = static.get_value('ALLOW_PUBLIC_ACCOUNT_CREATION', settings.FEATURES.get('ALLOW_PUBLIC_ACCOUNT_CREATION'))

    self.real_user = getattr(user, 'real_user', user)
    username = self.real_user.username
    resume_block = retrieve_last_sitewide_block_completed(username)
    displayname = get_enterprise_learner_generic_name(request) or username
%>


% if can_discover_courses:
<section class="kre01_top01area">

    <!-- 기능 : 언어 변경 숨겨진 섹션 -->
    <section class="courses-container kr01_topTbg01">
        <section class="highlighted-courses">
            % if header_language_selector_is_enabled():
                <% languages = released_languages() %>
                % if len(languages) > 1:
                    <form action="/i18n/setlang/" method="post" class="settings-language-form" id="language-settings-form" hidden>
                        <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
                        % if user.is_authenticated:
                            <input title="preference api" type="hidden" class="url-endpoint" value="${reverse('preferences_api', kwargs={'username': user.username})}" data-user-is-authenticated="true">
                        % else:
                            <input title="session update url" type="hidden" class="url-endpoint" value="${reverse('session_language')}" data-user-is-authenticated="false">
                        % endif
                        <label>
                            <span class="sr">${_("Choose Language")}</span>
                                <select class="input select language-selector" id="settings-language-value" name="language">
                                % for language in languages:
                                    % if language[0] == LANGUAGE_CODE:
                                        <option value="${language[0]}" selected="selected">${language[1]}</option>
                                    % else:
                                        <option value="${language[0]}" >${language[1]}</option>
                                    % endif
                                % endfor
                            </select>
                        </label>
                    </form>
                % endif
            % endif
        </section>
    </section>

    <!-- 렌더 : 실질적인 렌더링 래퍼 섹션 -->
    <section class="new-container">
        <!-- 렌더 : 1200px 고정 섹션 -->
        <section class="new-rows">
            <div class="new-header">

                <!-- 렌더 : 로고 영역 -->
                <div class="new-logo">
                    % if 'multisite_org' not in request.session:
                    <!-- 렌더 : 메인 로고 -->
                    <h1 style="margin-bottom: 0px">
                        <a href="${branding_api.get_home_url()}">
                            <img class="new-logo-img" src="/static/images/common/logo_top.png" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}">
                        </a>
                    </h1>
                    % endif
                    <!-- 렌더 : 기관연계 로고 -->
                    % if 'multisite_org' in request.session and 'save_path' in request.session:
                    <!-- 렌더 : 메인 로고 -->
                    <a href="/org/${request.session['multisite_org']}">
                        <img class="new-logo-img" src="/static/images/common/logo_top.png" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}">
                    </a>
                    <a href="/org/${request.session['multisite_org']}">
                        <img onerror="this.src='/static/images/blank.png'" class="new-logo-img" src="${request.session['save_path']}">
                    </a>
                    % endif
                </div>

                <!-- 렌더 : 검색창 -->
                % if 'multisite_org' not in request.session:
                <div class="new-rc-search" id="new_search_div" style="max-width: 320px;">
                    <a href="#" class="new-search-left" onclick="toggle_ex(); return false;" tabindex="0" style="color: white;">
                        <div class="new-st">
                            ${_("Explorer")}
                        </div>
                        <div class="new-ar">
                            <img class="new-ar-img" src="/static/new_index/images/icon_arrow_down_w.png" alt=""/>
                        </div>
                    </a>
                    <input type="text" id="search_me" class="new-search-input" title="전체 강좌 검색" style="max-width: 170px;">
                    <a href="#" class="new-search-right" onclick="course_search(); return false;" tabindex="0">
                        <img src="/static/new_index/images/icon_search.png" alt="검색"/>
                    </a>
                    <!-- 분류 탐색 익스플로러 -->
                    <div id="explore_menu" class="link_to_courses explore-menu open xxx-box" style="display: none;">
                        <div class="menu-group link_to_courses">
                            <ul class="menu-items">
                                <li class="list-item">
                                    <a href="#" data-tabgroup="section1" data-tabgroupindex="1" data-facet="classfy" data-term="hum">${_("Humanities")}</a>
                                </li>
                                <li class="list-item">
                                    <a href="#" data-tabgroup="section1" data-tabgroupindex="5" data-facet="classfy" data-term="nat">${_("Natural")}</a>
                                </li>
                                <li class="list-item" >
                                    <a href="#"data-tabgroup="section1" data-tabgroupindex="2" data-facet="classfy" data-term="social">${_("Social")}</a>
                                </li>
                                <li class="list-item">
                                    <a href="#" data-tabgroup="section1" data-tabgroupindex="6" data-facet="classfy" data-term="med">${_("Medical")}</a>
                                </li>
                                <li class="list-item">
                                    <a href="#" data-tabgroup="section1" data-tabgroupindex="3" data-facet="classfy" data-term="art">${_("Arts & Physical")}</a>
                                </li>
                                <li class="list-item">
                                    <a href="#" data-tabgroup="section1" data-tabgroupindex="7" data-facet="classfy" data-term="eng">${_("Engineering")}</a>
                                </li>
                                <li class="list-item">
                                    <a href="#" data-tabgroup="section1" data-tabgroupindex="4" data-facet="classfy" data-term="intd">${_("Interdisciplinary")}</a>
                                </li>
                                <li class="list-item">
                                    <a href="#" data-tabgroup="section1" data-tabgroupindex="8" data-facet="ribbon_yn" data-term="ribbon_y">${_("Blue Ribbon")}</a>
                                </li>
                            </ul>
                            <div class="menu-link">
                                <a data-facet="fourth_industry_yn" data-term="fourth_industry_y" href="#" class="item" data-tabgroup="section1" data-tabgroupindex="9">${_("Fourth Industry")}</a>
                                <a data-facet="ai_sec_yn" data-term="ai_sec_y" href="#" class="item" data-tabgroup="section1" data-tabgroupindex="10">${_("Artificial intelligence")}</a>
                            </div>
                        </div>
                        <div class="menu-bottom">
                            <a style="float: left" href="/courses" class="more" data-tabgroup="section1" data-tabgroupindex="11">${_("View All Course")} +</a>
                            <a onclick="toggle_ex(); return false;" href="#" class="more" data-tabgroup="section1" data-tabgroupindex="12">${_("Close")}</a>
                        </div>
                    </div>
                </div>
                % endif

                <!-- 렌더 : 우측 래퍼 영역 -->
                <div class="new-rc">
                    % if user.is_authenticated:
                        <!-- 렌더 : 알람, 마이메뉴 -->
                        <div class="new-rc-sign">
                            <div class="new-dash new-login-memo inject-h">
                                <a href="/dashboard" style="color:black;">
                                    <div style="padding-top: 4px;">${_("Dashboard")}</div>
                                </a>
                            </div>
                            <div class="new-login-memo inject-h" onclick='toggle_notice();'>
                                <img class="mr5" src="/static/new_index/images/icon_notice.png" alt="">
                                <a href="#" onclick="return false;" id="cnt" style="color: black;" aria-label='${_("Notification list")}'>0</a>
                                <img class="" src="/static/new_index/images/icon_arrow_down_g.png" alt="">
                                <div id="new_notice" class="new-dropdown-menu2" style="display: none;">
                                    <ul class="new-notice-list"></ul>
                                    <div class="new-notice-gab">
                                        <a href="/memo">${_("Notify List")} >></a>
                                    </div>
                                </div>
                            </div>
                            <div class="new-login-my inject-h" onclick='toggle_my();'>
                                <img class="mr5" src="/static/new_index/images/icon_user.png" alt="">
                                <a href="#" onclick="return false;" aria-label='${_("My Info")}' style="color:black; display: inline-block; max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; vertical-align: top;">
                                ${user.username}
                                </a>
                                <img class="" src="/static/new_index/images/icon_arrow_down_g.png" alt="">
                                <div id="new_my" class="new-dropdown-menu" style="display: none;">
                                    <ul class="new-menu-list">
                                        <li>
                                            <a href="${reverse('dashboard')}" >${_("Dashboard")}</a>
                                        </li>
                                        % if 'multisite_org' not in request.session:
                                        <li>
                                            <a href="/new_dashboard">${_("Series Course")}</a>
                                        </li>
                                        <li>
                                            <a href="/cb_course_list">${_("Credit Bank Certificate")}</a>
                                        </li>
                                        % endif
                                        <li>
                                            <a href="${reverse('learner_profile', kwargs={'username': username})}">${_("Profile")}</a>
                                        </li>
                                        <li>
                                            <a href="${reverse('account_settings')}">${_("Account")}</a>
                                        </li>
                                        <li>
                                            <a href="${reverse('logout')}">${_("Sign Out")}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            % if 'multisite_org' not in request.session:
                                % if LANGUAGE_CODE == 'ko-kr':
                                    <a href="#" onclick="return false;" for="ko-kr" class="language-btn new-lang-kor" style="font-size: 17px; font-weight: 700; color: #222222;">
                                        <input id="ko-kr" class="toggle toggle-left" name="toggle" value="ko-kr" type="radio" title="한국어로 보기"/>
                                        Kor
                                    </a>

                                    <a href="#" onclick="return false;" for="en" class="language-btn new-lang-eng new-gray" style="font-size: 17px; font-weight: 700; color: #b5b5b5; ">
                                        <input id="en" class="toggle toggle-right" name="toggle" value="en" type="radio" title="영어로 보기" >
                                        Eng
                                    </a>
                                % else:
                                    <a href="#" onclick="return false;" for="ko-kr" class="language-btn new-lang-kor new-gray" style="font-size: 17px; font-weight: 700; color: #b5b5b5;">
                                        <input id="ko-kr" class="toggle toggle-left" name="toggle" value="ko-kr" type="radio" title="한국어로 보기" >
                                        Kor
                                    </a>

                                    <a href="#" onclick="return false;" for="en" class="language-btn new-lang-eng" style="font-size: 17px; font-weight: 700; color: #222222;">
                                        <input id="en" class="toggle toggle-right" name="toggle" value="en" type="radio" title="영어로 보기">
                                        Eng
                                    </a>
                                % endif
                            % else:
                                <div style="margin-left: 20px;">
                                    <a class="go-kmooc" href="/">
                                        K-MOOC 홈페이지
                                    </a>
                                </div>
                            % endif
                        </div>
                    % else:
                        <!-- 렌더 : 로그인, 회원가입 -->
                        <div class="new-rc-sign">
                            <div class="new-btn-signin" onclick='window.location.href = "/login${login_query()}";' tabindex="0">${_("Sign In")}</div>
                            <div class="new-btn-signup new-blue" onclick='window.location.href = "/register${login_query()}";' tabindex="0">${_("Register")}</div>

                            % if LANGUAGE_CODE == 'ko-kr':
                                    <a href="#" onclick="return false;" for="ko-kr" class="language-btn new-lang-kor" style="font-size: 17px; font-weight: 700; color: #222222;">
                                        <input id="ko-kr" class="toggle toggle-left" name="toggle" value="ko-kr" type="radio" title="한국어로 보기"/>
                                        Kor
                                    </a>

                                    <a href="#" onclick="return false;" for="en" class="language-btn new-lang-eng new-gray" style="font-size: 17px; font-weight: 700; color: #b5b5b5; ">
                                        <input id="en" class="toggle toggle-right" name="toggle" value="en" type="radio" title="영어로 보기" >
                                        Eng
                                    </a>
                                % else:
                                    <a href="#" onclick="return false;" for="ko-kr" class="language-btn new-lang-kor new-gray" style="font-size: 17px; font-weight: 700; color: #b5b5b5;">
                                        <input id="ko-kr" class="toggle toggle-left" name="toggle" value="ko-kr" type="radio" title="한국어로 보기" >
                                        Kor
                                    </a>

                                    <a href="#" onclick="return false;" for="en" class="language-btn new-lang-eng" style="font-size: 17px; font-weight: 700; color: #222222;">
                                        <input id="en" class="toggle toggle-right" name="toggle" value="en" type="radio" title="영어로 보기">
                                        Eng
                                    </a>
                            % endif
                        </div>
                    % endif
                    <!-- 렌더 : 언어선택 -->
                    <div class="new-rc-language">
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
% endif

<script>

$(document).on('focus', '[data-tabgroup]', function(e) {
    // TODO : 키보드로 들어올 때만 체크 필요

    var node = $(e.target);
    var nodeIndex = node.data("tabgroupindex");
    var tabgroup = node.data("tabgroup");
    var tabgroupNodes = $("[data-tabgroup='" + tabgroup + "']");
    var tabgroupIndexes = [];
    _.each(tabgroupNodes, function(item) {
      tabgroupIndexes.push(+$(item).data("tabgroupindex"));
    });
    tabgroupIndexes = _(tabgroupIndexes).compact();
    var orderedTabgroupIndexes = _.sortBy(tabgroupIndexes, function(num) { return num; });
    var lastNodeIndex = tabgroupIndexes.length - 1;

    if (
        (nodeIndex == tabgroupIndexes[0])
        && (nodeIndex != orderedTabgroupIndexes[0])
        && ($(e.relatedTarget).data('tabgroup') != tabgroup)
    ) {
        $("[data-tabgroup='" + tabgroup + "'][data-tabgroupindex='" + orderedTabgroupIndexes[0] + "']").focus();
    }
    // tabgroup 의 마지막 객체이긴 하지만, 가장 나중 tabgroupindex 가 아니고, 외부에서 진입했을 때
    else if (
        (nodeIndex == tabgroupIndexes[lastNodeIndex])
        && (nodeIndex != orderedTabgroupIndexes[orderedTabgroupIndexes.length - 1])
         && ($(e.relatedTarget).data('tabgroup') != tabgroup)
    ) {
        $("[data-tabgroup='" + tabgroup + "'][data-tabgroupindex='" + orderedTabgroupIndexes[lastNodeIndex] + "']").focus();
    }
    e.preventDefault();
});

$(document).on('keydown', '[data-tabgroup]', function(e) {
  if (e.which === 9) {
    var node = $(e.target);
    var nodeIndex = node.data("tabgroupindex");
    var tabgroup = node.data("tabgroup");
    var allNodes = $(document).find("input,a,textarea,select");
    var tabgroupNodes = $("[data-tabgroup='" + tabgroup + "']");
    var tabgroupIndexes = [];
    _.each(tabgroupNodes, function(item) {
      tabgroupIndexes.push(+$(item).data("tabgroupindex"));
    });
    tabgroupIndexes = _(tabgroupIndexes).compact();
    var orderedTabgroupIndexes = _.sortBy(tabgroupIndexes, function(num) {
      return num;
    });
    var lastNodeIndex = tabgroupIndexes.length - 1;

    // 숫자 validation
    if (isNaN(parseFloat(nodeIndex)) || !isFinite(nodeIndex)) {  return; }

    if (e.which === 9)
        if (e.shiftKey) {
            // Shift + Tab 키가 입력되었을 경우 (역방향)
            var prevElement = orderedTabgroupIndexes[orderedTabgroupIndexes.indexOf(nodeIndex) - 1];
            if (typeof(prevElement) === "undefined") {                           // prevElement is not exist
                var prevIndex = parseInt(
                    $.map(
                        allNodes,
                        function(obj, index) {
                            if ($(obj).data('tabgroup') == tabgroup && $(obj).data('tabgroupindex') == nodeIndex) {
                                return index;
                            }
                        }
                    )
                ) - tabgroupIndexes.indexOf(nodeIndex) - 3;
                allNodes[prevIndex].focus();
            } else {
                $("[data-tabgroup='" + tabgroup + "'][data-tabgroupindex='" + prevElement + "']").focus();
            }
        } else {
            // Tab 키가 눌렸을 경우 (정방향)
            var nextElement = orderedTabgroupIndexes[orderedTabgroupIndexes.indexOf(nodeIndex) + 1];
            if (typeof(nextElement) === "undefined") {
                var nextIndex = parseInt(
                    $.map(
                        allNodes,
                        function(obj, index) {
                            if ($(obj).data('tabgroup') == tabgroup && $(obj).data('tabgroupindex') == nodeIndex) {
                                return index;
                            }
                        }
                    )
                ) + (lastNodeIndex - tabgroupIndexes.indexOf(nodeIndex)) + 1;
                // 뒤에 더 이상 객체가 없으면 원래 동작을 수행 (주소창으로 이동)
                if (typeof(allNodes[nextIndex]) === "undefined") { return; }
                allNodes[nextIndex].focus();
            } else {
                $("[data-tabgroup='" + tabgroup + "'][data-tabgroupindex='" + nextElement + "']").focus();
            }
        }
        e.preventDefault();
    }
});

function memo_sync(){
    let user_id = "${user.id if user.is_authenticated() else ''}";
    if(user_id !== ''){
        $.ajax({
            url : '/memo_sync',
            type: "POST",
            data : {
                sync_memo : 'sync_memo',
                user_id : user_id
                //csrfmiddlewaretoken: '${ csrf_token }'
            }
        }).done(function(data) {
            $('#cnt').html(data.cnt);
            var memo_list = data.memo_list;
            var memo_link = '#';
            if(data.cnt > 0){
                for(var i = 0 ; i < memo_list.length ; i++){
                    if(memo_list[i].memo_gubun != '1'){
                        memo_link = 'http://' + memo_list[i].contents;
                    } else {
                        memo_link = '/memo_view/'+memo_list[i].memo_id;
                    }
                    let memo_row = '' +
                        '<li>' +
                            '<a class="nn-atag" href="'+ memo_link+'" id=link_'+i +'">' +
                                '<span class="nn-text">'+ memo_list[i].title +'</span>' +
                                '<span class="nn-date">'+ memo_list[i].memo_date +'</span>' +
                            '</a>' +
                        '</li>';
                    $(".new-notice-list").append(memo_row);
                }
            } else {
                $(".new-notice-list").hide();
                $('#new_notice').css({'width': '150px'});
                $('.new-notice-gab').css({'border-top': 'none'});
            }
        });
    }
}
memo_sync();
</script>
<script type="text/javascript">

$(document).keyup(function (event) {
  if(event.keyCode != 27) return true;

  let $exp_menu = $('#explore_menu');
  if($exp_menu.attr('display') == 'none'){
      $exp_menu.hide('fast');
      $(event.target).parents().find("a.new-search-left").focus();
  }
  return false;
})

function course_search(){
    var search_me;
    if($('.new-rc-search-mobile').css('display') !== 'none') {
        search_me = $('#search_me_mobile').val();
    } else {
        search_me = $('#search_me').val();
    }
    if (search_me == '') {
        search_me.focus();
    } else {
        window.location.href = "/courses?search_query=" + search_me;
    }
}


function toggle_ex(){

    let $exp_menu;
    if($('.new-rc-search-mobile').css('display') !== 'none'){
        $exp_menu = $('#explore_menu_mobile');
    } else {
        $exp_menu = $('#explore_menu');
    }
    if($exp_menu.css('display') == 'none'){
       $exp_menu.show('fast');
       $('#new_notice').hide('fast');
       $('#new_my').hide('fast');

       // 확장 메뉴 열릴시 제일 첫번째 항목에 포커싱
       $exp_menu.children().eq(0).children().children().eq(0).children().attr("tabindex","0").focus()
    } else {
       $exp_menu.hide('fast');
    }
}


function toggle_my(){
    if($('#new_my').css('display') == 'none'){
       $('#new_my').show('fast');
       $('#new_notice').hide('fast');
       $('#explore_menu').hide('fast');
    } else {
       $('#new_my').hide('fast');
    }
}


function toggle_notice(){
    if($('#new_notice').css('display') == 'none'){
       $('#new_notice').show('fast');
       $('#new_my').hide('fast');
       $('#explore_menu').hide('fast');
    } else {
       $('#new_notice').hide('fast');
    }
}


var window_W = 0;

$(document).ready(function(){

    $('#search_me').keypress(function (e) {
        var key = e.which;
        if(key == 13)  // the enter key code
        {
            course_search();
            return false;
        }
    });

    window_W = $(window).width();
    // nav_resize();

    var lang = $('html').attr('lang');
    $('#' + lang).attr('checked', true);

    $(".language-btn").on('click keypress', function(e){
        let code;
        if (e.type === 'keypress') {
            code = e.charCode || e.keyCode;
        }
        if (e.type === 'click' || (code === 32 || code === 13)){
            var label_id = $(this).attr('for');
            $('#settings-language-value').val(label_id).trigger('change');
        }
    });

    $(".language a").click(function(){
        var href = $(this).attr("href");
        href = href + "?next="+document.location.pathname;
        $(this).attr("href", href);
    });

    $(".m-gnb").click(function () {
        console.log($("#gnb").is(':visible'));
        if (!$("#gnb").is(':visible')){
            $("#gnb").show();
        } else {
            if($(".nav-global-04 ul").is(':visible')){
                $(".nav-global-04").trigger('click');
            }
            $("#gnb").hide();
        }
    });
});


/*
function nav_resize() {
    window_W = $(window).width();
    if (window_W<=768) {
        $(".nav-global-04").toggle(function () {
            $(".comm_a").children('span').removeAttr('style', 'color');
            $(this).find("ul").show();
        }, function (e) {
            var target = e.target;
            if (!target.className && target.tagName == 'A') {
                $(".nav-global-04").off('click');
                location.href = target.href;
            } else {
                $(this).find("ul").hide();
                $(".comm_a").children('span').css({'color': '#636363'});
            }
        });
    } else {
        $('.nav-global-04').hover(function() {
            $(this).children('ul').stop(true, false, true).slideToggle(500);
        });
    }
}
*/
</script>