<%page expression_filter="h" args="online_help_token"/>
<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
    from django.urls import reverse
    from django.utils.translation import ugettext as _
    from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
    from branding import api as branding_api
    from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages
%>
<%
    show_explore_courses = settings.FEATURES.get('COURSES_ARE_BROWSABLE') and not show_program_listing
    show_sysadmin_dashboard = settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff
    self.real_user = getattr(user, 'real_user', user)
    support_link = configuration_helpers.get_value('SUPPORT_SITE_LINK', settings.SUPPORT_SITE_LINK)
    doc_link = get_online_help_info(online_help_token)['doc_url']
    if online_help_token == "instructor":
        help_link = doc_link
    elif support_link:
        help_link = support_link
    else:
        help_link = doc_link
%>


<section class="new-nav-con">
    <section class="new-nav-col">

        <nav class="gnb" style="padding-bottom: 0px;">
            <div class="container-fluid">
                <div class="one-depth">
                    <a href="#" class="inject-h">${_("About K-MOOC")}</a>
                    <ul class="two-depth">
                        <li>
                            <a href="/about_intro">${_("About Us")}</a>
                        </li>
                        <li>
                            <a href="/about_st">${_("Promotion system")}</a>
                        </li>
                        <li>
                            <a href="/about_org">${_("Institutions")}</a>
                        </li>
                    </ul>
                </div>
                <div class="one-depth">
                    <a href="#" class="inject-h">${_("Courses")}</a>
                    <ul class="two-depth">
                        <li>
                            <a href="/courses">${_("Departmental Courses")}</a>
                        </li>
                        <li>
                            <a href="/series">${_("Series Course")}</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://cb.kmooc.kr/search">${_("Academic Credit Bank System")}</a>
                        </li>
                    </ul>
                </div>
                <div class="one-depth">
                    <a href="#" class="inject-h">${_("Community")}</a>
                    <ul class="two-depth">
                        <li>
                            <a href="/comm_list/N">${_("Notices")}</a>
                        </li>
                        <li>
                            <a href="/comm_list/K">${_("News")}</a>
                        </li>
                        <li>
                            <a href="/comm_list/R">${_("Downloads")}</a>
                        </li>
                        <li>
                            <a href="/comm_tabs/kmooc_f/">FAQ</a>
                        </li>
                    </ul>
                </div>

                <!--
                <div class="ai-move" onclick='window.location.href = "/roadmap";'>
                    인공지능(AI) 이수체계도
                </div>
                -->
            </div>
        </nav>

    </section>
</section>

<style>
    .gnb .one-depth > a, .gnb .one-depth > a:hover {
        color: black;
        text-decoration: none;
    }

    .gnb .one-depth .two-depth li > a, .gnb .one-depth .two-depth li > a:hover {
        color: black;
    }

    .gnb > a:not(.btn):hover, a:not(.btn):focus, a:visited:not(.btn):hover, a:visited:not(.btn):focus {
        color: black;
    }

</style>



<script>
    $(function(){
        $('.one-depth').on('click', function() {
            $('.two-depth').removeClass('active');
            $(this).children('.two-depth').addClass('active');
            $('.gnb').css('padding-bottom','45px');
        });

        $('.gnb').mouseleave(function(e) {
            if (!$('.two-depth').is(e.target) && $('.two-depth').has(e.target).length == 0) {
                $('.two-depth').removeClass('active');
                $('.gnb').css('padding-bottom','0');
            }
        });
    });

    $(function(){
        $('.explore-button').on('click', function() {
            $('.explore-menu').toggleClass('open');
        });

        $(document).mouseup(function(e) {
            var exploreMenu = $('.explore-menu');

            if (!$('.explore-button, .search-input, .search-button').is(e.target) && !exploreMenu.is(e.target) && exploreMenu.has(e.target).length == 0) {
                exploreMenu.removeClass('open');
            }
        });
    });

    $(function(){
        $('.lnb-button').on('click', function() {
            $('.lnb').removeClass('on');
            $('.lnb').addClass('on');
        });

        $('.lnb-close-button').on('click', function() {
            $('.lnb').removeClass('on');
        });

        $('.l-one-depth').on('click', function() {
            $('.l-one-depth').removeClass('active');
            $(this).addClass('active');
        });
    });

    $(function(){
        $('.dropdown').on('click', function() {
            $('.dropdown').removeClass('open');
            $(this).addClass('open');
        });

        $(document).mouseup(function(e) {
            var utilMenu = $('.dropdown');

            if (!$('.dropdown-menu').is(e.target) && !utilMenu.is(e.target) && utilMenu.has(e.target).length == 0) {
                utilMenu.removeClass('open');
            }
        });
    });

    $(function(){
        $('.owl-carousel').owlCarousel({
            margin: 20,
            nav: true,
            dots: false,
            responsive:{
                0:{
                    items: 1
                },
                443:{
                    items: 2
                },

                768:{
                    items: 3
                },

                992:{
                    items: 4
                }
            }
        })
    });
</script>
