## mako

<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from six import text_type
from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

<%
mktg_site_enabled = static.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False))
courses_are_browsable = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
allows_login = not settings.FEATURES['DISABLE_LOGIN_BUTTON'] and not combined_login_and_register
can_discover_courses = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
restrict_enroll_for_course = course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain
allow_public_account_creation = static.get_value('ALLOW_PUBLIC_ACCOUNT_CREATION', settings.FEATURES.get('ALLOW_PUBLIC_ACCOUNT_CREATION'))
%>
<script type="text/javascript" src="../../static/js/kotech_js/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="../../static/css/kotech_css/main.css">
<link rel="stylesheet" type="text/css" href="../../static/css/kotech_css/bootstrap.css">


<header class="header">
    <div class="container-fluid">
        <h1 class="h-logo">
            <a href="/">
                <img src="../../static/images/kotech_img/logo.png"/>
            </a>
        </h1>

        <div class="h-search">
            <form class="search-form">
                <input type="text" class="search-input" placeholder="배우고 싶은 지식을 검색하세요.">
                <button type="button" class="search-btn"></button>
            </form>
        </div>
        <div class="h-right">
            <div class="board">
                <a href="">공지</a>
                <span>/</span>
                <a href="">자료실</a>
            </div>

            % if user.is_authenticated:

            <div class="type member">
                <ul>
                    <li>
                        <a href="/dashboard">나의 강의실</a>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a href="#" class="user">heyclova</a>
                            <div class="dropdown-menu">
                                <ul>
                                    <li>
                                        <a href="">계정</a>
                                    </li>
                                    <li>
                                        <a href="">프로필</a>
                                    </li>
                                    <li>
                                        <a href="/logout">로그아웃</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            %else:
            <div class="type welcome">
                <ul>
                    <li>
                        <a href="/login${login_query()}">${_("Sign in")}</a>
                    </li>
                    <li>
                        <a href="/register${login_query()}">${_("Register")}</a>
                    </li>
                </ul>
            </div>
            % endif

            % if LANGUAGE_CODE == 'ko-kr':
            <div class="lang" style="cursor: pointer">
                <a onclick="change_lang('en')">KOR</a>
            </div>
            % else:
            <div class="lang" style="cursor: pointer">
                <a onclick="change_lang('ko-kr')">ENG</a>
            </div>
            % endif
        </div>
        <div class="lnb">
            <button class="lnb-btn">
                <span></span>
            </button>
            <div class="lnb-wrap on">
                <div class="lnb-area">
                    <button class="lnb-close-btn"></button>
                    <div class="lnb-top">

                        <button class="btn-login">로그인</button>
                        <button class="btn-join">회원가입</button>
                        % if LANGUAGE_CODE == 'ko-kr':
                        <div class="lang" style="cursor: pointer">
                            <a onclick="change_lang('en')">KOR</a>
                        </div>
                        % else:
                        <div class="lang" style="cursor: pointer">
                            <a onclick="change_lang('ko-kr')">ENG</a>
                        </div>
                        % endif
                    </div>
                    <div class="lnb-login-menu">
                        <ul>
                            <li>
                                <a href="" class="dashboard">나의 강의실</a>
                            </li>
                            <li>
                                <a href="">계정</a>
                            </li>
                            <li>
                                <a href="">프로필</a>
                            </li>
                        </ul>
                    </div>
                    <div class="lnb-menu">
                        <ul>
                            <li>
                                <a href="">강좌찾기</a>
                            </li>
                            <li>
                                <a href="">공지사항</a>
                            </li>
                            <li>
                                <a href="">자료실</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<nav class="nav-links" aria-label=${_("Supplemental Links")}>
<div class="main">
    % if allows_login:
    % if can_discover_courses:
    <div class="mobile-nav-item hidden-mobile nav-item">
        <a href="/courses">${_('Explore courses')}</a>
    </div>
    %endif
    % endif
</div>

<div hidden>
    % if allows_login:
    % if restrict_enroll_for_course:
    <div class="mobile-nav-item hidden-mobile nav-item">
        <a class="register-btn btn" href="${reverse('course-specific-register', args=[text_type(course.id)])}">${_("Register")}</a>
    </div>
    <div class="mobile-nav-item hidden-mobile nav-item">
        <a class="sign-in-btn btn"
           href="${reverse('course-specific-login', args=[text_type(course.id)])}${login_query()}">${_("Sign in")}</a>
    </div>
    % else:
    % if allow_public_account_creation:
    <div class="mobile-nav-item hidden-mobile nav-item">
        <a class="register-btn btn" href="/register${login_query()}">${_("Register")}</a>
    </div>
    % endif
    <div class="mobile-nav-item hidden-mobile nav-item">
        <a class="sign-in-btn btn" href="/login${login_query()}">${_("Sign in")}</a>
    </div>
    % endif

    % endif
</div>
% if header_language_selector_is_enabled():
<% languages = released_languages() %>
% if len(languages) > 1:
<form action="/i18n/setlang/" method="post" class="settings-language-form" id="language-settings-form" hidden>
    <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
    % if user.is_authenticated:
    <input title="preference api" type="hidden" class="url-endpoint"
           value="${reverse('preferences_api', kwargs={'username': user.username})}" data-user-is-authenticated="true">
    % else:
    <input title="session update url" type="hidden" class="url-endpoint" value="${reverse('session_language')}"
           data-user-is-authenticated="false">
    % endif
    <label><span class="sr">${_("Choose Language")}</span>
        <select class="input select language-selector" id="settings-language-value" name="language">
            % for language in languages:
            % if language[0] == LANGUAGE_CODE:
            <option value="${language[0]}" selected="selected">${language[1]}</option>
            % else:
            <option value="${language[0]}">${language[1]}</option>
            % endif
            % endfor
        </select>
    </label>
</form>
% endif
% endif
</div>
</nav>

<script>
    $(function () {
        $('.dropdown').on('click', function () {
            $('.dropdown').removeClass('open');
            $(this).addClass('open');
        });

        $(document).mouseup(function (e) {
            var utilMenu = $('.dropdown');

            if (!$('.dropdown-menu').is(e.target) && !utilMenu.is(e.target) && utilMenu.has(e.target).length == 0) {
                utilMenu.removeClass('open');
            }
        });
    });

    $(function () {
        $('.lnb-btn').on('click', function () {
            $('.lnb').removeClass('on');
            $('.lnb').addClass('on');
        });

        $('.lnb-close-btn').on('click', function () {
            $('.lnb').removeClass('on');
        });

        $('.l-one-depth').on('click', function () {
            $('.l-one-depth').removeClass('active');
            $(this).addClass('active');
        });
    });

    $(function () {
        var noticeNews = function () {
            setTimeout(function () {
                $('#noticeNews li:first').animate({marginTop: '-24px'}, 500, function () {
                    $(this).detach().appendTo('ul#noticeNews').removeAttr('style');
                });
                noticeNews();
            }, 3000);
        };
        noticeNews();
    });

    $(function () {
        var libraryNews = function () {
            setTimeout(function () {
                $('#libraryNews li:first').animate({marginTop: '-24px'}, 500, function () {
                    $(this).detach().appendTo('ul#libraryNews').removeAttr('style');
                });
                libraryNews();
            }, 3000);
        };
        libraryNews();
    });

    function change_lang(param) {
        $("#settings-language-value").val(param).prop("selected", true).trigger('change');
    }
</script>
