<div class="quick-menu" id='sidebar'>
    <div id="item_group">
        <!--<a href="#" class="link"><img src="../../static/images/icon_quick_001.png" class="icon" style="width:32px; height: 32px;" onclick="top_">위로</a>-->
        <a href="#" class="btn-top"><span class="circle"></span><span class="txt">TOP</span></a>
        <!--<a href="#" class="link"><img src="_%20K-MOOC_files/icon_quick_002.png" class="icon">공식 블로그</a>-->
        <!--<div>아이콘 제작자 <a href="https://www.flaticon.com/kr/authors/pixelmeetup" title="Pixelmeetup">Pixelmeetup</a> from <a href="https://www.flaticon.com/kr/" title="Flaticon">www.flaticon.com</a></div>-->
    </div>
</div>
<style>
    .gnb {
        position: relative;
    }

    .quick-menu {
        display: none;
        z-index: 1;
        position: absolute;
        top: 100%;
        right: -125px;
        width: 90px;
        margin-top: 10px;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        box-shadow: 0 2px 0 rgba(0, 0, 0, .06);
        background-color: #fff;
    }

    .quick-menu:after {
        display: block;
        position: absolute;
        top: 50%;
        left: 15px;
        width: 60px;
        height: 1px;
        background-color: #eee;
    }

    .quick-menu .link {
        display: block;
        position: relative;
        padding-top: 70px;
        padding-bottom: 15px;
        font-size: 13px;
        text-align: center;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
    }

    .quick-menu .link:hover {
        text-decoration: none;
        color: #3984d2 !important;
    }

    .quick-menu .link ~ .link {
        border-top: 1px solid #eee;
    }

    .quick-menu .link > img {
        position: absolute;
        top: 28px;
        left: 30px;
    }

    .quick-menu .link:before {
        z-index: -2;
        display: block;
        position: absolute;
        top: 15px;
        left: 20px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: #f4f4f4;
    }

    .quick-menu .link:after {
        z-index: -1;
        display: block;
        position: absolute;
        top: 15px;
        left: 20px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: #e6f2ff;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: .2s;
        transition-duration: .2s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .quick-menu .link:hover:after {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .quick-menu .link > img {
        position: absolute;
        top: 28px;
        left: 30px;
    }

    .quick-menu .btn-top {
        display: block;
        padding: 12px 0 8px;
        background-color: #3b88d9;
        text-align: center;
    }

    .quick-menu .btn-top:hover {
        text-decoration: none;
        color: #fff;
    }

    .quick-menu .btn-top .circle {
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid #fff;
        border-radius: 50%;
        background: url(../../static/images/icon_arrow_top_w.png) no-repeat center;

    }

    .quick-menu .btn-top .txt {
        display: block;
        font-size: 13px;
        letter-spacing: .5px;
        color: #fff;
    }

    .fold{
        display: inline-block;
        width: 100%;
        height: 20px;
        background: url(../../static/images/icon_arrow_down_g.png) no-repeat center;
        border-bottom: 1px solid #eee;
    }

    .unfold{
        display: inline-block;
        width: 100%;
        height: 20px;
        background: url(../../static/images/icon_arrow_up_g.png) no-repeat center;
        border-bottom: 1px solid #eee;
    }

</style>
<script>
    let currentPosition, header, title = 0;

    $(document).on('click', '#close_button',function () {

        $(this).toggleClass('fold')
        $(this).toggleClass('unfold')

        console.log($(this).attr('class'))

        if($(this).attr('class') == 'unfold'){
            $("#item_group").slideDown(200)
        }else if($(this).attr('class') == 'fold'){
            $("#item_group").slideUp(200)
        }
    })

    $(function () {
        // 사이드바의 내용을 조회하여 생성
        $.ajax({
            url: '/sidebar',
        }).done(function (data) {

            for (let i = 0; i < data.data.length; i++) {

                let box = '';
                let close_button = '';

                if(i == data.data.length - 1){
                    close_button = '<a class="unfold" id="close_button" href="#" onclick="return false;" title="사이드 메뉴 접고 펴기"></a>';
                    box = '<a href="' + data.data[i][1] + '" class="link" target="' + data.data[i][3] + '"><img src="' + data.data[i][2] + '" style="width:32px; height: 32px;" class="icon" alt="">' + data.data[i][0] +  '</a>'

                    $('#sidebar').prepend(close_button);
                }else{
                    box = '<a href="' + data.data[i][1] + '" class="link" target="' + data.data[i][3] + '"><img src="' + data.data[i][2] + '" style="width:32px; height: 32px;" class="icon" alt="">' + data.data[i][0] + '</a>'
                }

                header = $(".new-container").outerHeight();
                title = $(".agency-title").outerHeight() || $(".group-title").outerHeight();

                if (!header)
                    header = 0;

                if (!title)
                    title = 0;

                $(".quick-menu").css("top", (header + title) + "px");
                $('#item_group').prepend(box);
            } // endfor

            $('.quick-menu').show();

            currentPosition = parseInt($(".quick-menu").css("top"));
        });

        $(window).scroll(function () {
            let position = $(window).scrollTop(); // 현재 스크롤바의 위치값을 반환합니다.
            let t = header + currentPosition - position;

            if (t < 0) {
                position = position - header;
            } else {
                position = currentPosition;
            }

            $(".quick-menu").stop().animate({"top": position + "px"}, 500);
        });
    });

</script>