## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _

from openedx.core.djangoapps.user_api.accounts.image_helpers import get_profile_image_urls_for_user
from openedx.core.djangoapps.user_api.accounts.utils import retrieve_last_sitewide_block_completed
from openedx.features.enterprise_support.utils import get_enterprise_learner_generic_name
%>

<%
## This template should not use the target student's details when masquerading, see TNL-4895
self.real_user = getattr(user, 'real_user', user)
profile_image_url = get_profile_image_urls_for_user(self.real_user)['medium']
username = self.real_user.username
resume_block = retrieve_last_sitewide_block_completed(username)
displayname = get_enterprise_learner_generic_name(request) or username
%>

<div class="kr01_Ttoggle-wrap">
    <a tabindex="0" class="kr01_Ttoggle" id="user_dropdown" data-menu="settings">
        <div>
        <i><img alt="" src="${profile_image_url}"></i>
        <span class="sr-only">${_("Dashboard for:")}</span>
        <span>${displayname}</span>
        <i><img alt="" src="/static/images/main/arrow-bottom02.png"></i>
        </div>
    </a>
    <ul class="kr01_Tmenu kr01_Tmenu--toggle" id="settings" style="z-index: 999;">
        <li class="kr01_Tmenu__item"><a href="${reverse('dashboard')}">${_("Dashboard")}</a></li>
        <li class="kr01_Tmenu__item"><a href="/new_dashboard">${_("Series Course")}</a></li>
        <li class="kr01_Tmenu__item" style="font-size: 10px;"><a href="/cb_course_list">학점은행이수증</a></li>
        <li class="kr01_Tmenu__item"><a href="${reverse('learner_profile', kwargs={'username': username})}">${_("Profile")}</a></li>
        <li class="kr01_Tmenu__item"><a href="${reverse('account_settings')}">${_("Account")}</a></li>
        <li class="kr01_Tmenu__item"><a href="${reverse('logout')}">${_("Sign Out")}</a></li>
    </ul>

</div>
